Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

ansible:
  params:
  - name: playbooks
    value: servers,microshift
  - name: dry_run
    value: 'false'
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
  ...

apache-php-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/apache-php/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/apache-php:latest
  pipelineSpec:
    params:
    - name: git-url
  ...

overlay-test:
  params:
  - name: playbooks
    value: servers
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-pr-number
    value: '{{ pull_request_number }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
  ...

terraform-apply:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    workspaces:
    - name: data
    - name: git_auth_secret
  ...

terraform:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: event
    value: '{{ event_type }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    - name: event
  ...

toolbox-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/toolbox/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/toolbox:not_latest
  pipelineSpec:
    params:
    - name: git-url
  ...

feat(technitium-dns): incept
  .vscode/settings.json
  kubernetes/technitium-dns/README.md
  kubernetes/technitium-dns/base/kustomization.yaml
  kubernetes/technitium-dns/base/limit-range.yaml
  kubernetes/technitium-dns/base/namespace.yaml
  kubernetes/technitium-dns/base/network-policy.yaml
  kubernetes/technitium-dns/components/ingress/certificate.yaml
  kubernetes/technitium-dns/components/ingress/ingress.yaml
  kubernetes/technitium-dns/components/ingress/kustomization.yaml
  kubernetes/technitium-dns/components/openshift/egress-firewall.yaml
  kubernetes/technitium-dns/components/openshift/kustomization.yaml
  kubernetes/technitium-dns/components/openshift/velero.yaml
  kubernetes/technitium-dns/components/technitium-dns/kustomization.yaml
  kubernetes/technitium-dns/components/technitium-dns/pvc.yaml
  kubernetes/technitium-dns/components/technitium-dns/service-account.yaml
  kubernetes/technitium-dns/components/technitium-dns/service.yaml
  kubernetes/technitium-dns/components/technitium-dns/statefulset.yaml
  kubernetes/technitium-dns/overlays/k3s/kustomization.yaml
  kubernetes/technitium-dns/overlays/k3s/traefik.yaml
  kubernetes/technitium-dns/overlays/microshift/kustomization.yaml
  kubernetes/technitium-dns/overlays/microshift/service.yaml
  kubernetes/technitium-dns/overlays/okd/certificate.yaml
  kubernetes/technitium-dns/overlays/okd/dns.yaml
  kubernetes/technitium-dns/overlays/okd/http-route.yaml
  kubernetes/technitium-dns/overlays/okd/kustomization.yaml
  kubernetes/technitium-dns/overlays/okd/probe.yaml
  kubernetes/technitium-dns/overlays/okd/service.yaml
  kubernetes/technitium-dns/overlays/okd/vpa.yaml
  kubernetes/technitium-dns/overlays/sno/kustomization.yaml
Due: overlay-test

feat(technitium-dns): incept
  kubernetes/external-dns/base/pihole-infra-deployment.yaml
  kubernetes/technitium-dns/components/technitium-dns/statefulset.yaml
  kubernetes/technitium-dns/overlays/microshift/service.yaml
  kubernetes/technitium-dns/overlays/okd/kustomization.yaml
  kubernetes/technitium-dns/overlays/okd/service.yaml
  kubernetes/technitium-dns/overlays/okd/vpa.yaml
Due: overlay-test

feat(technitium-dns): incept
  kubernetes/kube-vip/overlays/microshift/kustomization.yaml
  kubernetes/technitium-dns/README.md
  kubernetes/technitium-dns/components/technitium-dns/statefulset.yaml
  kubernetes/technitium-dns/overlays/k3s/kustomization.yaml
  kubernetes/technitium-dns/overlays/k3s/traefik.yaml
  kubernetes/technitium-dns/overlays/microshift/kustomization.yaml
  kubernetes/technitium-dns/overlays/sno/kustomization.yaml
Due: overlay-test

feat(technitium-dns): incept
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/microshift/technitium-dns.yaml
  kubernetes/argocd/applications/technitium-dns.yaml
Due: overlay-test

feat(technitium-dns): incept
  kubernetes/blackbox-exporter/base/network-policy.yaml
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/blackbox-exporter/overlays/okd/egress-firewall.yaml
  kubernetes/external-dns/base/kustomization.yaml
  kubernetes/external-dns/base/pihole-infra-deployment.yaml
  kubernetes/external-dns/base/vpa.yaml
  kubernetes/external-dns/components/openshift/egress-firewall.yaml
  kubernetes/kfca/overlays/okd/ingress.yaml
  kubernetes/pihole/components/pihole-infra/kustomization.yaml
  kubernetes/pihole/components/pihole-infra/pvc.yaml
  kubernetes/pihole/components/pihole-infra/service.yaml
  kubernetes/pihole/components/pihole-infra/statefulset.yaml
  kubernetes/pihole/overlays/microshift/certificate.yaml
  kubernetes/pihole/overlays/microshift/ingress.yaml
  kubernetes/pihole/overlays/microshift/kustomization.yaml
  kubernetes/pihole/overlays/microshift/service.yaml
  kubernetes/pihole/overlays/okd/dns.yaml
  kubernetes/pihole/overlays/okd/ingress.yaml
  kubernetes/pihole/overlays/okd/kustomization.yaml
  kubernetes/pihole/overlays/okd/service.yaml
  kubernetes/pihole/overlays/okd/vpa.yaml
  kubernetes/technitium-dns/README.md
  kubernetes/technitium-dns/overlays/okd/probe.yaml
  kubernetes/uptime-kuma/components/openshift/egress-firewall.yaml
  main.bash
Due: overlay-test

feat(time.arthurvardevanyan.com): add to unifi dns
  kubernetes/ntp/overlays/okd/dns.yaml
Due: overlay-test

feat(technitium): add to vlan3
  kubernetes/blackbox-exporter/overlays/okd/egress-firewall.yaml
  kubernetes/external-dns/base/kustomization.yaml
  kubernetes/external-dns/base/pihole-vlan3-deployment.yaml
  kubernetes/ntp/overlays/okd/dns.yaml
  kubernetes/pihole/base/99-my-settings-vlan3.conf
  kubernetes/pihole/base/kustomization.yaml
  kubernetes/pihole/components/metrics/endpoints.yaml
  kubernetes/pihole/components/metrics/service-monitors.yaml
  kubernetes/pihole/components/metrics/services.yaml
  kubernetes/pihole/components/vlan3/kustomization.yaml
  kubernetes/pihole/components/vlan3/pvc.yaml
  kubernetes/pihole/components/vlan3/service.yaml
  kubernetes/pihole/components/vlan3/statefulset.yaml
  kubernetes/pihole/overlays/microshift/certificate.yaml
  kubernetes/pihole/overlays/microshift/ingress.yaml
  kubernetes/pihole/overlays/microshift/kustomization.yaml
  kubernetes/pihole/overlays/microshift/service.yaml
  kubernetes/pihole/overlays/okd/dns.yaml
  kubernetes/pihole/overlays/okd/ingress.yaml
  kubernetes/pihole/overlays/okd/kustomization.yaml
  kubernetes/pihole/overlays/okd/service.yaml
  kubernetes/pihole/overlays/okd/vpa.yaml
  kubernetes/technitium-dns/components/technitium-dns/statefulset.yaml
  kubernetes/technitium-dns/overlays/microshift/service.yaml
  kubernetes/technitium-dns/overlays/okd/service.yaml
  kubernetes/uptime-kuma/components/openshift/egress-firewall.yaml
  main.bash
Due: overlay-test

feat(technitium): add to vlan3 (#437)
  kubernetes/blackbox-exporter/overlays/okd/egress-firewall.yaml
  kubernetes/external-dns/base/kustomization.yaml
  kubernetes/external-dns/base/pihole-vlan3-deployment.yaml
  kubernetes/ntp/overlays/okd/dns.yaml
  kubernetes/pihole/base/99-my-settings-vlan3.conf
  kubernetes/pihole/base/kustomization.yaml
  kubernetes/pihole/components/metrics/endpoints.yaml
  kubernetes/pihole/components/metrics/service-monitors.yaml
  kubernetes/pihole/components/metrics/services.yaml
  kubernetes/pihole/components/vlan3/kustomization.yaml
  kubernetes/pihole/components/vlan3/pvc.yaml
  kubernetes/pihole/components/vlan3/service.yaml
  kubernetes/pihole/components/vlan3/statefulset.yaml
  kubernetes/pihole/overlays/microshift/certificate.yaml
  kubernetes/pihole/overlays/microshift/ingress.yaml
  kubernetes/pihole/overlays/microshift/kustomization.yaml
  kubernetes/pihole/overlays/microshift/service.yaml
  kubernetes/pihole/overlays/okd/dns.yaml
  kubernetes/pihole/overlays/okd/ingress.yaml
  kubernetes/pihole/overlays/okd/kustomization.yaml
  kubernetes/pihole/overlays/okd/service.yaml
  kubernetes/pihole/overlays/okd/vpa.yaml
  kubernetes/technitium-dns/components/technitium-dns/statefulset.yaml
  kubernetes/technitium-dns/overlays/microshift/service.yaml
  kubernetes/technitium-dns/overlays/okd/service.yaml
  kubernetes/uptime-kuma/components/openshift/egress-firewall.yaml
  main.bash
Due: overlay-test

feat(technitium): shutdown pihole
  kubernetes/external-dns/base/kustomization.yaml
  kubernetes/external-dns/base/pdb.yaml
  kubernetes/external-dns/base/pihole-deployment.yaml
  kubernetes/external-dns/overlays/sno/kustomization.yaml
  kubernetes/pihole/components/pihole/statefulset.yaml
  kubernetes/pihole/overlays/microshift/kustomization.yaml
  kubernetes/pihole/overlays/okd/ingress.yaml
  kubernetes/pihole/overlays/okd/kustomization.yaml
  kubernetes/pihole/overlays/okd/probe.yaml
  kubernetes/technitium-dns/components/technitium-dns/statefulset.yaml
  kubernetes/technitium-dns/overlays/microshift/service.yaml
  okd/okd-configuration/overlays/okd/dns.yaml
  okd/okd-configuration/overlays/okd/sandbox-dns.yaml
Due: overlay-test

feat(technitium): shutdown pihole (#438)
  kubernetes/external-dns/base/kustomization.yaml
  kubernetes/external-dns/base/pdb.yaml
  kubernetes/external-dns/base/pihole-deployment.yaml
  kubernetes/external-dns/overlays/sno/kustomization.yaml
  kubernetes/pihole/components/pihole/statefulset.yaml
  kubernetes/pihole/overlays/microshift/kustomization.yaml
  kubernetes/pihole/overlays/okd/ingress.yaml
  kubernetes/pihole/overlays/okd/kustomization.yaml
  kubernetes/pihole/overlays/okd/probe.yaml
  kubernetes/technitium-dns/components/technitium-dns/statefulset.yaml
  kubernetes/technitium-dns/overlays/microshift/service.yaml
  okd/okd-configuration/overlays/okd/dns.yaml
  okd/okd-configuration/overlays/okd/sandbox-dns.yaml
Due: overlay-test

feat(technitium): clustering
  kubernetes/blackbox-exporter/overlays/okd/egress-firewall.yaml
  kubernetes/technitium-dns/components/ingress/certificate.yaml
  kubernetes/technitium-dns/components/ingress/ingress.yaml
  kubernetes/technitium-dns/components/technitium-dns/statefulset.yaml
  kubernetes/technitium-dns/overlays/okd/certificate.yaml
  kubernetes/technitium-dns/overlays/okd/dns.yaml
  kubernetes/technitium-dns/overlays/okd/http-route.yaml
  kubernetes/technitium-dns/overlays/okd/probe.yaml
  kubernetes/technitium-dns/overlays/okd/vpa.yaml
  kubernetes/uptime-kuma/components/openshift/egress-firewall.yaml
Due: overlay-test

feat(technitium): clustering
  kubernetes/cert-manager/components/network-policy/base/network-policy.yaml
  kubernetes/cert-manager/components/network-policy/okd/egress-firewall.yaml
  kubernetes/cert-manager/components/yaml/deployment.yaml
  kubernetes/technitium-dns/components/ingress/certificate.yaml
  kubernetes/technitium-dns/components/ingress/ingress.yaml
  kubernetes/technitium-dns/components/openshift/network-policy.yaml
  kubernetes/technitium-dns/components/technitium-dns/service.yaml
  kubernetes/technitium-dns/components/technitium-dns/statefulset.yaml
  kubernetes/technitium-dns/overlays/microshift/service.yaml
  kubernetes/technitium-dns/overlays/okd/certificate.yaml
  kubernetes/technitium-dns/overlays/okd/dns.yaml
  kubernetes/technitium-dns/overlays/okd/http-route.yaml
  kubernetes/technitium-dns/overlays/okd/service.yaml
  microshift.log
  okd.log
  okd/okd-configuration/components/gateway/certificate.yaml
  okd/okd-configuration/components/gateway/gateway.yaml
Due: overlay-test

feat(technitium): clustering (#439)
  kubernetes/blackbox-exporter/overlays/okd/egress-firewall.yaml
  kubernetes/cert-manager/components/network-policy/base/network-policy.yaml
  kubernetes/cert-manager/components/network-policy/okd/egress-firewall.yaml
  kubernetes/cert-manager/components/yaml/deployment.yaml
  kubernetes/technitium-dns/components/ingress/certificate.yaml
  kubernetes/technitium-dns/components/ingress/ingress.yaml
  kubernetes/technitium-dns/components/openshift/network-policy.yaml
  kubernetes/technitium-dns/components/technitium-dns/service.yaml
  kubernetes/technitium-dns/components/technitium-dns/statefulset.yaml
  kubernetes/technitium-dns/overlays/microshift/service.yaml
  kubernetes/technitium-dns/overlays/okd/certificate.yaml
  kubernetes/technitium-dns/overlays/okd/dns.yaml
  kubernetes/technitium-dns/overlays/okd/http-route.yaml
  kubernetes/technitium-dns/overlays/okd/probe.yaml
  kubernetes/technitium-dns/overlays/okd/service.yaml
  kubernetes/technitium-dns/overlays/okd/vpa.yaml
  kubernetes/uptime-kuma/components/openshift/egress-firewall.yaml
  microshift.log
  okd.log
  okd/okd-configuration/components/gateway/certificate.yaml
  okd/okd-configuration/components/gateway/gateway.yaml
Due: overlay-test

fix(technitium): clustering networking paths
  kubernetes/nmstate/overlays/microshift/network/nodeNetworkConfigurationPolicy.yaml
  kubernetes/technitium-dns/overlays/okd/service.yaml
Due: overlay-test

fix(technitium): clustering networking paths (#440)
  kubernetes/nmstate/overlays/microshift/network/nodeNetworkConfigurationPolicy.yaml
  kubernetes/technitium-dns/overlays/okd/service.yaml
Due: overlay-test

fix(technitium): missing vlan
  kubernetes/nmstate/overlays/okd/network/nad.yaml
  kubernetes/nmstate/overlays/okd/network/nncp-worker.yaml
  kubernetes/nmstate/overlays/okd/network/nncp.yaml
  kubernetes/technitium-dns/components/technitium-dns/statefulset.yaml
Due: overlay-test

feat(openshift-monitoring): resize support
  containers/toolbox/containerfile
Due: toolbox-image

feat(openshift-monitoring): resize support
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/rbac.yaml
Due: overlay-test

feat(openshift-monitoring): resize support (#442)
  containers/toolbox/containerfile
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/rbac.yaml
Due: overlay-test, toolbox-image

chore(external-dns): annotation update
  kubernetes/argocd/apps/gateway/http-route.yaml
  kubernetes/argocd/base/gateway/http-route.yaml
  kubernetes/bitwarden/components/openshift/http-route.yaml
  kubernetes/ceph/base/gateway/http-route.yaml
  kubernetes/external-dns/base/dns.yaml
  kubernetes/gitea/components/openshift/gateway/http-route.yaml
  kubernetes/grafana/components/openshift/http-route.yaml
  kubernetes/heimdall/components/openshift/http-route.yaml
  kubernetes/homeassistant/components/openshift/gateway/http-route.yaml
  kubernetes/homeassistant/overlays/okd/dns.yaml
  kubernetes/homeassistant/overlays/sno/dns.yaml
  kubernetes/immich/base/http-route.yaml
  kubernetes/kfca/overlays/okd/dns.yaml
  kubernetes/kfca/overlays/okd/ingress.yaml
  kubernetes/minio/overlays/okd-unas/gateway/http-route.yaml
  kubernetes/minio/overlays/okd/dns.yaml
  kubernetes/netbox/base/ingress.yaml
  kubernetes/nextcloud-fpm/components/nginx/http-route.yaml
  kubernetes/ntp/overlays/okd/dns.yaml
  kubernetes/pihole/overlays/okd/dns.yaml
  kubernetes/pihole/overlays/okd/ingress.yaml
  kubernetes/postgres/components/pg_admin/ingress.yaml
  kubernetes/prometheus/components/openshift/dns.yaml
  kubernetes/prometheus/components/openshift/route.yaml
  kubernetes/quay/base/gateway/http-route.yaml
  kubernetes/quay/base/quay.yaml
  kubernetes/stackrox-central/base/gateway/http-route.yaml
  kubernetes/technitium-dns/components/ingress/ingress.yaml
  kubernetes/technitium-dns/overlays/okd/dns.yaml
  kubernetes/technitium-dns/overlays/okd/http-route.yaml
  kubernetes/unifi-network-application/base/dns.yaml
  kubernetes/unifi-network-application/components/unifi-network-application/ingress.yaml
  kubernetes/uptime-kuma/components/ingress/ingress.yaml
  kubernetes/uptime-kuma/overlays/okd/dns.yaml
  kubernetes/vault/components/ha/http-route.yaml
  kubernetes/vault/components/singleton/ingress.yaml
  kubernetes/zitadel/components/openshift/gateway/http-route.yaml
  okd/okd-configuration/overlays/okd/dns.yaml
  okd/okd-configuration/overlays/okd/sandbox-dns.yaml
  okd/okd-configuration/overlays/sno/dns.yaml
Due: overlay-test

chore(okd): 4.22.0-okd-scos.ec.6
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

chore(kfca): update
  kubernetes/kfca/base/deployment.yaml
Due: overlay-test

fix(nmstate): resources
  kubernetes/nmstate/overlays/okd/vpa.yaml
Due: overlay-test

fix(nmstate): resources
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/nmstate/overlays/okd/vpa.yaml
Due: overlay-test

chore(okd): 4.22.0-okd-scos.ec.7
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  kubernetes/quay/base/hpa/mirror.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

chore(cloudnative-pg): incept
  kubernetes/argocd/applications/cloudnative-pg.yaml
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/cloudnative-pg/base/cluster-reader.yaml
  kubernetes/cloudnative-pg/base/configmap.yaml
  kubernetes/cloudnative-pg/base/crd.yaml
  kubernetes/cloudnative-pg/base/deployment.yaml
  kubernetes/cloudnative-pg/base/kustomization.yaml
  kubernetes/cloudnative-pg/base/limit-range.yaml
  kubernetes/cloudnative-pg/base/namespace.yaml
  kubernetes/cloudnative-pg/base/network-policy.yaml
  kubernetes/cloudnative-pg/base/pdb.yaml
  kubernetes/cloudnative-pg/base/rbac.yaml
  kubernetes/cloudnative-pg/base/service.yaml
  kubernetes/cloudnative-pg/base/webhooks.yaml
  kubernetes/cloudnative-pg/components/openshift/egress-firewall.yaml
  kubernetes/cloudnative-pg/components/openshift/kustomization.yaml
  kubernetes/cloudnative-pg/overlays/okd/kustomization.yaml
  kubernetes/cloudnative-pg/overlays/okd/vpa.yaml
Due: overlay-test

chore(cloudnative-pg): incept
  kubernetes/cloudnative-pg/README.md
  kubernetes/cloudnative-pg/base/network-policy.yaml
  kubernetes/quay/base/postgres/clair/postgres.yaml
  kubernetes/quay/components/cnpg-clair/cluster.yaml
  kubernetes/quay/components/cnpg-clair/kustomization.yaml
  kubernetes/quay/components/cnpg-clair/network-policy.yaml
  kubernetes/quay/components/cnpg-clair/pod-monitor.yaml
  kubernetes/quay/overlays/okd/kustomization.yaml
Due: overlay-test

chore(cloudnative-pg): incept
  kubernetes/quay/base/kustomization.yaml
  kubernetes/quay/base/postgres/clair/db-init.sql
  kubernetes/quay/base/postgres/clair/kustomization.yaml
  kubernetes/quay/base/postgres/clair/network-policy.yaml
  kubernetes/quay/base/postgres/clair/postgres.yaml
  kubernetes/quay/base/postgres/clair/vpa.yaml
Due: overlay-test

chore(cloudnative-pg): incept
  kubernetes/cloudnative-pg/base/crd.yaml
Due: overlay-test

chore(cloudnative-pg): incept (#446)
  kubernetes/argocd/applications/cloudnative-pg.yaml
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/cloudnative-pg/README.md
  kubernetes/cloudnative-pg/base/cluster-reader.yaml
  kubernetes/cloudnative-pg/base/configmap.yaml
  kubernetes/cloudnative-pg/base/crd.yaml
  kubernetes/cloudnative-pg/base/deployment.yaml
  kubernetes/cloudnative-pg/base/kustomization.yaml
  kubernetes/cloudnative-pg/base/limit-range.yaml
  kubernetes/cloudnative-pg/base/namespace.yaml
  kubernetes/cloudnative-pg/base/network-policy.yaml
  kubernetes/cloudnative-pg/base/pdb.yaml
  kubernetes/cloudnative-pg/base/rbac.yaml
  kubernetes/cloudnative-pg/base/service.yaml
  kubernetes/cloudnative-pg/base/webhooks.yaml
  kubernetes/cloudnative-pg/components/openshift/egress-firewall.yaml
  kubernetes/cloudnative-pg/components/openshift/kustomization.yaml
  kubernetes/cloudnative-pg/overlays/okd/kustomization.yaml
  kubernetes/cloudnative-pg/overlays/okd/vpa.yaml
  kubernetes/quay/base/kustomization.yaml
  kubernetes/quay/base/postgres/clair/db-init.sql
  kubernetes/quay/base/postgres/clair/kustomization.yaml
  kubernetes/quay/base/postgres/clair/postgres.yaml
  kubernetes/quay/base/postgres/clair/vpa.yaml
  kubernetes/quay/components/cnpg-clair/cluster.yaml
  kubernetes/quay/components/cnpg-clair/kustomization.yaml
  kubernetes/quay/components/cnpg-clair/network-policy.yaml
  kubernetes/quay/components/cnpg-clair/pod-monitor.yaml
Due: overlay-test

fix(nncp): worker vlan2
  kubernetes/nmstate/overlays/okd/network/nncp-worker.yaml
  kubernetes/node-feature-discovery-operator/base/nfd.yaml
Due: overlay-test

fix(kfca): microshift cronjob
  kubernetes/argocd/base/microshift/cronjob.yaml
  kubernetes/kfca/base/deployment.yaml
Due: overlay-test

fix(cnpg-clair): intance image ping
  kubernetes/quay/components/cnpg-clair/cluster.yaml
Due: overlay-test

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(deps): update module google.golang.org/api to v0.267.0
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply, terraform

chore(deps): update terraform google to v7.20.0
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update terraform zitadel to v2.8.1
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

feat(cert-manager): prep for letsencrypt validity drop
  kubernetes/bitwarden/base/certificate.yaml
  kubernetes/blackbox-exporter/components/prometheus-rules.yaml
  kubernetes/ceph/base/gateway/certificate.yaml
  kubernetes/cert-manager/components/cloudflare/cluster-issuer.yaml
  kubernetes/cert-manager/components/trust-manager/certificate.yaml
  kubernetes/gitea/components/openshift/gateway/certificate.yaml
  kubernetes/homeassistant/components/openshift/gateway/certificate.yaml
  kubernetes/kfca/overlays/microshift/certificate.yaml
  kubernetes/minio/base/certificate.yaml
  kubernetes/pihole/overlays/microshift/certificate.yaml
  kubernetes/quay/base/gateway/certificate.yaml
  kubernetes/stackrox-central/base/gateway/certificate.yaml
  kubernetes/technitium-dns/components/ingress/certificate.yaml
  kubernetes/technitium-dns/overlays/okd/certificate.yaml
  kubernetes/traefik/overlays/k3s/wildcard-certificate.yaml
  kubernetes/unifi-network-application/base/certificate.yaml
  kubernetes/uptime-kuma/components/ingress/certificate.yaml
  kubernetes/vault/components/singleton/certificate.yaml
  kubernetes/zitadel/components/openshift/gateway/certificate.yaml
  okd/okd-configuration/components/certificates/api-certificate.yaml
  okd/okd-configuration/components/certificates/ingress-certificate.yaml
  okd/okd-configuration/components/gateway-external/certificate.yaml
  okd/okd-configuration/components/gateway/certificate.yaml
  tekton/base/certificate.yaml
Due: overlay-test

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile
