Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply

ansible:
  params:
  - name: playbooks
    value: servers,microshift
  - name: dry_run
    value: 'false'
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
  ...

apache-php-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/apache-php/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/apache-php:latest
  pipelineSpec:
    params:
    - name: git-url
  ...

overlay-test:
  params:
  - name: playbooks
    value: servers
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
      type: string
  ...

terraform-apply:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    workspaces:
    - name: data
    - name: git_auth_secret
  ...

fix(Zitadel): Temporarily disable CockroachDB Certificate
  kubernetes/zitadel/base/cockroachdb.yaml
  kubernetes/zitadel/base/configmap.yaml
  kubernetes/zitadel/base/deployment.yaml
  kubernetes/zitadel/base/init-job.yaml
  kubernetes/zitadel/base/kustomization.yaml
  kubernetes/zitadel/base/route.yaml
  kubernetes/zitadel/base/setup-job.yaml
Due: overlay-test

feat(EgressFirewall): Incept
  kubernetes/argocd/applications/kube-eagle.yaml
  kubernetes/argocd/base/egress-firewall.yaml
  kubernetes/argocd/base/kustomization.yaml
  kubernetes/argocd/base/network-policy.yaml
  kubernetes/argocd/base/notifications/network-policy.yaml
  kubernetes/bitwarden/overlays/okd/kustomization.yaml
  kubernetes/dragonfly-operator/overlays/okd/egress-firewall.yaml
  kubernetes/grafana/overlays/okd/egress-firewall.yaml
  kubernetes/grafana/overlays/okd/kustomization.yaml
  kubernetes/heimdall/overlays/okd/egress-firewall.yaml
  kubernetes/heimdall/overlays/okd/kustomization.yaml
  kubernetes/influxdb/overlays/okd/egress-firewall.yaml
  kubernetes/influxdb/overlays/okd/kustomization.yaml
  kubernetes/kube-eagle/overlays/k3s/kustomization.yaml
  kubernetes/kube-eagle/overlays/okd/egress-firewall.yaml
  kubernetes/kube-eagle/overlays/okd/kustomization.yaml
  kubernetes/loki/base/network-policy.yaml
  kubernetes/loki/overlays/okd/egress-firewall.yaml
  kubernetes/loki/overlays/okd/kustomization.yaml
  kubernetes/mariadb-galera/overlays/okd/egress-firewall.yaml
  kubernetes/mariadb-galera/overlays/okd/kustomization.yaml
  kubernetes/minio-operator/base/network-policy.yaml
  kubernetes/minio-operator/overlays/okd/egress-firewall.yaml
  kubernetes/minio-operator/overlays/okd/kustomization.yaml
  kubernetes/mongodb-operator/overlays/okd/egress-firewall.yaml
  kubernetes/mongodb-operator/overlays/okd/kustomization.yaml
  kubernetes/prometheus/overlays/okd/egress-firewall.yaml
  kubernetes/prometheus/overlays/okd/kustomization.yaml
  kubernetes/vault/overlays/okd/egress-firewall.yaml
  kubernetes/vault/overlays/okd/kustomization.yaml
  kubernetes/vault/overlays/okd/network-policy.yaml
  kubernetes/zitadel/overlays/okd/egress-firewall.yaml
Due: overlay-test

chore(OKD): 4.17 Upgrade
  README.md
  okd/okd-configuration/base/operators/console.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: overlay-test

chore(HomeAssistant): Upgrade
  kubernetes/homeassistant/base/certificate.yaml
  kubernetes/homeassistant/base/pvc.yaml
  kubernetes/homeassistant/base/statefulset.yaml
Due: overlay-test

feat(trim): OKD and Ceph
  .vscode/settings.json
  kubernetes/ceph/base/kustomization.yaml
  kubernetes/ceph/base/trim-override.yaml
  kubernetes/nextcloud/base/postgres/postgres.yaml
  okd/okd-configuration/base/fstrim.yaml
  okd/okd-configuration/base/kustomization.yaml
Due: overlay-test

chore(VM): Tuning
  kubernetes/cert-manager/components/operator/subscription.yaml
  kubernetes/kubevirt/base/vm/vm.yaml
  kubernetes/quay/base/subscription.yaml
  kubernetes/stackrox-secure/base/daemon-set.yaml
  kubernetes/stackrox-secure/base/deployment.yaml
  sandbox/kubevirt/okd/vm/okd1.yml
  sandbox/kubevirt/okd/vm/okd2.yml
  sandbox/kubevirt/okd/vm/okd3.yml
Due: overlay-test

feat(MicroShift): Metrics
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/microshift/kube-eagle.yaml
  kubernetes/argocd/applications/microshift/metrics-server.yaml
  kubernetes/argocd/applications/microshift/node-exporter.yaml
  kubernetes/kube-eagle/base/deployment.yaml
  kubernetes/kube-eagle/base/kustomization.yaml
  kubernetes/kube-eagle/overlays/microshift/ingress.yaml
  kubernetes/kube-eagle/overlays/microshift/kustomization.yaml
  kubernetes/kube-eagle/overlays/okd/kustomization.yaml
  kubernetes/kube-eagle/overlays/okd/network-policy.yaml
  kubernetes/metrics-server/README.md
  kubernetes/metrics-server/base/api-service.yaml
  kubernetes/metrics-server/base/deployment.yaml
  kubernetes/metrics-server/base/kustomization.yaml
  kubernetes/metrics-server/base/rbac.yaml
  kubernetes/metrics-server/base/service.yaml
  kubernetes/metrics-server/overlays/microshift/kustomization.yaml
  kubernetes/pihole/base/pvc.yaml
  kubernetes/prometheus/base/config-map.yaml
  kubernetes/prometheus/base/kustomization.yaml
  kubernetes/prometheus/components/node-exporter/daemonset.yaml
  kubernetes/prometheus/components/node-exporter/kustomization.yaml
  kubernetes/prometheus/components/node-exporter/rbac.yaml
  kubernetes/prometheus/components/node-exporter/service.yaml
  kubernetes/prometheus/overlays/microshift/ingress.yaml
  kubernetes/prometheus/overlays/microshift/kustomization.yaml
  kubernetes/prometheus/overlays/okd/kustomization.yaml
Due: overlay-test

feat(AWX): Incept
  kubernetes/argocd/applications/awx.yaml
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/awx/README.md
  kubernetes/awx/base/awx-db-creds.yaml
  kubernetes/awx/base/awx.yaml
  kubernetes/awx/base/configmap.yaml
  kubernetes/awx/base/crd.yaml
  kubernetes/awx/base/deployment.yaml
  kubernetes/awx/base/kustomization.yaml
  kubernetes/awx/base/limit-range.yaml
  kubernetes/awx/base/namespace.yaml
  kubernetes/awx/base/postgres/postgres.yaml
  kubernetes/awx/base/postgres/secret.yaml
  kubernetes/awx/base/rbac.yaml
  kubernetes/awx/base/service.yaml
  kubernetes/awx/overlays/okd/kustomization.yaml
Due: overlay-test

feat(AWX): Incept (#91)
  kubernetes/argocd/applications/awx.yaml
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/awx/README.md
  kubernetes/awx/base/awx-db-creds.yaml
  kubernetes/awx/base/awx.yaml
  kubernetes/awx/base/configmap.yaml
  kubernetes/awx/base/crd.yaml
  kubernetes/awx/base/deployment.yaml
  kubernetes/awx/base/kustomization.yaml
  kubernetes/awx/base/limit-range.yaml
  kubernetes/awx/base/namespace.yaml
  kubernetes/awx/base/postgres/postgres.yaml
  kubernetes/awx/base/postgres/secret.yaml
  kubernetes/awx/base/rbac.yaml
  kubernetes/awx/base/service.yaml
  kubernetes/awx/overlays/okd/kustomization.yaml
Due: overlay-test

feat(Github Runner): Container Registry Repo
  kubernetes/cert-manager/components/trust-manager/certificate.yaml
  kubernetes/cert-manager/components/trust-manager/issuer.yaml
  kubernetes/github-runners/base/kustomization.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/container-registry.yaml
  okd/okd-configuration/base/image-mirror-set.yaml
Due: overlay-test

chore(disableNameSuffixHash): Switch to false for AutoRotate and ArgoCD Garbage Collection
  kubernetes/grafana/base/kustomization.yaml
  kubernetes/longhorn/base/kustomization.yaml
  kubernetes/pihole/base/kustomization.yaml
  kubernetes/vault/overlays/k3s/kustomization.yaml
  kubernetes/vault/overlays/okd/kustomization.yaml
Due: overlay-test

feat(NetworkAttachmentDefinition): Enable PromiscMode
  kubernetes/nmstate/overlays/okd/network/networkAttachmentDefinition.yaml
  okd/okd-configuration/overlays/okd/network.yaml
Due: overlay-test

feat(Photoprism): Resource Increase
  kubernetes/photoprism/base/cronjob.yaml
  kubernetes/photoprism/base/resource-quota.yaml
Due: overlay-test

feat(KubVirt): VM Wif Binding
  terraform/homelab/wif.tf
Due: terraform-apply

feat(Laptop): Ansible PlayBooks
  ansible/inventory
  ansible/laptop.yaml
  ansible/playbooks/laptop/config_other.yaml
  ansible/playbooks/laptop/discord.yaml
  ansible/playbooks/laptop/gcloud-sdk.yaml
  ansible/playbooks/laptop/gnome-extensions.yaml
  ansible/playbooks/laptop/gnome-keybindings.yaml
  ansible/playbooks/laptop/gnome.yaml
  ansible/playbooks/laptop/hashicorp.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/laptop/laptopPackages.yaml
  ansible/playbooks/laptop/nextcloud.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/laptop/terminator.yaml
  ansible/playbooks/laptop/vscodium.yaml
  ansible/playbooks/laptop/zsh.yaml
Due: ansible

chore(OKD): 4.17 Upgrade
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: overlay-test

fix(NAD): Switch to ovn-k8s-cni-overlay
  kubernetes/nmstate/overlays/okd/network/networkAttachmentDefinition.yaml
  kubernetes/nmstate/overlays/okd/network/nodeNetworkConfigurationPolicy.yaml
  kubernetes/tekton/base/config.yaml
  okd/okd-configuration/overlays/okd/network.yaml
  sandbox/kubevirt/okd/vm/okd1.yml
  sandbox/kubevirt/okd/vm/okd2.yml
  sandbox/kubevirt/okd/vm/okd3.yml
Due: overlay-test

feat(NAD): Consolidate into single NAD
  kubernetes/homeassistant/base/statefulset.yaml
  kubernetes/nextcloud/base/preview-cronjob.yaml
  kubernetes/nmstate/overlays/okd/network/networkAttachmentDefinition.yaml
  kubernetes/nmstate/overlays/okd/network/nodeNetworkConfigurationPolicy.yaml
  kubernetes/quay/base/postgres/clair/postgres.yaml
  kubernetes/unifi-network-application/base/service.yaml
  kubernetes/unifi-network-application/base/statefulset.yaml
  kubernetes/velero/base/deployment.yaml
  okd/okd-configuration/base/image-mirror-set.yaml
  sandbox/kubevirt/okd/vm/okd1.yml
  sandbox/kubevirt/okd/vm/okd2.yml
  sandbox/kubevirt/okd/vm/okd3.yml
Due: overlay-test

feat(Quay 3.13): WIF Robot Accounts
  containers/apache-php/containerfile
  kubernetes/quay/base/postgres/clair/postgres.yaml
  kubernetes/quay/base/subscription.yaml
  tekton/base/push-secret.yaml
Due: apache-php-image, overlay-test

feat(Quay 3.13): WIF Robot Accounts (#92)
  containers/apache-php/containerfile
  kubernetes/quay/base/postgres/clair/postgres.yaml
  kubernetes/quay/base/subscription.yaml
  tekton/base/push-secret.yaml
Due: apache-php-image, overlay-test

feat(BlackBox Exporter): Incept
  .vscode/settings.json
  kubernetes/argocd/applications/blackbox-exporter.yaml
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/blackbox-exporter/base/deployment.yaml
  kubernetes/blackbox-exporter/base/kustomization.yaml
  kubernetes/blackbox-exporter/base/namespace.yaml
  kubernetes/blackbox-exporter/base/pdb.yaml
  kubernetes/blackbox-exporter/base/service.yaml
  kubernetes/blackbox-exporter/components/kustomization.yaml
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/blackbox-exporter/components/prometheus-rules.yaml
  kubernetes/blackbox-exporter/overlays/okd/kustomization.yaml
  kubernetes/influxdb/base/kustomization.yaml
  kubernetes/influxdb/base/probe.yaml
  kubernetes/influxdb/overlays/okd/route.yaml
  kubernetes/loki/base/route.yaml
Due: overlay-test

feat(BlackBox Exporter): Incept (#93)
  .vscode/settings.json
  kubernetes/argocd/applications/blackbox-exporter.yaml
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/blackbox-exporter/base/deployment.yaml
  kubernetes/blackbox-exporter/base/kustomization.yaml
  kubernetes/blackbox-exporter/base/namespace.yaml
  kubernetes/blackbox-exporter/base/pdb.yaml
  kubernetes/blackbox-exporter/base/service.yaml
  kubernetes/blackbox-exporter/components/kustomization.yaml
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/blackbox-exporter/components/prometheus-rules.yaml
  kubernetes/blackbox-exporter/overlays/okd/kustomization.yaml
  kubernetes/influxdb/base/kustomization.yaml
  kubernetes/influxdb/base/probe.yaml
  kubernetes/influxdb/overlays/okd/route.yaml
  kubernetes/loki/base/route.yaml
Due: overlay-test

fix(imagePullPolicy): Always -> IfNotPresent
  kubernetes/argocd/admin-plugin/plugin-deploy.yaml
  kubernetes/argocd/admin-plugin/proxy-deploy.yaml
  kubernetes/blackbox-exporter/base/deployment.yaml
  kubernetes/mongodb-operator/base/deployment.yaml
  kubernetes/olm/base/csv.yaml
  kubernetes/phpmyadmin/base/deployment.yaml
  kubernetes/tekton/components/gosmee/deployment.yaml
  kubernetes/tekton/overlays/operator/operator.yaml
Due: overlay-test

chore(4.17): EC3 Upgrade
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: overlay-test

fix(PiHole): /dev/shm more space
  kubernetes/pihole/base/statefulset.yaml
Due: overlay-test

fix(Typos)
  kubernetes/awx/base/postgres/postgres.yaml
  kubernetes/gitea/base/meilisearch/statefulset.yaml
Due: overlay-test

feat(BAT): Install
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/laptop/laptopPackages.yaml
  ansible/playbooks/servers/server/arm/serverPackages.yaml
  ansible/playbooks/servers/server/x86/serverPackages.yaml
  ansible/playbooks/vscode-server/desktopPackages.yaml
  kubernetes/metallb/base/deployment-manager.yaml
Due: ansible, overlay-test

fix(NextCloud): BackUp Tuning
  kubernetes/nextcloud/base/postgres/postgres.yaml
  kubernetes/velero/base/kustomization.yaml
  kubernetes/velero/base/kyverno.yaml
Due: overlay-test

feat(MicroShift): WIF
  terraform/homelab/wif-k3s/notes.sh
  terraform/homelab/wif-microshift.tf
  terraform/homelab/wif-microshift/.well-known/openid-configuration
  terraform/homelab/wif-microshift/keys.json
  terraform/homelab/wif-microshift/notes.sh
Due: terraform-apply

feat(Cloud DNS): Cert Manager
  kubernetes/ceph/base/certificate.yaml
  kubernetes/cert-manager/components/cloud-dns/README.md
  kubernetes/cert-manager/components/cloud-dns/cluster-issuer.yaml
  kubernetes/cert-manager/components/cloud-dns/gcp-credentials-request.yaml
  kubernetes/cert-manager/components/cloud-dns/kustomization.yaml
  kubernetes/cert-manager/components/cloud-dns/kyverno.yaml
  kubernetes/cert-manager/overlays/okd/kustomization.yaml
  kubernetes/stackrox-central/base/certificate.yaml
  kubernetes/zitadel/base/certificate.yaml
  okd/okd-configuration/base/certificates/api-certificate.yaml
  terraform/homelab/cloud-dns.tf
Due: overlay-test, terraform-apply

feat(Cloud DNS): Cert Manager (#94)
  kubernetes/ceph/base/certificate.yaml
  kubernetes/cert-manager/components/cloud-dns/README.md
  kubernetes/cert-manager/components/cloud-dns/cluster-issuer.yaml
  kubernetes/cert-manager/components/cloud-dns/gcp-credentials-request.yaml
  kubernetes/cert-manager/components/cloud-dns/kustomization.yaml
  kubernetes/cert-manager/components/cloud-dns/kyverno.yaml
  kubernetes/cert-manager/overlays/okd/kustomization.yaml
  kubernetes/stackrox-central/base/certificate.yaml
  kubernetes/zitadel/base/certificate.yaml
  okd/okd-configuration/base/certificates/api-certificate.yaml
  terraform/homelab/cloud-dns.tf
Due: overlay-test, terraform-apply

feat(Vault HA): Incept
  kubernetes/vault/README.md
  kubernetes/vault/base/kustomization.yaml
  kubernetes/vault/base/resource-quota.yaml
  kubernetes/vault/components/ha/certificate.yaml
  kubernetes/vault/components/ha/extraconfig-from-values.hcl
  kubernetes/vault/components/ha/ingress.yaml
  kubernetes/vault/components/ha/kustomization.yaml
  kubernetes/vault/components/ha/network-policy.yaml
  kubernetes/vault/components/ha/pdb.yaml
  kubernetes/vault/components/ha/service.yaml
  kubernetes/vault/components/ha/statefulset.yaml
  kubernetes/vault/components/singleton/certificate.yaml
  kubernetes/vault/components/singleton/ingress.yaml
  kubernetes/vault/components/singleton/kustomization.yaml
  kubernetes/vault/components/singleton/pvc.yaml
  kubernetes/vault/components/singleton/service.yaml
  kubernetes/vault/components/singleton/statefulset.yaml
  kubernetes/vault/components/singleton/vault.json
  kubernetes/vault/overlays/okd/kustomization.yaml
Due: overlay-test

feat(Vault HA): Incept (#95)
  kubernetes/vault/README.md
  kubernetes/vault/base/kustomization.yaml
  kubernetes/vault/base/resource-quota.yaml
  kubernetes/vault/components/ha/certificate.yaml
  kubernetes/vault/components/ha/extraconfig-from-values.hcl
  kubernetes/vault/components/ha/ingress.yaml
  kubernetes/vault/components/ha/kustomization.yaml
  kubernetes/vault/components/ha/network-policy.yaml
  kubernetes/vault/components/ha/pdb.yaml
  kubernetes/vault/components/ha/service.yaml
  kubernetes/vault/components/ha/statefulset.yaml
  kubernetes/vault/components/singleton/certificate.yaml
  kubernetes/vault/components/singleton/ingress.yaml
  kubernetes/vault/components/singleton/kustomization.yaml
  kubernetes/vault/components/singleton/pvc.yaml
  kubernetes/vault/components/singleton/service.yaml
  kubernetes/vault/components/singleton/statefulset.yaml
  kubernetes/vault/components/singleton/vault.json
  kubernetes/vault/overlays/okd/kustomization.yaml
Due: overlay-test

feat(Vault HA): Network Policy Typo
  kubernetes/vault/components/ha/network-policy.yaml
  kubernetes/vault/components/ha/statefulset.yaml
Due: overlay-test

fix(Vault HA): Ingress Tweaks
  kubernetes/loki-operator/base/subscription.yaml
  kubernetes/vault/components/ha/extraconfig-from-values.hcl
  kubernetes/vault/components/ha/ingress.yaml
  kubernetes/vault/components/ha/kustomization.yaml
  kubernetes/vault/components/ha/rbac.yaml
  kubernetes/vault/components/ha/statefulset.yaml
Due: overlay-test

fix(Tweaks): fix
  kubernetes/awx/base/postgres/postgres.yaml
  kubernetes/knative/base/resource-quota.yaml
  kubernetes/nextcloud/base/postgres/postgres.yaml
  kubernetes/quay/base/postgres/quay/postgres.yaml
Due: overlay-test

feat(PiHole): Secondary Instance
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/pihole.yaml
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/external-dns/base/deployment.yaml
  kubernetes/pihole/base/kustomization.yaml
  kubernetes/pihole/base/rbac.yaml
  kubernetes/pihole/base/statefulset.yaml
  kubernetes/pihole/overlays/microshift/kustomization.yaml
  kubernetes/pihole/overlays/microshift/service.yaml
  kubernetes/pihole/overlays/okd/ingress.yaml
  kubernetes/pihole/overlays/okd/kustomization.yaml
  kubernetes/pihole/overlays/okd/service.yaml
Due: overlay-test

feat(PiHole): Secondary Instance (#96)
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/pihole.yaml
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/external-dns/base/deployment.yaml
  kubernetes/knative/base/resource-quota.yaml
  kubernetes/pihole/base/kustomization.yaml
  kubernetes/pihole/base/rbac.yaml
  kubernetes/pihole/base/statefulset.yaml
  kubernetes/pihole/overlays/microshift/kustomization.yaml
  kubernetes/pihole/overlays/microshift/service.yaml
  kubernetes/pihole/overlays/okd/ingress.yaml
  kubernetes/pihole/overlays/okd/kustomization.yaml
  kubernetes/pihole/overlays/okd/service.yaml
Due: overlay-test

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: (((any of: kubernetes/***) or (any of: okd/***)) or (any of: task/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
