Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile

feat(cert-manager): prep for letsencrypt validity drop (#447)
  kubernetes/bitwarden/base/certificate.yaml
  kubernetes/blackbox-exporter/components/prometheus-rules.yaml
  kubernetes/ceph/base/gateway/certificate.yaml
  kubernetes/cert-manager/components/cloudflare/cluster-issuer.yaml
  kubernetes/cert-manager/components/trust-manager/certificate.yaml
  kubernetes/gitea/components/openshift/gateway/certificate.yaml
  kubernetes/homeassistant/components/openshift/gateway/certificate.yaml
  kubernetes/kfca/overlays/microshift/certificate.yaml
  kubernetes/minio/base/certificate.yaml
  kubernetes/pihole/overlays/microshift/certificate.yaml
  kubernetes/quay/base/gateway/certificate.yaml
  kubernetes/stackrox-central/base/gateway/certificate.yaml
  kubernetes/technitium-dns/components/ingress/certificate.yaml
  kubernetes/technitium-dns/overlays/okd/certificate.yaml
  kubernetes/traefik/overlays/k3s/wildcard-certificate.yaml
  kubernetes/unifi-network-application/base/certificate.yaml
  kubernetes/uptime-kuma/components/ingress/certificate.yaml
  kubernetes/vault/components/singleton/certificate.yaml
  kubernetes/zitadel/components/openshift/gateway/certificate.yaml
  okd/okd-configuration/components/certificates/api-certificate.yaml
  okd/okd-configuration/components/certificates/ingress-certificate.yaml
  okd/okd-configuration/components/gateway-external/certificate.yaml
  okd/okd-configuration/components/gateway/certificate.yaml
  tekton/base/certificate.yaml
Due: overlay-test

feat(installer): ocp support
  microshift.log
  okd.log
Due: none

feat(installer): ocp support
  main.bash
Due: none

feat(installer): ocp support (#448)
  main.bash
  microshift.log
  okd.log
Due: none

chore(okd): 4.22.0-okd-scos.ec.8
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

chore(okd): 4.22.0-okd-scos.ec.8 (#449)
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

feat(metallb): revive
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/kube-vip/overlays/okd/kustomization.yaml
  kubernetes/metallb/base/kustomization.yaml
  kubernetes/metallb/base/vpa.yaml
  kubernetes/metallb/components/manual/crd.yaml
  kubernetes/metallb/components/manual/deployment-manager.yaml
  kubernetes/metallb/components/manual/deployment-webhook.yaml
  kubernetes/metallb/components/manual/kustomization.yaml
  kubernetes/metallb/components/manual/rbac.yaml
  kubernetes/metallb/components/manual/secret.yaml
  kubernetes/metallb/components/manual/service.yaml
  kubernetes/metallb/components/manual/webhook.yaml
  kubernetes/metallb/components/okd/bgp-peers.yaml
  kubernetes/metallb/components/okd/ip.yaml
  kubernetes/metallb/components/okd/kustomization.yaml
  kubernetes/metallb/components/okd/kyverno.yaml
  kubernetes/metallb/components/okd/metal.yaml
  kubernetes/metallb/components/okd/network-policy.yaml
  kubernetes/metallb/components/okd/okd.conf
  kubernetes/metallb/components/okd/vpa.yaml
  kubernetes/metallb/components/olm/kustomization.yaml
  kubernetes/metallb/components/olm/operator-group.yaml
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/metallb/overlays/okd/kustomization.yaml
  kubernetes/technitium-dns/overlays/okd/service.yaml
  okd/okd-configuration/components/gateway-external/loadbalancer.yaml
  okd/okd-configuration/components/gateway/configmap.yaml
  okd/okd-configuration/components/gateway/loadbalancer.yaml
Due: overlay-test

feat(metallb): revive (#450)
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/kube-vip/overlays/okd/kustomization.yaml
  kubernetes/metallb/base/kustomization.yaml
  kubernetes/metallb/base/vpa.yaml
  kubernetes/metallb/components/manual/crd.yaml
  kubernetes/metallb/components/manual/deployment-manager.yaml
  kubernetes/metallb/components/manual/deployment-webhook.yaml
  kubernetes/metallb/components/manual/kustomization.yaml
  kubernetes/metallb/components/manual/rbac.yaml
  kubernetes/metallb/components/manual/secret.yaml
  kubernetes/metallb/components/manual/service.yaml
  kubernetes/metallb/components/manual/webhook.yaml
  kubernetes/metallb/components/okd/bgp-peers.yaml
  kubernetes/metallb/components/okd/ip.yaml
  kubernetes/metallb/components/okd/kustomization.yaml
  kubernetes/metallb/components/okd/kyverno.yaml
  kubernetes/metallb/components/okd/metal.yaml
  kubernetes/metallb/components/okd/network-policy.yaml
  kubernetes/metallb/components/okd/okd.conf
  kubernetes/metallb/components/okd/vpa.yaml
  kubernetes/metallb/components/olm/kustomization.yaml
  kubernetes/metallb/components/olm/operator-group.yaml
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/metallb/overlays/okd/kustomization.yaml
  kubernetes/technitium-dns/overlays/okd/service.yaml
  okd/okd-configuration/components/gateway-external/loadbalancer.yaml
  okd/okd-configuration/components/gateway/configmap.yaml
  okd/okd-configuration/components/gateway/loadbalancer.yaml
Due: overlay-test

fix(metallb): tweaks
  kubernetes/argocd/applications/metallb.yaml
  kubernetes/metallb/components/frr-k8s/kustomization.yaml
  kubernetes/metallb/components/frr-k8s/kyverno.yaml
  kubernetes/metallb/components/frr-k8s/limit-range.yaml
  kubernetes/metallb/components/frr-k8s/network-policy.yaml
  kubernetes/metallb/components/frr-k8s/vpa.yaml
  kubernetes/metallb/overlays/okd/kustomization.yaml
  kubernetes/nmstate/overlays/microshift/network/nodeNetworkConfigurationPolicy.yaml
  kubernetes/ntp/overlays/microshift/service.yaml
  kubernetes/pihole/overlays/microshift/service.yaml
  kubernetes/pihole/overlays/okd/service.yaml
  kubernetes/technitium-dns/overlays/microshift/service.yaml
  kubernetes/technitium-dns/overlays/okd/service.yaml
  kubernetes/traefik/base/service.yaml
  kubernetes/unifi-network-application/components/unifi-network-application/service.yaml
Due: overlay-test

fix(metallb): tweaks (#452)
  kubernetes/argocd/applications/metallb.yaml
  kubernetes/metallb/components/frr-k8s/kustomization.yaml
  kubernetes/metallb/components/frr-k8s/kyverno.yaml
  kubernetes/metallb/components/frr-k8s/limit-range.yaml
  kubernetes/metallb/components/frr-k8s/network-policy.yaml
  kubernetes/metallb/components/frr-k8s/vpa.yaml
  kubernetes/metallb/overlays/okd/kustomization.yaml
  kubernetes/nmstate/overlays/microshift/network/nodeNetworkConfigurationPolicy.yaml
  kubernetes/ntp/overlays/microshift/service.yaml
  kubernetes/pihole/overlays/microshift/service.yaml
  kubernetes/pihole/overlays/okd/service.yaml
  kubernetes/technitium-dns/overlays/microshift/service.yaml
  kubernetes/technitium-dns/overlays/okd/service.yaml
  kubernetes/traefik/base/service.yaml
  kubernetes/unifi-network-application/components/unifi-network-application/service.yaml
Due: overlay-test

chore(gpu): driver update
  kubernetes/nvidia-gpu-operator/containerfile
Due: overlay-test

chore(gpu): driver update
  .tekton/gpu-driver.yaml
Due: none

chore(nfd): port fix
  kubernetes/metallb/components/okd/metal.yaml
  kubernetes/node-feature-discovery-operator/overlays/okd/kustomization.yaml
  kubernetes/node-feature-discovery-operator/overlays/okd/kyverno.yaml
Due: overlay-test

chore(gpu): driver host updates
  .tekton/ansible-check.yaml
  .tekton/ansible.yaml
  .tekton/apache-php-image.yaml
  .tekton/gpu-driver.yaml
  .tekton/overlay-test.yaml
  .tekton/terraform.yaml
  .tekton/toolbox-image.yaml
  kubernetes/nvidia-gpu-operator/base/cluster-policy.yaml
  okd/node-config/gpu-1.yaml
Due: overlay-test

fix(gpu): new networking
  kubernetes/ceph/overlays/okd/nncp.yaml
  kubernetes/kubevirt/overlays/okd/nad.yaml
Due: overlay-test

fix(gpu): new networking
  dump.log
  kubernetes/ceph/base/csi/drivers.yaml
Due: overlay-test

fix(gpu): containerfile
  dump.log
  kubernetes/nvidia-gpu-operator/containerfile
Due: overlay-test

fix(gpu): containerfile
  kubernetes/nvidia-gpu-operator/containerfile
Due: overlay-test

fix(gpu): containerfile
  .tekton/gpu-driver.yaml
  kubernetes/nvidia-gpu-operator/base/cluster-policy.yaml
Due: overlay-test

fix(gpu): containerfile
  .tekton/gpu-driver.yaml
  kubernetes/nvidia-gpu-operator/base/cluster-policy.yaml
  kubernetes/nvidia-gpu-operator/containerfile
Due: overlay-test

fix(gpu): containerfile
  kubernetes/nvidia-gpu-operator/README.md
  kubernetes/nvidia-gpu-operator/base/subscription.yaml
  kubernetes/nvidia-gpu-operator/containerfile
Due: overlay-test

fix(gpu): containerfile
  kubernetes/nvidia-gpu-operator/README.md
  kubernetes/nvidia-gpu-operator/base/cluster-policy.yaml
  kubernetes/nvidia-gpu-operator/containerfile
Due: overlay-test

fix(gpu): containerfile
  .tekton/gpu-driver.yaml
Due: none

fix(gpu): containerfile
  .tekton/gpu-toolbox.yaml
  containers/gpu-toolbox/containerfile
Due: none

fix(gpu): containerfile
  .tekton/ansible-check.yaml
  .tekton/ansible.yaml
  .tekton/apache-php-image.yaml
  .tekton/gpu-driver.yaml
  .tekton/gpu-toolbox.yaml
  .tekton/overlay-test.yaml
  .tekton/terraform.yaml
  .tekton/toolbox-image.yaml
  containers/gpu-toolbox/containerfile
Due: none

chore(gpu): driver update (#451)
  .tekton/gpu-toolbox.yaml
  containers/gpu-toolbox/containerfile
  kubernetes/ceph/base/csi/drivers.yaml
  kubernetes/ceph/overlays/okd/nncp.yaml
  kubernetes/kubevirt/overlays/okd/nad.yaml
  kubernetes/metallb/components/okd/metal.yaml
  kubernetes/node-feature-discovery-operator/overlays/okd/kustomization.yaml
  kubernetes/node-feature-discovery-operator/overlays/okd/kyverno.yaml
  kubernetes/nvidia-gpu-operator/README.md
  kubernetes/nvidia-gpu-operator/base/cluster-policy.yaml
  kubernetes/nvidia-gpu-operator/base/subscription.yaml
  kubernetes/nvidia-gpu-operator/containerfile
  okd/node-config/gpu-1.yaml
Due: overlay-test

chore(netobserv): refactor
  kubernetes/ceph/base/network-policy.yaml
  kubernetes/gitea/base/secret.yaml
  kubernetes/gitea/values.yaml
  kubernetes/grafana/base/secret.yaml
  kubernetes/homeassistant/config/configuration.yaml
  kubernetes/immich/base/deployment.yaml
  kubernetes/immich/values.yaml
  kubernetes/minio-operator/base/network-policy.yaml
  kubernetes/netbox/base/configs/netbox.yaml
  kubernetes/netbox/values.yaml
  kubernetes/network-observability/README.md
  kubernetes/network-observability/base/flow-collector.yaml
  kubernetes/network-observability/base/kustomization.yaml
  kubernetes/network-observability/base/kyverno.yaml
  kubernetes/network-observability/base/loki/kyverno.yaml
  kubernetes/network-observability/base/loki/limit-range.yaml
  kubernetes/network-observability/base/loki/lokistack.yaml
  kubernetes/network-observability/base/loki/network-policy.yaml
  kubernetes/network-observability/base/loki/rbac.yaml
  kubernetes/network-observability/base/loki/secret.yaml
  kubernetes/network-observability/base/minio/pdb.yaml
  kubernetes/network-observability/base/minio/tenant.yaml
  kubernetes/network-observability/base/namespace.yaml
  kubernetes/network-observability/base/network-policy-priv.yaml
  kubernetes/network-observability/base/network-policy.yaml
  kubernetes/network-observability/base/object-bucket-claim.yaml
  kubernetes/network-observability/base/subscription.yaml
  kubernetes/network-observability/overlays/okd/egress-firewall.yaml
  kubernetes/network-observability/overlays/okd/vpa.yaml
  kubernetes/nextcloud-fpm/components/nginx/nginx.conf
  kubernetes/zitadel/base/configmap.yaml
  main.bash
Due: overlay-test

chore(netobserv): refactor
  kubernetes/network-observability/README.md
Due: overlay-test

chore(netobserv): refactor (#453)
  kubernetes/ceph/base/network-policy.yaml
  kubernetes/gitea/base/secret.yaml
  kubernetes/gitea/values.yaml
  kubernetes/grafana/base/secret.yaml
  kubernetes/homeassistant/config/configuration.yaml
  kubernetes/immich/base/deployment.yaml
  kubernetes/immich/values.yaml
  kubernetes/minio-operator/base/network-policy.yaml
  kubernetes/netbox/base/configs/netbox.yaml
  kubernetes/netbox/values.yaml
  kubernetes/network-observability/README.md
  kubernetes/network-observability/base/flow-collector.yaml
  kubernetes/network-observability/base/kustomization.yaml
  kubernetes/network-observability/base/kyverno.yaml
  kubernetes/network-observability/base/loki/kyverno.yaml
  kubernetes/network-observability/base/loki/limit-range.yaml
  kubernetes/network-observability/base/loki/lokistack.yaml
  kubernetes/network-observability/base/loki/network-policy.yaml
  kubernetes/network-observability/base/loki/rbac.yaml
  kubernetes/network-observability/base/loki/secret.yaml
  kubernetes/network-observability/base/minio/pdb.yaml
  kubernetes/network-observability/base/minio/tenant.yaml
  kubernetes/network-observability/base/namespace.yaml
  kubernetes/network-observability/base/network-policy-priv.yaml
  kubernetes/network-observability/base/network-policy.yaml
  kubernetes/network-observability/base/object-bucket-claim.yaml
  kubernetes/network-observability/base/subscription.yaml
  kubernetes/network-observability/overlays/okd/egress-firewall.yaml
  kubernetes/network-observability/overlays/okd/vpa.yaml
  kubernetes/nextcloud-fpm/components/nginx/nginx.conf
  kubernetes/zitadel/base/configmap.yaml
  main.bash
Due: overlay-test

feat(coraza): update instance configs to operator
  okd/okd-configuration/components/gateway-external/coraza/configmap.yaml
  okd/okd-configuration/components/gateway-external/coraza/engine.yaml
  okd/okd-configuration/components/gateway-external/coraza/ruleset.yaml
  okd/okd-configuration/components/gateway-external/hpa.yaml
  okd/okd-configuration/components/gateway-external/kustomization.yaml
  okd/okd-configuration/components/gateway-external/kyverno.yaml
  okd/okd-configuration/components/gateway-external/network-policy.yaml
  okd/okd-configuration/components/gateway-external/wasm.yaml
  okd/okd-configuration/components/gateway/coraza/configmap.yaml
  okd/okd-configuration/components/gateway/coraza/engine.yaml
  okd/okd-configuration/components/gateway/coraza/ruleset.yaml
  okd/okd-configuration/components/gateway/hpa.yaml
  okd/okd-configuration/components/gateway/kustomization.yaml
  okd/okd-configuration/components/gateway/kyverno.yaml
  okd/okd-configuration/components/gateway/wasm.yaml
  okd/okd-configuration/overlays/okd/vpa.yaml
Due: overlay-test

feat(coraza): incept
  kubernetes/argocd/applications/coraza.yaml
  kubernetes/argocd/applications/kustomization.yaml
Due: overlay-test

feat(coraza): incept
  kubernetes/coraza/README.md
  kubernetes/coraza/base/crds/engines.yaml
  kubernetes/coraza/base/crds/rulesets.yaml
  kubernetes/coraza/base/deployment.yaml
  kubernetes/coraza/base/istio/destinationrule.yaml
  kubernetes/coraza/base/istio/serviceentry.yaml
  kubernetes/coraza/base/kustomization.yaml
  kubernetes/coraza/base/namespace.yaml
  kubernetes/coraza/base/network-policy.yaml
  kubernetes/coraza/base/pdb.yaml
  kubernetes/coraza/base/rbac/clusterrole.yaml
  kubernetes/coraza/base/rbac/clusterrolebinding.yaml
  kubernetes/coraza/base/service.yaml
  kubernetes/coraza/base/serviceaccount.yaml
  kubernetes/coraza/base/servicemonitor.yaml
  kubernetes/coraza/overlays/okd/egress-firewall.yaml
  kubernetes/coraza/overlays/okd/kustomization.yaml
  kubernetes/coraza/overlays/okd/vpa.yaml
  okd/okd-configuration/components/gateway-external/coraza/engine.yaml
  okd/okd-configuration/components/gateway-external/coraza/ruleset.yaml
  okd/okd-configuration/components/gateway/coraza/engine.yaml
  okd/okd-configuration/components/gateway/coraza/ruleset.yaml
Due: overlay-test

fix(coraza): configs
  kubernetes/coraza/base/rbac/serviceaccount.yaml
Due: overlay-test

feat(coraza): incept (#454)
  kubernetes/argocd/applications/coraza.yaml
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/coraza/README.md
  kubernetes/coraza/base/crds/engines.yaml
  kubernetes/coraza/base/crds/rulesets.yaml
  kubernetes/coraza/base/deployment.yaml
  kubernetes/coraza/base/istio/destinationrule.yaml
  kubernetes/coraza/base/istio/serviceentry.yaml
  kubernetes/coraza/base/kustomization.yaml
  kubernetes/coraza/base/namespace.yaml
  kubernetes/coraza/base/network-policy.yaml
  kubernetes/coraza/base/pdb.yaml
  kubernetes/coraza/base/rbac/clusterrole.yaml
  kubernetes/coraza/base/rbac/clusterrolebinding.yaml
  kubernetes/coraza/base/rbac/serviceaccount.yaml
  kubernetes/coraza/base/service.yaml
  kubernetes/coraza/base/servicemonitor.yaml
  kubernetes/coraza/overlays/okd/egress-firewall.yaml
  kubernetes/coraza/overlays/okd/kustomization.yaml
  kubernetes/coraza/overlays/okd/vpa.yaml
  okd/okd-configuration/components/gateway-external/coraza/configmap.yaml
  okd/okd-configuration/components/gateway-external/coraza/engine.yaml
  okd/okd-configuration/components/gateway-external/coraza/ruleset.yaml
  okd/okd-configuration/components/gateway-external/hpa.yaml
  okd/okd-configuration/components/gateway-external/kustomization.yaml
  okd/okd-configuration/components/gateway-external/kyverno.yaml
  okd/okd-configuration/components/gateway-external/network-policy.yaml
  okd/okd-configuration/components/gateway-external/wasm.yaml
  okd/okd-configuration/components/gateway/coraza/configmap.yaml
  okd/okd-configuration/components/gateway/coraza/engine.yaml
  okd/okd-configuration/components/gateway/coraza/ruleset.yaml
  okd/okd-configuration/components/gateway/hpa.yaml
  okd/okd-configuration/components/gateway/kustomization.yaml
  okd/okd-configuration/components/gateway/kyverno.yaml
  okd/okd-configuration/components/gateway/wasm.yaml
  okd/okd-configuration/overlays/okd/vpa.yaml
Due: overlay-test

chore(coraza): update
  okd/okd-configuration/components/gateway/kustomization.yaml
Due: overlay-test

chore(coraza): re-enable includes
  okd/okd-configuration/components/gateway-external/coraza/configmap.yaml
Due: overlay-test

chore(coraza): re-enable includes
  okd/okd-configuration/components/gateway-external/coraza/engine.yaml
  okd/okd-configuration/components/gateway/coraza/configmap.yaml
  okd/okd-configuration/components/gateway/coraza/engine.yaml
  okd/okd-configuration/components/gateway/kustomization.yaml
Due: overlay-test
