Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile

feat(llm): lama-swap custom metrics
  .tekton/llama-swap-metrics-exporter.yaml
  CHANGELOG.md
  containers/llama-swap-metrics-exporter/.gitignore
  containers/llama-swap-metrics-exporter/Makefile
  containers/llama-swap-metrics-exporter/cmd/llama-swap-metrics-exporter/main.go
  containers/llama-swap-metrics-exporter/go.mod
  containers/llama-swap-metrics-exporter/go.sum
  kubernetes/cloudnative-pg/components/pg_dump/network-policy.yaml
  kubernetes/grafana/base/dashboards/llama-swap.json
  kubernetes/llm/README.md
  kubernetes/llm/base/network-policy.yaml
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/llm/components/llama-swap/service-monitor.yaml
  kubernetes/llm/components/llama-swap/service.yaml
  kubernetes/llm/components/llama-swap/vpa.yaml
  kubernetes/prometheus/components/prometheus-nas/config-map.yaml
  kubernetes/prometheus/components/prometheus/config-map.yaml
Due: overlay-test

chore(llm): comment cleanup
  containers/llama-swap-metrics-exporter/Makefile
  kubernetes/llm/components/dragonfly-open-webui/dragonfly.yaml
  kubernetes/llm/components/litellm/deployment.yaml
  kubernetes/llm/components/litellm/litellm.yaml
  kubernetes/llm/components/litellm/service-monitor.yaml
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/llm/components/llama-swap/service-monitor.yaml
  kubernetes/llm/components/llama-swap/vpa.yaml
  kubernetes/llm/components/open-webui/deployment.yaml
Due: overlay-test

chore(llm): openwebui subagents enable
  .tekton/llama-swap-metrics-exporter.yaml
  kubernetes/llm/components/open-webui/deployment.yaml
  machineConfigs/desktop/home/arthur/.bashrc
  machineConfigs/desktop/home/arthur/.zshrc
Due: ansible, overlay-test

chore(llm): docs update
  AGENTS.md
  SKILL.md
  kubernetes/intel-device-plugins/README.md
  kubernetes/llm/README.md
  kubernetes/llm/components/litellm/README.md
  kubernetes/llm/components/litellm/litellm.yaml
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/open-webui/README.md
  okd/okd-nodes/README.md
Due: overlay-test

chore(operator): updates
  containers/gpu-toolbox/containerfile
  kubernetes/container-security/base/subscription.yaml
  kubernetes/kube-descheduler/base/subscription.yaml
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/nvidia-gpu-operator/base/subscription.yaml
  kubernetes/quay/base/subscription.yaml
  kubernetes/vertical-pod-autoscaler/base/subscription.yaml
  okd/okd-configuration/base/operators-redhat.yaml
Due: overlay-test

feat(opentelemetry-operator): add community OpenTelemetry Operator app
  kubernetes/opentelemetry-operator/base/installplan-approver.yaml
  kubernetes/opentelemetry-operator/base/kustomization.yaml
  kubernetes/opentelemetry-operator/base/limit-range.yaml
  kubernetes/opentelemetry-operator/base/namespace.yaml
  kubernetes/opentelemetry-operator/base/network-policy.yaml
  kubernetes/opentelemetry-operator/base/operator-group.yaml
  kubernetes/opentelemetry-operator/base/subscription.yaml
  kubernetes/opentelemetry-operator/overlays/okd/egress-firewall.yaml
  kubernetes/opentelemetry-operator/overlays/okd/kustomization.yaml
  kubernetes/opentelemetry-operator/overlays/okd/vpa.yaml
Due: overlay-test

feat(llm): add OTEL collector, connectors-lite sync, and eval CronJobs
  kubernetes/llm/components/agent-eval/config-map.yaml
  kubernetes/llm/components/agent-eval/cronjob.yaml
  kubernetes/llm/components/agent-eval/kustomization.yaml
  kubernetes/llm/components/agent-eval/network-policy.yaml
  kubernetes/llm/components/agent-eval/service-account.yaml
  kubernetes/llm/components/knowledge-sync/config-map.yaml
  kubernetes/llm/components/knowledge-sync/cronjob.yaml
  kubernetes/llm/components/knowledge-sync/kustomization.yaml
  kubernetes/llm/components/knowledge-sync/network-policy.yaml
  kubernetes/llm/components/knowledge-sync/secret.yaml
  kubernetes/llm/components/knowledge-sync/service-account.yaml
  kubernetes/llm/components/otel-collector/collector.yaml
  kubernetes/llm/components/otel-collector/kustomization.yaml
  kubernetes/llm/components/otel-collector/network-policy.yaml
Due: overlay-test

feat(zitadel): add Open WebUI role-based access control
  terraform/homelab/zitadel_openwebui.tf
Due: terraform-apply, terraform

fix(llm): repoint agent-eval at LiteLLM gateway after llama-cpp removal
  kubernetes/llm/components/agent-eval/config-map.yaml
  kubernetes/llm/components/agent-eval/cronjob.yaml
  kubernetes/llm/components/agent-eval/network-policy.yaml
  kubernetes/llm/components/knowledge-sync/config-map.yaml
  kubernetes/llm/components/open-webui/deployment.yaml
Due: overlay-test

docs(llm): document agent platform and prerequisites
  kubernetes/llm/README.md
Due: overlay-test

feat(llm): register agent-platform components and observability wiring
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/opentelemetry-operator.yaml
  kubernetes/grafana/base/dashboards/open-webui.json
  kubernetes/grafana/base/kustomization.yaml
  kubernetes/llm/overlays/okd/kustomization.yaml
  kubernetes/prometheus/components/prometheus-nas/config-map.yaml
  kubernetes/prometheus/components/prometheus/config-map.yaml
Due: overlay-test

feat(llm): enable agent tooling, memory, code interpreter, and RBAC on Open WebUI
  kubernetes/llm/components/open-webui/deployment.yaml
  kubernetes/llm/components/open-webui/network-policy.yaml
  kubernetes/llm/components/open-webui/secret.yaml
Due: overlay-test

feat(llm): add read-only Kubernetes and GitHub MCP tool servers
  kubernetes/llm/components/mcp-github/deployment.yaml
  kubernetes/llm/components/mcp-github/kustomization.yaml
  kubernetes/llm/components/mcp-github/network-policy.yaml
  kubernetes/llm/components/mcp-github/service-account.yaml
  kubernetes/llm/components/mcp-github/service.yaml
  kubernetes/llm/components/mcp-kubernetes/deployment.yaml
  kubernetes/llm/components/mcp-kubernetes/kustomization.yaml
  kubernetes/llm/components/mcp-kubernetes/network-policy.yaml
  kubernetes/llm/components/mcp-kubernetes/rbac.yaml
  kubernetes/llm/components/mcp-kubernetes/service-account.yaml
  kubernetes/llm/components/mcp-kubernetes/service.yaml
Due: overlay-test

chore(KubeDescheduler): namesapce updates
  kubernetes/kube-descheduler/base/descheduler.yaml
Due: overlay-test

chore(renovate): tune
  kubernetes/renovate/base/config.json
Due: overlay-test

chore(renovate): tune
  kubernetes/llm/components/open-webui/deployment.yaml
  renovate.json
Due: overlay-test

chore(container_image): update
  containers/gpu-toolbox/containerfile
Due: none

fix: resolve resource compliance violations and bump kube-descheduler CSV
  kubernetes/argocd/admin-plugin/plugin-deploy.yaml
  kubernetes/argocd/base/installplan-approver.yaml
  kubernetes/argocd/base/microshift/cronjob.yaml
  kubernetes/gitea/base/deployment.yaml
  kubernetes/gitea/base/service.yaml
  kubernetes/gitea/components/backup/cronjob.yaml
  kubernetes/heimdall/base/service.yaml
  kubernetes/heimdall/base/statefulset.yaml
  kubernetes/homeassistant/base/service.yaml
  kubernetes/kfca/base/deployment.yaml
  kubernetes/kube-descheduler/base/installplan-approver.yaml
  kubernetes/kube-descheduler/base/subscription.yaml
  kubernetes/zitadel/base/service.yaml
Due: overlay-test

fix: resolve remaining resource compliance violations in nextcloud-fpm
  kubernetes/nextcloud-fpm/components/backup-unas/cronjob.yaml
  kubernetes/nextcloud-fpm/components/immich-sync/cronjob.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/cronjob-cron.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/cronjob-preview.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/service.yaml
  kubernetes/nextcloud-fpm/components/nginx/deployment.yaml
  kubernetes/nextcloud-fpm/components/nginx/service.yaml
Due: overlay-test

fix(heimdall): reddonlyrootfilesystem
  kubernetes/heimdall/base/statefulset.yaml
Due: overlay-test

fix(heimdall): readOnlyRootFilesystem / automountServiceAccountToken (#631)
  kubernetes/argocd/base/microshift/cronjob.yaml
  kubernetes/heimdall/base/statefulset.yaml
Due: overlay-test

feat(llm): qwen 3.8 + additional models
  kubernetes/llm/components/litellm/litellm.yaml
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/llm/components/model-downloader/cronjob.yaml
  kubernetes/llm/components/model-downloader/kustomization.yaml
  kubernetes/llm/components/model-downloader/network-policy.yaml
  kubernetes/llm/components/open-webui/deployment.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

feat(llm): qwen 3.8 + additional models (#634)
  kubernetes/llm/components/litellm/litellm.yaml
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/llm/components/model-downloader/cronjob.yaml
  kubernetes/llm/components/model-downloader/kustomization.yaml
  kubernetes/llm/components/model-downloader/network-policy.yaml
  kubernetes/llm/components/open-webui/deployment.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

feat(llm): vulkan -> sycl
  .tekton/llama-swap.yaml
  containers/llama-swap-metrics-exporter/cmd/llama-swap-metrics-exporter/main.go
  containers/llama-swap-vulkan/containerfile
  containers/llama-swap/containerfile
  kubernetes/argocd/base/installplan-approver.yaml
  kubernetes/argocd/base/microshift/cronjob.yaml
  kubernetes/gitea/components/backup/cronjob.yaml
  kubernetes/kube-descheduler/base/installplan-approver.yaml
  kubernetes/llm/README.md
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/nextcloud-fpm/components/backup-unas/cronjob.yaml
  kubernetes/nextcloud-fpm/components/immich-sync/cronjob.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

feat(llm): migrate llama-swap from Vulkan to SYCL, enforce one-model-per-GPU (#635)
  .tekton/llama-swap.yaml
  containers/llama-swap-metrics-exporter/cmd/llama-swap-metrics-exporter/main.go
  containers/llama-swap-vulkan/containerfile
  containers/llama-swap/containerfile
  kubernetes/argocd/base/installplan-approver.yaml
  kubernetes/argocd/base/microshift/cronjob.yaml
  kubernetes/gitea/components/backup/cronjob.yaml
  kubernetes/kube-descheduler/base/installplan-approver.yaml
  kubernetes/llm/README.md
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/llm/components/open-webui/deployment.yaml
  kubernetes/nextcloud-fpm/components/backup-unas/cronjob.yaml
  kubernetes/nextcloud-fpm/components/immich-sync/cronjob.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
  tekton/tasks/buildah/0.7.1/buildah.yaml
Due: ansible, overlay-test

feat(llm): tuning
  kubernetes/llm/README.md
  kubernetes/llm/components/litellm/README.md
  kubernetes/llm/components/litellm/litellm.yaml
  kubernetes/llm/components/litellm/llama_swap_affinity.py
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/llm/components/llama-swap/vpa.yaml
  kubernetes/llm/components/model-downloader/cronjob.yaml
  kubernetes/prometheus/components/node-exporter/daemonset.yaml
  kubernetes/prometheus/components/node-exporter/service.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

feat(llm): tuning (#639)
  kubernetes/llm/README.md
  kubernetes/llm/components/litellm/README.md
  kubernetes/llm/components/litellm/litellm.yaml
  kubernetes/llm/components/litellm/llama_swap_affinity.py
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/llm/components/llama-swap/vpa.yaml
  kubernetes/llm/components/model-downloader/cronjob.yaml
  kubernetes/prometheus/components/node-exporter/daemonset.yaml
  kubernetes/prometheus/components/node-exporter/service.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

chore(compliance): updates
  kubernetes/grafana/components/cnpg/backup.yaml
  kubernetes/prometheus/components/compactor-ceph/compactor-job.yaml
  kubernetes/prometheus/components/compactor-nas/compactor-job.yaml
  kubernetes/prometheus/components/prometheus-ceph/service.yaml
  kubernetes/prometheus/components/prometheus-ceph/statefulset.yaml
  kubernetes/prometheus/components/prometheus-nas/service.yaml
  kubernetes/prometheus/components/prometheus-nas/statefulset.yaml
  kubernetes/prometheus/components/prometheus/service.yaml
  kubernetes/prometheus/components/prometheus/statefulset.yaml
  kubernetes/prometheus/components/thanos-nas/statefulset.yaml
  kubernetes/prometheus/components/thanos-querier/deployment.yaml
  kubernetes/prometheus/components/thanos/statefulset.yaml
  kubernetes/prometheus/overlays/microshift/ingress.yaml
  kubernetes/renovate/overlays/okd/kustomization.yaml
Due: overlay-test

chore(deps): update container updates (#636)
  kubernetes/grafana/base/deployment.yaml
  kubernetes/grafana/components/cnpg/backup.yaml
  kubernetes/llm/components/litellm/deployment.yaml
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/prometheus/components/compactor-ceph/compactor-job.yaml
  kubernetes/prometheus/components/compactor-nas/compactor-job.yaml
  kubernetes/prometheus/components/prometheus-ceph/service.yaml
  kubernetes/prometheus/components/prometheus-ceph/statefulset.yaml
  kubernetes/prometheus/components/prometheus-nas/service.yaml
  kubernetes/prometheus/components/prometheus-nas/statefulset.yaml
  kubernetes/prometheus/components/prometheus/service.yaml
  kubernetes/prometheus/components/prometheus/statefulset.yaml
  kubernetes/prometheus/components/thanos-nas/statefulset.yaml
  kubernetes/prometheus/components/thanos-querier/deployment.yaml
  kubernetes/prometheus/components/thanos/statefulset.yaml
  kubernetes/prometheus/overlays/microshift/ingress.yaml
  kubernetes/renovate/base/cronjob.yaml
  kubernetes/renovate/overlays/okd/kustomization.yaml
  kubernetes/vertical-pod-autoscaler/base/subscription.yaml
Due: overlay-test

feat(llm): tuning
  kubernetes/llm/components/litellm/litellm.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
Due: overlay-test

chore: updates
  containers/toolbox/containerfile
  machineConfigs/desktop/home/arthur/.gitconfig
Due: ansible, toolbox-image

fix(blackbox-exporter): resolve resource compliance checks
  kubernetes/bitwarden/base/certificate.yaml
  kubernetes/bitwarden/base/service.yaml
  kubernetes/bitwarden/base/statefulset.yaml
  kubernetes/bitwarden/overlays/k3s/traefik.yaml
  kubernetes/blackbox-exporter/base/deployment.yaml
  kubernetes/blackbox-exporter/base/namespace.yaml
Due: overlay-test

fix(cloudflare-ddns): resolve resource compliance checks
  kubernetes/cloudflare-ddns/base/deployment.yaml
Due: overlay-test

chore(argocd): fix prettier formatting in kyverno manifests
  kubernetes/argocd/apps/kyverno.yaml
  kubernetes/argocd/base/kyverno.yaml
Due: overlay-test

fix(ceph): resolve resource compliance checks
  kubernetes/ceph/base/csi/deployment.yaml
  kubernetes/ceph/base/deployment.yaml
  kubernetes/ceph/base/gateway/certificate-job.yaml
  kubernetes/ceph/base/toolbox.yaml
Due: overlay-test

fix(cert-manager): resolve resource compliance checks
  kubernetes/cert-manager/components/cloud-dns/cluster-issuer.yaml
  kubernetes/cert-manager/components/cloudflare/cluster-issuer.yaml
  kubernetes/cert-manager/components/trust-manager/bundle.yaml
  kubernetes/cert-manager/components/trust-manager/deployment.yaml
  kubernetes/cert-manager/components/trust-manager/service.yaml
  kubernetes/cert-manager/components/yaml/deployment.yaml
Due: overlay-test

fix(deployment-validation): add schedulerName to installplan-approver Job
  kubernetes/deployment-validation/base/installplan-approver.yaml
Due: overlay-test

fix(container-security): add schedulerName to installplan-approver Job
  kubernetes/container-security/base/installplan-approver.yaml
Due: overlay-test

fix(coraza): resolve resource compliance checks
  kubernetes/coraza/base/deployment.yaml
  kubernetes/coraza/base/kustomization.yaml
  kubernetes/coraza/base/service.yaml
Due: overlay-test
