Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

ansible:
  params:
  - name: playbooks
    value: servers,microshift
  - name: dry_run
    value: 'false'
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
  ...

apache-php-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/apache-php/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/apache-php:latest
  pipelineSpec:
    params:
    - name: git-url
  ...

overlay-test:
  params:
  - name: playbooks
    value: servers
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-pr-number
    value: '{{ pull_request_number }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
  ...

terraform-apply:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    workspaces:
    - name: data
    - name: git_auth_secret
  ...

terraform:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: event
    value: '{{ event_type }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    - name: event
  ...

toolbox-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/toolbox/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/toolbox:not_latest
  pipelineSpec:
    params:
    - name: git-url
  ...

feat(bmc): cred add
  .vscode/settings.json
  okd/okd-nodes/base/bmh/server-1.yaml
  okd/okd-nodes/base/bmh/server-2.yaml
  okd/okd-nodes/base/bmh/server-3.yaml
  okd/okd-nodes/base/bmh/worker-2.yaml
  okd/okd-nodes/base/bmh/worker-3.yaml
Due: overlay-test

feat(bmc): cred add (#318)
  .vscode/settings.json
  okd/okd-nodes/base/bmh/server-1.yaml
  okd/okd-nodes/base/bmh/server-2.yaml
  okd/okd-nodes/base/bmh/server-3.yaml
  okd/okd-nodes/base/bmh/worker-2.yaml
  okd/okd-nodes/base/bmh/worker-3.yaml
  okd/okd-nodes/base/kustomization.yaml
Due: overlay-test

fix(toolbox): iperf3 missing
  containers/toolbox/containerfile
Due: toolbox-image

fix(console-plugin): add back in
  okd/okd-configuration/base/operators/console.yaml
Due: overlay-test

fix(toolbox): iperf3 missing (#319)
  containers/toolbox/containerfile
Due: toolbox-image

feat(lacp): test
  .vscode/settings.json
  okd/node-config/gpu-1.yaml
Due: overlay-test

feat(lacp): test (#320)
  .vscode/settings.json
  okd/node-config/gpu-1.yaml
Due: overlay-test

feat(bmc): add
  .vscode/settings.json
  kubernetes/argocd/applications/bmc-shim.yaml
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/bmc-shim/base/egress-firewall.yaml
  kubernetes/bmc-shim/base/hpa.yaml
  kubernetes/bmc-shim/base/kustomization.yaml
  kubernetes/bmc-shim/base/namespace.yaml
  kubernetes/bmc-shim/base/network-policy.yaml
  kubernetes/bmc-shim/base/pdb.yaml
  kubernetes/bmc-shim/base/rbac.yaml
  kubernetes/bmc-shim/base/secret.yaml
  kubernetes/bmc-shim/base/service.yaml
  kubernetes/bmc-shim/overlays/okd/kustomization.yaml
Due: overlay-test

feat(bmc): add (#321)
  .vscode/settings.json
  kubernetes/argocd/applications/bmc-shim.yaml
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/bmc-shim/base/egress-firewall.yaml
  kubernetes/bmc-shim/base/hpa.yaml
  kubernetes/bmc-shim/base/kustomization.yaml
  kubernetes/bmc-shim/base/namespace.yaml
  kubernetes/bmc-shim/base/network-policy.yaml
  kubernetes/bmc-shim/base/pdb.yaml
  kubernetes/bmc-shim/base/rbac.yaml
  kubernetes/bmc-shim/base/secret.yaml
  kubernetes/bmc-shim/base/service.yaml
  kubernetes/bmc-shim/overlays/okd/kustomization.yaml
  kubernetes/github-runners/base/kustomization.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/bmc-shim.yaml
Due: overlay-test

feat(docs): update
  README.md
  ansible/README.md
  okd/README.md
Due: ansible, overlay-test

feat(docs): update (#322)
  README.md
  ansible/README.md
  okd/README.md
Due: ansible, overlay-test

feat(changelog): git era
  CHANGELOG.md
  README.md
Due: none

feat(changelog): pre git era
  .vscode/settings.json
  CHANGELOG.md
Due: none

feat(changelog): history (#323)
  .vscode/settings.json
  CHANGELOG.md
  README.md
Due: none

fix(descheduler): resources
  kubernetes/kube-descheduler/base/kustomization.yaml
  kubernetes/kube-descheduler/base/kyverno.yaml
  kubernetes/kube-descheduler/base/subscription.yaml
Due: overlay-test

fix(descheduler): resources (#324)
  kubernetes/kube-descheduler/base/kustomization.yaml
  kubernetes/kube-descheduler/base/kyverno.yaml
  kubernetes/kube-descheduler/base/subscription.yaml
Due: overlay-test

fix(argocd-apps): resources
  kubernetes/argocd/apps/argocd-apps.yaml
  kubernetes/kube-descheduler/base/kyverno.yaml
Due: overlay-test

fix(descheduler): resources
  kubernetes/kube-descheduler/base/kyverno.yaml
  kubernetes/kube-descheduler/base/subscription.yaml
Due: overlay-test

chore(upgrades): 4.21.0-okd-scos.ec.14 && olm
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  kubernetes/kube-descheduler/base/subscription.yaml
  kubernetes/loki-operator/base/subscription.yaml
  kubernetes/network-observability/base/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/nvidia-gpu-operator/base/subscription.yaml
  kubernetes/postgres/base/subscription.yaml
  kubernetes/victoria-metrics/base/subscription.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

chore(upgrades): 4.21.0-okd-scos.ec.14 && olm (#325)
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  kubernetes/kube-descheduler/base/subscription.yaml
  kubernetes/loki-operator/base/subscription.yaml
  kubernetes/network-observability/base/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/nvidia-gpu-operator/base/subscription.yaml
  kubernetes/postgres/base/subscription.yaml
  kubernetes/victoria-metrics/base/subscription.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

feat(ntp): metrics add
  kubernetes/ntp/components/rootless/deployment.yaml
  kubernetes/ntp/components/rootless/service.yaml
  kubernetes/ntp/overlays/microshift/kustomization.yaml
  kubernetes/ntp/overlays/microshift/service.yaml
  kubernetes/ntp/overlays/okd/kustomization.yaml
  kubernetes/ntp/overlays/okd/metrics/endpoints.yaml
  kubernetes/ntp/overlays/okd/metrics/kustomization.yaml
  kubernetes/ntp/overlays/okd/metrics/service-monitors.yaml
  kubernetes/ntp/overlays/okd/metrics/services.yaml
  kubernetes/ntp/overlays/okd/network-policy.yaml
  kubernetes/ntp/overlays/okd/prometheus-rule.yaml
  kubernetes/ntp/overlays/okd/servicemonitor.yaml
Due: overlay-test

feat(ntp): metrics add
  kubernetes/ntp/base/resource-quota.yaml
Due: overlay-test

feat(ntp): metrics add
  kubernetes/ntp/components/rootless/kustomization.yaml
  kubernetes/ntp/overlays/okd/kustomization.yaml
  kubernetes/ntp/overlays/okd/metrics/endpoints.yaml
  kubernetes/ntp/overlays/okd/metrics/service-monitors.yaml
  kubernetes/ntp/overlays/okd/metrics/services.yaml
  kubernetes/ntp/overlays/okd/service.yaml
Due: overlay-test

feat(grafana): dashboard add
  kubernetes/grafana/base/dashboards/ntp.json
  kubernetes/grafana/base/kustomization.yaml
Due: overlay-test

feat(ntp): metrics add (#326)
  kubernetes/grafana/base/dashboards/ntp.json
  kubernetes/grafana/base/kustomization.yaml
  kubernetes/ntp/base/resource-quota.yaml
  kubernetes/ntp/components/rootless/deployment.yaml
  kubernetes/ntp/overlays/microshift/kustomization.yaml
  kubernetes/ntp/overlays/microshift/service.yaml
  kubernetes/ntp/overlays/okd/kustomization.yaml
  kubernetes/ntp/overlays/okd/metrics/endpoints.yaml
  kubernetes/ntp/overlays/okd/metrics/kustomization.yaml
  kubernetes/ntp/overlays/okd/metrics/service-monitors.yaml
  kubernetes/ntp/overlays/okd/metrics/services.yaml
  kubernetes/ntp/overlays/okd/network-policy.yaml
  kubernetes/ntp/overlays/okd/prometheus-rule.yaml
  kubernetes/ntp/overlays/okd/service.yaml
  kubernetes/ntp/overlays/okd/servicemonitor.yaml
Due: overlay-test

fix(stackrox): tune
  kubernetes/stackrox-central/base/deployment.yaml
  main.bash
Due: overlay-test

fix(kube-vip): internal
  kubernetes/ntp/overlays/microshift/service.yaml
  kubernetes/pihole/overlays/microshift/service.yaml
Due: overlay-test

fix(kube-vip): internal
  kubernetes/pihole/overlays/okd/service.yaml
  kubernetes/unifi-network-application/components/unifi-network-application/service.yaml
  okd/okd-configuration/components/gateway/loadbalancer.yaml
  okd/okd-configuration/overlays/okd/apps-ingress/loadbalancer.yaml
  sandbox/kubevirt/k3s/service.yaml
Due: overlay-test

Kube vip internal (#327)
  kubernetes/ntp/overlays/microshift/service.yaml
  kubernetes/pihole/overlays/microshift/service.yaml
  kubernetes/pihole/overlays/okd/service.yaml
  kubernetes/unifi-network-application/components/unifi-network-application/service.yaml
  okd/okd-configuration/components/gateway/loadbalancer.yaml
  okd/okd-configuration/overlays/okd/apps-ingress/loadbalancer.yaml
  sandbox/kubevirt/k3s/service.yaml
Due: overlay-test

fix(external-secrets): tune
  kubernetes/external-secrets-operator/components/helm/deployment.yaml
  kubernetes/external-secrets-operator/values.yaml
  kubernetes/openshift-logging/base/subscription.yaml
Due: overlay-test

fix(container-registry): egress firewall
  kubernetes/container-security/overlays/okd/egress-firewall.yaml
  kubernetes/quay/base/egress-firewall.yaml
  kubernetes/stackrox-central/overlays/okd/egress-firewall.yaml
Due: overlay-test

chore(toolbox): update
  containers/toolbox/containerfile
Due: toolbox-image

chore(toolbox): update (#328)
  containers/toolbox/containerfile
Due: toolbox-image

feat(renovate): incept
  containers/apache-php/containerfile
  containers/toolbox/containerfile
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/renovate.yaml
  kubernetes/renovate/README.md
  kubernetes/renovate/base/config.json
  kubernetes/renovate/base/cronjob.yaml
  kubernetes/renovate/base/kustomization.yaml
  kubernetes/renovate/base/namespace.yaml
  kubernetes/renovate/base/network-policy.yaml
  kubernetes/renovate/base/pvc.yaml
  kubernetes/renovate/base/secret.yaml
  kubernetes/renovate/overlays/okd/egress-firewall.yaml
  kubernetes/renovate/overlays/okd/kustomization.yaml
Due: apache-php-image, overlay-test, toolbox-image

feat(renovate): incept (#329)
  containers/apache-php/containerfile
  containers/toolbox/containerfile
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/renovate.yaml
  kubernetes/renovate/README.md
  kubernetes/renovate/base/config.json
  kubernetes/renovate/base/cronjob.yaml
  kubernetes/renovate/base/kustomization.yaml
  kubernetes/renovate/base/namespace.yaml
  kubernetes/renovate/base/network-policy.yaml
  kubernetes/renovate/base/pvc.yaml
  kubernetes/renovate/base/secret.yaml
  kubernetes/renovate/overlays/okd/egress-firewall.yaml
  kubernetes/renovate/overlays/okd/kustomization.yaml
Due: apache-php-image, overlay-test, toolbox-image

Add renovate.json
  renovate.json
Due: none

feat(renovate): incept (#329)
  containers/apache-php/containerfile
  containers/toolbox/containerfile
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/renovate.yaml
  kubernetes/renovate/README.md
  kubernetes/renovate/base/config.json
  kubernetes/renovate/base/cronjob.yaml
  kubernetes/renovate/base/kustomization.yaml
  kubernetes/renovate/base/namespace.yaml
  kubernetes/renovate/base/network-policy.yaml
  kubernetes/renovate/base/pvc.yaml
  kubernetes/renovate/base/secret.yaml
  kubernetes/renovate/overlays/okd/egress-firewall.yaml
  kubernetes/renovate/overlays/okd/kustomization.yaml
  renovate.json
Due: apache-php-image, overlay-test, toolbox-image

chore(deps): update module cloud.google.com/go/storage to v1.58.0
  terraform/homelab/keep-alive/go.mod
Due: terraform-apply, terraform

chore(deps): update module google.golang.org/api to v0.257.0
  terraform/homelab/keep-alive/go.mod
Due: terraform-apply, terraform

feat(renovate): incept (#329)
  .vscode/settings.json
  containers/apache-php/containerfile
  containers/toolbox/containerfile
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/renovate.yaml
  kubernetes/renovate/README.md
  kubernetes/renovate/base/config.json
  kubernetes/renovate/base/cronjob.yaml
  kubernetes/renovate/base/kustomization.yaml
  kubernetes/renovate/base/namespace.yaml
  kubernetes/renovate/base/network-policy.yaml
  kubernetes/renovate/base/pvc.yaml
  kubernetes/renovate/base/rbac.yaml
  kubernetes/renovate/base/secret.yaml
  kubernetes/renovate/overlays/okd/egress-firewall.yaml
  kubernetes/renovate/overlays/okd/kustomization.yaml
  renovate.json
Due: apache-php-image, overlay-test, toolbox-image

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile
