Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

ansible:
  params:
  - name: playbooks
    value: servers,microshift
  - name: dry_run
    value: 'false'
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
  ...

apache-php-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/apache-php/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/apache-php:latest
  pipelineSpec:
    params:
    - name: git-url
  ...

overlay-test:
  params:
  - name: playbooks
    value: servers
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-pr-number
    value: '{{ pull_request_number }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
  ...

terraform-apply:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    workspaces:
    - name: data
    - name: git_auth_secret
  ...

terraform:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: event
    value: '{{ event_type }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    - name: event
  ...

toolbox-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/toolbox/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/toolbox:not_latest
  pipelineSpec:
    params:
    - name: git-url
  ...

chore(coraza): use differnet profile (#455)
  okd/okd-configuration/components/gateway-external/coraza/configmap.yaml
  okd/okd-configuration/components/gateway-external/coraza/engine.yaml
  okd/okd-configuration/components/gateway/coraza/configmap.yaml
  okd/okd-configuration/components/gateway/coraza/engine.yaml
  okd/okd-configuration/components/gateway/kustomization.yaml
Due: overlay-test

feat(ollama): incept
  kubernetes/ollama/README.md
  kubernetes/ollama/base/deployment.yaml
  kubernetes/ollama/base/kustomization.yaml
  kubernetes/ollama/base/namespace.yaml
  kubernetes/ollama/base/network-policy.yaml
  kubernetes/ollama/base/pdb.yaml
  kubernetes/ollama/base/rbac.yaml
  kubernetes/ollama/base/service-account.yaml
  kubernetes/ollama/base/service.yaml
  kubernetes/ollama/overlays/okd/kustomization.yaml
Due: overlay-test

feat(ollama): incept
  kubernetes/ollama/README.md
  kubernetes/ollama/base/kustomization.yaml
  kubernetes/ollama/base/network-policy.yaml
  kubernetes/ollama/base/pdb.yaml
  kubernetes/ollama/base/rbac.yaml
  kubernetes/ollama/overlays/okd/egress-firewall.yaml
  kubernetes/ollama/overlays/okd/kustomization.yaml
Due: overlay-test

fix(okd): delete cluster script
  kubernetes/cert-manager/overlays/okd/vpa.yaml
  main.bash
Due: overlay-test

feat(wire-tap): incept
  kubernetes/loki/base/config-map.yaml
  kubernetes/loki/base/kustomization.yaml
  kubernetes/loki/base/network-policy.yaml
  kubernetes/loki/base/statefulset.yaml
  kubernetes/loki/components/promtail/config-map.yaml
  kubernetes/loki/components/promtail/daemonset.yaml
  kubernetes/loki/components/promtail/kustomization.yaml
  kubernetes/loki/components/promtail/rbac.yaml
  kubernetes/loki/overlays/k3s/kustomization.yaml
  kubernetes/loki/overlays/okd/kustomization.yaml
  kubernetes/loki/overlays/okd/route.yaml
  kubernetes/loki/overlays/okd/vpa.yaml
  okd/okd-configuration/components/gateway-external/kustomization.yaml
  okd/okd-configuration/components/gateway-external/network-policy.yaml
  okd/okd-configuration/components/gateway-external/wiretap/wasm-plugin.yaml
  okd/okd-configuration/components/gateway/kustomization.yaml
  okd/okd-configuration/components/gateway/wiretap/service-entry.yaml
  okd/okd-configuration/components/gateway/wiretap/wasm-plugin.yaml
  okd/okd-configuration/overlays/okd/vpa.yaml
Due: overlay-test

feat(wire-tap): incept
  kubernetes/loki/base/config-map.yaml
Due: overlay-test

feat(wire-tap): incept
  kubernetes/grafana/base/network-policy.yaml
  okd/okd-configuration/components/gateway-external/network-policy.yaml
  okd/okd-configuration/components/gateway-external/wiretap/wasm-plugin.yaml
  okd/okd-configuration/components/gateway/wiretap/service-entry.yaml
  okd/okd-configuration/components/gateway/wiretap/wasm-plugin.yaml
  okd/okd-configuration/components/victoria-metrics/kustomization.yaml
  okd/okd-configuration/components/victoria-metrics/namespace.yaml
  okd/okd-configuration/components/victoria-metrics/network-policy.yaml
  okd/okd-configuration/components/victoria-metrics/vm-cluster.yaml
  okd/okd-configuration/components/victoria-metrics/vm-service-monitors.yaml
  okd/okd-configuration/components/victoria-metrics/vpa.yaml
  okd/okd-configuration/overlays/okd/kustomization.yaml
Due: overlay-test

feat(wire-tap): incept
  kubernetes/grafana/base/network-policy.yaml
  kubernetes/victoria-metrics/base/subscription.yaml
  okd/okd-configuration/components/gateway-external/network-policy.yaml
  okd/okd-configuration/components/gateway-external/wiretap/wasm-plugin.yaml
  okd/okd-configuration/components/gateway/wiretap/service-entry.yaml
  okd/okd-configuration/components/gateway/wiretap/wasm-plugin.yaml
  okd/okd-configuration/components/victoria-metrics/kustomization.yaml
  okd/okd-configuration/components/victoria-metrics/network-policy.yaml
  okd/okd-configuration/components/victoria-metrics/service-monitor.yaml
  okd/okd-configuration/components/victoria-metrics/vlogs.yaml
  okd/okd-configuration/components/victoria-metrics/vpa.yaml
Due: overlay-test

feat(wire-tap): incept
  kubernetes/grafana/base/deployment.yaml
  kubernetes/grafana/base/network-policy.yaml
  kubernetes/grafana/base/pvc.yaml
  kubernetes/grafana/components/openshift/egress-firewall.yaml
  okd/okd-configuration/components/gateway-external/network-policy.yaml
  okd/okd-configuration/components/gateway-external/wiretap/wasm-plugin.yaml
  okd/okd-configuration/components/gateway/wiretap/service-entry.yaml
  okd/okd-configuration/components/gateway/wiretap/wasm-plugin.yaml
  okd/okd-configuration/components/victoria-metrics/network-policy.yaml
  okd/okd-configuration/components/victoria-metrics/vlogs.yaml
Due: overlay-test

feat(wire-tap): incept
  kubernetes/grafana/base/dashboards/ingress-traffic.json
  kubernetes/grafana/base/datasource-config.yaml
  kubernetes/grafana/base/kustomization.yaml
  okd/okd-configuration/components/gateway-external/wiretap/wasm-plugin.yaml
  okd/okd-configuration/components/gateway/wiretap/wasm-plugin.yaml
  okd/okd-configuration/components/victoria-metrics/vlogs.yaml
Due: overlay-test

feat(wire-tap): incept (#460)
  kubernetes/grafana/base/dashboards/ingress-traffic.json
  kubernetes/grafana/base/datasource-config.yaml
  kubernetes/grafana/base/kustomization.yaml
  okd/okd-configuration/components/gateway-external/wiretap/wasm-plugin.yaml
  okd/okd-configuration/components/gateway/wiretap/wasm-plugin.yaml
  okd/okd-configuration/components/victoria-metrics/vlogs.yaml
Due: overlay-test

chore(gateway): memory tune
  okd/okd-configuration/components/gateway-external/kyverno.yaml
  okd/okd-configuration/components/gateway/kyverno.yaml
Due: overlay-test

chore(thanos): block tune
  kubernetes/prometheus/components/thanos-nas/statefulset.yaml
  kubernetes/prometheus/components/thanos/statefulset.yaml
Due: overlay-test

feat(cnpg): migrate from crunchy
  kubernetes/cloudnative-pg/README.md
Due: overlay-test

feat(cnpg): migrate stackrox from crunchy
  kubernetes/cloudnative-pg/README.md
  kubernetes/stackrox-central/base/config-map.yaml
  kubernetes/stackrox-central/base/kustomization.yaml
  kubernetes/stackrox-central/base/postgres/db-init.sql
  kubernetes/stackrox-central/base/postgres/kustomization.yaml
  kubernetes/stackrox-central/base/postgres/network-policy.yaml
  kubernetes/stackrox-central/base/postgres/postgres.yaml
  kubernetes/stackrox-central/base/postgres/secret.yaml
  kubernetes/stackrox-central/base/postgres/vpa.yaml
  kubernetes/stackrox-central/components/cnpg/cluster.yaml
  kubernetes/stackrox-central/components/cnpg/kustomization.yaml
  kubernetes/stackrox-central/components/cnpg/network-policy.yaml
  kubernetes/stackrox-central/components/cnpg/pod-monitor.yaml
  kubernetes/stackrox-central/overlays/okd/kustomization.yaml
Due: overlay-test

feat(cnpg): migrate homeassistant from crunchy
  kubernetes/homeassistant/base/kustomization.yaml
  kubernetes/homeassistant/base/network-policy.yaml
  kubernetes/homeassistant/base/postgres/db-init.sql
  kubernetes/homeassistant/base/postgres/kustomization.yaml
  kubernetes/homeassistant/base/postgres/network-policy.yaml
  kubernetes/homeassistant/base/postgres/postgres.yaml
  kubernetes/homeassistant/base/postgres/secret.yaml
  kubernetes/homeassistant/base/postgres/vpa.yaml
  kubernetes/homeassistant/components/cnpg/cluster.yaml
  kubernetes/homeassistant/components/cnpg/kustomization.yaml
  kubernetes/homeassistant/components/cnpg/network-policy.yaml
  kubernetes/homeassistant/components/cnpg/pod-monitor.yaml
  kubernetes/homeassistant/config/configuration.yaml
  kubernetes/homeassistant/overlays/okd/kustomization.yaml
  kubernetes/homeassistant/overlays/sno/kustomization.yaml
Due: overlay-test

feat(cnpg): migrate grafana from crunchy
  kubernetes/grafana/base/kustomization.yaml
  kubernetes/grafana/base/network-policy.yaml
  kubernetes/grafana/base/postgres/network-policy.yaml
  kubernetes/grafana/base/postgres/postgres.yaml
  kubernetes/grafana/base/postgres/secret.yaml
  kubernetes/grafana/base/postgres/vpa.yaml
  kubernetes/grafana/base/secret.yaml
  kubernetes/grafana/components/cnpg/cluster.yaml
  kubernetes/grafana/components/cnpg/kustomization.yaml
  kubernetes/grafana/components/cnpg/network-policy.yaml
  kubernetes/grafana/components/cnpg/pod-monitor.yaml
  kubernetes/grafana/overlays/okd/kustomization.yaml
  kubernetes/grafana/overlays/sno/kustomization.yaml
Due: overlay-test

chore(cnpg): backupjob move
  containers/toolbox/containerfile
  kubernetes/argocd/applications/cloudnative-pg.yaml
  kubernetes/cloudnative-pg/components/openshift/egress-firewall.yaml
  kubernetes/cloudnative-pg/components/pg_dump/cronjob.yaml
  kubernetes/cloudnative-pg/components/pg_dump/kustomization.yaml
  kubernetes/cloudnative-pg/components/pg_dump/network-policy.yaml
  kubernetes/cloudnative-pg/components/pg_dump/rbac.yaml
  kubernetes/cloudnative-pg/components/pg_dump/secret.yaml
  kubernetes/cloudnative-pg/overlays/okd/kustomization.yaml
  kubernetes/grafana/components/cnpg/backup.yaml
  kubernetes/grafana/components/cnpg/kustomization.yaml
  kubernetes/grafana/components/cnpg/network-policy.yaml
  kubernetes/postgres/overlays/okd/kustomization.yaml
  kubernetes/postgres/overlays/sno/kustomization.yaml
  kubernetes/stackrox-central/components/cnpg/backup.yaml
  kubernetes/stackrox-central/components/cnpg/kustomization.yaml
  kubernetes/stackrox-central/components/cnpg/network-policy.yaml
Due: overlay-test, toolbox-image

feat(cnpg): migrate grafana from crunchy
  kubernetes/grafana/components/cnpg/cluster.yaml
Due: overlay-test

feat(cnpg): migrate immich from crunchy
  .vscode/settings.json
  kubernetes/cloudnative-pg/README.md
  kubernetes/cloudnative-pg/components/pg_dump/network-policy.yaml
  kubernetes/cloudnative-pg/components/pg_dump/secret.yaml
  kubernetes/immich/base/deployment.yaml
  kubernetes/immich/base/kustomization.yaml
  kubernetes/immich/base/postgres/db-init.sql
  kubernetes/immich/base/postgres/kustomization.yaml
  kubernetes/immich/base/postgres/postgres.yaml
  kubernetes/immich/base/postgres/secret.yaml
  kubernetes/immich/base/postgres/vpa.yaml
  kubernetes/immich/components/cnpg/backup.yaml
  kubernetes/immich/components/cnpg/cluster.yaml
  kubernetes/immich/components/cnpg/kustomization.yaml
  kubernetes/immich/components/cnpg/network-policy.yaml
  kubernetes/immich/components/cnpg/pod-monitor.yaml
Due: overlay-test

feat(cnpg): migrate netbox from crunchy
  dump.db
  kubernetes/cloudnative-pg/README.md
  kubernetes/cloudnative-pg/components/pg_dump/secret.yaml
  kubernetes/netbox/base/configs/netbox.yaml
  kubernetes/netbox/base/deployment.yaml
  kubernetes/netbox/base/kustomization.yaml
  kubernetes/netbox/base/postgres/db-init.sql
  kubernetes/netbox/base/postgres/kustomization.yaml
  kubernetes/netbox/base/postgres/postgres.yaml
  kubernetes/netbox/base/postgres/secret.yaml
  kubernetes/netbox/base/postgres/vpa.yaml
  kubernetes/netbox/components/cnpg/backup.yaml
  kubernetes/netbox/components/cnpg/cluster.yaml
  kubernetes/netbox/components/cnpg/kustomization.yaml
  kubernetes/netbox/components/cnpg/network-policy.yaml
  kubernetes/netbox/components/cnpg/pod-monitor.yaml
Due: overlay-test

feat(cnpg): backup update
  kubernetes/awx/components/cnpg/backup.yaml
  kubernetes/cloudnative-pg/components/pg_dump/network-policy.yaml
  kubernetes/cloudnative-pg/components/pg_dump/secret.yaml
  kubernetes/gitea/components/cnpg/backup.yaml
  kubernetes/grafana/components/cnpg/backup.yaml
  kubernetes/immich/components/cnpg/backup.yaml
  kubernetes/netbox/components/cnpg/backup.yaml
  kubernetes/nextcloud-fpm/components/cnpg/backup.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/cronjob-cron.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/cronjob-preview.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/deployment.yaml
  kubernetes/quay/components/cnpg-quay/backup.yaml
  kubernetes/renovate/README.md
  kubernetes/stackrox-central/components/cnpg/backup.yaml
  kubernetes/zitadel/components/cnpg/backup.yaml
Due: overlay-test

feat(cnpg): backup update
  kubernetes/cloudnative-pg/components/pg_dump/secret.yaml
Due: overlay-test

feat(cnpg): conversion
  kubernetes/awx/components/cnpg/network-policy.yaml
  kubernetes/cloudnative-pg/base/kustomization.yaml
  kubernetes/cloudnative-pg/base/ns-admin.yaml
  kubernetes/cloudnative-pg/components/pg_dump/secret.yaml
  kubernetes/gitea/components/cnpg/network-policy.yaml
  kubernetes/grafana/components/cnpg/network-policy.yaml
  kubernetes/homeassistant/components/cnpg/network-policy.yaml
  kubernetes/immich/components/cnpg/network-policy.yaml
  kubernetes/netbox/components/cnpg/network-policy.yaml
  kubernetes/nextcloud-fpm/components/cnpg/network-policy.yaml
  kubernetes/postgres/components/pg_admin/network-policy.yaml
  kubernetes/quay/components/cnpg-clair/network-policy.yaml
  kubernetes/quay/components/cnpg-quay/network-policy.yaml
  kubernetes/stackrox-central/components/cnpg/network-policy.yaml
  kubernetes/zitadel/components/cnpg/network-policy.yaml
  main.bash
Due: overlay-test

chore(deps): update terraform libvirt to v0.9.3
  terraform/agent/main.tf
  terraform/sandbox/bootstrap/main.tf
  terraform/sandbox/cluster/main.tf
  terraform/sandbox/workers/main.tf
Due: terraform-apply, terraform

chore(deps): update module google.golang.org/api to v0.269.0
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply, terraform

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(deps): update terraform google to v7.22.0
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update terraform zitadel to v2.9.0
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

feat(cnpg): conversion
  kubernetes/cloudnative-pg/base/deployment.yaml
Due: overlay-test

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile
