Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

ansible:
  params:
  - name: playbooks
    value: servers,microshift
  - name: dry_run
    value: 'false'
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
  ...

apache-php-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/apache-php/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/apache-php:latest
  pipelineSpec:
    params:
    - name: git-url
  ...

overlay-test:
  params:
  - name: playbooks
    value: servers
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-pr-number
    value: '{{ pull_request_number }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
  ...

terraform-apply:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    workspaces:
    - name: data
    - name: git_auth_secret
  ...

terraform:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: event
    value: '{{ event_type }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    - name: event
  ...

toolbox-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/toolbox/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/toolbox:not_latest
  pipelineSpec:
    params:
    - name: git-url
  ...

chore(dns-ntp): remove nads
  kubernetes/kube-vip/overlays/microshift/kustomization.yaml
  kubernetes/nmstate/overlays/microshift/network/dns.yaml
  kubernetes/nmstate/overlays/microshift/network/nodeNetworkConfigurationPolicy.yaml
  kubernetes/nmstate/overlays/okd/network/dns.yaml
  kubernetes/ntp/components/rootless/deployment.yaml
  kubernetes/ntp/overlays/microshift/service.yaml
  kubernetes/ntp/overlays/okd/dns.yaml
  kubernetes/ntp/overlays/okd/kustomization.yaml
  kubernetes/ntp/overlays/okd/network-policy.yaml
  kubernetes/ntp/overlays/okd/service.yaml
  kubernetes/technitium-dns/overlays/microshift/service.yaml
  kubernetes/technitium-dns/overlays/okd/service.yaml
  okd/okd-configuration/components/ntp/ntp.bu
  okd/okd-configuration/components/ntp/ntp.yaml
Due: overlay-test

chore(isp): update
  README.md
  kubernetes/blackbox-exporter/base/configmap.yaml
  kubernetes/blackbox-exporter/base/deployment.yaml
  kubernetes/blackbox-exporter/base/kustomization.yaml
  kubernetes/blackbox-exporter/base/network-policy.yaml
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/blackbox-exporter/overlays/okd/egress-firewall.yaml
  kubernetes/uptime-kuma/components/openshift/egress-firewall.yaml
Due: overlay-test

chore(isp): update (#462)
  README.md
  kubernetes/blackbox-exporter/base/configmap.yaml
  kubernetes/blackbox-exporter/base/deployment.yaml
  kubernetes/blackbox-exporter/base/kustomization.yaml
  kubernetes/blackbox-exporter/base/network-policy.yaml
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/blackbox-exporter/overlays/okd/egress-firewall.yaml
  kubernetes/uptime-kuma/components/openshift/egress-firewall.yaml
Due: overlay-test

chore(dns-ntp): remove nads
  kubernetes/kube-vip/overlays/microshift/kustomization.yaml
  kubernetes/technitium-dns/overlays/microshift/service.yaml
Due: overlay-test

feat(cnpg): monitoring
  kubernetes/cloudnative-pg/base/kustomization.yaml
  kubernetes/cloudnative-pg/base/prometheus-rule.yaml
  kubernetes/cloudnative-pg/base/service-monitor.yaml
  kubernetes/quay/components/cnpg-clair/cluster.yaml
  kubernetes/stackrox-central/components/cnpg/cluster.yaml
Due: overlay-test

feat(cnpg): monitoring and alerting (#463)
  kubernetes/cloudnative-pg/base/kustomization.yaml
  kubernetes/cloudnative-pg/base/prometheus-rule.yaml
  kubernetes/cloudnative-pg/base/service-monitor.yaml
  kubernetes/quay/components/cnpg-clair/cluster.yaml
  kubernetes/stackrox-central/components/cnpg/cluster.yaml
Due: overlay-test

chore(okd): 4.22.0-okd-scos.ec.9
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

chore(dns-ntp): remove nads (#461)
  kubernetes/nmstate/overlays/microshift/network/dns.yaml
  kubernetes/nmstate/overlays/microshift/network/nodeNetworkConfigurationPolicy.yaml
  kubernetes/nmstate/overlays/okd/network/dns.yaml
  kubernetes/ntp/components/rootless/deployment.yaml
  kubernetes/ntp/overlays/microshift/service.yaml
  kubernetes/ntp/overlays/okd/dns.yaml
  kubernetes/ntp/overlays/okd/kustomization.yaml
  kubernetes/ntp/overlays/okd/network-policy.yaml
  kubernetes/ntp/overlays/okd/service.yaml
  kubernetes/technitium-dns/overlays/okd/service.yaml
  okd/okd-configuration/components/ntp/ntp.bu
  okd/okd-configuration/components/ntp/ntp.yaml
Due: overlay-test

chore(okd): 4.22.0-okd-scos.ec.9 (#464)
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/nmstate/overlays/sandbox/network/dns.yaml
  kubernetes/ntp/overlays/microshift/kustomization.yaml
  kubernetes/ntp/overlays/okd/metrics/services.yaml
  kubernetes/openshift-logging/base/subscription.yaml
  kubernetes/openshift-servicemesh/base/subscription.yaml
  kubernetes/pihole/overlays/microshift/kustomization.yaml
  kubernetes/pihole/overlays/okd/egress-firewall.yaml
  kubernetes/pihole/overlays/okd/network-policy.yaml
  kubernetes/technitium-dns/components/technitium-dns/statefulset.yaml
  kubernetes/technitium-dns/overlays/microshift/kustomization.yaml
  kubernetes/technitium-dns/overlays/microshift/service.yaml
  kubernetes/technitium-dns/overlays/okd/dns.yaml
  kubernetes/vertical-pod-autoscaler/base/subscription.yaml
  okd/node-config/gpu-1.yaml
  okd/node-config/worker-1.yaml
  okd/node-config/worker-2.yaml
  okd/node-config/worker-3.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
  sandbox/kubevirt/okd/configs/agent-config.yaml
Due: ansible, overlay-test, toolbox-image

chore(deps): update terraform libvirt to v0.9.4
  terraform/agent/main.tf
  terraform/sandbox/bootstrap/main.tf
  terraform/sandbox/cluster/main.tf
  terraform/sandbox/workers/main.tf
Due: terraform-apply, terraform

chore(deps): update go modules
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply, terraform

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(deps): update terraform google to v7.23.0
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update terraform vault to v5.8.0
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update terraform zitadel to v2.10.0
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(okd): 4.22.0-okd-scos.ec.9 (#464)
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/gitea/base/pdb.yaml
  kubernetes/grafana/base/pdb.yaml
  kubernetes/kube-descheduler/base/subscription.yaml
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/netbox/base/pdb.yaml
  kubernetes/network-observability/base/namespace.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/pdb.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/nmstate/overlays/sandbox/network/dns.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/ntp/overlays/microshift/kustomization.yaml
  kubernetes/ntp/overlays/okd/metrics/services.yaml
  kubernetes/openshift-logging/base/subscription.yaml
  kubernetes/openshift-servicemesh/base/subscription.yaml
  kubernetes/pihole/overlays/microshift/kustomization.yaml
  kubernetes/pihole/overlays/okd/egress-firewall.yaml
  kubernetes/pihole/overlays/okd/network-policy.yaml
  kubernetes/technitium-dns/components/technitium-dns/statefulset.yaml
  kubernetes/technitium-dns/overlays/microshift/kustomization.yaml
  kubernetes/technitium-dns/overlays/microshift/service.yaml
  kubernetes/technitium-dns/overlays/okd/dns.yaml
  kubernetes/vertical-pod-autoscaler/base/subscription.yaml
  kubernetes/zitadel/base/pdb.yaml
  okd/node-config/gpu-1.yaml
  okd/node-config/worker-1.yaml
  okd/node-config/worker-2.yaml
  okd/node-config/worker-3.yaml
  okd/okd-configuration/base/operators-redhat.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
  sandbox/kubevirt/okd/configs/agent-config.yaml
Due: ansible, overlay-test, toolbox-image

fix(renovate): configs
  kubernetes/renovate/base/config.json
  renovate.json
Due: overlay-test

fix(renovate): configs (#466)
  kubernetes/renovate/base/config.json
  renovate.json
Due: overlay-test

chore(deps): update pre-commit hooks (#468)
  .pre-commit-config.yaml
Due: none

chore(deps): update go modules (#467)
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply, terraform

feat(renovate): switch to github app
  containers/toolbox/containerfile
  kubernetes/renovate/README.md
  kubernetes/renovate/base/config.json
  kubernetes/renovate/base/cronjob.yaml
  kubernetes/renovate/base/secret.yaml
Due: overlay-test, toolbox-image

feat(renovate): switch to github app (#469)
  containers/toolbox/containerfile
  kubernetes/renovate/README.md
  kubernetes/renovate/base/config.json
  kubernetes/renovate/base/cronjob.yaml
  kubernetes/renovate/base/secret.yaml
Due: overlay-test, toolbox-image

fix(renovate): config
  renovate.json
Due: none

fix(pdb): configs
  kubernetes/gitea/overlays/sno/kustomization.yaml
  kubernetes/grafana/overlays/sno/kustomization.yaml
  kubernetes/zitadel/overlays/sno/kustomization.yaml
Due: overlay-test

feat(docker): registry
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/microshift/registry.yaml
  kubernetes/argocd/applications/registry.yaml
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/registry/base/deployment.yaml
  kubernetes/registry/base/kustomization.yaml
  kubernetes/registry/base/limit-range.yaml
  kubernetes/registry/base/namespace.yaml
  kubernetes/registry/base/network-policy.yaml
  kubernetes/registry/base/pvc.yaml
  kubernetes/registry/base/service-account.yaml
  kubernetes/registry/base/service.yaml
  kubernetes/registry/overlays/microshift/certificate.yaml
  kubernetes/registry/overlays/microshift/ingress.yaml
  kubernetes/registry/overlays/microshift/kustomization.yaml
  kubernetes/registry/overlays/okd/dns.yaml
  kubernetes/registry/overlays/okd/kustomization.yaml
  okd/okd-configuration/base/registries.yaml
  okd/okd-configuration/components/gateway-external/network-policy.yaml
  okd/okd-configuration/components/gateway-external/wiretap/wasm-plugin.yaml
  okd/okd-configuration/components/gateway/wiretap/wasm-plugin.yaml
Due: overlay-test

feat(docker-registry): incept (#476)
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/microshift/registry.yaml
  kubernetes/argocd/applications/registry.yaml
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/registry/base/deployment.yaml
  kubernetes/registry/base/kustomization.yaml
  kubernetes/registry/base/limit-range.yaml
  kubernetes/registry/base/namespace.yaml
  kubernetes/registry/base/network-policy.yaml
  kubernetes/registry/base/pvc.yaml
  kubernetes/registry/base/service-account.yaml
  kubernetes/registry/base/service.yaml
  kubernetes/registry/overlays/microshift/certificate.yaml
  kubernetes/registry/overlays/microshift/ingress.yaml
  kubernetes/registry/overlays/microshift/kustomization.yaml
  kubernetes/registry/overlays/okd/dns.yaml
  kubernetes/registry/overlays/okd/kustomization.yaml
  okd/okd-configuration/base/registries.yaml
  okd/okd-configuration/components/gateway-external/network-policy.yaml
  okd/okd-configuration/components/gateway-external/wiretap/wasm-plugin.yaml
  okd/okd-configuration/components/gateway/wiretap/wasm-plugin.yaml
Due: overlay-test

fix(technitium-dns): pvc size
  kubernetes/argocd/base/dragonfly/dragonfly.yaml
  kubernetes/argocd/base/vpa.yaml
  kubernetes/technitium-dns/components/technitium-dns/pvc.yaml
Due: overlay-test

fix(microshift): dns bootstrap fix
  kubernetes/nmstate/overlays/microshift/network/dns.yaml
Due: overlay-test

fix(microshift): dns bootstrap fix
  kubernetes/argocd/base/dragonfly/dragonfly.yaml
  kubernetes/argocd/base/vpa.yaml
  kubernetes/kyverno/base/deployments.yaml
  kubernetes/nmstate/overlays/microshift/network/dns.yaml
Due: overlay-test

fix(vault): rbac
  kubernetes/vault/README.md
  kubernetes/vault/base/kustomization.yaml
  kubernetes/vault/base/rbac.yaml
  okd/okd-configuration/components/gateway/kyverno.yaml
Due: overlay-test

docs(changelog): update
  CHANGELOG.md
  README.md
Due: none

docs(changelog): update (#479)
  CHANGELOG.md
  README.md
Due: none

fix(velero): sc mutation
  kubernetes/velero/overlays/okd/kustomization.yaml
Due: overlay-test

fix(descheduler): tweaks
  kubernetes/kube-descheduler/base/descheduler.yaml
Due: overlay-test

fix(vault): ca updates
  kubernetes/vault/README.md
Due: overlay-test

fix(homeassistant): move influxdb config to gui
  kubernetes/homeassistant/config/configuration.yaml
Due: overlay-test

chore(clair): db tuning
  kubernetes/quay/components/cnpg-clair/cluster.yaml
Due: overlay-test

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile
