Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile

feat(homeassistant): force controlplane
  kubernetes/homeassistant/base/statefulset.yaml
Due: overlay-test

fix(wasm): updates
  okd/okd-configuration/components/gateway-external/kustomization.yaml
  okd/okd-configuration/components/gateway-external/kyverno.yaml
  okd/okd-configuration/components/gateway-external/wasm.yaml
  okd/okd-configuration/components/gateway/wasm.yaml
Due: overlay-test

fix(k8s-deploy): server side force conflicts
  tekton/tasks/k8s-deploy/0.3.0/k8s-deploy.yaml
Due: overlay-test

feat(scafctl): incept
  .scafctl/solution.yaml
  .scafctl/templates/argocd/applications/application.yaml
  tekton/base/overlay-test.yaml
Due: overlay-test

feat(scafctl): incept
  .scafctl/solution.yaml
  .scafctl/templates/argocd/applications/application.yaml
Due: none

feat(vpa): incept
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/vertical-pod-autoscaler.yaml
  kubernetes/vertical-pod-autoscaler/README.md
  kubernetes/vertical-pod-autoscaler/base/installplan-approver.yaml
  kubernetes/vertical-pod-autoscaler/base/kustomization.yaml
  kubernetes/vertical-pod-autoscaler/base/limit-range.yaml
  kubernetes/vertical-pod-autoscaler/base/namespace.yaml
  kubernetes/vertical-pod-autoscaler/base/network-policy.yaml
  kubernetes/vertical-pod-autoscaler/base/operator-group.yaml
  kubernetes/vertical-pod-autoscaler/base/subscription.yaml
  kubernetes/vertical-pod-autoscaler/base/vpa.yaml
  kubernetes/vertical-pod-autoscaler/overlays/okd/egress-firewall.yaml
  kubernetes/vertical-pod-autoscaler/overlays/okd/kustomization.yaml
Due: overlay-test

feat(vpa): overlays update
  kubernetes/bitwarden/base/kustomization.yaml
  kubernetes/bitwarden/base/statefulset.yaml
  kubernetes/bitwarden/base/vpa.yaml
  kubernetes/blackbox-exporter/base/deployment.yaml
  kubernetes/blackbox-exporter/base/kustomization.yaml
  kubernetes/blackbox-exporter/base/vpa.yaml
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/bmc-shim/base/kustomization.yaml
  kubernetes/bmc-shim/base/vpa.yaml
  kubernetes/cert-manager/components/trust-manager/deployment.yaml
  kubernetes/cert-manager/components/yaml/deployment.yaml
  kubernetes/cert-manager/overlays/okd/kustomization.yaml
  kubernetes/cert-manager/overlays/okd/vpa.yaml
  kubernetes/vertical-pod-autoscaler/base/vpa.yaml
Due: overlay-test

feat(vpa): overlays update
  kubernetes/ceph/base/csi/deployment.yaml
  kubernetes/ceph/base/csi/kustomization.yaml
  kubernetes/ceph/base/csi/vpa.yaml
  kubernetes/ceph/base/kustomization.yaml
  kubernetes/ceph/base/toolbox.yaml
  kubernetes/ceph/base/vpa.yaml
Due: overlay-test

feat(vpa): overlays update
  kubernetes/ceph/base/csi/vpa.yaml
  kubernetes/ceph/base/vpa.yaml
  okd/okd-configuration/overlays/okd/kustomization.yaml
  okd/okd-configuration/overlays/okd/vpa.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/kustomization.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/vpa.yaml
Due: overlay-test

feat(vpa): overlays update
  kubernetes/gitea/base/kustomization.yaml
  kubernetes/gitea/base/postgres/vpa.yaml
  kubernetes/grafana/base/postgres/kustomization.yaml
  kubernetes/grafana/base/postgres/vpa.yaml
  kubernetes/homeassistant/base/postgres/kustomization.yaml
  kubernetes/homeassistant/base/postgres/vpa.yaml
  kubernetes/immich/base/postgres/kustomization.yaml
  kubernetes/immich/base/postgres/vpa.yaml
  kubernetes/netbox/base/postgres/kustomization.yaml
  kubernetes/netbox/base/postgres/vpa.yaml
  kubernetes/network-observability/base/object-bucket-claim.yaml
  kubernetes/nextcloud-fpm/components/postgres/kustomization.yaml
  kubernetes/nextcloud-fpm/components/postgres/vpa.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/postgres/overlays/okd/vpa.yaml
  kubernetes/quay/base/postgres/clair/kustomization.yaml
  kubernetes/quay/base/postgres/clair/vpa.yaml
  kubernetes/quay/base/postgres/quay/kustomization.yaml
  kubernetes/quay/base/postgres/quay/vpa.yaml
  kubernetes/stackrox-central/base/postgres/kustomization.yaml
  kubernetes/stackrox-central/base/postgres/vpa.yaml
  kubernetes/zitadel/base/postgres/kustomization.yaml
  kubernetes/zitadel/base/postgres/vpa.yaml
Due: overlay-test

feat(vpa): overlays update
  kubernetes/network-observability/base/object-bucket-claim.yaml
  kubernetes/openshift-logging/base/object-bucket-claim.yaml
Due: overlay-test

feat(ocp): upgrade to 4.22
  README.md
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

feat(ocp): upgrade to 4.22 (#429)
  README.md
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

feat(ocp): upgrade to 4.22
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/apps/argocd-apps.yaml
  kubernetes/argocd/base/argocd.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/nvidia-gpu-operator/base/subscription.yaml
  kubernetes/observability-operator/base/catalogSource.yaml
  kubernetes/observability-operator/base/kustomization.yaml
  kubernetes/openshift-power-monitoring/base/subscription.yaml
  kubernetes/vertical-pod-autoscaler/base/subscription.yaml
  okd/okd-configuration/base/operator-hub.yaml
  okd/okd-configuration/base/operators-redhat.yaml
Due: overlay-test

chore(cert): type fix
  kubernetes/bitwarden/base/certificate.yaml
  kubernetes/cert-manager/components/trust-manager/certificate.yaml
  kubernetes/gitea/base/certificate.yaml
  kubernetes/homeassistant/base/certificate.yaml
  kubernetes/kfca/overlays/microshift/certificate.yaml
  kubernetes/minio/base/certificate.yaml
  kubernetes/pihole/overlays/microshift/certificate.yaml
  kubernetes/quay/base/certificate.yaml
  kubernetes/stackrox-central/base/certificate.yaml
  kubernetes/traefik/overlays/k3s/wildcard-certificate.yaml
  kubernetes/uptime-kuma/components/ingress/certificate.yaml
  kubernetes/vault/components/singleton/certificate.yaml
  kubernetes/zitadel/base/certificate.yaml
  tekton/base/certificate.yaml
Due: overlay-test

feat(gateway): re-encrypt
  kubernetes/bitwarden/components/openshift/ingress.yaml
  kubernetes/bitwarden/components/openshift/kustomization.yaml
  kubernetes/bitwarden/components/openshift/probe.yaml
  kubernetes/ceph/base/gateway/http-route.yaml
  kubernetes/ceph/overlays/sandbox/kustomization.yaml
  okd/okd-configuration/components/gateway/certificate.yaml
  terraform/homelab/zitadel_ceph.tf
Due: overlay-test, terraform-apply, terraform

feat(gateway): re-encrypt
  kubernetes/ceph/base/ceph-cluster.yaml
  kubernetes/ceph/base/gateway/certificate-job.yaml
Due: overlay-test

chore(nextcloud): more storage
  kubernetes/nextcloud-fpm/components/nextcloud/object-bucket-claim.yaml
Due: overlay-test

chore(deps): update pre-commit hook bridgecrewio/checkov to v3.2.501
  .pre-commit-config.yaml
Due: none

chore(deps): update go modules
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply, terraform

chore(deps): update terraform google to v7.19.0
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update terraform vault to v5.7.0
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update terraform google to v7.19.0 (#433)
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update pre-commit hook bridgecrewio/checkov to v3.2.501 (#431)
  .pre-commit-config.yaml
Due: none

chore(deps): update terraform vault to v5.7.0 (#424)
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update go modules (#432)
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply, terraform

chore(okd): upgrade 4.22.0-okd-scos.ec.5
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

chore(probes): more endpoints to monitor
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/kfca/overlays/okd/ingress.yaml
  kubernetes/minio/base/ingress.yaml
  kubernetes/minio/components/ssd/ingress.yaml
  kubernetes/minio/overlays/okd-unas/gateway/probe.yaml
Due: overlay-test

feat(external-dns-unifi): incept
  kubernetes/argocd/applications/external-dns.yaml
  kubernetes/external-dns/base/network-policy.yaml
  kubernetes/external-dns/components/openshift/egress-firewall.yaml
  kubernetes/external-dns/components/unifi/deployment.yaml
  kubernetes/external-dns/components/unifi/kustomization.yaml
  kubernetes/external-dns/components/unifi/pdb.yaml
  kubernetes/external-dns/components/unifi/secret.yaml
  kubernetes/external-dns/components/unifi/service.yaml
  kubernetes/external-dns/components/unifi/vpa.yaml
  kubernetes/external-dns/components/unifi/webhook-deployment.yaml
  kubernetes/external-dns/components/unifi/webhook-pdb.yaml
  kubernetes/external-dns/components/unifi/webhook-vpa.yaml
  kubernetes/external-dns/overlays/okd/kustomization.yaml
Due: overlay-test

feat(external-dns-unifi): incept (#436)
  kubernetes/argocd/applications/external-dns.yaml
  kubernetes/external-dns/base/network-policy.yaml
  kubernetes/external-dns/components/openshift/egress-firewall.yaml
  kubernetes/external-dns/components/unifi/deployment.yaml
  kubernetes/external-dns/components/unifi/kustomization.yaml
  kubernetes/external-dns/components/unifi/pdb.yaml
  kubernetes/external-dns/components/unifi/secret.yaml
  kubernetes/external-dns/components/unifi/service.yaml
  kubernetes/external-dns/components/unifi/vpa.yaml
  kubernetes/external-dns/components/unifi/webhook-deployment.yaml
  kubernetes/external-dns/components/unifi/webhook-pdb.yaml
  kubernetes/external-dns/components/unifi/webhook-vpa.yaml
  kubernetes/external-dns/overlays/okd/kustomization.yaml
Due: overlay-test
