Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

ansible:
  params:
  - name: playbooks
    value: servers,microshift
  - name: dry_run
    value: 'false'
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
  ...

apache-php-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/apache-php/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/apache-php:latest
  pipelineSpec:
    params:
    - name: git-url
  ...

overlay-test:
  params:
  - name: playbooks
    value: servers
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-pr-number
    value: '{{ pull_request_number }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
  ...

terraform-apply:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    workspaces:
    - name: data
    - name: git_auth_secret
  ...

terraform:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: event
    value: '{{ event_type }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    - name: event
  ...

toolbox-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/toolbox/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/toolbox:not_latest
  pipelineSpec:
    params:
    - name: git-url
  ...

chore(llm): updates
  .tekton/gpu-driver.yaml
  containers/toolbox/containerfile
  kubernetes/nvidia-gpu-operator/README.md
  kubernetes/nvidia-gpu-operator/base/cluster-policy.yaml
  kubernetes/ollama/base/deployment.yaml
  kubernetes/ollama/base/network-policy.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test, toolbox-image

feat(toolbox): multi-layer
  containers/toolbox/containerfile
Due: toolbox-image

feat(toolbox): multi-layer (#581)
  containers/toolbox/containerfile
Due: toolbox-image

feat(gitops-ci): incept
  .tekton/gitops-ci.yaml
  .tekton/overlay-test.yaml
  containers/toolbox/containerfile
  kubernetes/renovate/base/config.json
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
  tekton/base/gitops-ci.yaml
  tekton/base/kustomization.yaml
  tekton/base/overlay-test.yaml
Due: ansible, overlay-test, toolbox-image

feat(gitops-ci): incept (#582)
  .tekton/gitops-ci.yaml
  .tekton/overlay-test.yaml
  containers/toolbox/containerfile
  kubernetes/renovate/base/config.json
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
  tekton/base/gitops-ci.yaml
  tekton/base/kustomization.yaml
  tekton/base/overlay-test.yaml
Due: ansible, overlay-test, toolbox-image

fix(ci): update
  .tekton/gitops-ci.yaml
  containers/toolbox/containerfile
  kubernetes/renovate/base/cronjob.yaml
  opencode.json
Due: overlay-test, toolbox-image

fix(clair-action): cronjob resources
  tekton/base/clair-action/cronjob-update.yaml
Due: overlay-test

fix(clair-action): cronjob resources (#584)
  tekton/base/clair-action/cronjob-update.yaml
Due: overlay-test

chore(operator): upgrade
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/vertical-pod-autoscaler/base/subscription.yaml
  kubernetes/victoria-metrics/base/subscription.yaml
Due: overlay-test

chore(argcd): openshift-authentication secret removal
  okd/okd-configuration/components/auth/kustomization.yaml
Due: overlay-test

fix(okd): folder ci fixes
  AGENTS.md
  SKILL.md
  okd/gateway/components/coraza/engine/internal/kustomization.yaml
  okd/gateway/components/coraza/rules/owasp-crs/kustomization.yaml
  okd/gateway/components/gateway/external/authorization-policy.yaml
  okd/gateway/components/gateway/external/certificate.yaml
  okd/gateway/components/gateway/internal/certificate.yaml
  okd/gateway/components/wiretap/instance/v0.0.0/service-entry.yaml
  okd/okd-configuration/components/auth/kustomization.yaml
  okd/okd-configuration/components/certificates/api-certificate.yaml
  okd/okd-configuration/components/certificates/ingress-certificate.yaml
  okd/okd-configuration/overlays/okd/kyverno.yaml
  okd/okd-configuration/overlays/sandbox/kustomization.yaml
  okd/ovn.yaml
  okd/test.sh
  tekton/base/gitops-ci.yaml
Due: overlay-test

fix(toolbox): kustomize missing
  containers/toolbox/containerfile
  renovate.json
  tekton/base/gitops-ci.yaml
Due: overlay-test, toolbox-image

fix(okd): folder ci fixes (#585)
  AGENTS.md
  SKILL.md
  containers/toolbox/containerfile
  okd/gateway/components/coraza/engine/internal/kustomization.yaml
  okd/gateway/components/coraza/rules/owasp-crs/kustomization.yaml
  okd/gateway/components/gateway/external/authorization-policy.yaml
  okd/gateway/components/gateway/external/certificate.yaml
  okd/gateway/components/gateway/internal/certificate.yaml
  okd/gateway/components/wiretap/instance/v0.0.0/service-entry.yaml
  okd/okd-configuration/components/auth/kustomization.yaml
  okd/okd-configuration/components/certificates/api-certificate.yaml
  okd/okd-configuration/components/certificates/ingress-certificate.yaml
  okd/okd-configuration/overlays/okd/kyverno.yaml
  okd/okd-configuration/overlays/sandbox/kustomization.yaml
  okd/ovn.yaml
  okd/test.sh
  renovate.json
  tekton/base/gitops-ci.yaml
Due: overlay-test, toolbox-image

fix(toolbox): k8s-gitops-ci versioned tags
  containers/toolbox/containerfile
Due: toolbox-image

chore(operator): upgrade
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/vertical-pod-autoscaler/base/subscription.yaml
  kubernetes/victoria-metrics/base/subscription.yaml
  tekton/base/gitops-ci.yaml
Due: overlay-test

chore(tekton): upgrade
  kubernetes/tekton/overlays/operator/operator.yaml
Due: overlay-test

chore(tekton): upgrade
  containers/toolbox/containerfile
  kubernetes/tekton/base/config.yaml
  kubernetes/tekton/overlays/operator/operator.yaml
  tekton/base/clair-action/cronjob-update.yaml
Due: overlay-test, toolbox-image

chore(tekton): upgrade (#586)
  containers/toolbox/containerfile
  kubernetes/tekton/base/config.yaml
  kubernetes/tekton/overlays/operator/operator.yaml
  tekton/base/clair-action/cronjob-update.yaml
Due: overlay-test, toolbox-image

fix(compliance): resolve gitops-ci findings surfaced by renovate bumps
  kubernetes/argocd/base/argocd.yaml
  kubernetes/gitea/base/meilisearch/statefulset.yaml
  kubernetes/grafana/base/deployment.yaml
  kubernetes/homeassistant/base/statefulset.yaml
  kubernetes/ollama/base/deployment.yaml
  kubernetes/vault/components/ha/statefulset.yaml
  kubernetes/vault/components/singleton/statefulset.yaml
Due: overlay-test

fix(okd): resolve gitops-ci resource compliance findings
  okd/gateway/components/coraza/engine/external/engine.yaml
  okd/gateway/components/coraza/engine/internal/engine.yaml
  okd/gateway/components/gateway/internal/coraza/engine.yaml
  okd/okd-configuration/base/operator-hub.yaml
  okd/okd-configuration/base/operators-redhat.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

fix(okd): resolve gitops-ci resource compliance findings (#592)
  okd/gateway/components/coraza/engine/external/engine.yaml
  okd/gateway/components/coraza/engine/internal/engine.yaml
  okd/gateway/components/gateway/internal/coraza/engine.yaml
  okd/okd-configuration/base/operator-hub.yaml
  okd/okd-configuration/base/operators-redhat.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

fix(compliance): repair renovate-mangled coraza image quotes and zitadel podspec defaults
  kubernetes/zitadel/base/deployment.yaml
  kubernetes/zitadel/base/init-job.yaml
  kubernetes/zitadel/base/setup-job.yaml
  okd/gateway/components/coraza/engine/external/engine.yaml
  okd/gateway/components/gateway/internal/coraza/engine.yaml
Due: overlay-test

fix(renovate): github-release
  renovate.json
Due: none

fix(renovate): github-release (#594)
  renovate.json
Due: none

fix(renovate): remove RE2-incompatible negative lookahead
  renovate.json
Due: none

fix(renovate): honor captured datasource over template default
  renovate.json
Due: none

refactor(renovate): move generic customManagers/packageRules to global config
  kubernetes/renovate/base/config.json
  renovate.json
Due: overlay-test

fix(vault): k8s token
  kubernetes/vault/components/ha/statefulset.yaml
Due: overlay-test

fix(renovate): consolidate pypi/npm custom.regex updates into existing groups
  kubernetes/renovate/base/config.json
Due: overlay-test

fix(renovate): fix ansible URL extraction bugs, split ansible from container updates
  kubernetes/renovate/base/config.json
Due: overlay-test

fix(renovate): fix invalid packageRule, duplicate garbage extractions, missing ansible patterns
  kubernetes/renovate/base/config.json
Due: overlay-test

fix(tekton): resolve shellcheck violations in task scripts
  tekton/base/ansible-task.yaml
  tekton/base/clair-action/clair-action-task.yaml
  tekton/base/gitops-ci.yaml
  tekton/tasks/k8s-deploy/0.1.1/k8s-deploy.yaml
  tekton/tasks/k8s-deploy/0.2.0/k8s-deploy.yaml
  tekton/tasks/k8s-deploy/0.3.0/k8s-deploy.yaml
  tekton/tasks/terraform/0.1.0/terraform.yaml
Due: overlay-test

fix(tekton): satisfy resource compliance on modified tasks
  tekton/base/clair-action/clair-action-task.yaml
  tekton/tasks/k8s-deploy/0.1.1/k8s-deploy.yaml
  tekton/tasks/k8s-deploy/0.2.0/k8s-deploy.yaml
  tekton/tasks/k8s-deploy/0.3.0/k8s-deploy.yaml
  tekton/tasks/terraform/0.1.0/terraform.yaml
Due: overlay-test

fix(tekton): resolve shellcheck violations in task scripts (#609)
  tekton/base/ansible-task.yaml
  tekton/base/clair-action/clair-action-task.yaml
  tekton/base/gitops-ci.yaml
  tekton/tasks/k8s-deploy/0.1.1/k8s-deploy.yaml
  tekton/tasks/k8s-deploy/0.2.0/k8s-deploy.yaml
  tekton/tasks/k8s-deploy/0.3.0/k8s-deploy.yaml
  tekton/tasks/terraform/0.1.0/terraform.yaml
Due: overlay-test

chore(tekton): clean up unused manifests and add CI flag docs
  .markdownlint.json
  AGENTS.md
  SKILL.md
  tekton/base/certificate.yaml
  tekton/base/clair-action/cronjob-cache.yaml
  tekton/base/clair-action/kustomization.yaml
  tekton/base/pdb.yaml
  tekton/base/pvc.yaml
  tekton/base/repo.yaml
  tekton/base/toolbox.yaml
  tekton/base/triggers/binding.yaml
  tekton/base/triggers/event-listener.yaml
  tekton/base/triggers/route.yaml
  tekton/base/triggers/template.yaml
  tekton/tasks/buildah/0.7.1/buildah.yaml
  tekton/tasks/git-clone/0.9.1/git-clone.yaml
Due: overlay-test

chore(tekton): clean up unused manifests and document CI --assume-openshift (#610)
  .markdownlint.json
  AGENTS.md
  SKILL.md
  tekton/base/certificate.yaml
  tekton/base/clair-action/cronjob-cache.yaml
  tekton/base/clair-action/kustomization.yaml
  tekton/base/pdb.yaml
  tekton/base/pvc.yaml
  tekton/base/repo.yaml
  tekton/base/toolbox.yaml
  tekton/base/triggers/binding.yaml
  tekton/base/triggers/event-listener.yaml
  tekton/base/triggers/route.yaml
  tekton/base/triggers/template.yaml
  tekton/tasks/buildah/0.7.1/buildah.yaml
  tekton/tasks/git-clone/0.9.1/git-clone.yaml
Due: overlay-test

feat(gpu): intel gpu
  kubernetes/argocd/applications/intel-device-plugins.yaml
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/intel-device-plugins/base/gpu-device-plugin.yaml
  kubernetes/intel-device-plugins/base/installplan-approver.yaml
  kubernetes/intel-device-plugins/base/kustomization.yaml
  kubernetes/intel-device-plugins/base/namespace.yaml
  kubernetes/intel-device-plugins/base/operator-group.yaml
  kubernetes/intel-device-plugins/base/subscription.yaml
  kubernetes/intel-device-plugins/overlays/okd/egress-firewall.yaml
  kubernetes/intel-device-plugins/overlays/okd/kustomization.yaml
  kubernetes/node-feature-discovery-operator/base/nfd.yaml
  kubernetes/ollama/overlays/okd-intel/deployment-patch.yaml
  kubernetes/ollama/overlays/okd-intel/egress-firewall.yaml
  kubernetes/ollama/overlays/okd-intel/kustomization.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

feat(gpu): intel gpu
  kubernetes/intel-device-plugins/README.md
  kubernetes/intel-device-plugins/base/gpu-device-plugin.yaml
  kubernetes/node-feature-discovery-operator/base/kustomization.yaml
  kubernetes/node-feature-discovery-operator/base/nfd.yaml
  kubernetes/node-feature-discovery-operator/base/node-feature-rule.yaml
  kubernetes/ollama/components/nvidia/deployment.yaml
  kubernetes/ollama/components/nvidia/kustomization.yaml
  kubernetes/ollama/overlays/okd-intel/deployment-patch.yaml
  kubernetes/ollama/overlays/okd-intel/kustomization.yaml
  kubernetes/ollama/overlays/okd/kustomization.yaml
Due: overlay-test

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile
