Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

ansible:
  params:
  - name: playbooks
    value: servers,microshift
  - name: dry_run
    value: 'false'
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
  ...

apache-php-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/apache-php/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/apache-php:latest
  pipelineSpec:
    params:
    - name: git-url
  ...

overlay-test:
  params:
  - name: playbooks
    value: servers
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-pr-number
    value: '{{ pull_request_number }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
  ...

terraform-apply:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    workspaces:
    - name: data
    - name: git_auth_secret
  ...

terraform:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: event
    value: '{{ event_type }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    - name: event
  ...

toolbox-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/toolbox/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/toolbox:not_latest
  pipelineSpec:
    params:
    - name: git-url
  ...

restore: bring back base/ directory for operator installation configs
  kubernetes/argocd/base/argocd-operator-namespace.yaml
  kubernetes/argocd/base/argocd-operator-operatorgroup.yaml
  kubernetes/argocd/base/argocd.yaml
  kubernetes/argocd/base/cmp-plugin.yaml
  kubernetes/argocd/base/dragonfly/dragonfly.yaml
  kubernetes/argocd/base/dragonfly/network-policy.yaml
  kubernetes/argocd/base/egress-firewall.yaml
  kubernetes/argocd/base/gateway/backend-tls-policy.yaml
  kubernetes/argocd/base/gateway/http-route.yaml
  kubernetes/argocd/base/gateway/kustomization.yaml
  kubernetes/argocd/base/gateway/probe.yaml
  kubernetes/argocd/base/gitopsservice.yaml
  kubernetes/argocd/base/installplan-approver.yaml
  kubernetes/argocd/base/k3s-cluster.yaml
  kubernetes/argocd/base/kustomization.yaml
  kubernetes/argocd/base/limit-range.yaml
  kubernetes/argocd/base/microshift/creds.yaml
  kubernetes/argocd/base/microshift/cronjob.yaml
  kubernetes/argocd/base/microshift/kustomization.yaml
  kubernetes/argocd/base/microshift/rbac.yaml
  kubernetes/argocd/base/namespace.yaml
  kubernetes/argocd/base/network-policy.yaml
  kubernetes/argocd/base/notifications/network-policy.yaml
  kubernetes/argocd/base/notifications/notificationsConfiguration.yaml
  kubernetes/argocd/base/notifications/secret.yaml
  kubernetes/argocd/base/rbac.yaml
  kubernetes/argocd/base/repository.yaml
  kubernetes/argocd/base/rules.yaml
  kubernetes/argocd/base/secret.yaml
  kubernetes/argocd/base/service-monitor.yaml
  kubernetes/argocd/base/subscription.yaml
  kubernetes/argocd/base/vpa.yaml
Due: overlay-test

restore: bring back overlays/ directory for cluster-specific configurations
  kubernetes/argocd/overlays/okd/kustomization.yaml
Due: overlay-test

fix: resolve kustomization API version and remove duplicate resources
  kubernetes/argocd/base/namespace.yaml
  kubernetes/argocd/components/apps/kustomization.yaml
  kubernetes/argocd/components/argocd/cronjob.yaml
  kubernetes/argocd/components/argocd/dragonfly/kustomization.yaml
  kubernetes/argocd/components/argocd/gateway/kustomization.yaml
  kubernetes/argocd/components/argocd/kustomization.yaml
  kubernetes/argocd/components/argocd/microshift/creds.yaml
  kubernetes/argocd/components/argocd/microshift/kustomization.yaml
  kubernetes/argocd/components/argocd/microshift/rbac.yaml
  kubernetes/argocd/components/argocd/network-policy.yaml
  kubernetes/argocd/components/argocd/notifications/kustomization.yaml
  kubernetes/argocd/components/argocd/notificationsConfiguration.yaml
  kubernetes/argocd/components/argocd/secret.yaml
Due: overlay-test

fix: add resourceInclusion for pipelines.openshift.io/GitopsService
  kubernetes/argocd/components/argocd/argocd.yaml
Due: overlay-test

feat: add HPA/PDB for argocd namespace components
  kubernetes/argocd/components/argocd/hpa.yaml
  kubernetes/argocd/components/argocd/kustomization.yaml
  kubernetes/argocd/components/argocd/pdb.yaml
Due: overlay-test

fix: restore commented-out applications and move comments to top
  kubernetes/argocd/components/applications/microshift/kustomization.yaml
  kubernetes/argocd/components/applications/okd/kustomization.yaml
Due: overlay-test

fix(argocd): restore rbac.yaml and secret.yaml, un-comment metallb
  kubernetes/argocd/components/applications/microshift/kustomization.yaml
  kubernetes/argocd/components/applications/okd/kustomization.yaml
  kubernetes/argocd/components/argocd/kustomization.yaml
  kubernetes/argocd/components/argocd/rbac.yaml
  kubernetes/argocd/components/argocd/secret.yaml
Due: overlay-test

fix(argocd): restore deleted network policies in base/network-policy.yaml
  kubernetes/argocd/base/network-policy.yaml
Due: overlay-test

fix(argocd): update PDB selectors for label changes, remove singleton PDBs
  kubernetes/argocd/components/apps/kustomization.yaml
  kubernetes/argocd/components/apps/pdb.yaml
  kubernetes/argocd/components/openshift-gitops/hpa.yaml
  kubernetes/argocd/components/openshift-gitops/kustomization.yaml
  kubernetes/argocd/components/openshift-gitops/network-policy.yaml
  kubernetes/argocd/components/openshift-gitops/pdb.yaml
Due: overlay-test

fix(network-policies): add deny-all, remove dead monitoring rules, fix podSelectors
  kubernetes/argocd/base/network-policy.yaml
  kubernetes/argocd/components/openshift-gitops/network-policy.yaml
Due: overlay-test

fix(argocd-operator): restore monitoring policy with correct port 8443
  kubernetes/argocd/base/network-policy.yaml
Due: overlay-test

chore(argocd): migrate operator from argocd-operator to openshift-gitops-operator namespace
  kubernetes/argocd/base/egress-firewall.yaml
  kubernetes/argocd/base/installplan-approver.yaml
  kubernetes/argocd/base/namespace.yaml
  kubernetes/argocd/base/network-policy.yaml
  kubernetes/argocd/base/operator-vpa.yaml
  kubernetes/argocd/base/operatorgroup.yaml
  kubernetes/argocd/base/subscription.yaml
  kubernetes/argocd/components/applications/k3s/kustomization.yaml
  kubernetes/argocd/components/applications/kustomization.yaml
  kubernetes/argocd/components/applications/microshift/kustomization.yaml
  kubernetes/argocd/components/argocd/hpa.yaml
  kubernetes/argocd/components/argocd/kustomization.yaml
  kubernetes/argocd/components/argocd/vpa.yaml
  kubernetes/argocd/components/openshift-gitops/gitopsservice.yaml
Due: overlay-test

fix(argocd): move webhook ingress rule to openshift-gitops-operator ns
  kubernetes/argocd/base/network-policy.yaml
  kubernetes/argocd/components/openshift-gitops/network-policy.yaml
Due: overlay-test

fix(argocd): use kubernetes.io/metadata.name for namespace selectors
  kubernetes/argocd/base/network-policy.yaml
Due: overlay-test

fix: make pg_dump sequential, add fault-tolerant uploads, fix mc curl, disable spend logs prompts
  containers/toolbox/containerfile
  kubernetes/argocd/components/apps/argocd-apps.yaml
  kubernetes/cloudnative-pg/components/pg_dump/secret.yaml
  kubernetes/llm/components/litellm/litellm.yaml
Due: overlay-test, toolbox-image

fix: replace mc with rclone for pg_dump uploads and fix PGDG repo vars
  containers/toolbox/containerfile
  kubernetes/argocd/components/apps/argocd-apps.yaml
  kubernetes/cloudnative-pg/components/pg_dump/secret.yaml
  kubernetes/dragonfly-operator/base/kustomization.yaml
  kubernetes/dragonfly-operator/base/rbac-admin.yaml
  okd/openshift-monitoring/base/kustomization.yaml
  okd/openshift-monitoring/base/rbac-admin.yaml
Due: overlay-test, toolbox-image

fix: pg_dump sequential, fault-tolerant uploads, disable spend logs prompts (#752)
  containers/toolbox/containerfile
  kubernetes/argocd/components/apps/argocd-apps.yaml
  kubernetes/cloudnative-pg/components/pg_dump/secret.yaml
  kubernetes/dragonfly-operator/base/kustomization.yaml
  kubernetes/dragonfly-operator/base/rbac-admin.yaml
  kubernetes/llm/components/litellm/litellm.yaml
  okd/openshift-monitoring/base/kustomization.yaml
  okd/openshift-monitoring/base/rbac-admin.yaml
Due: overlay-test, toolbox-image

feat(opencode): migrate configs to v2 schema
  ansible/playbooks/desktop/opencode.yaml
  ansible/playbooks/laptop/opencode.yaml
  ansible/playbooks/vscode-server/opencode.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
  opencode.json
Due: ansible

chore(k8s-gitops-ci): update
  kubernetes/nextcloud-fpm/components/nextcloud/cronjob-cron.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/cronjob-preview.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/deployment.yaml
Due: overlay-test

fix(homeassistant): unprivileged ICMP ping + s6 /run caps
  kubernetes/homeassistant/base/statefulset.yaml
  kubernetes/homeassistant/components/openshift/egress-firewall.yaml
Due: overlay-test

fix(homeassistant): unprivileged ICMP ping + s6 /run caps (#757)
  kubernetes/homeassistant/base/statefulset.yaml
  kubernetes/homeassistant/components/openshift/egress-firewall.yaml
Due: overlay-test

fix(okd-configuration): disable EEE and PCIe power management on Realtek NIC (gpu-1)
  okd/okd-configuration/components/gpu-kernel-args/98-gpu-nic-pm-fix.yaml
  okd/okd-configuration/components/gpu-kernel-args/kustomization.yaml
  okd/okd-configuration/components/gpu-kernel-args/mc.yaml
Due: overlay-test

fix(okd-configuration): fix nesting and unit structure for gpu-nic-pm MachineConfig
  okd/okd-configuration/components/gpu-kernel-args/98-gpu-nic-pm-fix.yaml
  okd/okd-configuration/components/gpu-kernel-args/mc.yaml
Due: overlay-test

fix(okd-configuration): order NIC PM unit before network and make it non-fatal
  okd/okd-configuration/components/gpu-kernel-args/98-gpu-nic-pm-fix.yaml
  okd/okd-configuration/components/gpu-kernel-args/mc.yaml
Due: overlay-test

feat: add herdr config and ansible playbooks for desktop, laptop, and vscode-server
  ansible/desktop.yaml
  ansible/laptop.yaml
  ansible/playbooks/desktop/herdr.yaml
  ansible/playbooks/laptop/herdr.yaml
  ansible/playbooks/vscode-server/herdr.yaml
  ansible/vscode-server.yaml
  machineConfigs/desktop/home/arthur/.config/herdr/config.toml
Due: ansible

feat(openshift-lightspeed): add VPA configs and resource requests/limits for all deployments
  kubernetes/argocd/components/applications/okd/kustomization.yaml
  kubernetes/argocd/components/applications/okd/openshift-lightspeed.yaml
  kubernetes/openshift-lightspeed/base/alerts-adapter-config.yaml
  kubernetes/openshift-lightspeed/base/external-secret-llm.yaml
  kubernetes/openshift-lightspeed/base/installplan-approver.yaml
  kubernetes/openshift-lightspeed/base/kustomization.yaml
  kubernetes/openshift-lightspeed/base/namespace.yaml
  kubernetes/openshift-lightspeed/base/olsconfig.yaml
  kubernetes/openshift-lightspeed/base/operatorgroup.yaml
  kubernetes/openshift-lightspeed/base/subscription.yaml
  kubernetes/openshift-lightspeed/base/vpa/vpa-lightspeed-app-server.yaml
  kubernetes/openshift-lightspeed/base/vpa/vpa-lightspeed-console-plugin.yaml
  kubernetes/openshift-lightspeed/base/vpa/vpa-lightspeed-operator-controller-manager.yaml
  kubernetes/openshift-lightspeed/base/vpa/vpa-lightspeed-otel-collector.yaml
  kubernetes/openshift-lightspeed/base/vpa/vpa-lightspeed-postgres-server.yaml
  kubernetes/openshift-lightspeed/base/vpa/vpa-lightspeed-rhokp.yaml
  kubernetes/openshift-lightspeed/base/vpa/vpa-openshift-mcp-server.yaml
  kubernetes/openshift-lightspeed/overlays/okd/kustomization.yaml
Due: overlay-test

fix(build): add --refresh to microdnf install to resolve stale EPEL rclone package
  containers/toolbox/containerfile
Due: toolbox-image

fix(openshift-lightspeed): add missing CPU limits to api and rhokp deployments
  kubernetes/openshift-lightspeed/base/olsconfig.yaml
  kubernetes/openshift-lightspeed/base/vpa/kustomization.yaml
Due: overlay-test

fix(llm): add network policy to allow openshift-lightspeed to reach litellm
  kubernetes/llm/base/network-policy.yaml
Due: overlay-test

feat: move immich sync job to immich namespace, drop UNAS/NFS dependency
  kubernetes/immich/base/deployment.yaml
  kubernetes/immich/base/kustomization.yaml
  kubernetes/immich/base/pvc.yaml
  kubernetes/immich/components/immich-sync/cronjob.yaml
  kubernetes/immich/components/immich-sync/external-secret.yaml
  kubernetes/immich/components/immich-sync/immich.sh
  kubernetes/immich/components/immich-sync/kustomization.yaml
  kubernetes/immich/components/immich-sync/network-policy.yaml
  kubernetes/nextcloud-fpm/components/immich-sync/immich.sh
  kubernetes/nextcloud-fpm/components/immich-sync/pvc.yaml
  kubernetes/nextcloud-fpm/components/immich-sync/rbac.yaml
  kubernetes/nextcloud-fpm/overlays/okd/kustomization.yaml
  kubernetes/unifi-network-application/components/unas-nfs/kustomization.yaml
  kubernetes/unifi-network-application/components/unas-nfs/shared-58e64326-3679-470c-acc3-3b194d45ea8f.exports
Due: overlay-test

feat: move immich sync job to immich namespace, drop UNAS/NFS dependency (#764)
  kubernetes/argocd/components/applications/okd/kustomization.yaml
  kubernetes/argocd/components/applications/okd/openshift-lightspeed.yaml
  kubernetes/immich/base/deployment.yaml
  kubernetes/immich/base/kustomization.yaml
  kubernetes/immich/base/pvc.yaml
  kubernetes/immich/components/immich-sync/cronjob.yaml
  kubernetes/immich/components/immich-sync/external-secret.yaml
  kubernetes/immich/components/immich-sync/immich.sh
  kubernetes/immich/components/immich-sync/kustomization.yaml
  kubernetes/immich/components/immich-sync/network-policy.yaml
  kubernetes/nextcloud-fpm/components/immich-sync/immich.sh
  kubernetes/nextcloud-fpm/components/immich-sync/pvc.yaml
  kubernetes/nextcloud-fpm/components/immich-sync/rbac.yaml
  kubernetes/nextcloud-fpm/overlays/okd/kustomization.yaml
  kubernetes/openshift-lightspeed/base/alerts-adapter-config.yaml
  kubernetes/openshift-lightspeed/base/external-secret-llm.yaml
  kubernetes/openshift-lightspeed/base/installplan-approver.yaml
  kubernetes/openshift-lightspeed/base/kustomization.yaml
  kubernetes/openshift-lightspeed/base/namespace.yaml
  kubernetes/openshift-lightspeed/base/olsconfig.yaml
  kubernetes/openshift-lightspeed/base/operatorgroup.yaml
  kubernetes/openshift-lightspeed/base/subscription.yaml
  kubernetes/openshift-lightspeed/base/vpa/kustomization.yaml
  kubernetes/openshift-lightspeed/base/vpa/vpa-lightspeed-app-server.yaml
  kubernetes/openshift-lightspeed/base/vpa/vpa-lightspeed-console-plugin.yaml
  kubernetes/openshift-lightspeed/base/vpa/vpa-lightspeed-operator-controller-manager.yaml
  kubernetes/openshift-lightspeed/base/vpa/vpa-lightspeed-otel-collector.yaml
  kubernetes/openshift-lightspeed/base/vpa/vpa-lightspeed-postgres-server.yaml
  kubernetes/openshift-lightspeed/base/vpa/vpa-lightspeed-rhokp.yaml
  kubernetes/openshift-lightspeed/base/vpa/vpa-openshift-mcp-server.yaml
  kubernetes/openshift-lightspeed/overlays/okd/kustomization.yaml
  kubernetes/unifi-network-application/components/unas-nfs/kustomization.yaml
  kubernetes/unifi-network-application/components/unas-nfs/shared-58e64326-3679-470c-acc3-3b194d45ea8f.exports
Due: overlay-test

feat(immich): add Zitadel SSO support, update PVC size, add network policies
  kubernetes/immich/base/network-policy.yaml
  kubernetes/immich/base/pvc.yaml
  terraform/homelab/zitadel_immich.tf
Due: overlay-test, terraform-apply, terraform

fix(terraform): replace custom scheme redirect URI with HTTPS proxy for Zitadel
  terraform/homelab/zitadel_immich.tf
Due: terraform-apply, terraform

feat(immich): add Zitadel SSO support, update PVC size, add network policies (#765)
  kubernetes/immich/base/network-policy.yaml
  kubernetes/immich/base/pvc.yaml
  terraform/homelab/zitadel_immich.tf
Due: overlay-test, terraform-apply, terraform

fix(build): add --refresh to microdnf install for stale EPEL rclone package (#761)
  containers/toolbox/containerfile
Due: toolbox-image

feat(immich): add UNAS SMB sync component for photo library backup
  kubernetes/immich/base/kustomization.yaml
  kubernetes/immich/components/immich-sync/external-secret.yaml
  kubernetes/immich/components/immich-unas-sync/cronjob.yaml
  kubernetes/immich/components/immich-unas-sync/kustomization.yaml
  kubernetes/immich/components/immich-unas-sync/network-policy.yaml
  kubernetes/immich/components/immich-unas-sync/rbac.yaml
  kubernetes/immich/components/immich-unas-sync/unas.sh
Due: overlay-test

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile
