Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile

feat(gpu): intel gpu
  kubernetes/intel-device-plugins/base/gpu-device-plugin.yaml
  kubernetes/ollama/base/deployment.yaml
Due: overlay-test

feat(gpu): intel gpu
  kubernetes/ollama/base/deployment.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

feat(gpu): intel gpu
  kubernetes/argocd/applications/ollama.yaml
  kubernetes/ollama/README.md
  kubernetes/ollama/components/ipex-ollama/deployment.yaml
  kubernetes/ollama/components/ipex-ollama/kustomization.yaml
  kubernetes/ollama/overlays/okd-nvidia/egress-firewall.yaml
  kubernetes/ollama/overlays/okd-nvidia/kustomization.yaml
  kubernetes/ollama/overlays/okd/egress-firewall.yaml
  kubernetes/ollama/overlays/okd/kustomization.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

feat(gpu): intel gpu
  kubernetes/ollama/README.md
  kubernetes/ollama/base/configmap.yaml
  kubernetes/ollama/base/deployment.yaml
  kubernetes/ollama/base/kustomization.yaml
  kubernetes/ollama/base/service.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

feat(gpu): intel gpu
  kubernetes/ollama/base/deployment.yaml
Due: overlay-test

feat(gpu): intel gpu
  .tekton/intel-gpu-monitor.yaml
  .tekton/llama-cpp-vulkan.yaml
  containers/intel-gpu-monitor/containerfile
  containers/llama-cpp-vulkan/containerfile
  kubernetes/argocd/applications/intel-gpu-monitor.yaml
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/intel-gpu-monitor/base/deployment.yaml
  kubernetes/intel-gpu-monitor/base/kustomization.yaml
  kubernetes/intel-gpu-monitor/base/service-account.yaml
  kubernetes/intel-gpu-monitor/overlays/okd/kustomization.yaml
  kubernetes/ollama/README.md
  kubernetes/ollama/base/deployment.yaml
Due: overlay-test

feat(gpu): intel gpu
  tekton/base/gitops-ci.yaml
Due: overlay-test

feat(gpu): intel gpu
  containers/toolbox/containerfile
  kubernetes/ollama/README.md
  kubernetes/ollama/base/configmap.yaml
  kubernetes/ollama/base/deployment.yaml
Due: overlay-test, toolbox-image

feat(gpu): intel gpu
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/llm.yaml
  kubernetes/imagepuller/base/imagepuller.yaml
  kubernetes/intel-device-plugins/README.md
  kubernetes/intel-device-plugins/base/gpu-device-plugin.yaml
  kubernetes/intel-gpu-monitor/base/deployment.yaml
  kubernetes/intel-gpu-monitor/base/service-account.yaml
  kubernetes/llm/README.md
  kubernetes/llm/base/configmap.yaml
  kubernetes/llm/base/deployment.yaml
  kubernetes/llm/base/kustomization.yaml
  kubernetes/llm/base/namespace.yaml
  kubernetes/llm/base/network-policy.yaml
  kubernetes/llm/base/pvc.yaml
  kubernetes/llm/base/service-account.yaml
  kubernetes/llm/base/service.yaml
  kubernetes/llm/overlays/okd/egress-firewall.yaml
  kubernetes/llm/overlays/okd/kustomization.yaml
  kubernetes/node-feature-discovery-operator/base/node-feature-rule.yaml
  kubernetes/ollama/components/ipex-ollama/deployment.yaml
  kubernetes/ollama/components/ipex-ollama/kustomization.yaml
  kubernetes/ollama/components/nvidia/deployment.yaml
  kubernetes/ollama/components/nvidia/kustomization.yaml
  kubernetes/ollama/overlays/okd-nvidia/kustomization.yaml
  kubernetes/ollama/overlays/okd/egress-firewall.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

feat(gpu): intel gpu
  kubernetes/llm/README.md
  kubernetes/llm/base/configmap.yaml
  kubernetes/llm/base/deployment.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

feat(gpu): intel gpu
  kubernetes/bmc-shim/base/configmap.yaml
  kubernetes/intel-device-plugins/base/gpu-device-plugin.yaml
  kubernetes/intel-gpu-monitor/base/deployment.yaml
  kubernetes/llm/base/deployment.yaml
  okd/okd-nodes/README.md
  okd/okd-nodes/base/bmh/gpu-1.yaml
  okd/okd-nodes/base/kustomization.yaml
  okd/okd-nodes/base/machine-set/gpu-1.yaml
Due: overlay-test

feat(gpu): intel gpu
  containers/toolbox/containerfile
  kubernetes/intel-device-plugins/README.md
  kubernetes/intel-device-plugins/base/gpu-device-plugin.yaml
  kubernetes/intel-gpu-monitor/base/deployment.yaml
  kubernetes/llm/base/deployment.yaml
  kubernetes/node-feature-discovery-operator/base/nfd.yaml
  kubernetes/node-feature-discovery-operator/base/node-feature-rule.yaml
Due: overlay-test, toolbox-image

feat(llm): pin llama-cpp-vulkan image with upstream build number and sha256 digest
  .tekton/llama-cpp-vulkan.yaml
  containers/llama-cpp-vulkan/containerfile
  kubernetes/llm/README.md
  kubernetes/llm/base/deployment.yaml
  kubernetes/renovate/base/config.json
Due: overlay-test

feat(gpu): intel gpu
  .tekton/intel-gpu-monitor.yaml
  AGENTS.md
  containers/intel-gpu-monitor/containerfile
  containers/toolbox/containerfile
  kubernetes/argocd/applications/intel-gpu-monitor.yaml
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/grafana/base/dashboards/intel-gpu.json
  kubernetes/grafana/base/kustomization.yaml
  kubernetes/intel-device-plugins/base/gpu-device-plugin.yaml
  kubernetes/intel-device-plugins/base/installplan-approver.yaml
  kubernetes/intel-device-plugins/base/kustomization.yaml
  kubernetes/intel-device-plugins/base/xpumd/configmap.yaml
  kubernetes/intel-device-plugins/base/xpumd/daemonset.yaml
  kubernetes/intel-device-plugins/base/xpumd/resource-claim-template.yaml
  kubernetes/intel-device-plugins/base/xpumd/scc.yaml
  kubernetes/intel-device-plugins/base/xpumd/service-account.yaml
  kubernetes/intel-device-plugins/base/xpumd/service-monitor.yaml
  kubernetes/intel-device-plugins/base/xpumd/service.yaml
  kubernetes/intel-gpu-monitor/base/deployment.yaml
  kubernetes/intel-gpu-monitor/base/kustomization.yaml
  kubernetes/intel-gpu-monitor/base/service-account.yaml
  kubernetes/intel-gpu-monitor/overlays/okd/kustomization.yaml
Due: overlay-test, toolbox-image

fix(llm): write Tekton result without trailing newline and restore pipelineSpec.results
  .tekton/llama-cpp-vulkan.yaml
Due: none

feat(gpu): intel gpu
  .tekton/llama-cpp-vulkan.yaml
  containers/toolbox/containerfile
  kubernetes/llm/base/deployment.yaml
Due: overlay-test, toolbox-image

feat(gpu): intel gpu
  kubernetes/intel-device-plugins/README.md
  kubernetes/intel-device-plugins/base/kustomization.yaml
  kubernetes/intel-device-plugins/base/xpumd/daemonset.yaml
  kubernetes/intel-device-plugins/base/xpumd/resource-claim-template.yaml
  kubernetes/intel-device-plugins/base/xpumd/service-monitor.yaml
  kubernetes/intel-device-plugins/base/xpumd/service.yaml
  kubernetes/intel-device-plugins/values.yaml
Due: overlay-test

feat(gpu): intel gpu
  README.md
  containers/gpu-toolbox/containerfile
  containers/toolbox/containerfile
  kubernetes/grafana/base/dashboards/intel-gpu.json
  kubernetes/grafana/base/service.yaml
  kubernetes/intel-device-plugins/README.md
  kubernetes/intel-device-plugins/base/gpu-device-plugin.yaml
  kubernetes/intel-device-plugins/base/xpumd/configmap.yaml
  kubernetes/intel-device-plugins/base/xpumd/daemonset.yaml
  kubernetes/intel-device-plugins/base/xpumd/scc.yaml
  kubernetes/intel-device-plugins/values.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test, toolbox-image

feat(gpu): intel gpu
  kubernetes/llm/README.md
  kubernetes/llm/base/kustomization.yaml
  kubernetes/llm/base/network-policy.yaml
  kubernetes/llm/components/llama-cpp/configmap.yaml
  kubernetes/llm/components/llama-cpp/deployment.yaml
  kubernetes/llm/components/llama-cpp/kustomization.yaml
  kubernetes/llm/components/llama-cpp/network-policy.yaml
  kubernetes/llm/components/llama-cpp/pvc.yaml
  kubernetes/llm/components/llama-cpp/service-account.yaml
  kubernetes/llm/components/llama-cpp/service.yaml
  kubernetes/llm/components/llama-cpp/vpa.yaml
  kubernetes/llm/components/open-webui/cnpg/cluster.yaml
  kubernetes/llm/components/open-webui/cnpg/kustomization.yaml
  kubernetes/llm/components/open-webui/cnpg/network-policy.yaml
  kubernetes/llm/components/open-webui/cnpg/pod-monitor.yaml
  kubernetes/llm/components/open-webui/deployment.yaml
  kubernetes/llm/components/open-webui/kustomization.yaml
  kubernetes/llm/components/open-webui/network-policy.yaml
  kubernetes/llm/components/open-webui/openshift/gateway/certificate.yaml
  kubernetes/llm/components/open-webui/openshift/gateway/http-route.yaml
  kubernetes/llm/components/open-webui/openshift/gateway/kustomization.yaml
  kubernetes/llm/components/open-webui/openshift/gateway/probe.yaml
  kubernetes/llm/components/open-webui/secret.yaml
  kubernetes/llm/components/open-webui/service-account.yaml
  kubernetes/llm/components/open-webui/service.yaml
  kubernetes/llm/components/open-webui/vpa.yaml
  kubernetes/llm/overlays/okd/egress-firewall.yaml
  kubernetes/llm/overlays/okd/kustomization.yaml
Due: overlay-test

chore(model): tweak
  kubernetes/llm/components/llama-cpp/configmap.yaml
  kubernetes/llm/components/llama-cpp/deployment.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

feat(gpu): intel gpu
  terraform/homelab/zitadel_openwebui.tf
Due: terraform-apply, terraform

chore(model): tweak
  kubernetes/llm/components/llama-cpp/configmap.yaml
Due: overlay-test

feat(gpu): intel gpu
  kubernetes/argocd/base/argocd.yaml
  kubernetes/llm/README.md
  kubernetes/llm/base/namespace.yaml
  kubernetes/llm/components/llama-cpp/configmap.yaml
  kubernetes/llm/components/llama-cpp/deployment.yaml
  kubernetes/llm/components/llama-cpp/kustomization.yaml
  kubernetes/llm/components/llama-cpp/pvc.yaml
  kubernetes/llm/components/llama-cpp/service-monitor.yaml
  kubernetes/llm/components/llama-cpp/service.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
  opencode.json
Due: ansible, overlay-test

fix(llm): remove unmatchable 'app: open-webui' label from dragonfly-open-webui ingress selector
  kubernetes/dragonfly-operator/base/network-policy.yaml
  kubernetes/llm/README.md
  kubernetes/llm/components/cnpg-open-webui/cluster.yaml
  kubernetes/llm/components/cnpg-open-webui/kustomization.yaml
  kubernetes/llm/components/cnpg-open-webui/network-policy.yaml
  kubernetes/llm/components/cnpg-open-webui/pod-monitor.yaml
  kubernetes/llm/components/dragonfly-open-webui/dragonfly.yaml
  kubernetes/llm/components/dragonfly-open-webui/kustomization.yaml
  kubernetes/llm/components/dragonfly-open-webui/network-policy.yaml
  kubernetes/llm/components/open-webui-gateway/certificate.yaml
  kubernetes/llm/components/open-webui-gateway/http-route.yaml
  kubernetes/llm/components/open-webui-gateway/kustomization.yaml
  kubernetes/llm/components/open-webui-gateway/probe.yaml
  kubernetes/llm/components/open-webui/deployment.yaml
  kubernetes/llm/components/open-webui/kustomization.yaml
  kubernetes/llm/components/open-webui/network-policy.yaml
  kubernetes/llm/components/open-webui/pdb.yaml
  kubernetes/llm/components/open-webui/pvc.yaml
  kubernetes/llm/overlays/okd/egress-firewall.yaml
  kubernetes/llm/overlays/okd/kustomization.yaml
  terraform/homelab/zitadel_openwebui.tf
Due: overlay-test, terraform-apply, terraform

feat(gpu): intel gpu
  kubernetes/llm/components/dragonfly-open-webui/network-policy.yaml
Due: overlay-test

fix(llm): remove --sleep-idle-seconds; model stays resident 24/7
  kubernetes/llm/README.md
  kubernetes/llm/components/llama-cpp/configmap.yaml
  kubernetes/llm/components/llama-cpp/deployment.yaml
Due: overlay-test

feat(gpu): intel gpu
  .gitignore
  README.md
  kubernetes/llm/base/network-policy.yaml
  kubernetes/llm/components/dragonfly-open-webui/network-policy.yaml
  kubernetes/llm/components/llama-cpp/vpa.yaml
  kubernetes/llm/components/open-webui/deployment.yaml
  kubernetes/llm/components/open-webui/network-policy.yaml
  kubernetes/llm/components/searxng/deployment.yaml
  kubernetes/llm/components/searxng/kustomization.yaml
  kubernetes/llm/components/searxng/network-policy.yaml
  kubernetes/llm/components/searxng/service.yaml
  kubernetes/llm/components/searxng/settings.yaml
  kubernetes/llm/overlays/okd/kustomization.yaml
  main.bash
Due: overlay-test

feat(gpu): intel gpu
  README.md
  kubernetes/grafana/base/dashboards/intel-gpu.json
  kubernetes/grafana/base/dashboards/llama-cpp.json
  kubernetes/grafana/base/kustomization.yaml
  kubernetes/intel-device-plugins/base/xpumd/configmap.yaml
  kubernetes/llm/README.md
  kubernetes/llm/components/llama-cpp/configmap.yaml
  kubernetes/llm/components/llama-cpp/deployment.yaml
  kubernetes/prometheus/components/prometheus-nas/config-map.yaml
  kubernetes/prometheus/components/prometheus/config-map.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

feat(gpu): intel gpu
  containers/gpu-toolbox/containerfile
  containers/llama-cpp-vulkan/containerfile
  kubernetes/llm/README.md
  kubernetes/llm/components/llama-cpp/deployment.yaml
Due: overlay-test

feat(gpu): intel gpu
  kubernetes/llm/README.md
  kubernetes/llm/components/dragonfly-open-webui/dragonfly.yaml
  kubernetes/llm/components/llama-cpp-embed/deployment.yaml
  kubernetes/llm/components/llama-cpp-embed/kustomization.yaml
  kubernetes/llm/components/llama-cpp-embed/network-policy.yaml
  kubernetes/llm/components/llama-cpp-embed/pvc.yaml
  kubernetes/llm/components/llama-cpp-embed/service-account.yaml
  kubernetes/llm/components/llama-cpp-embed/service.yaml
  kubernetes/llm/components/open-webui/deployment.yaml
  kubernetes/llm/components/open-webui/network-policy.yaml
  kubernetes/llm/components/searxng/deployment.yaml
  kubernetes/llm/overlays/okd/kustomization.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

feat(gpu): intel gpu
  kubernetes/llm/README.md
  kubernetes/llm/components/open-webui/deployment.yaml
Due: overlay-test

ci(docs): document new ci process for agentic flow and remove old functionos from bash script
  AGENTS.md
  README.md
  kubernetes/llm/components/open-webui/deployment.yaml
  main.bash
Due: overlay-test

ci(docs): document new ci process for agentic flow and remove old functions (#614)
  AGENTS.md
  README.md
  kubernetes/llm/components/open-webui/deployment.yaml
  main.bash
Due: overlay-test

fix(gpu): nvidia argocd application removal
  kubernetes/argocd/applications/kustomization.yaml
Due: overlay-test

chore(changelog): update
  .pre-commit-config.yaml
  CHANGELOG.md
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible

fix(cnpg): openwebui db backup setup
  kubernetes/cloudnative-pg/components/pg_dump/network-policy.yaml
  kubernetes/cloudnative-pg/components/pg_dump/secret.yaml
  kubernetes/llm/components/cnpg-open-webui/network-policy.yaml
Due: overlay-test

fix(path): paths
  README.md
  machineConfigs/desktop/home/arthur/.bashrc
  machineConfigs/desktop/home/arthur/.zshrc
Due: ansible

fix(pg_dump): stale entry
  kubernetes/cloudnative-pg/components/pg_dump/secret.yaml
Due: overlay-test
