Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile

fix(pgadmin): coraza filters
  okd/gateway/components/coraza/rules/exclusions/internal-pre.yaml
Due: overlay-test

chore(okd): upgrade 4.22.0-okd-scos.0
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

chore(okd): upgrade 4.22.0-okd-scos.0 (#534)
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

chore(technitium): fix
  kubernetes/technitium-dns/components/openshift/egress-firewall.yaml
Due: overlay-test

chore(coraza): internal disable
  okd/gateway/components/coraza/engine/internal/kustomization.yaml
Due: overlay-test

chore(technitium): update
  kubernetes/technitium-dns/components/technitium-dns/statefulset.yaml
Due: overlay-test

fix(cnpg): ha
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/awx/components/cnpg/cluster.yaml
  kubernetes/gitea/components/cnpg/cluster.yaml
  kubernetes/grafana/components/cnpg/cluster.yaml
  kubernetes/homeassistant/components/cnpg/cluster.yaml
  kubernetes/immich/components/cnpg/cluster.yaml
  kubernetes/netbox/components/cnpg/cluster.yaml
  kubernetes/nextcloud-fpm/components/cnpg/cluster.yaml
  kubernetes/quay/components/cnpg-quay/cluster.yaml
  kubernetes/stackrox-central/components/cnpg/cluster.yaml
  kubernetes/zitadel/components/cnpg/cluster.yaml
Due: overlay-test

feat(snapdragon): fedora laptop incept
  ansible/README.md
  ansible/inventory
  ansible/laptop.yaml
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/laptop/displaylink.yaml
  ansible/playbooks/laptop/laptopPackages.yaml
  ansible/playbooks/laptop/qcom-firmware.yaml
Due: ansible

feat(snapdragon): fedora laptop incept (#535)
  ansible/README.md
  ansible/inventory
  ansible/laptop.yaml
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/laptop/displaylink.yaml
  ansible/playbooks/laptop/laptopPackages.yaml
  ansible/playbooks/laptop/qcom-firmware.yaml
Due: ansible

chore(laptop): update anisble playbooks
  ansible/README.md
  ansible/playbooks/desktop/gnome-extensions.yaml
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/desktop/zsh.yaml
  ansible/playbooks/laptop/discord.yaml
  ansible/playbooks/laptop/gcloud-sdk.yaml
  ansible/playbooks/laptop/gnome-extensions.yaml
  ansible/playbooks/laptop/gnome-keybindings.yaml
  ansible/playbooks/laptop/gnome.yaml
  ansible/playbooks/laptop/hashicorp.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/laptop/laptopPackages.yaml
  ansible/playbooks/laptop/nextcloud.yaml
  ansible/playbooks/laptop/terminator.yaml
  ansible/playbooks/laptop/vscodium.yaml
  ansible/playbooks/laptop/zsh.yaml
  ansible/playbooks/servers/k3s/zsh.yaml
  ansible/playbooks/servers/microshift/kubernetes.yaml
  ansible/playbooks/servers/server/common/zsh.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
  ansible/requirements.yml
Due: ansible

chore(laptop): update anisble playbooks (#536)
  ansible/README.md
  ansible/playbooks/desktop/gnome-extensions.yaml
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/desktop/zsh.yaml
  ansible/playbooks/laptop/discord.yaml
  ansible/playbooks/laptop/gcloud-sdk.yaml
  ansible/playbooks/laptop/gnome-extensions.yaml
  ansible/playbooks/laptop/gnome-keybindings.yaml
  ansible/playbooks/laptop/gnome.yaml
  ansible/playbooks/laptop/hashicorp.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/laptop/laptopPackages.yaml
  ansible/playbooks/laptop/nextcloud.yaml
  ansible/playbooks/laptop/terminator.yaml
  ansible/playbooks/laptop/vscodium.yaml
  ansible/playbooks/laptop/zsh.yaml
  ansible/playbooks/servers/k3s/zsh.yaml
  ansible/playbooks/servers/microshift/kubernetes.yaml
  ansible/playbooks/servers/server/common/zsh.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
  ansible/requirements.yml
Due: ansible

chore(olm): update
  .vscode/extensions.json
  kubernetes/network-observability/base/subscription.yaml
  kubernetes/openshift-servicemesh/base/subscription.yaml
Due: overlay-test

chore(coraza): vendor script
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/laptop/laptopPackages.yaml
  ansible/playbooks/vscode-server/desktopPackages.yaml
  okd/gateway/components/coraza/README.md
  okd/gateway/components/coraza/rules/owasp-crs/kustomization.yaml
  okd/gateway/components/coraza/rules/owasp-crs/secret.yaml
  okd/gateway/components/coraza/update-crs.sh
Due: ansible, overlay-test

fix(clair): ephermal pvc size
  kubernetes/quay/base/kyverno.yaml
  kubernetes/quay/base/quay.yaml
Due: overlay-test

fix(clair): ephermal pvc size
  kubernetes/renovate/base/cronjob.yaml
  tekton/tasks/buildah/0.7.1/buildah.yaml
Due: overlay-test

fix(clair): ephermal pvc size (#539)
  kubernetes/quay/base/kyverno.yaml
  kubernetes/quay/base/quay.yaml
  kubernetes/renovate/base/cronjob.yaml
  tekton/tasks/buildah/0.7.1/buildah.yaml
Due: overlay-test

fix(blackbox): cloudflare ips
  kubernetes/blackbox-exporter/overlays/okd/egress-firewall.yaml
  tekton/tasks/buildah/0.7.1/buildah.yaml
Due: overlay-test

feat(tkn): add tkn cli to ansible playbook
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
Due: ansible

feat(tkn): add tkn cli to ansible playbook (#540)
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
Due: ansible

fix(blackbox): urls and tuning
  kubernetes/blackbox-exporter/base/deployment.yaml
  kubernetes/blackbox-exporter/components/probes.yaml
Due: overlay-test

fix(blackbox): urls and tuning (#541)
  kubernetes/blackbox-exporter/base/deployment.yaml
  kubernetes/blackbox-exporter/components/probes.yaml
Due: overlay-test

feat(helm): add to ansible playbooks
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
Due: ansible

chore(stackrox): central update
  kubernetes/stackrox-central/base/config-map.yaml
  kubernetes/stackrox-central/base/crds.yaml
  kubernetes/stackrox-central/base/deployment.yaml
  kubernetes/stackrox-central/base/network-policy.yaml
  kubernetes/stackrox-central/base/prometheusRule.yaml
  kubernetes/stackrox-central/base/rbac.yaml
  kubernetes/stackrox-central/base/service-monitor.yaml
  kubernetes/stackrox-central/base/service.yaml
Due: overlay-test

fix(stackrox): central
  kubernetes/stackrox-central/base/deployment.yaml
Due: overlay-test

feat(stackrox): secure update
  kubernetes/stackrox-secure/base/config-map.yaml
  kubernetes/stackrox-secure/base/daemon-set.yaml
  kubernetes/stackrox-secure/base/deployment.yaml
  kubernetes/stackrox-secure/base/network-policy.yaml
  kubernetes/stackrox-secure/base/rbac.yaml
  kubernetes/stackrox-secure/base/service.yaml
  kubernetes/stackrox-secure/base/webhook.yaml
  kubernetes/stackrox-secure/overlays/okd/prometheusRule.yaml
  kubernetes/stackrox-secure/overlays/okd/serviceMonitor.yaml
Due: overlay-test

feat(stackrox): secure update
  kubernetes/stackrox-secure/base/daemon-set.yaml
  kubernetes/stackrox-secure/base/deployment.yaml
Due: overlay-test

chore(stackrox): central update (#517)
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
  kubernetes/stackrox-central/base/config-map.yaml
  kubernetes/stackrox-central/base/crds.yaml
  kubernetes/stackrox-central/base/deployment.yaml
  kubernetes/stackrox-central/base/network-policy.yaml
  kubernetes/stackrox-central/base/prometheusRule.yaml
  kubernetes/stackrox-central/base/rbac.yaml
  kubernetes/stackrox-central/base/service-monitor.yaml
  kubernetes/stackrox-central/base/service.yaml
  kubernetes/stackrox-secure/base/config-map.yaml
  kubernetes/stackrox-secure/base/daemon-set.yaml
  kubernetes/stackrox-secure/base/deployment.yaml
  kubernetes/stackrox-secure/base/network-policy.yaml
  kubernetes/stackrox-secure/base/rbac.yaml
  kubernetes/stackrox-secure/base/service.yaml
  kubernetes/stackrox-secure/base/webhook.yaml
  kubernetes/stackrox-secure/overlays/okd/prometheusRule.yaml
  kubernetes/stackrox-secure/overlays/okd/serviceMonitor.yaml
Due: ansible, overlay-test

fix(blackbox): tuning
  kubernetes/blackbox-exporter/components/probes.yaml
Due: overlay-test

fet(ai): agents and skils update
  .agents/skills/homelab/SKILL.md
  .agents/skills/kubernetes-skill/SKILL.md
  .github/copilot-instructions.md
  .vscode/mcp.json
  AGENTS.md
  SKILL.md
  ansible/desktop.yaml
  ansible/laptop.yaml
  ansible/playbooks/desktop/scafctl.yaml
  ansible/playbooks/laptop/scafctl.yaml
  ansible/playbooks/vscode-server/scafctl.yaml
  ansible/vscode-server.yaml
  renovate.json
Due: ansible

fet(ai): agents and skils update
  ansible/desktop.yaml
  ansible/laptop.yaml
  ansible/playbooks/desktop/copilot.yaml
  ansible/playbooks/laptop/copilot.yaml
  ansible/playbooks/vscode-server/copilot.yaml
  ansible/vscode-server.yaml
  machineConfigs/desktop/home/arthur/.agents/skills/homelab/SKILL.md
  machineConfigs/desktop/home/arthur/.agents/skills/kubernetes-skill/SKILL.md
  machineConfigs/desktop/home/arthur/.config/VSCodium/User/mcp.json
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
  opencode.json
  renovate.json
Due: ansible

fet(ai): agents and skils update
  ansible/desktop.yaml
  ansible/laptop.yaml
  ansible/playbooks/desktop/copilot.yaml
  ansible/playbooks/desktop/opencode.yaml
  ansible/playbooks/laptop/copilot.yaml
  ansible/playbooks/laptop/opencode.yaml
  ansible/playbooks/vscode-server/copilot.yaml
  ansible/playbooks/vscode-server/opencode.yaml
  ansible/vscode-server.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible

fet(ai): agents and skils update (#542)
  .agents/skills/homelab/SKILL.md
  .agents/skills/kubernetes-skill/SKILL.md
  .github/copilot-instructions.md
  .vscode/mcp.json
  AGENTS.md
  SKILL.md
  ansible/desktop.yaml
  ansible/laptop.yaml
  ansible/playbooks/desktop/copilot.yaml
  ansible/playbooks/desktop/opencode.yaml
  ansible/playbooks/desktop/scafctl.yaml
  ansible/playbooks/laptop/copilot.yaml
  ansible/playbooks/laptop/opencode.yaml
  ansible/playbooks/laptop/scafctl.yaml
  ansible/playbooks/vscode-server/copilot.yaml
  ansible/playbooks/vscode-server/opencode.yaml
  ansible/playbooks/vscode-server/scafctl.yaml
  ansible/vscode-server.yaml
  machineConfigs/desktop/home/arthur/.agents/skills/homelab/SKILL.md
  machineConfigs/desktop/home/arthur/.agents/skills/kubernetes-skill/SKILL.md
  machineConfigs/desktop/home/arthur/.config/VSCodium/User/mcp.json
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
  opencode.json
  renovate.json
Due: ansible

docs: update
  CHANGELOG.md
  README.md
Due: none

docs: update (#543)
  CHANGELOG.md
  README.md
Due: none

chore(renovate): config update
  kubernetes/renovate/base/config.json
  kubernetes/renovate/base/cronjob.yaml
Due: overlay-test

chore(renovate): config update
  kubernetes/renovate/base/config.json
Due: overlay-test

chore(olm): update operators
  kubernetes/victoria-metrics/base/subscription.yaml
Due: overlay-test

chore(olm): update
  kubernetes/container-security/base/subscription.yaml
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/victoria-metrics/base/subscription.yaml
Due: overlay-test

fix(vault): revert version due to ipc error
  kubernetes/vault/components/ha/statefulset.yaml
Due: overlay-test

fix(keep-alive): google ips
  kubernetes/keep-alive/overlays/okd/egress-firewall.yaml
Due: overlay-test
