Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile

feat(gateway): configmap add
  okd/okd-configuration/components/gateway-external/gateway.yaml
  okd/okd-configuration/components/gateway-external/loadbalancer.yaml
  okd/okd-configuration/components/gateway/configmap.yaml
  okd/okd-configuration/components/gateway/gateway.yaml
  okd/okd-configuration/components/gateway/kustomization.yaml
Due: overlay-test

feat(bgp): use bgp for gateway apis
  kubernetes/kube-vip/base/kustomization.yaml
  kubernetes/kube-vip/components/bgp/daemonset.yaml
  kubernetes/kube-vip/components/bgp/kustomization.yaml
  kubernetes/kube-vip/components/bgp/okd.conf
  kubernetes/kube-vip/components/l2/daemonset.yaml
  kubernetes/kube-vip/components/l2/kustomization.yaml
  kubernetes/kube-vip/overlays/microshift/kustomization.yaml
  kubernetes/kube-vip/overlays/okd/kustomization.yaml
  okd/okd-configuration/components/gateway-external/authorization-policy.yaml
  okd/okd-configuration/components/gateway-external/loadbalancer.yaml
  okd/okd-configuration/components/gateway/configmap.yaml
  okd/okd-configuration/components/gateway/loadbalancer.yaml
Due: overlay-test

feat(bgp): use bgp for gateway apis (#410)
  kubernetes/kube-vip/base/kustomization.yaml
  kubernetes/kube-vip/components/bgp/daemonset.yaml
  kubernetes/kube-vip/components/bgp/kustomization.yaml
  kubernetes/kube-vip/components/bgp/okd.conf
  kubernetes/kube-vip/components/l2/daemonset.yaml
  kubernetes/kube-vip/components/l2/kustomization.yaml
  kubernetes/kube-vip/overlays/microshift/kustomization.yaml
  kubernetes/kube-vip/overlays/okd/kustomization.yaml
  okd/okd-configuration/components/gateway-external/authorization-policy.yaml
  okd/okd-configuration/components/gateway-external/loadbalancer.yaml
  okd/okd-configuration/components/gateway/configmap.yaml
  okd/okd-configuration/components/gateway/loadbalancer.yaml
Due: overlay-test

chore(deps): update pre-commit hook rbubley/mirrors-prettier to v3.8.1
  .pre-commit-config.yaml
Due: none

chore(deps): update module google.golang.org/api to v0.262.0
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply, terraform

chore(deps): update terraform zitadel to v2.7.0
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update go modules
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply, terraform

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(deps): update terraform libvirt to v0.9.2
  terraform/agent/main.tf
  terraform/sandbox/bootstrap/main.tf
  terraform/sandbox/cluster/main.tf
  terraform/sandbox/workers/main.tf
Due: terraform-apply, terraform

chore(deps): update terraform google to v7.17.0
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update docker.io/renovate/renovate docker tag to v43
  kubernetes/renovate/base/cronjob.yaml
Due: overlay-test

feat(ArgoCD): Use Shallow Clone
  kubernetes/argocd/base/argocd.yaml
  kubernetes/argocd/base/kustomization.yaml
  kubernetes/argocd/base/repository.yaml
Due: overlay-test

feat(ArgoCD): Use Shallow Clone (#417)
  kubernetes/argocd/base/argocd.yaml
  kubernetes/argocd/base/kustomization.yaml
  kubernetes/argocd/base/repository.yaml
Due: overlay-test

chore(deps): update go modules (#412)
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply, terraform

chore(deps): update terraform zitadel to v2.7.0 (#413)
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update pre-commit hooks (#411)
  .pre-commit-config.yaml
Due: none

chore(deps): update docker.io/renovate/renovate docker tag to v43 (#416)
  kubernetes/renovate/base/cronjob.yaml
Due: overlay-test

chore(deps): update terraform google to v7.17.0 (#415)
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update terraform libvirt to v0.9.2 (#414)
  terraform/agent/main.tf
  terraform/sandbox/bootstrap/main.tf
  terraform/sandbox/cluster/main.tf
  terraform/sandbox/workers/main.tf
Due: terraform-apply, terraform

feat(keep-alive): update
  terraform/homelab/keep-alive.tf
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply, terraform

feat(keep-alive): update (#418)
  terraform/homelab/keep-alive.tf
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply, terraform

chore(renovate): schedule update
  kubernetes/renovate/base/cronjob.yaml
Due: overlay-test

chore(deps): update pre-commit hook bridgecrewio/checkov to v3.2.500
  .pre-commit-config.yaml
Due: none

chore(deps): update terraform google to v7.18.0
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update module google.golang.org/api to v0.265.0
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply, terraform

chore(deps): update module google.golang.org/api to v0.265.0 (#421)
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply, terraform

chore(deps): update pre-commit hook bridgecrewio/checkov to v3.2.500 (#419)
  .pre-commit-config.yaml
Due: none

chore(upgrades): okd + kube-vip + operators
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  kubernetes/knative/base/subscription.yaml
  kubernetes/kube-vip/base/daemonset.yaml
  kubernetes/kube-vip/components/bgp/daemonset.yaml
  kubernetes/kube-vip/components/l2/daemonset.yaml
  kubernetes/kube-vip/components/okd/static-pod.yaml
  kubernetes/kube-vip/components/vlan11/vlan.yaml
  kubernetes/kube-vip/components/vlan111/vlan.yaml
  kubernetes/kube-vip/components/vlan3/vlan.yaml
  kubernetes/kube-vip/overlays/microshift/vlan11.yaml
  kubernetes/kube-vip/overlays/microshift/vlan3.yaml
  kubernetes/kube-vip/overlays/old/kube-vip-vlan.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/openshift-logging/base/subscription.yaml
  kubernetes/openshift-power-monitoring/base/subscription.yaml
  kubernetes/quay/base/subscription.yaml
  kubernetes/renovate/README.md
  kubernetes/victoria-metrics/base/subscription.yaml
  okd/okd-configuration/base/operators-redhat.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

chore(deps): update terraform google to v7.18.0 (#420)
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(upgrades): okd + kube-vip + operators (#422)
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  kubernetes/grafana/base/deployment.yaml
  kubernetes/knative/base/subscription.yaml
  kubernetes/kube-vip/base/daemonset.yaml
  kubernetes/kube-vip/components/bgp/daemonset.yaml
  kubernetes/kube-vip/components/l2/daemonset.yaml
  kubernetes/kube-vip/components/okd/static-pod.yaml
  kubernetes/kube-vip/components/vlan11/vlan.yaml
  kubernetes/kube-vip/components/vlan111/vlan.yaml
  kubernetes/kube-vip/components/vlan3/vlan.yaml
  kubernetes/kube-vip/overlays/microshift/vlan11.yaml
  kubernetes/kube-vip/overlays/microshift/vlan3.yaml
  kubernetes/kube-vip/overlays/old/kube-vip-vlan.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/openshift-logging/base/subscription.yaml
  kubernetes/openshift-power-monitoring/base/subscription.yaml
  kubernetes/quay/base/subscription.yaml
  kubernetes/renovate/README.md
  kubernetes/victoria-metrics/base/subscription.yaml
  okd/okd-configuration/base/operators-redhat.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

feat(quay): use gateway api
  kubernetes/quay/base/certificate.yaml
  kubernetes/quay/base/http-route.yaml
  kubernetes/quay/base/kustomization.yaml
  kubernetes/quay/base/network-policy.yaml
  kubernetes/quay/base/quay.yaml
Due: overlay-test

feat(quay): use gateway api (#423)
  kubernetes/quay/base/certificate.yaml
  kubernetes/quay/base/http-route.yaml
  kubernetes/quay/base/kustomization.yaml
  kubernetes/quay/base/network-policy.yaml
  kubernetes/quay/base/quay.yaml
Due: overlay-test

feat(spotify): external support
  kubernetes/argocd/apps/app-projects/analytics-for-spotify.yaml
  kubernetes/argocd/apps/kustomization.yaml
  kubernetes/argocd/apps/notifications-tenant/analytics-for-spotify-ext.yaml
  okd/okd-configuration/components/gateway-external/authorization-policy.yaml
  okd/okd-configuration/components/gateway-external/certificate.yaml
  okd/okd-configuration/components/gateway-external/gateway.yaml
  okd/okd-configuration/components/gateway-external/network-policy.yaml
Due: overlay-test

feat(spotify): external support (#425)
  kubernetes/argocd/apps/app-projects/analytics-for-spotify.yaml
  kubernetes/argocd/apps/kustomization.yaml
  kubernetes/argocd/apps/notifications-tenant/analytics-for-spotify-ext.yaml
  okd/okd-configuration/components/gateway-external/authorization-policy.yaml
  okd/okd-configuration/components/gateway-external/certificate.yaml
  okd/okd-configuration/components/gateway-external/gateway.yaml
  okd/okd-configuration/components/gateway-external/network-policy.yaml
Due: overlay-test

chore(deps): update terraform vault to v5.7.0
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(nextckiyd): update
  kubernetes/nextcloud-fpm/components/nextcloud/cronjob-cron.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/cronjob-preview.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/deployment.yaml
  kubernetes/renovate/README.md
Due: overlay-test

chore(ceph): v20 upgrade
  kubernetes/ceph/base/ceph-cluster.yaml
  kubernetes/ceph/base/crds.yaml
  kubernetes/ceph/base/csi/crds.yaml
  kubernetes/ceph/base/csi/deployment.yaml
  kubernetes/ceph/base/csi/rbac.yaml
  kubernetes/ceph/base/deployment.yaml
  kubernetes/ceph/base/toolbox.yaml
  kubernetes/network-observability/base/object-bucket-claim.yaml
  kubernetes/renovate/README.md
Due: overlay-test

chore(ceph): v20 upgrade
  kubernetes/ceph/base/rbac-ceph-cluster.yaml
Due: overlay-test

chore(ceph): v20 upgrade (#426)
  kubernetes/ceph/base/ceph-cluster.yaml
  kubernetes/ceph/base/certificate-job.yaml
  kubernetes/ceph/base/crds.yaml
  kubernetes/ceph/base/csi/crds.yaml
  kubernetes/ceph/base/csi/deployment.yaml
  kubernetes/ceph/base/csi/rbac.yaml
  kubernetes/ceph/base/deployment.yaml
  kubernetes/ceph/base/rbac-ceph-cluster.yaml
  kubernetes/ceph/base/toolbox.yaml
  kubernetes/network-observability/base/object-bucket-claim.yaml
  kubernetes/renovate/README.md
Due: overlay-test

feat(pg_admin): spotify-ext net pol
  kubernetes/postgres/components/pg_admin/network-policy.yaml
Due: overlay-test
