Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

ansible:
  params:
  - name: playbooks
    value: servers,microshift
  - name: dry_run
    value: 'false'
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
  ...

apache-php-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/apache-php/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/apache-php:latest
  pipelineSpec:
    params:
    - name: git-url
  ...

overlay-test:
  params:
  - name: playbooks
    value: servers
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-pr-number
    value: '{{ pull_request_number }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
  ...

terraform-apply:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    workspaces:
    - name: data
    - name: git_auth_secret
  ...

terraform:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: event
    value: '{{ event_type }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    - name: event
  ...

toolbox-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/toolbox/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/toolbox:not_latest
  pipelineSpec:
    params:
    - name: git-url
  ...

feat(gpu): enable N+1 guaranteed GPU spread for llama-swap + transcod… (#675)
  README.md
  kubernetes/intel-device-plugins/README.md
  kubernetes/intel-device-plugins/base/gpu-device-plugin.yaml
  kubernetes/llm/components/cnpg-litellm/cluster.yaml
  kubernetes/llm/components/cnpg-open-webui/cluster.yaml
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/renovate/base/cronjob.yaml
Due: overlay-test

chore(postgres): increase walStorage PVC for gitea cluster
  kubernetes/gitea/components/cnpg/cluster.yaml
Due: overlay-test

fix(k8s-deploy): oom
  tekton/tasks/k8s-deploy/0.2.0/k8s-deploy.yaml
  tekton/tasks/k8s-deploy/0.3.0/k8s-deploy.yaml
Due: overlay-test

fix(descheduler): llm namespace on gpu node
  kubernetes/kube-descheduler/base/descheduler.yaml
Due: overlay-test

chore(nfd): nfd custom port removal
  kubernetes/node-feature-discovery-operator/overlays/okd/kustomization.yaml
  kubernetes/node-feature-discovery-operator/overlays/okd/kyverno.yaml
Due: overlay-test

chore(nfd): nfd custom port removal (#676)
  kubernetes/node-feature-discovery-operator/overlays/okd/kustomization.yaml
  kubernetes/node-feature-discovery-operator/overlays/okd/kyverno.yaml
Due: overlay-test

chore(netobserv): switch non priv namespaces to restricted
  kubernetes/network-observability/base/namespace.yaml
Due: overlay-test

chore(netobserv): switch non priv namespaces to restricted (#677)
  kubernetes/network-observability/base/namespace.yaml
Due: overlay-test

fix(build): comment out microdnf update in toolbox containerfile
  containers/toolbox/containerfile
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/model-downloader/cronjob.yaml
Due: overlay-test, toolbox-image

chore(llm): drop MTP speculation, improve cronjob with aria2, document experiment (#678)
  containers/toolbox/containerfile
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/model-downloader/cronjob.yaml
Due: overlay-test, toolbox-image

feat(open-webui): enable memory system, model capabilities, and performance tweaks
  kubernetes/llm/components/open-webui/deployment.yaml
Due: overlay-test

feat(open-webui): enable memory system, model capabilities, and performance tweaks (#679)
  kubernetes/llm/components/open-webui/deployment.yaml
Due: overlay-test

fix(llm): localllm pricing model
  containers/toolbox/containerfile
  kubernetes/cloudnative-pg/components/pg_dump/cronjob.yaml
  kubernetes/intel-device-plugins/GPU_POWER_TUNING.md
  kubernetes/llm/components/litellm/README.md
  kubernetes/llm/components/litellm/litellm.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test, toolbox-image

fix(llm): localllm pricing model (#685)
  containers/toolbox/containerfile
  kubernetes/cloudnative-pg/components/pg_dump/cronjob.yaml
  kubernetes/intel-device-plugins/GPU_POWER_TUNING.md
  kubernetes/llm/components/litellm/README.md
  kubernetes/llm/components/litellm/litellm.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test, toolbox-image

fix(llm): update pricing to actual electricity costs
  kubernetes/llm/components/litellm/README.md
  kubernetes/llm/components/litellm/litellm.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

fix(llm): update pricing to actual electricity costs (#686)
  kubernetes/llm/components/litellm/README.md
  kubernetes/llm/components/litellm/litellm.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

chore(openwebui): update
  kubernetes/llm/components/open-webui/deployment.yaml
Due: overlay-test

chore(openwebui): update (#687)
  kubernetes/llm/components/open-webui/deployment.yaml
Due: overlay-test

chore(olm): updates
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/observability-operator/base/subscription.yaml
  kubernetes/postgres/base/subscription.yaml
  kubernetes/vertical-pod-autoscaler/base/subscription.yaml
Due: overlay-test

chore(olm): updates (#688)
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/observability-operator/base/subscription.yaml
  kubernetes/postgres/base/subscription.yaml
  kubernetes/vertical-pod-autoscaler/base/subscription.yaml
Due: overlay-test

feat(toolbox): rc-gitops
  .tekton/gitops-ci.yaml
  .tekton/toolbox-image.yaml
  containers/toolbox/containerfile
  tekton/base/gitops-ci.yaml
Due: overlay-test, toolbox-image

feat(toolbox): rc-gitops (#689)
  .tekton/gitops-ci.yaml
  .tekton/toolbox-image.yaml
  containers/toolbox/containerfile
  tekton/base/gitops-ci.yaml
Due: overlay-test, toolbox-image

chore(llama-swap): update
  containers/llama-swap/containerfile
  kubernetes/llm/components/llama-swap/deployment.yaml
Due: overlay-test

chore(llama-swap): update (#690)
  containers/llama-swap/containerfile
  kubernetes/llm/components/llama-swap/deployment.yaml
Due: overlay-test

chore(buildah): ephermal-storage increase
  tekton/tasks/buildah/0.7.1/buildah.yaml
Due: overlay-test

chore(buildah): ephermal-storage increase (#691)
  tekton/tasks/buildah/0.7.1/buildah.yaml
Due: overlay-test

fix(postgres): pin pgAdmin to 9.15 to work around login regression (FS-Too 5.8.2)
  kubernetes/postgres/components/pg_admin/pg_admin.yaml
  renovate.json
Due: overlay-test

fix(postgres): pin pgAdmin to 9.15 to work around login regression (FS-Too 5.8.2) (#692)
  kubernetes/postgres/components/pg_admin/pg_admin.yaml
Due: overlay-test

chore(llm): power increase
  CHANGELOG.md
  kubernetes/intel-device-plugins/base/gpu-power-manager.yaml
Due: overlay-test

feat(llm): add OTEL collector bridge and Open WebUI observability
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/opentelemetry-operator.yaml
  kubernetes/grafana/base/dashboards/open-webui.json
  kubernetes/grafana/base/kustomization.yaml
  kubernetes/llm/components/open-webui/deployment.yaml
  kubernetes/llm/components/open-webui/secret.yaml
  kubernetes/llm/components/otel-collector/collector.yaml
  kubernetes/llm/components/otel-collector/kustomization.yaml
  kubernetes/llm/components/otel-collector/network-policy.yaml
  kubernetes/llm/overlays/okd/kustomization.yaml
  kubernetes/opentelemetry-operator/base/installplan-approver.yaml
  kubernetes/opentelemetry-operator/base/kustomization.yaml
  kubernetes/opentelemetry-operator/base/limit-range.yaml
  kubernetes/opentelemetry-operator/base/namespace.yaml
  kubernetes/opentelemetry-operator/base/network-policy.yaml
  kubernetes/opentelemetry-operator/base/operator-group.yaml
  kubernetes/opentelemetry-operator/base/subscription.yaml
  kubernetes/opentelemetry-operator/overlays/okd/egress-firewall.yaml
  kubernetes/opentelemetry-operator/overlays/okd/kustomization.yaml
  kubernetes/opentelemetry-operator/overlays/okd/vpa.yaml
  kubernetes/prometheus/components/prometheus-nas/config-map.yaml
  kubernetes/prometheus/components/prometheus/config-map.yaml
Due: overlay-test

feat(llm): add oikb daemon for multi-source knowledge sync
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/opentelemetry-operator.yaml
  kubernetes/grafana/base/dashboards/open-webui.json
  kubernetes/grafana/base/kustomization.yaml
  kubernetes/llm/components/knowledge-sync/config-map.yaml
  kubernetes/llm/components/knowledge-sync/deployment.yaml
  kubernetes/llm/components/knowledge-sync/kustomization.yaml
  kubernetes/llm/components/knowledge-sync/network-policy.yaml
  kubernetes/llm/components/knowledge-sync/pod-monitor.yaml
  kubernetes/llm/components/knowledge-sync/secret.yaml
  kubernetes/llm/components/knowledge-sync/service-account.yaml
  kubernetes/llm/components/knowledge-sync/service.yaml
  kubernetes/llm/components/open-webui/deployment.yaml
  kubernetes/llm/components/open-webui/secret.yaml
  kubernetes/llm/components/otel-collector/collector.yaml
  kubernetes/llm/components/otel-collector/kustomization.yaml
  kubernetes/llm/components/otel-collector/network-policy.yaml
  kubernetes/llm/overlays/okd/kustomization.yaml
  kubernetes/opentelemetry-operator/base/installplan-approver.yaml
  kubernetes/opentelemetry-operator/base/kustomization.yaml
  kubernetes/opentelemetry-operator/base/limit-range.yaml
  kubernetes/opentelemetry-operator/base/namespace.yaml
  kubernetes/opentelemetry-operator/base/network-policy.yaml
  kubernetes/opentelemetry-operator/base/operator-group.yaml
  kubernetes/opentelemetry-operator/base/subscription.yaml
  kubernetes/opentelemetry-operator/overlays/okd/egress-firewall.yaml
  kubernetes/opentelemetry-operator/overlays/okd/kustomization.yaml
  kubernetes/opentelemetry-operator/overlays/okd/vpa.yaml
  kubernetes/prometheus/components/prometheus-nas/config-map.yaml
  kubernetes/prometheus/components/prometheus/config-map.yaml
Due: overlay-test

feat(opentelemetry-operator): add community OTEL operator app (OLM install)
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/opentelemetry-operator.yaml
  kubernetes/opentelemetry-operator/base/installplan-approver.yaml
  kubernetes/opentelemetry-operator/base/kustomization.yaml
  kubernetes/opentelemetry-operator/base/limit-range.yaml
  kubernetes/opentelemetry-operator/base/namespace.yaml
  kubernetes/opentelemetry-operator/base/network-policy.yaml
  kubernetes/opentelemetry-operator/base/operator-group.yaml
  kubernetes/opentelemetry-operator/base/subscription.yaml
  kubernetes/opentelemetry-operator/overlays/okd/egress-firewall.yaml
  kubernetes/opentelemetry-operator/overlays/okd/kustomization.yaml
  kubernetes/opentelemetry-operator/overlays/okd/vpa.yaml
Due: overlay-test

feat(opentelemetry-operator): add community OTEL operator app (OLM install) (#697)
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/opentelemetry-operator.yaml
  kubernetes/opentelemetry-operator/base/installplan-approver.yaml
  kubernetes/opentelemetry-operator/base/kustomization.yaml
  kubernetes/opentelemetry-operator/base/limit-range.yaml
  kubernetes/opentelemetry-operator/base/namespace.yaml
  kubernetes/opentelemetry-operator/base/network-policy.yaml
  kubernetes/opentelemetry-operator/base/operator-group.yaml
  kubernetes/opentelemetry-operator/base/subscription.yaml
  kubernetes/opentelemetry-operator/overlays/okd/egress-firewall.yaml
  kubernetes/opentelemetry-operator/overlays/okd/kustomization.yaml
  kubernetes/opentelemetry-operator/overlays/okd/vpa.yaml
Due: overlay-test

feat(llm): add OTEL collector bridge and Open WebUI observability
  kubernetes/grafana/base/dashboards/open-webui.json
  kubernetes/grafana/base/kustomization.yaml
  kubernetes/llm/components/open-webui/deployment.yaml
  kubernetes/llm/components/otel-collector/collector.yaml
  kubernetes/llm/components/otel-collector/kustomization.yaml
  kubernetes/llm/components/otel-collector/network-policy.yaml
  kubernetes/llm/overlays/okd/kustomization.yaml
  kubernetes/prometheus/components/prometheus-nas/config-map.yaml
  kubernetes/prometheus/components/prometheus/config-map.yaml
Due: overlay-test

feat(llm): add OTEL collector bridge and Open WebUI observability
  kubernetes/argocd/apps/argocd-apps.yaml
  kubernetes/argocd/base/argocd.yaml
  kubernetes/llm/components/open-webui/secret.yaml
  kubernetes/llm/overlays/okd/kustomization.yaml
Due: overlay-test

fix(llm): remove knowledge-sync component from PR2 overlay
  kubernetes/llm/overlays/okd/kustomization.yaml
Due: overlay-test

feat(llm): add VPA for OpenTelemetryCollector
  kubernetes/llm/components/otel-collector/kustomization.yaml
  kubernetes/llm/components/otel-collector/vpa.yaml
Due: overlay-test

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile
