Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

ansible:
  params:
  - name: playbooks
    value: servers,microshift
  - name: dry_run
    value: 'false'
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
  ...

apache-php-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/apache-php/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/apache-php:latest
  pipelineSpec:
    params:
    - name: git-url
  ...

overlay-test:
  params:
  - name: playbooks
    value: servers
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-pr-number
    value: '{{ pull_request_number }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
  ...

terraform-apply:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    workspaces:
    - name: data
    - name: git_auth_secret
  ...

terraform:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: event
    value: '{{ event_type }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    - name: event
  ...

toolbox-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/toolbox/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/toolbox:not_latest
  pipelineSpec:
    params:
    - name: git-url
  ...

chore(deps): update all
  containers/toolbox/containerfile
  terraform/agent/main.tf
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
  terraform/homelab/providers.tf
  terraform/sandbox/bootstrap/main.tf
  terraform/sandbox/cluster/main.tf
  terraform/sandbox/workers/main.tf
Due: terraform-apply, terraform, toolbox-image

chore(deps): update all (#333)
  containers/toolbox/containerfile
  terraform/agent/main.tf
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
  terraform/homelab/providers.tf
  terraform/sandbox/bootstrap/main.tf
  terraform/sandbox/cluster/main.tf
  terraform/sandbox/workers/main.tf
Due: terraform-apply, terraform, toolbox-image

feat(renovate): onboard
  kubernetes/renovate/base/config.json
  kubernetes/renovate/base/cronjob.yaml
Due: overlay-test

feat(toolbox): skopeo
  containers/toolbox/containerfile
Due: toolbox-image

feat(toolbox): skopeo (#334)
  containers/toolbox/containerfile
Due: toolbox-image

chore(monitoring): test
  kubernetes/renovate/base/config.json
  kubernetes/renovate/base/cronjob.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

chore(deps): update docker.io/renovate/renovate docker tag to v42.47.0
  kubernetes/renovate/base/cronjob.yaml
Due: overlay-test

chore(deps): update all
  .github/workflows/codeql.yml
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update all (#336)
  .github/workflows/codeql.yml
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update docker.io/renovate/renovate docker tag to v42.47.0 (#335)
  kubernetes/renovate/base/cronjob.yaml
Due: overlay-test

chore(monitoring): test
  kubernetes/renovate/base/config.json
  kubernetes/renovate/base/cronjob.yaml
  kubernetes/renovate/base/network-policy.yaml
  kubernetes/renovate/overlays/okd/egress-firewall.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

chore(deps): update all
  kubernetes/renovate/base/cronjob.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

chore(deps): update all (#337)
  kubernetes/renovate/base/cronjob.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

feat(kube-vip): rbac
  kubernetes/kube-vip/base/rbac.yaml
Due: overlay-test

feat(kube-vip): rbac (#338)
  kubernetes/kube-vip/base/rbac.yaml
Due: overlay-test

fix(kube-vip): tunables
  kubernetes/kube-vip/base/daemonset.yaml
Due: overlay-test

chore(renovate): schedule
  kubernetes/renovate/base/cronjob.yaml
Due: overlay-test

chore(deps): update all (#339)
  kubernetes/renovate/base/cronjob.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

fix(ko): update
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
Due: ansible

fix(kube-vip): tunables
  ansible/playbooks/servers/microshift/configs.yaml
  kubernetes/kube-vip/base/daemonset.yaml
  kubernetes/kube-vip/components/openshift/kustomization.yaml
  kubernetes/kube-vip/components/openshift/machine-config-modules.yaml
  kubernetes/kube-vip/overlays/microshift/kustomization.yaml
  kubernetes/kube-vip/overlays/microshift/vlan11.yaml
  kubernetes/kube-vip/overlays/microshift/vlan3.yaml
  kubernetes/kube-vip/overlays/okd/kustomization.yaml
Due: ansible, overlay-test

fix(kube-vip): tunables (#340)
  ansible/playbooks/servers/microshift/configs.yaml
  kubernetes/kube-vip/base/daemonset.yaml
  kubernetes/kube-vip/components/openshift/kustomization.yaml
  kubernetes/kube-vip/components/openshift/machine-config-modules.yaml
  kubernetes/kube-vip/overlays/microshift/kustomization.yaml
  kubernetes/kube-vip/overlays/microshift/vlan11.yaml
  kubernetes/kube-vip/overlays/microshift/vlan3.yaml
  kubernetes/kube-vip/overlays/okd/kustomization.yaml
Due: ansible, overlay-test

feat(images): in house go image renovate convention prep
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/kfca/base/deployment.yaml
  kubernetes/kube-eagle/base/deployment.yaml
  kubernetes/kube-vip/base/daemonset.yaml
  kubernetes/kube-vip/overlays/microshift/vlan11.yaml
  kubernetes/kube-vip/overlays/microshift/vlan3.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/deployment.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

feat(images): in house go image renovate convention prep (#341)
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/kfca/base/deployment.yaml
  kubernetes/kube-eagle/base/deployment.yaml
  kubernetes/kube-vip/base/daemonset.yaml
  kubernetes/kube-vip/overlays/microshift/vlan11.yaml
  kubernetes/kube-vip/overlays/microshift/vlan3.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/deployment.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

chore(deps): update all
  kubernetes/kfca/base/deployment.yaml
  kubernetes/kube-eagle/base/deployment.yaml
  kubernetes/renovate/base/cronjob.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

chore(deps): update all (#342)
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/kfca/base/deployment.yaml
  kubernetes/kube-descheduler/base/descheduler.yaml
  kubernetes/kube-eagle/base/deployment.yaml
  kubernetes/renovate/base/cronjob.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

chore(deps): update all
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/renovate/base/cronjob.yaml
Due: overlay-test

chore(deps): update all (#343)
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/renovate/base/cronjob.yaml
Due: overlay-test

chore(stackrox): admission-control update
  kubernetes/stackrox-secure/base/deployment.yaml
  kubernetes/stackrox-secure/overlays/microshift/kustomization.yaml
Due: overlay-test

chore(okd): 4.21.0-okd-scos.ec.14
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  kubernetes/heimdall/base/pvc.yaml
  kubernetes/heimdall/base/resource-quota.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

feat(semantic): custom app update
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/kfca/base/deployment.yaml
  kubernetes/kube-eagle/base/deployment.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

feat(semantic): custom app update (#344)
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/kfca/base/deployment.yaml
  kubernetes/kube-eagle/base/deployment.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

chore(deps): update all
  containers/toolbox/containerfile
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/kfca/base/deployment.yaml
  kubernetes/kube-eagle/base/deployment.yaml
  kubernetes/renovate/base/cronjob.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
  terraform/homelab/providers.tf
Due: overlay-test, terraform-apply, terraform, toolbox-image

chore(deps): update google/cloud-sdk docker tag to v550
  containers/toolbox/containerfile
Due: toolbox-image

chore(deps): update all (#345)
  containers/toolbox/containerfile
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/kfca/base/deployment.yaml
  kubernetes/kube-eagle/base/deployment.yaml
  kubernetes/renovate/base/cronjob.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
  terraform/homelab/providers.tf
Due: overlay-test, terraform-apply, terraform, toolbox-image

chore(deps): update google/cloud-sdk docker tag to v550 (#346)
  containers/toolbox/containerfile
Due: toolbox-image

fix(kfca): image name typo
  kubernetes/kfca/base/deployment.yaml
Due: overlay-test

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile
