Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile

feat(iac) prep for checkov
  .checkov.yaml
  .pre-commit-config.yaml
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/apps/argocd-apps.yaml
  kubernetes/argocd/base/argocd.yaml
  kubernetes/ceph/base/rbac-monitoring.yaml
  kubernetes/knative/base/knative-serving.yaml
  kubernetes/kubevirt/base/hyperconverged.yaml
  kubernetes/network-observability/base/kustomization.yaml
  kubernetes/ntp/overlays/microshift/kustomization.yaml
  kubernetes/ntp/overlays/okd/kustomization.yaml
  kubernetes/pihole/overlays/okd/kustomization.yaml
  kubernetes/stackrox-central/base/kustomization.yaml
  kubernetes/tekton/overlays/operator/github-app.yaml
  kubernetes/uptime-kuma/overlays/okd/kustomization.yaml
  kubernetes/vault/components/ha/service.yaml
  main.bash
  tekton/base/clair-action/kustomization.yaml
Due: overlay-test

feat(iac) checkov secrets
  .github/workflows/codeql.yml
  kubernetes/awx/base/awx.yaml
  kubernetes/ceph/base/ingress.yaml
  kubernetes/cert-manager/components/yaml/configs.yaml
  kubernetes/cert-manager/components/yaml/crds.yaml
  kubernetes/external-secrets-operator/components/helm/deployment.yaml
  kubernetes/gitea/base/secret.yaml
  kubernetes/gitea/components/openshift/ingress.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/arthurvardevanyan.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/artifact-registry.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/bmc-shim.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/container-registry.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/finance-tracker.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/homelab.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/kfca.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/kfco.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/kube-eagle.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/openshift-monitoring.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/spotify.yaml
  kubernetes/homeassistant/components/openshift/ingress.yaml
  kubernetes/netbox/values.yaml
  kubernetes/stackrox-central/base/config-map.yaml
  kubernetes/vault/components/singleton/ingress.yaml
  kubernetes/zitadel/base/route.yaml
  terraform/homelab/cloud-dns.tf
  terraform/homelab/keep-alive.tf
Due: overlay-test, terraform-apply, terraform

feat(iac) CKV_K8S_38 CKV_K8S_43
  kubernetes/argocd/admin-plugin/plugin-deploy.yaml
  kubernetes/argocd/admin-plugin/proxy-deploy.yaml
  kubernetes/argocd/admin-plugin/proxy-svc.yaml
  kubernetes/argocd/base/microshift/cronjob.yaml
  kubernetes/awx/base/deployment.yaml
  kubernetes/ceph/base/certificate-job.yaml
  kubernetes/ceph/base/csi/deployment.yaml
  kubernetes/ceph/base/deployment.yaml
  kubernetes/ceph/base/toolbox.yaml
  kubernetes/cert-manager/components/trust-manager/deployment.yaml
  kubernetes/cert-manager/components/yaml/deployment.yaml
  kubernetes/external-dns/base/pihole-deployment.yaml
  kubernetes/github-runners/base/arc-systems/deployment.yaml
  kubernetes/homeassistant/components/music/statefulset.yaml
  kubernetes/kubevirt/base/installplan-approver.yaml
  kubernetes/loki/base/statefulset.yaml
  kubernetes/longhorn/base/driver-deployment.yaml
  kubernetes/longhorn/base/manager-daemonset.yaml
  kubernetes/netbox/base/deployment.yaml
  kubernetes/nextcloud-fpm/components/backup-s3/cronjob.yaml
  kubernetes/nextcloud-fpm/components/nginx/deployment.yaml
  kubernetes/nvidia-gpu-operator/test.yaml
  kubernetes/olm/overlays/microshift/rbac.yaml
  kubernetes/pihole/components/pihole-infra/statefulset.yaml
  kubernetes/pihole/components/pihole/statefulset.yaml
  kubernetes/pihole/components/vlan3/statefulset.yaml
  kubernetes/stackrox-central/base/deployment.yaml
  kubernetes/stackrox-secure/base/daemon-set.yaml
  kubernetes/unifi-network-application/components/udm/cronjob.yaml
  kubernetes/unifi-network-application/components/unas/cronjob.yaml
  kubernetes/vault/components/ha/statefulset.yaml
  okd/okd-configuration/overlays/microshift/argocd.yaml
Due: overlay-test

feat(tekton): what changed update
  .checkov.yaml
  .pre-commit-config.yaml
  kubernetes/gitea/values.yaml
  kubernetes/github-runners/base/runner-scale-sets/network-policy.yaml
  kubernetes/immich/values.yaml
  kubernetes/unifi-network-application/values.yaml
  tekton/base/overlay-test.yaml
Due: overlay-test

feat(tekton): what changed update
  kubernetes/tekton/base/kyverno.yaml
  kubernetes/tekton/base/limit-range.yaml
  okd/okd-nodes/base/bmh/server-1.yaml
  okd/okd-nodes/base/bmh/server-2.yaml
  okd/okd-nodes/base/bmh/server-3.yaml
  okd/okd-nodes/base/bmh/worker-1.yaml
  okd/okd-nodes/base/bmh/worker-2.yaml
  okd/okd-nodes/base/bmh/worker-3.yaml
Due: overlay-test

feat(ansible): package update
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/laptop/laptopPackages.yaml
  ansible/playbooks/vscode-server/desktopPackages.yaml
Due: ansible

chore(deps): update dependency grafana/loki to v3
  ansible/playbooks/servers/server/x86/promtail.yaml
Due: ansible

feat(kubernetes): update
  kubernetes/argocd/apps/dragonfly/dragonfly.yaml
  kubernetes/argocd/base/dragonfly/dragonfly.yaml
  kubernetes/bitwarden/base/statefulset.yaml
  kubernetes/blackbox-exporter/base/deployment.yaml
  kubernetes/gitea/base/deployment.yaml
  kubernetes/gitea/base/dragonfly/dragonfly.yaml
  kubernetes/gitea/base/meilisearch/statefulset.yaml
  kubernetes/grafana/base/deployment.yaml
  kubernetes/homeassistant/base/statefulset.yaml
  kubernetes/homeassistant/base/vm-cluster.yaml
  kubernetes/immich/base/dragonfly/dragonfly.yaml
  kubernetes/kfca/base/deployment.yaml
  kubernetes/kube-eagle/base/deployment.yaml
  kubernetes/netbox/base/dragonfly/dragonfly.yaml
  kubernetes/nextcloud-fpm/components/dragonfly/dragonfly.yaml
  kubernetes/ntp/overlays/microshift/kustomization.yaml
  kubernetes/prometheus/components/prometheus-nas/statefulset.yaml
  kubernetes/prometheus/components/prometheus/statefulset.yaml
  kubernetes/quay/base/dragonfly/dragonfly.yaml
  kubernetes/vault/components/singleton/statefulset.yaml
  kubernetes/zitadel/base/deployment.yaml
  kubernetes/zitadel/base/init-job.yaml
  kubernetes/zitadel/base/setup-job.yaml
Due: overlay-test

feat(kubernetes): update (#349)
  kubernetes/argocd/apps/dragonfly/dragonfly.yaml
  kubernetes/argocd/base/dragonfly/dragonfly.yaml
  kubernetes/bitwarden/base/statefulset.yaml
  kubernetes/blackbox-exporter/base/deployment.yaml
  kubernetes/gitea/base/deployment.yaml
  kubernetes/gitea/base/dragonfly/dragonfly.yaml
  kubernetes/gitea/base/meilisearch/statefulset.yaml
  kubernetes/grafana/base/deployment.yaml
  kubernetes/homeassistant/base/statefulset.yaml
  kubernetes/homeassistant/base/vm-cluster.yaml
  kubernetes/immich/base/dragonfly/dragonfly.yaml
  kubernetes/kfca/base/deployment.yaml
  kubernetes/kube-eagle/base/deployment.yaml
  kubernetes/netbox/base/dragonfly/dragonfly.yaml
  kubernetes/nextcloud-fpm/components/dragonfly/dragonfly.yaml
  kubernetes/ntp/overlays/microshift/kustomization.yaml
  kubernetes/prometheus/components/prometheus-nas/statefulset.yaml
  kubernetes/prometheus/components/prometheus/statefulset.yaml
  kubernetes/quay/base/dragonfly/dragonfly.yaml
  kubernetes/vault/components/singleton/statefulset.yaml
  kubernetes/zitadel/base/deployment.yaml
  kubernetes/zitadel/base/init-job.yaml
  kubernetes/zitadel/base/setup-job.yaml
Due: overlay-test

fix(renovate): pre-commit / ansible
  .pre-commit-config.yaml
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/desktop/gcloud-sdk.yaml
  ansible/playbooks/desktop/google-chrome.yaml
  ansible/playbooks/desktop/hashicorp.yaml
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/desktop/vscodium.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/laptop/laptopPackages.yaml
  ansible/playbooks/laptop/vscodium.yaml
  ansible/playbooks/servers/k3s/serverPackages.yaml
  ansible/playbooks/servers/microshift/cockpit.yaml
  ansible/playbooks/servers/microshift/microshift.yaml
  ansible/playbooks/servers/server/arm/serverPackages.yaml
  ansible/playbooks/servers/server/common/cockpit.yaml
  ansible/playbooks/servers/server/common/zsh.yaml
  ansible/playbooks/servers/server/x86/node_exporter.yaml
  ansible/playbooks/servers/server/x86/serverPackages.yaml
  ansible/playbooks/vscode-server/desktopPackages.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
  kubernetes/argocd/applications/okd-nodes.yaml
  kubernetes/github-runners/base/arc-systems/deployment.yaml
  kubernetes/homeassistant/base/vm-cluster.yaml
  kubernetes/renovate/base/config.json
  kubernetes/renovate/overlays/okd/egress-firewall.yaml
Due: ansible, overlay-test

fix(renovate): pre-commit / ansible
  ansible/playbooks/laptop/laptopPackages.yaml
  ansible/playbooks/laptop/nextcloud.yaml
  ansible/playbooks/laptop/terminator.yaml
  ansible/playbooks/laptop/zsh.yaml
  ansible/playbooks/servers/microshift/microshift.yaml
  ansible/playbooks/servers/server/arm/serverPackages.yaml
  ansible/playbooks/servers/server/x86/serverPackages.yaml
Due: ansible

fix(renovate): pre-commit / ansible
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/desktop/gcloud-sdk.yaml
  ansible/playbooks/desktop/google-chrome.yaml
  ansible/playbooks/desktop/timeshift.yaml
  ansible/playbooks/laptop/laptopPackages.yaml
  ansible/playbooks/servers/k3s/cockpit.yaml
  ansible/playbooks/servers/k3s/serverPackages.yaml
  ansible/playbooks/servers/k3s/zsh.yaml
  ansible/playbooks/servers/k8s/k8sPackages.yaml
  ansible/playbooks/servers/microshift/microshift.yaml
  ansible/playbooks/servers/server/arm/serverPackages.yaml
  ansible/playbooks/servers/server/common/zsh.yaml
  ansible/playbooks/servers/server/x86/node_exporter.yaml
  ansible/playbooks/servers/server/x86/serverPackages.yaml
  ansible/playbooks/vscode-server/desktopPackages.yaml
  ansible/playbooks/vscode-server/gcloud-sdk.yaml
  kubernetes/renovate/base/config.json
Due: ansible, overlay-test

fix(renovate): updates
  kubernetes/renovate/README.md
  kubernetes/renovate/base/config.json
  kubernetes/renovate/scripts/audit_renovate_images.py
Due: overlay-test

chore(deps): update go modules
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply, terraform

chore(deps): update go modules (#355)
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply, terraform

fix(renovate): updates
  ansible/playbooks/desktop/gcloud-sdk.yaml
  ansible/playbooks/desktop/google-chrome.yaml
  ansible/playbooks/servers/microshift/microshift.yaml
  ansible/playbooks/vscode-server/gcloud-sdk.yaml
  kubernetes/renovate/base/config.json
  kubernetes/renovate/base/cronjob.yaml
  kubernetes/renovate/overlays/okd/kustomization.yaml
Due: ansible, overlay-test

chore(deps): update container updates
  kubernetes/argocd/base/argocd.yaml
  kubernetes/gitea/base/meilisearch/statefulset.yaml
  kubernetes/kfca/base/deployment.yaml
  kubernetes/kube-eagle/base/deployment.yaml
  kubernetes/renovate/base/cronjob.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

chore(deps): update container updates (#356)
  kubernetes/argocd/base/argocd.yaml
  kubernetes/gitea/base/meilisearch/statefulset.yaml
  kubernetes/kfca/base/deployment.yaml
  kubernetes/kube-eagle/base/deployment.yaml
  kubernetes/renovate/base/cronjob.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

fix(renovate): updates
  ansible/playbooks/desktop/gcloud-sdk.yaml
  ansible/playbooks/desktop/google-chrome.yaml
  ansible/playbooks/servers/microshift/microshift.yaml
  ansible/playbooks/vscode-server/gcloud-sdk.yaml
  containers/udi/repos/google-cloud-sdk.repo
Due: ansible

fix(renovate): updates
  kubernetes/renovate/base/config.json
Due: overlay-test

chore(deps): update github releases
  .pre-commit-config.yaml
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/servers/microshift/kubernetes.yaml
  ansible/playbooks/servers/server/arm/serverPackages.yaml
  ansible/playbooks/servers/server/x86/promtail.yaml
  ansible/playbooks/servers/server/x86/serverPackages.yaml
  ansible/playbooks/vscode-server/desktopPackages.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
Due: ansible

fix(renovate): updates
  .pre-commit-config.yaml
  kubernetes/renovate/base/config.json
Due: overlay-test

chore(deps): update github releases
  .pre-commit-config.yaml
  ansible/playbooks/servers/server/x86/promtail.yaml
Due: ansible

chore(deps): update github releases
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/servers/microshift/kubernetes.yaml
  ansible/playbooks/servers/server/arm/serverPackages.yaml
  ansible/playbooks/servers/server/x86/promtail.yaml
  ansible/playbooks/servers/server/x86/serverPackages.yaml
  ansible/playbooks/vscode-server/desktopPackages.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
Due: ansible

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hooks (#367)
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hooks (#366)
  .pre-commit-config.yaml
Due: none

fix(renovate): updates
  kubernetes/renovate/base/config.json
  renovate.json
Due: overlay-test
