Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

ansible:
  params:
  - name: playbooks
    value: servers,microshift
  - name: dry_run
    value: 'false'
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
  ...

apache-php-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/apache-php/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/apache-php:latest
  pipelineSpec:
    params:
    - name: git-url
  ...

overlay-test:
  params:
  - name: playbooks
    value: servers
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-pr-number
    value: '{{ pull_request_number }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
  ...

terraform-apply:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    workspaces:
    - name: data
    - name: git_auth_secret
  ...

terraform:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: event
    value: '{{ event_type }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    - name: event
  ...

toolbox-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/toolbox/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/toolbox:not_latest
  pipelineSpec:
    params:
    - name: git-url
  ...

fix(llm): reduce ctx cap to 182272 and trim kv-cache-memory by 250MB
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

fix(llm): reduce kv-cache-memory by another 250MB (total -750MB)
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

fix(llm): align 27b max-model-len to 175104 (matches opencode ctx cap)
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/llm/components/open-webui/deployment.yaml
Due: overlay-test

fix(llm): reduce ctx cap and trim kv-cache-memory (#727)
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/llm/components/open-webui/deployment.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

feat(llm): default model blacklist
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible

fix(grafana): resolve plugin installer read-only filesystem errors
  kubernetes/grafana/base/deployment.yaml
Due: overlay-test

fix(grafana): resolve plugin installer read-only filesystem errors (#728)
  kubernetes/grafana/base/deployment.yaml
Due: overlay-test

feat(llm): image update
  kubernetes/llm/components/llama-swap/deployment.yaml
Due: overlay-test

fix(llm): remove fsGroup from deployment (not needed)
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/llm/components/llama-swap/pvc-vllm-cache.yaml
Due: overlay-test

fix(llm): add missing 'serve' subcommand to vllm-wrapper macros
  kubernetes/llm/components/llama-swap/llama-swap.yaml
Due: overlay-test

fix(llm): split vllm-wrapper macro per-GPU so --vllm-url matches daemon port
  kubernetes/llm/components/llama-swap/llama-swap.yaml
Due: overlay-test

fix: resolve vLLM wrapper build — copy patch into stage, correct diff headers
  containers/llama-swap/containerfile
  containers/llama-swap/patches/vllm-wrapper-level2.diff
  kubernetes/llm/components/litellm/README.md
  kubernetes/llm/components/litellm/llama_swap_affinity.py
  kubernetes/llm/components/llama-swap/llama-swap.yaml
Due: overlay-test

fix(llm): add cmdStop + unloadTimeout to vLLM models to fix sleep-on-eviction
  kubernetes/llm/components/llama-swap/llama-swap.yaml
Due: overlay-test

feat: add vLLM sleep mode level 2 with PVC-backed cache
  containers/llama-swap/containerfile
  containers/llama-swap/patches/vllm-wrapper-level2.diff
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/llm/components/llama-swap/kustomization.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/llm/components/llama-swap/pvc-vllm-cache.yaml
Due: overlay-test

fix(llm): add --wait-timeout 600s to vllm-wrapper and persist compile cache on PVC
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
Due: overlay-test

fix(llm): patch XPU sleep expandable-segments leak + harden wrapper cold-restart
  containers/llama-swap/containerfile
  containers/llama-swap/patches/patch_fix_xpu_sleep.py
  containers/llama-swap/patches/vllm-wrapper-hardening.diff
Due: none

fix(llm): remove unused 'errors' import from hardening diff
  containers/llama-swap/patches/vllm-wrapper-hardening.diff
Due: none

chore(llm): dep update
  kubernetes/llm/components/llama-swap/deployment.yaml
Due: overlay-test

feat(llama-swap): add log file redirection and log forwarding to vllm-wrapper
  containers/llama-swap/containerfile
  containers/llama-swap/patches/patch_fix_xpu_sleep.py
  containers/llama-swap/patches/vllm-wrapper-hardening.diff
  containers/llama-swap/patches/vllm-wrapper-logs.diff
Due: none

fix(llama-swap): add --3way to git apply in containerfile to fix CI patching
  containers/llama-swap/containerfile
Due: none

fix(llama-swap): combine level2 and logs patches into single diff to fix CI
  containers/llama-swap/containerfile
  containers/llama-swap/patches/vllm-wrapper-combined.diff
  containers/llama-swap/patches/vllm-wrapper-level2.diff
Due: none

fix(vllm-wrapper): remove Pdeathsig that kills daemon on wrapper exit
  containers/llama-swap/patches/vllm-wrapper-combined.diff
Due: none

fix(llama-swap): disable expandable_segments so XPU sleep frees VRAM
  containers/llama-swap/containerfile
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
Due: overlay-test

chore(okd): upgrade 5.0.0-okd-scos.0
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/vertical-pod-autoscaler/base/subscription.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

chore(llm): dep update
  containers/llama-swap/patches/vllm-wrapper-combined.diff
  kubernetes/llm/components/llama-swap/llama-swap.yaml
Due: overlay-test

chore(llm): dep update
  containers/llama-swap/patches/vllm-wrapper-combined.diff
Due: none

chore(okd): upgrade 5.0.0-okd-scos.0 (#729)
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/vertical-pod-autoscaler/base/subscription.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

chore(llm): dep update
  containers/llama-swap/containerfile
  containers/llama-swap/patches/patch_qwen_triton_warmup_xpu.py
Due: none

chore(llm): dep update
  containers/llama-swap/patches/patch_qwen_triton_warmup_xpu.py
Due: none

chore(llm): dep update
  kubernetes/llm/README.md
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
Due: overlay-test

chore(llm): dep update
  containers/llama-swap/containerfile
  containers/llama-swap/patches/vllm-wrapper-combined.diff
Due: none

chore(llm): dep update
  kubernetes/llm/README.md
  kubernetes/llm/components/cnpg-litellm/cluster.yaml
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/pr-agent/base/deployment.yaml
Due: overlay-test

fix(llama-swap): correct XPU allocator regression and add vLLM backend liveness monitoring (#726)
  containers/llama-swap/containerfile
  containers/llama-swap/patches/patch_fix_xpu_sleep.py
  containers/llama-swap/patches/patch_qwen_triton_warmup_xpu.py
  containers/llama-swap/patches/vllm-wrapper-combined.diff
  kubernetes/llm/README.md
  kubernetes/llm/components/cnpg-litellm/cluster.yaml
  kubernetes/llm/components/litellm/README.md
  kubernetes/llm/components/litellm/llama_swap_affinity.py
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/llm/components/llama-swap/kustomization.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/llm/components/llama-swap/pvc-vllm-cache.yaml
  kubernetes/pr-agent/base/deployment.yaml
Due: overlay-test

chore(zitadel): cnpg wal pvc size
  kubernetes/zitadel/components/cnpg/cluster.yaml
Due: overlay-test

feat: fix GPU device discovery and shellcheck cleanup
  containers/gpu-toolbox/containerfile
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/media-ingest.yaml
  kubernetes/intel-device-plugins/base/gpu-device-plugin.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/media-ingest/NOTES.md
  kubernetes/media-ingest/README.md
  kubernetes/media-ingest/base/kustomization.yaml
  kubernetes/media-ingest/base/namespace.yaml
  kubernetes/media-ingest/base/network-policy.yaml
  kubernetes/media-ingest/base/service-account.yaml
  kubernetes/media-ingest/components/ingest/deployment.yaml
  kubernetes/media-ingest/components/ingest/external-secret.yaml
  kubernetes/media-ingest/components/ingest/ingest.env
  kubernetes/media-ingest/components/ingest/ingest.sh
  kubernetes/media-ingest/components/ingest/kustomization.yaml
  kubernetes/media-ingest/overlays/okd/egress-firewall.yaml
  kubernetes/media-ingest/overlays/okd/kustomization.yaml
Due: overlay-test

fix: by-path GPU device discovery for character device files
  kubernetes/media-ingest/components/ingest/ingest.env
  kubernetes/media-ingest/components/ingest/ingest.sh
Due: overlay-test

fix: rclone path parsing bug in parse_sources
  kubernetes/media-ingest/components/ingest/ingest.sh
Due: overlay-test

fix: use actual BDF addresses for xpu-smi VRAM probing
  kubernetes/media-ingest/components/ingest/ingest.sh
Due: overlay-test

fix: use GPU indices instead of BDFs for xpu-smi probing
  kubernetes/media-ingest/components/ingest/ingest.sh
Due: overlay-test

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile
