Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

ansible:
  params:
  - name: playbooks
    value: servers,microshift
  - name: dry_run
    value: 'false'
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
  ...

apache-php-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/apache-php/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/apache-php:latest
  pipelineSpec:
    params:
    - name: git-url
  ...

overlay-test:
  params:
  - name: playbooks
    value: servers
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-pr-number
    value: '{{ pull_request_number }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
  ...

terraform-apply:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    workspaces:
    - name: data
    - name: git_auth_secret
  ...

terraform:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: event
    value: '{{ event_type }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    - name: event
  ...

toolbox-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/toolbox/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/toolbox:not_latest
  pipelineSpec:
    params:
    - name: git-url
  ...

fix(rbac): replace wildcard verbs with explicit verbs in OLM nonResourceURLs rule
  kubernetes/github-runners/base/runner-scale-sets/runners/homelab.yaml
  kubernetes/olm/base/rbac.yaml
Due: overlay-test

fix: correct image checksum exemption annotations with actual image references
  kubernetes/eclipse-che/base/catalog-source.yaml
  kubernetes/kube-vip/overlays/old/kustomization.yaml
  kubernetes/longhorn/base/ui-deployment.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/cronjob-cron.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/cronjob-preview.yaml
Due: overlay-test

fix(velero): add tmp emptyDir volume for node-agent credentials store
  kubernetes/velero/base/node-agent.yaml
Due: overlay-test

fix(compliance): updates
  kubernetes/imagepuller/base/imagepuller.yaml
  kubernetes/keep-alive/base/cronjob.yaml
  kubernetes/longhorn/overlays/okd/backup/backup-rsync.yaml
  kubernetes/velero/base/deployment.yaml
Due: overlay-test

fix(velero): add tmp emptyDir volume for plugin temp files
  kubernetes/velero/base/deployment.yaml
Due: overlay-test

fix(compliance): updates
  kubernetes/cloudnative-pg/components/pg_dump/cronjob.yaml
  kubernetes/netbox/base/deployment.yaml
  kubernetes/nvidia-gpu-operator/base/cluster-policy.yaml
  kubernetes/unifi-network-application/components/unifi-network-application/statefulset.yaml
Due: overlay-test

fix(velero): set readOnlyRootFilesystem: false for kopia repo maintenance compatibility
  kubernetes/velero/base/deployment.yaml
Due: overlay-test

fix(compliance): updates
  kubernetes/stackrox-secure/base/daemon-set.yaml
Due: overlay-test

fix(stackrox-secure): remove invalid allowPrivilegeEscalation: false with privileged: true
  kubernetes/stackrox-secure/base/daemon-set.yaml
  kubernetes/velero/base/deployment.yaml
Due: overlay-test

fix(kube-vip): add image checksum exemption for kubectl image
  kubernetes/kube-vip/components/rollout/cronjob.yaml
Due: overlay-test

fix(kube-vip): pin kubectl image with tag+SHA
  kubernetes/kube-vip/components/rollout/cronjob.yaml
Due: overlay-test

fix(kube-vip): add image checksum exemption for kubectl image
  kubernetes/nextcloud-fpm/components/nginx/deployment.yaml
Due: overlay-test

fix(compliance): updates
  kubernetes/imagepuller/base/installplan-approver.yaml
  kubernetes/kubevirt/base/installplan-approver.yaml
  kubernetes/network-observability/base/installplan-approver.yaml
  kubernetes/stackrox-central/base/deployment.yaml
  kubernetes/stackrox-secure/base/daemon-set.yaml
Due: overlay-test

fix(stackrox-*,installplan-approver): resolve resource compliance and RBAC issues
  kubernetes/stackrox-central/base/deployment.yaml
  kubernetes/stackrox-central/base/rbac.yaml
  kubernetes/stackrox-central/base/service.yaml
  kubernetes/stackrox-central/scripts.sh
Due: overlay-test

fix(awx): replace RBAC wildcards with explicit resources, add exemptions for argocd/olm
  kubernetes/argocd/apps/rbac.yaml
  kubernetes/awx/base/rbac.yaml
Due: overlay-test

fix(stackrox-secure): remove invalid privileged+allowPrivilegeEscalation=false, fix nvidia-gpu-operator shellcheck and image exemptions
  kubernetes/nvidia-gpu-operator/base/cluster-policy.yaml
  kubernetes/nvidia-gpu-operator/containerfile
  kubernetes/stackrox-secure/base/daemon-set.yaml
Due: overlay-test

fix(stackrox-secure): add podspec defaults exemption for privileged containers
  kubernetes/stackrox-secure/base/daemon-set.yaml
Due: overlay-test

fix(stackrox-secure): set allowPrivilegeEscalation: true for privileged containers
  kubernetes/heimdall/base/statefulset.yaml
  kubernetes/stackrox-secure/base/daemon-set.yaml
Due: overlay-test

chore: updates
  containers/toolbox/containerfile
Due: toolbox-image

chore: updates
  kubernetes/stackrox-secure/base/daemon-set.yaml
Due: overlay-test

chore: updates
  kubernetes/github-runners/base/arc-systems/deployment.yaml
  kubernetes/stackrox-central/base/deployment.yaml
Due: overlay-test

chore: updates
  .devfile.yaml
  .tekton/llama-swap-metrics-exporter.yaml
  AGENTS.md
  ansible/playbooks/desktop/gnome-extensions.yaml
  ansible/playbooks/laptop/gnome-extensions.yaml
  containers/toolbox/containerfile
  containers/udi/entrypoint.sh
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/metallb/components/manual/deployment-manager.yaml
  kubernetes/metallb/components/manual/deployment-webhook.yaml
  kubernetes/metallb/components/manual/rbac.yaml
  kubernetes/metallb/components/manual/service.yaml
  kubernetes/nextcloud-fpm/components/backup-unas/unas.sh
  kubernetes/nextcloud-fpm/components/immich-sync/immich.sh
  kubernetes/nvidia-gpu-operator/test.yaml
  machineConfigs/servers/server/home/arthur/discord/discord_bot.sh
  machineConfigs/test.sh
  main.bash
  okd/test.sh
  sandbox/kubevirt/k3s/k3s.sh
  sandbox/kubevirt/okd/configs/ovn.yaml
  sandbox/test.sh
  tekton/base/ansible-task.yaml
  tekton/base/clair-action/clair-action-task.yaml
  tekton/base/clair-action/quay.sh
  tekton/base/gitops-ci.yaml
  tekton/tasks/k8s-deploy/0.1.1/k8s-deploy.yaml
  tekton/tasks/k8s-deploy/0.2.0/k8s-deploy.yaml
  tekton/tasks/k8s-deploy/0.3.0/k8s-deploy.yaml
  tekton/tasks/terraform/0.1.0/terraform.yaml
  terraform/homelab/wif-k3s/notes.sh
  vms/base/fedora.yaml
  vms/overlays/sandbox/fedora.yaml
Due: ansible, overlay-test, terraform-apply, terraform, toolbox-image

chore: updates
  .vscode/settings.json
  AGENTS.md
  containers/toolbox/containerfile
  main.bash
  tekton/base/ansible-task.yaml
  terraform/homelab/wif-k3s/notes.sh
Due: overlay-test, terraform-apply, terraform, toolbox-image

fix: compliance updates
  .devfile.yaml
  .tekton/llama-swap-metrics-exporter.yaml
  containers/llama-swap-metrics-exporter/Makefile
  kubernetes/imagepuller/base/imagepuller.yaml
  kubernetes/nvidia-gpu-operator/test.yaml
  tekton/base/clair-action/clair-action-task.yaml
Due: overlay-test

fix: compliance updates
  main.bash
Due: none

fix(shellcheck): resolve 95 shellcheck violations in main.bash
  .devfile.yaml
  .tekton/llama-swap-metrics-exporter.yaml
  main.bash
Due: none

fix(sandbox): add ArgoCD sync-options and PSA baseline labels to kubevirt resources
  sandbox/kubevirt/k3s/vms/k3s-server-0.yaml
  sandbox/kubevirt/k3s/vms/k3s-server-1.yaml
  sandbox/kubevirt/k3s/vms/k3s-server-2.yaml
  sandbox/kubevirt/okd/namespace.yaml
  sandbox/kubevirt/okd/vm/datavolume.yaml
  sandbox/kubevirt/okd/vm/okd1.yml
  sandbox/kubevirt/okd/vm/okd2.yml
  sandbox/kubevirt/okd/vm/okd3.yml
Due: none

fix(sandbox): add ArgoCD sync-options and PSA baseline labels to kubevirt resources
  containers/toolbox/containerfile
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
  okd/test.sh
  sandbox/kubevirt/k3s/service.yaml
  sandbox/kubevirt/okd/namespace.yaml
  sandbox/test.sh
Due: ansible, overlay-test, toolbox-image

feat: install snip CLI and opencode-snip plugin across all hosts
  ansible/playbooks/desktop/opencode.yaml
  ansible/playbooks/laptop/opencode.yaml
  ansible/playbooks/vscode-server/opencode.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
  opencode.json
Due: ansible

feat: install snip CLI and opencode-snip plugin across all hosts (#649)
  ansible/playbooks/desktop/opencode.yaml
  ansible/playbooks/laptop/opencode.yaml
  ansible/playbooks/vscode-server/opencode.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
  opencode.json
Due: ansible

feat(netobserv): add loki back, and workarounds for upstream bugs
  AGENTS.md
  kubernetes/ceph/base/configmap.yaml
  kubernetes/loki-operator/base/subscription.yaml
  kubernetes/network-observability/base/flow-collector.yaml
  kubernetes/network-observability/base/flowlogs-pipeline-rbac.yaml
  kubernetes/network-observability/base/kustomization.yaml
  kubernetes/network-observability/base/loki/lokistack.yaml
  kubernetes/network-observability/base/loki/network-policy.yaml
  kubernetes/network-observability/base/loki/object-bucket-claim.yaml
  kubernetes/network-observability/base/loki/rbac.yaml
  kubernetes/network-observability/base/network-policy.yaml
  kubernetes/network-observability/base/subscription.yaml
  kubernetes/network-observability/overlays/okd/vpa.yaml
  opencode.json
Due: overlay-test

feat(netobserv): add loki back, and workarounds for upstream bugs (#650)
  AGENTS.md
  kubernetes/ceph/base/configmap.yaml
  kubernetes/loki-operator/base/subscription.yaml
  kubernetes/network-observability/base/flow-collector.yaml
  kubernetes/network-observability/base/flowlogs-pipeline-rbac.yaml
  kubernetes/network-observability/base/kustomization.yaml
  kubernetes/network-observability/base/loki/lokistack.yaml
  kubernetes/network-observability/base/loki/network-policy.yaml
  kubernetes/network-observability/base/loki/object-bucket-claim.yaml
  kubernetes/network-observability/base/loki/rbac.yaml
  kubernetes/network-observability/base/network-policy.yaml
  kubernetes/network-observability/base/subscription.yaml
  kubernetes/network-observability/overlays/okd/vpa.yaml
  opencode.json
Due: overlay-test

fix(bugs): various config issues
  kubernetes/cloudnative-pg/base/deployment.yaml
  kubernetes/cloudnative-pg/overlays/okd/vpa.yaml
  kubernetes/external-dns/base/pihole-deployment.yaml
  kubernetes/external-dns/components/unifi/deployment.yaml
  kubernetes/kube-vip/components/rollout/cronjob.yaml
  kubernetes/kube-vip/components/rollout/rbac.yaml
  kubernetes/stackrox-central/base/deployment.yaml
Due: overlay-test

docs(litellm): document session stickiness and KV cache efficiency panels
  kubernetes/grafana/base/dashboards/llama-swap.json
  kubernetes/llm/components/litellm/README.md
  kubernetes/llm/components/litellm/llama_swap_affinity.py
Due: overlay-test

feat(litellm): add session stickiness for KV cache reuse (#652)
  kubernetes/grafana/base/dashboards/llama-swap.json
  kubernetes/llm/components/litellm/README.md
  kubernetes/llm/components/litellm/llama_swap_affinity.py
Due: overlay-test

fix(auth): cli auth
  okd/okd-configuration/base/authentication.yaml
  tekton/tasks/terraform/0.1.0/terraform.yaml
  terraform/homelab/zitadel_okd.tf
Due: overlay-test, terraform-apply, terraform

feat(auth): add OIDC CLI client with PKCE and separate ZITADEL app (#651)
  okd/okd-configuration/base/authentication.yaml
  tekton/tasks/terraform/0.1.0/terraform.yaml
  terraform/homelab/zitadel_okd.tf
Due: overlay-test, terraform-apply, terraform

fix(vpa): netobserv
  kubernetes/network-observability/overlays/okd/vpa.yaml
Due: overlay-test

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile
