Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply

ansible:
  params:
  - name: playbooks
    value: servers,microshift
  - name: dry_run
    value: 'false'
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
  ...

apache-php-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/apache-php/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/apache-php:latest
  pipelineSpec:
    params:
    - name: git-url
  ...

overlay-test:
  params:
  - name: playbooks
    value: servers
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
      type: string
  ...

terraform-apply:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    workspaces:
    - name: data
    - name: git_auth_secret
  ...

fix(Routing): Network Attachment Definitions + Wireguard
  ansible/playbooks/vscode-server/ip-routes-wireguard.yaml
  ansible/vscode-server.yaml
  kubernetes/homeassistant/base/statefulset.yaml
  kubernetes/unifi-network-application/base/statefulset.yaml
  machineConfigs/vscode-server/etc/systemd/system/static-route.service
Due: ansible, overlay-test

feat(OpenShift-Logging): Incept
  .vscode/settings.json
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/observability-operator.yaml
  kubernetes/argocd/applications/openshift-logging.yaml
  kubernetes/container-security/base/subscription.yaml
  kubernetes/loki/base/kustomization.yaml
  kubernetes/loki/base/namespace.yaml
  kubernetes/loki/base/statefulset.yaml
  kubernetes/observability-operator/base/catalogSource.yaml
  kubernetes/observability-operator/base/installplan-approver.yaml
  kubernetes/observability-operator/base/kustomization.yaml
  kubernetes/observability-operator/base/limit-range.yaml
  kubernetes/observability-operator/base/namespace.yaml
  kubernetes/observability-operator/base/operator-group.yaml
  kubernetes/observability-operator/base/resource-quota.yaml
  kubernetes/observability-operator/base/subscription.yaml
  kubernetes/observability-operator/base/ui-plugin.yaml
  kubernetes/observability-operator/overlays/okd/kustomization.yaml
  kubernetes/openshift-logging/base/clf.yaml
  kubernetes/openshift-logging/base/installplan-approver.yaml
  kubernetes/openshift-logging/base/kustomization.yaml
  kubernetes/openshift-logging/base/kyverno.yaml
  kubernetes/openshift-logging/base/limit-range.yaml
  kubernetes/openshift-logging/base/lokistack.yaml
  kubernetes/openshift-logging/base/namespace.yaml
  kubernetes/openshift-logging/base/object-bucket-claim.yaml
  kubernetes/openshift-logging/base/operator-group.yaml
  kubernetes/openshift-logging/base/rbac.yaml
  kubernetes/openshift-logging/base/resource-quota.yaml
  kubernetes/openshift-logging/base/secret.yaml
  kubernetes/openshift-logging/base/subscription.yaml
  kubernetes/openshift-logging/base/ui-plugin.yaml
  kubernetes/openshift-logging/overlays/okd/kustomization.yaml
  okd/okd-configuration/base/image-mirror-set.yaml
  okd/okd-configuration/base/operators/console.yaml
Due: overlay-test

feat(ESO): MicroShift Helm Conversion + MicroShift 4.18
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/microshift/external-secrets-operator.yaml
  kubernetes/argocd/applications/openshift-logging.yaml
  kubernetes/external-secrets-operator/README.md
  kubernetes/external-secrets-operator/base/kustomization.yaml
  kubernetes/external-secrets-operator/components/helm/crd.yaml
  kubernetes/external-secrets-operator/components/helm/deployment.yaml
  kubernetes/external-secrets-operator/components/helm/kustomization.yaml
  kubernetes/external-secrets-operator/components/helm/rbac.yaml
  kubernetes/external-secrets-operator/components/helm/service.yaml
  kubernetes/external-secrets-operator/components/helm/validatingWebhookConfiguration.yaml
  kubernetes/external-secrets-operator/components/operator/installplan-approver.yaml
  kubernetes/external-secrets-operator/components/operator/kustomization.yaml
  kubernetes/external-secrets-operator/components/operator/operator-config.yaml
  kubernetes/external-secrets-operator/components/operator/operator-group.yaml
  kubernetes/external-secrets-operator/components/operator/subscription.yaml
  kubernetes/external-secrets-operator/overlays/microshift/kustomization.yaml
  kubernetes/external-secrets-operator/overlays/microshift/kyverno.yaml
  kubernetes/external-secrets-operator/overlays/okd/kustomization.yaml
  kubernetes/external-secrets-operator/values.yaml
  kubernetes/openshift-logging/base/namespace.yaml
  kubernetes/pihole/overlays/microshift/ingress.yaml
Due: overlay-test

feat(Netbox): Incept (#101)
  .vscode/settings.json
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/netbox.yaml
  kubernetes/dragonfly-operator/base/network-policy.yaml
  kubernetes/netbox/README.md
  kubernetes/netbox/base/configmap.yaml
  kubernetes/netbox/base/cronjob.yaml
  kubernetes/netbox/base/deployment.yaml
  kubernetes/netbox/base/dragonfly/dragonfly.yaml
  kubernetes/netbox/base/dragonfly/network-policy.yaml
  kubernetes/netbox/base/dragonfly/pdb.yaml
  kubernetes/netbox/base/ingress.yaml
  kubernetes/netbox/base/kustomization.yaml
  kubernetes/netbox/base/limit-range.yaml
  kubernetes/netbox/base/namespace.yaml
  kubernetes/netbox/base/network-policy.yaml
  kubernetes/netbox/base/object-bucket-claim.yaml
  kubernetes/netbox/base/pdb.yaml
  kubernetes/netbox/base/postgres/network-policy.yaml
  kubernetes/netbox/base/postgres/postgres.yaml
  kubernetes/netbox/base/postgres/secret.yaml
  kubernetes/netbox/base/resource-quota.yaml
  kubernetes/netbox/base/secret.yaml
  kubernetes/netbox/base/service-account.yaml
  kubernetes/netbox/base/service.yaml
  kubernetes/netbox/base/velero.yaml
  kubernetes/netbox/overlays/okd/kustomization.yaml
  kubernetes/netbox/values.yaml
Due: overlay-test

feat(Postgress): Switch App to PSQL
  containers/toolbox/containerfile
  kubernetes/mariadb-galera/base/mysqldump/cronjob.yaml
  kubernetes/mariadb-galera/base/statefulset.yaml
  kubernetes/netbox/base/cronjob.yaml
  kubernetes/openshift-logging/base/object-bucket-claim.yaml
  kubernetes/phpmyadmin/base/deployment.yaml
  kubernetes/postgres/components/pg_dump/network-policy.yaml
  kubernetes/postgres/components/pg_dump/secret.yaml
  okd/okd-configuration/base/image-mirror-set.yaml
Due: overlay-test

feat(Postgress): Switch App to PSQL (#107)
  containers/toolbox/containerfile
  kubernetes/mariadb-galera/base/mysqldump/cronjob.yaml
  kubernetes/mariadb-galera/base/statefulset.yaml
  kubernetes/netbox/base/cronjob.yaml
  kubernetes/openshift-logging/base/object-bucket-claim.yaml
  kubernetes/phpmyadmin/base/deployment.yaml
  kubernetes/postgres/components/pg_dump/network-policy.yaml
  kubernetes/postgres/components/pg_dump/secret.yaml
  okd/okd-configuration/base/image-mirror-set.yaml
Due: overlay-test

feat(PG_ADMIN): Incept
  kubernetes/postgres/components/pg_admin/ingress.yaml
  kubernetes/postgres/components/pg_admin/kustomization.yaml
  kubernetes/postgres/components/pg_admin/network-policy.yaml
  kubernetes/postgres/components/pg_admin/pg_admin.yaml
  kubernetes/postgres/overlays/okd/kustomization.yaml
Due: overlay-test

feat(PG_ADMIN): Incept
  img/Heimdall.png
  kubernetes/gitea/base/postgres/network-policy.yaml
  kubernetes/homeassistant/base/postgres/network-policy.yaml
  kubernetes/netbox/base/postgres/network-policy.yaml
  kubernetes/nextcloud/base/postgres/network-policy.yaml
  kubernetes/phpmyadmin/overlays/okd/kustomization.yaml
  kubernetes/postgres/components/pg_admin/kustomization.yaml
  kubernetes/postgres/components/pg_admin/network-policy.yaml
  kubernetes/postgres/components/pg_admin/pg_admin.yaml
  kubernetes/postgres/components/pg_admin/secret.yaml
  kubernetes/postgres/components/pg_dump/network-policy.yaml
  kubernetes/quay/base/postgres/clair/network-policy.yaml
  kubernetes/quay/base/postgres/quay/network-policy.yaml
  kubernetes/stackrox-central/base/postgres/network-policy.yaml
Due: overlay-test

feat(PG_ADMIN): Incept (#108)
  img/Heimdall.png
  kubernetes/gitea/base/postgres/network-policy.yaml
  kubernetes/homeassistant/base/postgres/network-policy.yaml
  kubernetes/netbox/base/postgres/network-policy.yaml
  kubernetes/nextcloud/base/postgres/network-policy.yaml
  kubernetes/phpmyadmin/overlays/okd/kustomization.yaml
  kubernetes/postgres/components/pg_admin/ingress.yaml
  kubernetes/postgres/components/pg_admin/kustomization.yaml
  kubernetes/postgres/components/pg_admin/network-policy.yaml
  kubernetes/postgres/components/pg_admin/pg_admin.yaml
  kubernetes/postgres/components/pg_admin/secret.yaml
  kubernetes/postgres/overlays/okd/kustomization.yaml
  kubernetes/quay/base/postgres/clair/network-policy.yaml
  kubernetes/quay/base/postgres/quay/network-policy.yaml
  kubernetes/stackrox-central/base/postgres/network-policy.yaml
Due: overlay-test

chore(Operators): Update
  kubernetes/eclipse-che/base/subscription.yaml
  kubernetes/network-observability/base/subscription.yaml
Due: overlay-test

chore(KeepAlive): Dep Update
  README.md
  terraform/homelab/keep-alive.tf
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
  terraform/homelab/providers.tf
Due: terraform-apply

chore(KeepAlive): Dep Update (#110)
  README.md
  terraform/homelab/keep-alive.tf
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
  terraform/homelab/providers.tf
Due: terraform-apply

chore(KeepAlive): Cloud Function Gen 2 Update
  .vscode/settings.json
  README.md
  terraform/homelab/keep-alive.tf
Due: terraform-apply

chore(KeepAlive): Cloud Function Gen 2 Update (#111)
  .vscode/settings.json
  README.md
  terraform/homelab/keep-alive.tf
Due: terraform-apply

fix(KeepAlive): Secret Typos
  terraform/homelab/keep-alive.tf
Due: terraform-apply

fix(KeepAlive): Secret Typos (#112)
  terraform/homelab/keep-alive.tf
Due: terraform-apply

chore(Updates): Updates
  kubernetes/container-security/base/subscription.yaml
  kubernetes/network-observability/base/object-bucket-claim.yaml
  kubernetes/quay/base/subscription.yaml
Due: overlay-test

chore(Kubeconform): Update
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
  containers/toolbox/containerfile
  containers/udi/containerfile
  kubernetes/ceph/base/scc.yaml
  kubernetes/kubevirt/base/hyperconverged.yaml
  main.bash
  okd/okd-configuration/components/scc/anyuid_scc.yaml
  okd/okd-configuration/overlays/sandbox/kustomization.yaml
  tekton/base/overlay-test.yaml
Due: ansible, overlay-test

chore(Kubeconform): Update (#113)
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
  containers/toolbox/containerfile
  containers/udi/containerfile
  kubernetes/ceph/base/scc.yaml
  kubernetes/kubevirt/base/hyperconverged.yaml
  main.bash
  okd/okd-configuration/components/scc/anyuid_scc.yaml
  okd/okd-configuration/overlays/sandbox/kustomization.yaml
  tekton/base/overlay-test.yaml
Due: ansible, overlay-test

feat(Netbox): SSO
  kubernetes/argocd/applications/netbox.yaml
  kubernetes/netbox/base/configmap.yaml
  kubernetes/netbox/base/configs/configuration.py
  kubernetes/netbox/base/configs/netbox.yaml
  kubernetes/netbox/base/cronjob.yaml
  kubernetes/netbox/base/deployment.yaml
  kubernetes/netbox/base/kustomization.yaml
  kubernetes/netbox/base/network-policy.yaml
  kubernetes/netbox/base/oauth-client.yaml
  terraform/homelab/zitadel_netbox.tf
Due: overlay-test, terraform-apply

feat(Netbox): SSO (#106)
  kubernetes/argocd/applications/netbox.yaml
  kubernetes/netbox/base/configmap.yaml
  kubernetes/netbox/base/configs/configuration.py
  kubernetes/netbox/base/configs/netbox.yaml
  kubernetes/netbox/base/cronjob.yaml
  kubernetes/netbox/base/deployment.yaml
  kubernetes/netbox/base/kustomization.yaml
  kubernetes/netbox/base/network-policy.yaml
  kubernetes/netbox/base/oauth-client.yaml
  terraform/homelab/zitadel_netbox.tf
Due: overlay-test, terraform-apply

chore(CRD Validation): Update Kubeconform Path
  .pre-commit-config.yaml
  .tekton/overlay-test.yaml
  kubernetes/kubevirt/base/hyperconverged.yaml
  main.bash
  tekton/base/overlay-test.yaml
Due: overlay-test

chore(CRD Validation): Update Kubeconform Path (#114)
  .pre-commit-config.yaml
  .tekton/overlay-test.yaml
  kubernetes/kubevirt/base/hyperconverged.yaml
  main.bash
  tekton/base/overlay-test.yaml
Due: overlay-test

fix(Resource): Tuning
  kubernetes/openshift-logging/base/clf.yaml
  kubernetes/postgres/base/subscription.yaml
  kubernetes/quay/base/postgres/quay/postgres.yaml
  kubernetes/stackrox-central/base/postgres/postgres.yaml
Due: overlay-test

chore(PSQL): Postgres 17 Upgrade
  .vscode/settings.json
  kubernetes/awx/base/postgres/postgres.yaml
  kubernetes/gitea/base/postgres/postgres.yaml
  kubernetes/homeassistant/base/postgres/postgres.yaml
  kubernetes/netbox/base/postgres/postgres.yaml
  kubernetes/nextcloud/base/deployment.yaml
  kubernetes/nextcloud/base/network-policy.yaml
  kubernetes/nextcloud/base/postgres/postgres.yaml
  kubernetes/postgres/README.md
  kubernetes/postgres/components/applications/grafana/postgres.yaml
  kubernetes/postgres/components/applications/photoprism/postgres.yaml
  kubernetes/quay/base/postgres/clair/postgres.yaml
  kubernetes/quay/base/postgres/quay/postgres.yaml
  kubernetes/quay/base/quay.yaml
  kubernetes/stackrox-central/base/postgres/postgres.yaml
Due: overlay-test

chore(PSQL): Postgres 17 Upgrade (#115)
  .vscode/settings.json
  kubernetes/awx/base/postgres/postgres.yaml
  kubernetes/gitea/base/postgres/postgres.yaml
  kubernetes/homeassistant/base/postgres/postgres.yaml
  kubernetes/netbox/base/postgres/postgres.yaml
  kubernetes/nextcloud/base/deployment.yaml
  kubernetes/nextcloud/base/network-policy.yaml
  kubernetes/nextcloud/base/postgres/postgres.yaml
  kubernetes/postgres/README.md
  kubernetes/postgres/components/applications/grafana/postgres.yaml
  kubernetes/postgres/components/applications/photoprism/postgres.yaml
  kubernetes/quay/base/postgres/clair/postgres.yaml
  kubernetes/quay/base/postgres/quay/postgres.yaml
  kubernetes/quay/base/quay.yaml
  kubernetes/stackrox-central/base/postgres/postgres.yaml
Due: overlay-test

chore(Keep-Alive): Dep Update
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply

chore(Backups): Stagger
  kubernetes/bitwarden/base/velero.yaml
  kubernetes/gitea/base/postgres/postgres.yaml
  kubernetes/gitea/base/velero.yaml
  kubernetes/heimdall/base/velero.yaml
  kubernetes/homeassistant/base/velero.yaml
  kubernetes/influxdb/base/velero.yaml
  kubernetes/mariadb-galera/base/velero.yaml
  kubernetes/netbox/base/postgres/postgres.yaml
  kubernetes/network-observability/base/object-bucket-claim.yaml
  kubernetes/nextcloud/base/postgres/postgres.yaml
  kubernetes/nextcloud/base/velero.yaml
  kubernetes/photoprism/base/velero.yaml
  kubernetes/postgres/base/velero.yaml
  kubernetes/postgres/components/applications/photoprism/postgres.yaml
  kubernetes/quay/base/postgres/clair/postgres.yaml
  kubernetes/quay/base/postgres/quay/postgres.yaml
  kubernetes/quay/base/velero.yaml
  kubernetes/stackrox-central/base/velero.yaml
  kubernetes/unifi-network-application/base/velero.yaml
  kubernetes/uptime-kuma/base/velero.yaml
  kubernetes/vault/base/velero.yaml
  kubernetes/zitadel/base/velero.yaml
Due: overlay-test

feat(EgressFirewall): Incept
  kubernetes/argocd/base/egress-firewall.yaml
  kubernetes/argocd/base/kustomization.yaml
  kubernetes/argocd/base/network-policy.yaml
  kubernetes/argocd/base/notifications/network-policy.yaml
  kubernetes/bitwarden/overlays/okd/kustomization.yaml
  kubernetes/dragonfly-operator/overlays/okd/egress-firewall.yaml
  kubernetes/dragonfly-operator/overlays/okd/kustomization.yaml
  kubernetes/grafana/overlays/okd/egress-firewall.yaml
  kubernetes/grafana/overlays/okd/kustomization.yaml
  kubernetes/heimdall/overlays/okd/egress-firewall.yaml
  kubernetes/heimdall/overlays/okd/kustomization.yaml
  kubernetes/influxdb/overlays/okd/egress-firewall.yaml
  kubernetes/influxdb/overlays/okd/kustomization.yaml
  kubernetes/kube-eagle/overlays/k3s/kustomization.yaml
  kubernetes/kube-eagle/overlays/okd/egress-firewall.yaml
  kubernetes/kube-eagle/overlays/okd/kustomization.yaml
  kubernetes/loki/base/network-policy.yaml
  kubernetes/loki/overlays/okd/egress-firewall.yaml
  kubernetes/loki/overlays/okd/kustomization.yaml
  kubernetes/mariadb-galera/overlays/okd/egress-firewall.yaml
  kubernetes/mariadb-galera/overlays/okd/kustomization.yaml
  kubernetes/minio-operator/base/network-policy.yaml
  kubernetes/minio-operator/overlays/okd/egress-firewall.yaml
  kubernetes/minio-operator/overlays/okd/kustomization.yaml
  kubernetes/mongodb-operator/overlays/okd/egress-firewall.yaml
  kubernetes/mongodb-operator/overlays/okd/kustomization.yaml
  kubernetes/prometheus/overlays/okd/egress-firewall.yaml
  kubernetes/prometheus/overlays/okd/kustomization.yaml
  kubernetes/vault/overlays/okd/egress-firewall.yaml
  kubernetes/vault/overlays/okd/kustomization.yaml
  kubernetes/vault/overlays/okd/network-policy.yaml
  kubernetes/zitadel/overlays/okd/egress-firewall.yaml
Due: overlay-test

feat(clair-action): Incept
  .tekton/apache-php-image.yaml
  .tekton/toolbox-image.yaml
  containers/toolbox/containerfile
  kubernetes/quay/base/postgres/clair/postgres.yaml
  tekton/base/clair-action/clair-action-task.yaml
  tekton/base/clair-action/containerfile
  tekton/base/clair-action/cronjob.yaml
  tekton/base/clair-action/kustomization.yaml
  tekton/base/clair-action/pvc.yaml
  tekton/base/clair-action/quay.sh
  tekton/base/kustomization.yaml
Due: overlay-test

feat(clair-action): Incept
  .tekton/apache-php-image.yaml
  .tekton/toolbox-image.yaml
  .tekton/udi-image.yaml
  containers/apache-php/containerfile
  containers/toolbox/containerfile
  containers/udi/containerfile
  kubernetes/quay/base/postgres/clair/postgres.yaml
  kubernetes/tekton/base/config.yaml
  tekton/base/clair-action/clair-action-task.yaml
  tekton/base/clair-action/containerfile
  tekton/base/clair-action/cronjob.yaml
  tekton/base/clair-action/kustomization.yaml
  tekton/base/clair-action/pvc.yaml
  tekton/base/clair-action/quay.sh
  tekton/base/kustomization.yaml
Due: apache-php-image, overlay-test

feat(clair-action): Incept
  .tekton/apache-php-image.yaml
  .tekton/toolbox-image.yaml
  .tekton/udi-image.yaml
  kubernetes/ceph/base/block-ci/ceph-block-pool.yaml
  kubernetes/ceph/base/block-ci/storage-class.yaml
  kubernetes/ceph/base/kustomization.yaml
  kubernetes/quay/base/config.yaml
  tekton/base/clair-action/clair-action-task.yaml
  tekton/base/clair-action/cronjob.yaml
Due: overlay-test

feat(clair-action): Incept (#116)
  .tekton/apache-php-image.yaml
  .tekton/toolbox-image.yaml
  .tekton/udi-image.yaml
  containers/apache-php/containerfile
  containers/toolbox/containerfile
  containers/udi/containerfile
  kubernetes/ceph/base/block-ci/ceph-block-pool.yaml
  kubernetes/ceph/base/block-ci/storage-class.yaml
  kubernetes/ceph/base/kustomization.yaml
  kubernetes/quay/base/config.yaml
  kubernetes/quay/base/postgres/clair/postgres.yaml
  kubernetes/tekton/base/config.yaml
  tekton/base/clair-action/clair-action-task.yaml
  tekton/base/clair-action/containerfile
  tekton/base/clair-action/cronjob.yaml
  tekton/base/clair-action/kustomization.yaml
  tekton/base/clair-action/pvc.yaml
  tekton/base/clair-action/quay.sh
  tekton/base/kustomization.yaml
Due: apache-php-image, overlay-test

chore(Buildah): Update
  .tekton/apache-php-image.yaml
  .tekton/toolbox-image.yaml
  .tekton/udi-image.yaml
  kubernetes/ceph/base/block-ci/ceph-block-pool.yaml
  tekton/base/clair-action/clair-action-task.yaml
  tekton/base/clair-action/cronjob.yaml
  tekton/tasks/buildah/0.7.1/buildah.yaml
Due: overlay-test

chore(Buildah): Update (#117)
  .tekton/apache-php-image.yaml
  .tekton/toolbox-image.yaml
  .tekton/udi-image.yaml
  kubernetes/ceph/base/block-ci/ceph-block-pool.yaml
  tekton/base/clair-action/clair-action-task.yaml
  tekton/base/clair-action/cronjob.yaml
  tekton/tasks/buildah/0.7.1/buildah.yaml
Due: overlay-test

chore(Clair-Action): Remove PVC
  .tekton/apache-php-image.yaml
  .tekton/toolbox-image.yaml
  .tekton/udi-image.yaml
  containers/apache-php/containerfile
  tekton/base/clair-action/clair-action-task.yaml
Due: apache-php-image, overlay-test

chore(Clair-Action): Remove PVC (#118)
  .tekton/apache-php-image.yaml
  .tekton/toolbox-image.yaml
  .tekton/udi-image.yaml
  containers/apache-php/containerfile
  tekton/base/clair-action/clair-action-task.yaml
Due: apache-php-image, overlay-test

chore(Clair-Action): Caching Updates
  .tekton/ansible-check.yaml
  .tekton/ansible.yaml
  .tekton/apache-php-image.yaml
  .tekton/overlay-test.yaml
  .tekton/terraform-apply.yaml
  .tekton/terraform-plan.yaml
  .tekton/toolbox-image.yaml
  .tekton/udi-image.yaml
  containers/apache-php/containerfile
  containers/toolbox/containerfile
  kubernetes/ceph/base/file-ci/ceph-filesystem.yaml
  kubernetes/ceph/base/file-ci/storage-class.yaml
  kubernetes/ceph/base/kustomization.yaml
  kubernetes/kubevirt/base/storage-profile.yaml
  tekton/base/clair-action/clair-action-task.yaml
  tekton/base/clair-action/cronjob-cache.yaml
  tekton/base/clair-action/cronjob-update.yaml
  tekton/base/clair-action/kustomization.yaml
  tekton/base/clair-action/pvc.yaml
  tekton/base/pvc.yaml
Due: apache-php-image, overlay-test

chore(Clair-Action): Caching Updates (#119)
  .tekton/ansible-check.yaml
  .tekton/ansible.yaml
  .tekton/apache-php-image.yaml
  .tekton/overlay-test.yaml
  .tekton/terraform-apply.yaml
  .tekton/terraform-plan.yaml
  .tekton/toolbox-image.yaml
  .tekton/udi-image.yaml
  containers/apache-php/containerfile
  containers/toolbox/containerfile
  kubernetes/ceph/base/file-ci/ceph-filesystem.yaml
  kubernetes/ceph/base/file-ci/storage-class.yaml
  kubernetes/ceph/base/kustomization.yaml
  kubernetes/kubevirt/base/storage-profile.yaml
  tekton/base/clair-action/clair-action-task.yaml
  tekton/base/clair-action/cronjob-cache.yaml
  tekton/base/clair-action/cronjob-update.yaml
  tekton/base/clair-action/kustomization.yaml
  tekton/base/clair-action/pvc.yaml
  tekton/base/pvc.yaml
Due: apache-php-image, overlay-test

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: (((any of: kubernetes/***) or (any of: okd/***)) or (any of: task/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
