Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile

fix(pr-agent): correct deployment for GitHub App mode
  kubernetes/pr-agent/base/deployment.yaml
  kubernetes/pr-agent/overlays/okd/http-route.yaml
  kubernetes/pr-agent/overlays/okd/namespace.yaml
Due: overlay-test

feat(gateway): add pr-agent.arthurvardevanyan.com external route
  okd/gateway/components/gateway/external/certificate.yaml
  okd/gateway/components/gateway/external/gateway.yaml
  okd/gateway/components/gateway/external/network-policy.yaml
Due: overlay-test

fix(pr-agent): use OPENAI__API_BASE so requests reach internal LiteLLM proxy
  kubernetes/pr-agent/base/deployment.yaml
Due: overlay-test

fix(pr-agent): bump custom_model_max_tokens and max_model_tokens to 147456
  kubernetes/pr-agent/base/deployment.yaml
Due: overlay-test

fix(pr-agent): disable check-run publishing, revert to PR comments
  kubernetes/pr-agent/base/deployment.yaml
Due: overlay-test

feat(pr-agent): migrate GitHub App secrets to homelab/llm/pr-agent and enable PR features
  kubernetes/pr-agent/base/deployment.yaml
  kubernetes/pr-agent/base/external-secret.yaml
Due: overlay-test

fix(pr-agent): explicitly set handle_pr_actions for auto-run on PR open
  kubernetes/pr-agent/base/deployment.yaml
Due: overlay-test

fix(pr-agent): fix LLM timeout/fallback config and cap push concurrency
  kubernetes/pr-agent/base/deployment.yaml
Due: overlay-test

fix(pr-agent): harden rolling reboots and ignore dependency PRs
  kubernetes/pr-agent/base/deployment.yaml
Due: overlay-test

feat(pr-agent): add self-hosted GitHub App deployment (#710)
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/pr-agent.yaml
  kubernetes/llm/components/litellm/network-policy.yaml
  kubernetes/pr-agent/base/certificate.yaml
  kubernetes/pr-agent/base/deployment.yaml
  kubernetes/pr-agent/base/external-secret.yaml
  kubernetes/pr-agent/base/http-route.yaml
  kubernetes/pr-agent/base/kustomization.yaml
  kubernetes/pr-agent/base/namespace.yaml
  kubernetes/pr-agent/base/network-policy.yaml
  kubernetes/pr-agent/base/probe.yaml
  kubernetes/pr-agent/base/service-account.yaml
  kubernetes/pr-agent/base/service.yaml
  kubernetes/pr-agent/base/vpa.yaml
  kubernetes/pr-agent/overlays/okd/kustomization.yaml
  okd/gateway/components/coraza/rules/exclusions/external-pre.yaml
  okd/gateway/components/gateway/external/authorization-policy.yaml
  okd/gateway/components/gateway/external/certificate.yaml
  okd/gateway/components/gateway/external/gateway.yaml
  okd/gateway/components/gateway/external/network-policy.yaml
Due: overlay-test

chore(okd): upgrade 4.22.0-okd-scos.9
  CHANGELOG.md
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  kubernetes/opentelemetry-operator/base/subscription.yaml
  kubernetes/opentelemetry-operator/overlays/okd/vpa.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

chore(okd): upgrade 4.22.0-okd-scos.9 (#712)
  CHANGELOG.md
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  kubernetes/opentelemetry-operator/base/subscription.yaml
  kubernetes/opentelemetry-operator/overlays/okd/vpa.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

feat(bgp): dedicated network
  README.md
  kubernetes/metallb/components/okd/bgp-peers.yaml
  kubernetes/metallb/components/okd/ip.yaml
  kubernetes/metallb/components/okd/okd.conf
  kubernetes/nmstate/overlays/microshift/network/dns.yaml
  kubernetes/nmstate/overlays/microshift/network/nodeNetworkConfigurationPolicy.yaml
  kubernetes/nmstate/overlays/okd/network/dns.yaml
  kubernetes/nmstate/overlays/sandbox/network/dns.yaml
  kubernetes/ntp/overlays/okd/dns.yaml
  kubernetes/ntp/overlays/okd/service.yaml
  kubernetes/pihole/overlays/okd/egress-firewall.yaml
  kubernetes/pihole/overlays/okd/network-policy.yaml
  kubernetes/technitium-dns/components/technitium-dns/statefulset.yaml
  kubernetes/technitium-dns/overlays/okd/dns.yaml
  kubernetes/technitium-dns/overlays/okd/service.yaml
  okd/gateway/components/gateway/external/configmap.yaml
  okd/gateway/components/gateway/internal/configmap.yaml
  okd/node-config/gpu-1.yaml
  okd/node-config/worker-1.yaml
  okd/node-config/worker-2.yaml
  okd/node-config/worker-3.yaml
  okd/okd-configuration/components/ntp/ntp.bu
  sandbox/kubevirt/okd/configs/agent-config.yaml
Due: overlay-test

feat(bgp): move MetalLB to dedicated VLAN 9 (#713)
  README.md
  kubernetes/metallb/components/okd/bgp-peers.yaml
  kubernetes/metallb/components/okd/ip.yaml
  kubernetes/metallb/components/okd/okd.conf
  kubernetes/nmstate/overlays/microshift/network/dns.yaml
  kubernetes/nmstate/overlays/microshift/network/nodeNetworkConfigurationPolicy.yaml
  kubernetes/nmstate/overlays/okd/network/dns.yaml
  kubernetes/nmstate/overlays/sandbox/network/dns.yaml
  kubernetes/ntp/overlays/okd/dns.yaml
  kubernetes/ntp/overlays/okd/service.yaml
  kubernetes/pihole/overlays/okd/egress-firewall.yaml
  kubernetes/pihole/overlays/okd/network-policy.yaml
  kubernetes/pr-agent/base/http-route.yaml
  kubernetes/technitium-dns/components/openshift/egress-firewall.yaml
  kubernetes/technitium-dns/components/technitium-dns/statefulset.yaml
  kubernetes/technitium-dns/overlays/okd/dns.yaml
  kubernetes/technitium-dns/overlays/okd/service.yaml
  okd/gateway/components/gateway/external/configmap.yaml
  okd/gateway/components/gateway/internal/configmap.yaml
  okd/node-config/gpu-1.yaml
  okd/node-config/worker-1.yaml
  okd/node-config/worker-2.yaml
  okd/node-config/worker-3.yaml
  okd/okd-configuration/components/ntp/ntp.bu
  sandbox/kubevirt/okd/configs/agent-config.yaml
Due: overlay-test

feat(pdb): unhealthyPodEvictionPolicy
  kubernetes/argocd/admin-plugin/pdb.yaml
  kubernetes/blackbox-exporter/base/pdb.yaml
  kubernetes/bmc-shim/base/pdb.yaml
  kubernetes/cert-manager/components/trust-manager/pdb..yaml
  kubernetes/cert-manager/components/yaml/pdb.yaml
  kubernetes/cloudflare-ddns/base/pdb.yaml
  kubernetes/cloudnative-pg/base/pdb.yaml
  kubernetes/coraza/base/pdb.yaml
  kubernetes/external-dns/base/pdb.yaml
  kubernetes/external-dns/components/unifi/pdb.yaml
  kubernetes/external-dns/components/unifi/webhook-pdb.yaml
  kubernetes/external-secrets-operator/components/openshift/pdb.yaml
  kubernetes/gitea/base/minio/pdb.yaml
  kubernetes/gitea/base/pdb.yaml
  kubernetes/grafana/base/pdb.yaml
  kubernetes/immich/base/pdb.yaml
  kubernetes/kube-vip/components/openshift/pdb.yaml
  kubernetes/kyverno/base/pdb.yaml
  kubernetes/netbox/base/pdb.yaml
  kubernetes/network-observability/base/minio/pdb.yaml
  kubernetes/network-observability/base/pdb.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/pdb.yaml
  kubernetes/nextcloud-fpm/components/nginx/pdb.yaml
  kubernetes/ntp/overlays/okd/pdb.yaml
  kubernetes/prometheus/components/prometheus/pdb.yaml
  kubernetes/prometheus/components/thanos-querier/pdb.yaml
  kubernetes/prometheus/components/thanos/pdb.yaml
  kubernetes/quay/base/minio/pdb.yaml
  kubernetes/quay/base/pdb.yaml
  kubernetes/unifi-network-application/components/unifi-network-application/mongodb/pdb.yaml
  kubernetes/vault/components/ha/pdb.yaml
  kubernetes/zitadel/base/pdb.yaml
Due: overlay-test

feat(pdb): add unhealthyPodEvictionPolicy to all user-configured PDBs (#714)
  kubernetes/argocd/admin-plugin/pdb.yaml
  kubernetes/blackbox-exporter/base/pdb.yaml
  kubernetes/bmc-shim/base/pdb.yaml
  kubernetes/cert-manager/components/trust-manager/pdb..yaml
  kubernetes/cert-manager/components/yaml/pdb.yaml
  kubernetes/cloudflare-ddns/base/pdb.yaml
  kubernetes/cloudnative-pg/base/pdb.yaml
  kubernetes/coraza/base/pdb.yaml
  kubernetes/external-dns/base/pdb.yaml
  kubernetes/external-dns/components/unifi/pdb.yaml
  kubernetes/external-dns/components/unifi/webhook-pdb.yaml
  kubernetes/external-secrets-operator/components/openshift/pdb.yaml
  kubernetes/gitea/base/minio/pdb.yaml
  kubernetes/gitea/base/pdb.yaml
  kubernetes/grafana/base/pdb.yaml
  kubernetes/immich/base/pdb.yaml
  kubernetes/kube-vip/components/openshift/pdb.yaml
  kubernetes/kyverno/base/pdb.yaml
  kubernetes/netbox/base/pdb.yaml
  kubernetes/network-observability/base/minio/pdb.yaml
  kubernetes/network-observability/base/pdb.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/pdb.yaml
  kubernetes/nextcloud-fpm/components/nginx/pdb.yaml
  kubernetes/ntp/overlays/okd/pdb.yaml
  kubernetes/prometheus/components/prometheus/pdb.yaml
  kubernetes/prometheus/components/thanos-querier/pdb.yaml
  kubernetes/prometheus/components/thanos/pdb.yaml
  kubernetes/quay/base/minio/pdb.yaml
  kubernetes/quay/base/pdb.yaml
  kubernetes/unifi-network-application/components/unifi-network-application/mongodb/pdb.yaml
  kubernetes/vault/components/ha/pdb.yaml
  kubernetes/zitadel/base/pdb.yaml
Due: overlay-test

chore(operator): updates
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/opentelemetry-operator/base/subscription.yaml
  kubernetes/vertical-pod-autoscaler/base/subscription.yaml
  okd/gateway/components/gateway/external/configmap.yaml
  okd/gateway/components/gateway/external/vpa.yaml
  okd/gateway/components/gateway/internal/vpa.yaml
Due: overlay-test

feat(pr-agent): add Dragonfly instance for LiteLLM response cache
  kubernetes/pr-agent/base/deployment.yaml
  kubernetes/pr-agent/base/dragonfly/dragonfly.yaml
  kubernetes/pr-agent/base/dragonfly/kustomization.yaml
  kubernetes/pr-agent/base/dragonfly/network-policy.yaml
  kubernetes/pr-agent/base/dragonfly/redis-url-eso.yaml
  kubernetes/pr-agent/base/dragonfly/service-account.yaml
  kubernetes/pr-agent/base/dragonfly/vpa.yaml
  kubernetes/pr-agent/base/kustomization.yaml
  kubernetes/pr-agent/base/network-policy.yaml
Due: overlay-test

fix(pr-agent): add Dragonfly component to kustomization
  kubernetes/pr-agent/base/kustomization.yaml
Due: overlay-test

fix(pr-agent): add Dragonfly component to kustomization
  kubernetes/pr-agent/base/dragonfly/redis-url-eso.yaml
  kubernetes/pr-agent/base/http-route.yaml
  kubernetes/pr-agent/base/kustomization.yaml
Due: overlay-test

feat(embed): updates
  kubernetes/kube-descheduler/base/descheduler.yaml
  kubernetes/llm/README.md
  kubernetes/llm/components/litellm/README.md
  kubernetes/llm/components/litellm/litellm.yaml
  kubernetes/llm/components/litellm/llama_swap_affinity.py
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/llm/components/model-downloader/cronjob.yaml
  kubernetes/llm/components/open-webui/deployment.yaml
Due: overlay-test

feat(llm): move embedding from CPU to GPU spread, remove llama-cpp-embed (#717)
  kubernetes/kube-descheduler/base/descheduler.yaml
  kubernetes/llm/README.md
  kubernetes/llm/components/litellm/README.md
  kubernetes/llm/components/litellm/litellm.yaml
  kubernetes/llm/components/litellm/llama_swap_affinity.py
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/llm/components/model-downloader/cronjob.yaml
  kubernetes/llm/components/open-webui/deployment.yaml
Due: overlay-test

fix(buildah): add retries to image push step
  tekton/tasks/buildah/0.7.1/buildah.yaml
Due: overlay-test

feat(buildah): fuse
  tekton/tasks/buildah/0.7.1/buildah.yaml
Due: overlay-test

feat(buildah): fuse (#718)
  tekton/tasks/buildah/0.7.1/buildah.yaml
Due: overlay-test

feat(vllm): incept
  containers/llama-swap/containerfile
  containers/llama-swap/patches/patch_fix_accepted_sync.py
  containers/llama-swap/patches/patch_fix_backward_copy.py
  containers/llama-swap/patches/patch_fix_eagle_drop.py
  containers/llama-swap/patches/patch_gdn_mixed_split_v5.py
  containers/llama-swap/patches/patch_mtp_boundary.py
  containers/llama-swap/patches/patch_mtp_nightly.py
  containers/toolbox/containerfile
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  kubernetes/llm/components/model-downloader/cronjob.yaml
Due: overlay-test, toolbox-image

feat: add --enable-auto-tool-choice to 35b vllm models
  kubernetes/llm/components/llama-swap/llama-swap.yaml
Due: overlay-test

fix(llama-swap): add explicit proxy to vllm models to fix v255 port validation
  kubernetes/llm/components/llama-swap/llama-swap.yaml
Due: overlay-test

feat(llm): tuning
  kubernetes/grafana/base/dashboards/llama-swap.json
  kubernetes/llm/README.md
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/prometheus/components/prometheus-nas/config-map.yaml
  kubernetes/prometheus/components/prometheus/config-map.yaml
Due: overlay-test

feat(llm): tuning
  containers/toolbox/containerfile
  kubernetes/llm/README.md
  kubernetes/llm/components/litellm/README.md
  kubernetes/llm/components/litellm/litellm.yaml
  kubernetes/llm/components/litellm/llama_swap_affinity.py
  kubernetes/llm/components/llama-swap/README.md
  machineConfigs/servers/etc/locale.conf
  machineConfigs/servers/etc/systemd/system/locale-gen.service
  tekton/base/ansible-task.yaml
Due: ansible, overlay-test, toolbox-image

fix(llama-swap): use ${PORT} instead of <p> in vllm cmds to satisfy v255 proxy validation
  kubernetes/llm/components/llama-swap/llama-swap.yaml
Due: overlay-test

feat(llama-swap): add vllm-device-wrapper, fix GPU-1 env inheritance
  .tekton/llama-swap.yaml
  containers/llama-swap/containerfile
  containers/llama-swap/vllm-device-wrapper.sh
  kubernetes/llm/components/litellm/litellm.yaml
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

feat(llama-swap): update to v255 b10868 (sha be49bbe)
  kubernetes/llm/components/llama-swap/deployment.yaml
Due: overlay-test

feat(llm): tuning
  containers/llama-swap/containerfile
  containers/llama-swap/llama-device-wrapper.sh
  kubernetes/llm/components/litellm/litellm.yaml
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
Due: overlay-test

feat(llm): tuning
  containers/llama-swap/vllm-device-wrapper.sh
  kubernetes/llm/components/llama-swap/README.md
  kubernetes/llm/components/llama-swap/deployment.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, overlay-test

fix(llama-swap): use aria2c for vLLM model downloads and restore embed-spread
  containers/llama-swap/containerfile
  containers/toolbox/containerfile
  kubernetes/llm/components/model-downloader/cronjob.yaml
Due: overlay-test, toolbox-image

fix(toolbox): generate en_US.utf8 locale to fix ansible-check
  containers/toolbox/containerfile
  machineConfigs/desktop/home/arthur/.config/opencode/opencode.json
Due: ansible, toolbox-image

feat(llama-swap): upgrade to v255-intel-b10868
  containers/llama-swap/containerfile
Due: none

fix(tekton): set build context to containers/llama-swap for patches dir
  .tekton/llama-swap.yaml
Due: none

fix(llama-swap): pin -ngl 99 and add --metrics to embed-spread
  kubernetes/llm/components/litellm/litellm.yaml
  kubernetes/llm/components/llama-swap/llama-swap.yaml
Due: overlay-test
