Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, toolbox-image

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile

chore(certificates): update
  kubernetes/bitwarden/base/certificate.yaml
  kubernetes/ceph/base/certificate.yaml
  kubernetes/cert-manager/components/trust-manager/certificate.yaml
  kubernetes/gitea/base/certificate.yaml
  kubernetes/homeassistant/base/certificate.yaml
  kubernetes/kfca/overlays/microshift/certificate.yaml
  kubernetes/minio/base/certificate.yaml
  kubernetes/pihole/overlays/microshift/certificate.yaml
  kubernetes/quay/base/certificate.yaml
  kubernetes/stackrox-central/base/certificate.yaml
  kubernetes/traefik/overlays/k3s/wildcard-certificate.yaml
  kubernetes/unifi-network-application/base/certificate.yaml
  kubernetes/uptime-kuma/components/ingress/certificate.yaml
  kubernetes/vault/components/singleton/certificate.yaml
  kubernetes/zitadel/base/certificate.yaml
  okd/okd-configuration/components/certificates/api-certificate.yaml
  okd/okd-configuration/components/certificates/ingress-certificate.yaml
  okd/okd-configuration/components/gateway/certificate.yaml
  okd/okd-configuration/overlays/okd/apps-ingress/certificate.yaml
  tekton/base/certificate.yaml
Due: overlay-test

chore(certificates): update (#309)
  kubernetes/bitwarden/base/certificate.yaml
  kubernetes/ceph/base/certificate.yaml
  kubernetes/cert-manager/components/trust-manager/certificate.yaml
  kubernetes/gitea/base/certificate.yaml
  kubernetes/homeassistant/base/certificate.yaml
  kubernetes/kfca/overlays/microshift/certificate.yaml
  kubernetes/minio/base/certificate.yaml
  kubernetes/pihole/overlays/microshift/certificate.yaml
  kubernetes/quay/base/certificate.yaml
  kubernetes/stackrox-central/base/certificate.yaml
  kubernetes/traefik/overlays/k3s/wildcard-certificate.yaml
  kubernetes/unifi-network-application/base/certificate.yaml
  kubernetes/uptime-kuma/components/ingress/certificate.yaml
  kubernetes/vault/components/singleton/certificate.yaml
  kubernetes/zitadel/base/certificate.yaml
  okd/okd-configuration/components/certificates/api-certificate.yaml
  okd/okd-configuration/components/certificates/ingress-certificate.yaml
  okd/okd-configuration/components/gateway/certificate.yaml
  okd/okd-configuration/overlays/okd/apps-ingress/certificate.yaml
  tekton/base/certificate.yaml
Due: overlay-test

chore(okd-nodes): separate argo
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/okd-nodes.yaml
  kubernetes/cert-manager/components/trust-manager/crd.yaml
  okd/okd-configuration/overlays/okd/kustomization.yaml
  okd/okd-nodes/base/kustomization.yaml
  okd/okd-nodes/base/nodes.yaml
  okd/okd-nodes/overlays/okd/kustomization.yaml
Due: overlay-test

fix(version-checker): egress-firewall update
  kubernetes/version-checker/overlays/okd/egress-firewall.yaml
Due: overlay-test

chore(doc): update
  README.md
Due: none

fix(certificate): ceph
  kubernetes/ceph/base/certificate.yaml
Due: overlay-test

chore(live-migrate): tuning
  kubernetes/kubevirt/base/hyperconverged.yaml
  kubernetes/kubevirt/base/kyverno.yaml
Due: overlay-test

chore(live-migrate): tuning (#310)
  kubernetes/kubevirt/base/hyperconverged.yaml
  kubernetes/kubevirt/base/kyverno.yaml
Due: overlay-test

fix(netbox): secret-key
  kubernetes/netbox/base/cronjob.yaml
Due: overlay-test

fix(certificate): unifi
  kubernetes/unifi-network-application/base/certificate.yaml
Due: overlay-test

fix(tls): temp tweaks
  kubernetes/gitea/components/openshift/ingress.yaml
  kubernetes/homeassistant/components/openshift/ingress.yaml
  kubernetes/zitadel/base/route.yaml
Due: overlay-test

chore(workers): shutdown
  okd/okd-nodes/base/nodes.yaml
Due: overlay-test

chore(purelymail): mail server update
  .vscode/settings.json
  kubernetes/homeassistant/base/vm-cluster.yaml
  kubernetes/nextcloud-fpm/overlays/okd/egress-firewall.yaml
  kubernetes/zitadel/base/network-policy.yaml
  kubernetes/zitadel/components/openshift/egress-firewall.yaml
Due: overlay-test

chore(website): x10hosting to cloud run
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/blackbox-exporter/overlays/okd/egress-firewall.yaml
  kubernetes/uptime-kuma/components/openshift/egress-firewall.yaml
Due: overlay-test

chore(terraform): task update
  .tekton/terraform-apply.yaml
  .tekton/terraform.yaml
  tekton/base/overlay-test.yaml
  tekton/base/terraform-task.yaml
  terraform/homelab/main.tf
Due: overlay-test, terraform-apply

chore(tekton): update
  .tekton/ansible-check.yaml
  .tekton/ansible.yaml
  .tekton/apache-php-image.yaml
  .tekton/gpu-driver.yaml
  .tekton/overlay-test.yaml
  .tekton/terraform.yaml
  .tekton/toolbox-image.yaml
  tekton/base/ansible-task.yaml
  tekton/base/overlay-test.yaml
  tekton/base/terraform-task.yaml
  tekton/base/toolbox.yaml
  tekton/base/triggers/template.yaml
  tekton/tasks/buildah/0.7.1/README.md
  tekton/tasks/buildah/0.7.1/buildah.yaml
  tekton/tasks/git-clone/0.9.1/README.md
  tekton/tasks/git-clone/0.9.1/git-clone.yaml
  tekton/tasks/k8s-deploy/0.1.1/k8s-deploy.yaml
  tekton/tasks/k8s-deploy/0.2.0/k8s-deploy.yaml
  tekton/tasks/k8s-deploy/0.3.0/k8s-deploy.yaml
Due: overlay-test

chore(tekton): v1 conversion && task update (#311)
  .tekton/ansible-check.yaml
  .tekton/ansible.yaml
  .tekton/apache-php-image.yaml
  .tekton/gpu-driver.yaml
  .tekton/overlay-test.yaml
  .tekton/terraform-apply.yaml
  .tekton/terraform.yaml
  .tekton/toolbox-image.yaml
  tekton/base/ansible-task.yaml
  tekton/base/overlay-test.yaml
  tekton/base/terraform-task.yaml
  tekton/base/toolbox.yaml
  tekton/base/triggers/template.yaml
  tekton/tasks/buildah/0.7.1/README.md
  tekton/tasks/buildah/0.7.1/buildah.yaml
  tekton/tasks/git-clone/0.9.1/README.md
  tekton/tasks/git-clone/0.9.1/git-clone.yaml
  tekton/tasks/k8s-deploy/0.1.1/k8s-deploy.yaml
  tekton/tasks/k8s-deploy/0.2.0/k8s-deploy.yaml
  tekton/tasks/k8s-deploy/0.3.0/k8s-deploy.yaml
  terraform/homelab/main.tf
Due: overlay-test, terraform-apply

feat(terraform): convert to remote task
  tekton/base/kustomization.yaml
  tekton/tasks/terraform/0.1.0/README.md
  tekton/tasks/terraform/0.1.0/terraform.yaml
Due: overlay-test

feat(terraform): convert to remote task (#312)
  tekton/base/kustomization.yaml
  tekton/tasks/terraform/0.1.0/README.md
  tekton/tasks/terraform/0.1.0/terraform.yaml
Due: overlay-test

chore(terraform): test remote task
  .tekton/terraform.yaml
  terraform/homelab/main.tf
Due: terraform-apply

chore(terraform): test remote task
  .tekton/overlay-test.yaml
Due: none

chore(terraform): test remote task
  tekton/base/overlay-test.yaml
Due: overlay-test

chore(terraform): test remote task (#313)
  .tekton/overlay-test.yaml
  .tekton/terraform.yaml
  tekton/base/overlay-test.yaml
  terraform/homelab/main.tf
Due: overlay-test, terraform-apply

feat(arthurvardevanyan-com): onboard repo to CI Systems
  kubernetes/github-runners/base/kustomization.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/arthurvardevanyan.yaml
  kubernetes/kube-descheduler/base/descheduler.yaml
  okd/okd-configuration/components/image-scc/rbac.yaml
Due: overlay-test

feat(arthurvardevanyan-com): onboard repo to CI Systems (#314)
  kubernetes/github-runners/base/kustomization.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/arthurvardevanyan.yaml
  kubernetes/kube-descheduler/base/descheduler.yaml
  okd/okd-configuration/components/image-scc/rbac.yaml
Due: overlay-test

feat(terraform): tfvars support
  kubernetes/vault/README.md
  tekton/tasks/terraform/0.1.0/terraform.yaml
Due: overlay-test

feat(terraform): tfvars support (#315)
  kubernetes/vault/README.md
  tekton/tasks/terraform/0.1.0/terraform.yaml
Due: overlay-test

feat(terraform): json support
  tekton/tasks/terraform/0.1.0/terraform.yaml
Due: overlay-test

feat(blackbox): egressfirewall update
  kubernetes/blackbox-exporter/overlays/okd/egress-firewall.yaml
Due: overlay-test

fix(github-runners): additional firewall rules
  .vscode/settings.json
  kubernetes/github-runners/base/runner-scale-sets/egress-firewall.yaml
Due: overlay-test

fix(github-runners): additional firewall rules (#316)
  .vscode/settings.json
  kubernetes/github-runners/base/runner-scale-sets/egress-firewall.yaml
Due: overlay-test

chore(tekton): hpa update
  kubernetes/tekton/base/kustomization.yaml
  kubernetes/tekton/base/kyverno.yaml
Due: overlay-test

fix(4.21.0-okd-scos.ec.12): upgrade
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

fix(4.21.0-okd-scos.ec.12): upgrade (#317)
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

fix(container-registry): firewall update
  kubernetes/container-security/overlays/okd/egress-firewall.yaml
  kubernetes/quay/base/egress-firewall.yaml
  kubernetes/stackrox-central/overlays/okd/egress-firewall.yaml
Due: overlay-test

feat(bmh): enroll additional workers
  okd/nodes/baremetalhosts/worker-1.yaml
  okd/nodes/baremetalhosts/worker-2.yaml
  okd/nodes/baremetalhosts/worker-3.yaml
  okd/nodes/machines/worker-1.yaml
  okd/nodes/machines/worker-2.yaml
  okd/nodes/machines/worker-3.yaml
  okd/nodes/nodes-config/gpu-1.yaml
  okd/nodes/nodes-config/worker-1.yaml
  okd/nodes/nodes-config/worker-2.yaml
  okd/nodes/nodes-config/worker-3.yaml
Due: overlay-test

chore(workers): object update
  okd/nodes/baremetalhosts/worker-1.yaml
  okd/nodes/baremetalhosts/worker-2.yaml
  okd/nodes/baremetalhosts/worker-3.yaml
  okd/nodes/machines/worker-1.yaml
  okd/nodes/machines/worker-2.yaml
  okd/nodes/machines/worker-3.yaml
  okd/nodes/machines/worker-machineset.yaml
  okd/nodes/workers/worker-1.yaml
  okd/nodes/workers/worker-2.yaml
  okd/nodes/workers/worker-3.yaml
Due: overlay-test

chore(workers): object update
  .vscode/settings.json
  kubernetes/argocd/applications/okd-nodes.yaml
  okd/node-config/gpu-1.yaml
  okd/node-config/worker-1.yaml
  okd/node-config/worker-2.yaml
  okd/node-config/worker-3.yaml
  okd/nodes/machines/worker-1.yaml
  okd/nodes/machines/worker-2.yaml
  okd/nodes/machines/worker-3.yaml
  okd/nodes/workers/worker-1.yaml
  okd/nodes/workers/worker-2.yaml
  okd/nodes/workers/worker-3.yaml
  okd/okd-nodes/base/bmh/worker-1.yaml
  okd/okd-nodes/base/bmh/worker-2.yaml
  okd/okd-nodes/base/bmh/worker-3.yaml
  okd/okd-nodes/base/kustomization.yaml
  okd/okd-nodes/base/machine-set/worker-1.yaml
  okd/okd-nodes/base/machine-set/worker-2.yaml
  okd/okd-nodes/base/machine-set/worker-3.yaml
  okd/okd-nodes/base/node/server-1.yaml
  okd/okd-nodes/base/node/server-2.yaml
  okd/okd-nodes/base/node/server-3.yaml
  okd/okd-nodes/base/nodes.yaml
Due: overlay-test

feat(bmh): enroll additional workers (#305)
  .vscode/settings.json
  kubernetes/argocd/applications/okd-nodes.yaml
  main.bash
  okd/node-config/gpu-1.yaml
  okd/node-config/worker-1.yaml
  okd/node-config/worker-2.yaml
  okd/node-config/worker-3.yaml
  okd/okd-nodes/base/bmh/worker-1.yaml
  okd/okd-nodes/base/bmh/worker-2.yaml
  okd/okd-nodes/base/bmh/worker-3.yaml
  okd/okd-nodes/base/kustomization.yaml
  okd/okd-nodes/base/machine-set/worker-1.yaml
  okd/okd-nodes/base/machine-set/worker-2.yaml
  okd/okd-nodes/base/machine-set/worker-3.yaml
  okd/okd-nodes/base/machine/server-1.yaml
  okd/okd-nodes/base/machine/server-2.yaml
  okd/okd-nodes/base/machine/server-3.yaml
  okd/okd-nodes/base/nodes.yaml
Due: overlay-test
