Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, toolbox-image

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile

chore(MicroShift): VLAN Migrate
  README.md
  ansible/inventory
  ansible/playbooks/servers/microshift/configs.yaml
  kubernetes/argocd/base/egress-firewall.yaml
  kubernetes/argocd/base/network-policy.yaml
  kubernetes/blackbox-exporter/base/network-policy.yaml
  kubernetes/external-dns/base/network-policy.yaml
  kubernetes/external-dns/components/openshift/egress-firewall.yaml
  kubernetes/kube-vip/overlays/microshift/kustomization.yaml
  kubernetes/kube-vip/overlays/microshift/vlan11.yaml
  kubernetes/nmstate/overlays/microshift/network/dns.yaml
  kubernetes/nmstate/overlays/microshift/network/nodeNetworkConfigurationPolicy.yaml
  kubernetes/nmstate/overlays/okd/network/dns.yaml
  kubernetes/nmstate/overlays/sandbox/network/dns.yaml
  kubernetes/ntp/overlays/microshift/kustomization.yaml
  kubernetes/ntp/overlays/okd/dns.yaml
  kubernetes/ntp/overlays/okd/kustomization.yaml
  kubernetes/pihole/base/99-my-settings.conf
  kubernetes/pihole/components/metrics/endpoints.yaml
  kubernetes/pihole/components/metrics/services.yaml
  kubernetes/pihole/components/vlan3/statefulset.yaml
  kubernetes/pihole/overlays/microshift/service.yaml
  kubernetes/pihole/overlays/okd/egress-firewall.yaml
  kubernetes/pihole/overlays/okd/network-policy.yaml
  kubernetes/pihole/overlays/okd/service.yaml
  kubernetes/prometheus/components/openshift/dns.yaml
  kubernetes/prometheus/components/openshift/egress-firewall.yaml
  kubernetes/vault/base/network-policy.yaml
  kubernetes/vault/components/openshift/egress-firewall.yaml
  machineConfigs/servers/microshift/etc/microshift/config.d/10-subjectAltNames.yaml
  okd/okd-configuration/components/ntp/ntp.bu
  okd/okd-configuration/components/ntp/ntp.yaml
  sandbox/kubevirt/okd/configs/agent-config.yaml
Due: ansible, overlay-test

chore(MicroShift): VLAN Migrate (#156)
  README.md
  ansible/inventory
  ansible/playbooks/servers/microshift/configs.yaml
  kubernetes/argocd/base/egress-firewall.yaml
  kubernetes/argocd/base/network-policy.yaml
  kubernetes/blackbox-exporter/base/network-policy.yaml
  kubernetes/external-dns/base/network-policy.yaml
  kubernetes/external-dns/components/openshift/egress-firewall.yaml
  kubernetes/kube-vip/overlays/microshift/kustomization.yaml
  kubernetes/kube-vip/overlays/microshift/vlan11.yaml
  kubernetes/nmstate/overlays/microshift/network/dns.yaml
  kubernetes/nmstate/overlays/microshift/network/nodeNetworkConfigurationPolicy.yaml
  kubernetes/nmstate/overlays/okd/network/dns.yaml
  kubernetes/nmstate/overlays/sandbox/network/dns.yaml
  kubernetes/ntp/overlays/microshift/kustomization.yaml
  kubernetes/ntp/overlays/okd/dns.yaml
  kubernetes/ntp/overlays/okd/kustomization.yaml
  kubernetes/pihole/base/99-my-settings.conf
  kubernetes/pihole/components/metrics/endpoints.yaml
  kubernetes/pihole/components/metrics/services.yaml
  kubernetes/pihole/components/vlan3/statefulset.yaml
  kubernetes/pihole/overlays/microshift/service.yaml
  kubernetes/pihole/overlays/okd/egress-firewall.yaml
  kubernetes/pihole/overlays/okd/network-policy.yaml
  kubernetes/pihole/overlays/okd/service.yaml
  kubernetes/prometheus/components/openshift/dns.yaml
  kubernetes/prometheus/components/openshift/egress-firewall.yaml
  kubernetes/vault/base/network-policy.yaml
  kubernetes/vault/components/openshift/egress-firewall.yaml
  machineConfigs/servers/microshift/etc/microshift/config.d/10-subjectAltNames.yaml
  okd/okd-configuration/components/ntp/ntp.bu
  okd/okd-configuration/components/ntp/ntp.yaml
  sandbox/kubevirt/okd/configs/agent-config.yaml
Due: ansible, overlay-test

chore(PiHole): Storage Increase
  kubernetes/pihole/components/pihole-infra/pvc.yaml
  kubernetes/pihole/components/pihole/pvc.yaml
  kubernetes/pihole/components/vlan3/pvc.yaml
Due: overlay-test

chore(Readme): VLAN Isolation
  README.md
Due: none

chore(OVS): mcast-snooping-enable
  kubernetes/nmstate/overlays/okd/network/nncp.yaml
  kubernetes/nmstate/overlays/sandbox/network/nncp.yaml
  kubernetes/nmstate/overlays/sno/network/vlan-nad.yaml
Due: overlay-test

chore(Sandbox): Zone Labels
  main.bash
Due: none

chore(OVS): Sandbox mcast-snooping-enable
  kubernetes/nmstate/overlays/sandbox/network/nncp.yaml
Due: overlay-test

chore(OKD): Upgrade: 4.19.0-okd-scos.ec.8
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: overlay-test

chore(Sandbox): Resource Tuning
  kubernetes/ceph/overlays/sandbox/kustomization.yaml
  okd/okd-configuration/overlays/sandbox/kustomization.yaml
Due: overlay-test

chore(OKD): Upgrade: 4.19.0-okd-scos.ec.8
  kubernetes/nmstate/components/olm/subscription.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: overlay-test

feat(VM): Enroll in ArgoCD
  kubernetes/argocd/apps/app-projects/arthurvardevanyan.yaml
  kubernetes/argocd/apps/kustomization.yaml
  kubernetes/argocd/apps/network-policy.yaml
  vms/base/application.yaml
  vms/base/fedora.yaml
  vms/overlays/okd-velero/kustomization.yaml
  vms/overlays/okd-velero/velero.yaml
Due: overlay-test

feat(VM): Enroll in ArgoCD (#159)
  kubernetes/argocd/apps/app-projects/arthurvardevanyan.yaml
  kubernetes/argocd/apps/dragonfly/network-policy.yaml
  kubernetes/argocd/apps/kustomization.yaml
  kubernetes/argocd/apps/network-policy.yaml
  kubernetes/argocd/apps/notifications/network-policy.yaml
  kubernetes/network-observability/base/subscription.yaml
  vms/base/application.yaml
  vms/base/fedora.yaml
  vms/overlays/okd-velero/kustomization.yaml
  vms/overlays/okd-velero/velero.yaml
Due: overlay-test

feat(KFCA): Incept
  kubernetes/kfca/base/deployment.yaml
  kubernetes/kfca/base/kustomization.yaml
  kubernetes/kfca/base/namespace.yaml
  kubernetes/kfca/base/network-policy.yaml
  kubernetes/kfca/base/rbac.yaml
  kubernetes/kfca/base/service.yaml
  kubernetes/kfca/overlays/microshift/certificate.yaml
  kubernetes/kfca/overlays/microshift/ingress.yaml
  kubernetes/kfca/overlays/microshift/kustomization.yaml
  kubernetes/kfca/overlays/okd/dns.yaml
  kubernetes/kfca/overlays/okd/egress-firewall.yaml
  kubernetes/kfca/overlays/okd/hpa.yaml
  kubernetes/kfca/overlays/okd/ingress.yaml
  kubernetes/kfca/overlays/okd/kustomization.yaml
Due: overlay-test

feat(KFCA): Update ArgoCD To use Short Lived Credentials
  .vscode/extensions.json
  .vscode/settings.json
  kubernetes/argocd/applications/kfca.yaml
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/microshift/kfca.yaml
  kubernetes/argocd/base/kustomization.yaml
  kubernetes/argocd/base/microshift/creds.yaml
  kubernetes/argocd/base/microshift/cronjob.yaml
  kubernetes/argocd/base/microshift/kustomization.yaml
  kubernetes/argocd/base/microshift/rbac.yaml
  kubernetes/argocd/base/rbac.yaml
  okd/okd-configuration/overlays/microshift/argocd.yaml
  terraform/homelab/wif-microshift/keys.json
Due: overlay-test, terraform-apply

feat(coo): enable incident detection
  kubernetes/observability-operator/base/network-policy.yaml
  kubernetes/observability-operator/base/ui-plugin.yaml
  okd/okd-configuration/base/operators/console.yaml
Due: overlay-test

feat(coo): enable incident detection
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/observability-operator/base/network-policy.yaml
Due: overlay-test

feat(spire): Helm Incept
  .vscode/settings.json
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/spire.yaml
  kubernetes/spire/README.md
  kubernetes/spire/base/configmap.yaml
  kubernetes/spire/base/crds.yaml
  kubernetes/spire/base/csi.yaml
  kubernetes/spire/base/daemonset.yaml
  kubernetes/spire/base/deployment.yaml
  kubernetes/spire/base/kustomization.yaml
  kubernetes/spire/base/namespace.yaml
  kubernetes/spire/base/rbac.yaml
  kubernetes/spire/base/scc.yaml
  kubernetes/spire/base/service-account.yaml
  kubernetes/spire/base/service.yaml
  kubernetes/spire/base/statefulset.yaml
  kubernetes/spire/other.yaml
  kubernetes/spire/overlays/okd/kustomization.yaml
  kubernetes/spire/values.yaml
Due: overlay-test

chore(Sandbox): Resource Tuning (#158)
  kubernetes/ceph/overlays/sandbox/kustomization.yaml
  okd/okd-configuration/overlays/sandbox/kustomization.yaml
Due: overlay-test

fix(coo): Kyverno, Missing Resources
  kubernetes/observability-operator/base/kyverno.yaml
  kubernetes/observability-operator/base/resource-quota.yaml
Due: overlay-test

fix(coo): Kyverno, Missing Resources (#164)
  kubernetes/observability-operator/base/kyverno.yaml
  kubernetes/observability-operator/base/resource-quota.yaml
Due: overlay-test

fix(CI): Updates
  main.bash
Due: none

chore(Startup/Shutdown): Update Scripts
  main.bash
Due: none

chore(upgrades): okd + olm
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/openshift-logging/base/subscription.yaml
  kubernetes/quay/base/subscription.yaml
  kubernetes/tekton/components/gosmee/deployment.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: overlay-test

chore(spire): SHA Updates
  kubernetes/spire/base/csi.yaml
  kubernetes/spire/base/daemonset.yaml
  kubernetes/spire/base/deployment.yaml
  kubernetes/spire/base/scc.yaml
  kubernetes/spire/base/statefulset.yaml
Due: overlay-test

chore(spire): Resource Tunings
  kubernetes/spire/base/daemonset.yaml
  kubernetes/spire/base/deployment.yaml
  kubernetes/spire/base/statefulset.yaml
Due: overlay-test

chore(upgrades): okd + olm (#168)
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/openshift-logging/base/subscription.yaml
  kubernetes/quay/base/subscription.yaml
  kubernetes/tekton/components/gosmee/deployment.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: overlay-test

fix(CI): Updates
  kubernetes/github-runners/base/runner-scale-sets/scc.yaml
  kubernetes/kube-vip/components/okd/kustomization.yaml
  kubernetes/kube-vip/components/openshift/kustomization.yaml
  kubernetes/longhorn/overlays/okd-sandbox/kustomization.yaml
  kubernetes/stackrox-central/overlays/okd/route.yaml
  main.bash
  okd/okd-configuration/overlays/okd/cluster-version.yaml
  okd/okd-configuration/overlays/old/kustomization.yaml
  okd/openshift-monitoring/overlays/sandbox/alertmanager.yaml
  okd/openshift-monitoring/overlays/sandbox/kustomization.yaml
  tekton/base/overlay-test.yaml
Due: overlay-test

fix(CI): Updates (#166)
  kubernetes/github-runners/base/runner-scale-sets/scc.yaml
  kubernetes/kube-vip/components/okd/kustomization.yaml
  kubernetes/kube-vip/components/openshift/kustomization.yaml
  kubernetes/longhorn/overlays/okd-sandbox/kustomization.yaml
  kubernetes/stackrox-central/overlays/okd/route.yaml
  main.bash
  okd/okd-configuration/overlays/okd/cluster-version.yaml
  okd/okd-configuration/overlays/old/kustomization.yaml
  okd/openshift-monitoring/overlays/sandbox/alertmanager.yaml
  okd/openshift-monitoring/overlays/sandbox/kustomization.yaml
  tekton/base/overlay-test.yaml
Due: overlay-test

chore(Startup/Shutdown): Update Scripts (#167)
  main.bash
Due: none

chore(olm): updates
  kubernetes/cert-manager/components/operator/subscription.yaml
  kubernetes/knative/base/subscription.yaml
  kubernetes/observability-operator/base/subscription.yaml
Due: overlay-test

chore(olm): updates (#169)
  kubernetes/cert-manager/components/operator/subscription.yaml
  kubernetes/knative/base/subscription.yaml
  kubernetes/observability-operator/base/subscription.yaml
Due: overlay-test

feat(k8s-deploy): kfca support
  tekton/tasks/k8s-deploy/0.3.0/README.md
  tekton/tasks/k8s-deploy/0.3.0/k8s-deploy.yaml
Due: overlay-test

feat(k8s-deploy): kfca support
  tekton/tasks/k8s-deploy/0.3.0/k8s-deploy.yaml
Due: overlay-test

feat(k8s-deploy): kfca support (#170)
  tekton/tasks/k8s-deploy/0.3.0/README.md
  tekton/tasks/k8s-deploy/0.3.0/k8s-deploy.yaml
Due: overlay-test

chore(olm): updates
  kubernetes/deployment-validation/base/subscription.yaml
Due: overlay-test

fix(keep-alive): Cloud Function V2 ENV Misplacement
  terraform/homelab/keep-alive.tf
  terraform/homelab/keep-alive/go.mod
Due: terraform-apply

fix(keep-alive): Cloud Function V2 ENV Misplacement (#171)
  terraform/homelab/keep-alive.tf
  terraform/homelab/keep-alive/go.mod
Due: terraform-apply
