Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

ansible:
  params:
  - name: playbooks
    value: servers,microshift
  - name: dry_run
    value: 'false'
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
  ...

apache-php-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/apache-php/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/apache-php:latest
  pipelineSpec:
    params:
    - name: git-url
  ...

overlay-test:
  params:
  - name: playbooks
    value: servers
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-pr-number
    value: '{{ pull_request_number }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
  ...

terraform-apply:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    workspaces:
    - name: data
    - name: git_auth_secret
  ...

terraform:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: event
    value: '{{ event_type }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    - name: event
  ...

toolbox-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/toolbox/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/toolbox:not_latest
  pipelineSpec:
    params:
    - name: git-url
  ...

fix(vault): google ips
  kubernetes/vault/components/openshift/egress-firewall.yaml
  kubernetes/vault/components/openshift/network-policy.yaml
Due: overlay-test

fix(blackbox): cert expiry rule
  kubernetes/blackbox-exporter/components/prometheus-rules.yaml
Due: overlay-test

chore(displaylink): update
  ansible/playbooks/laptop/displaylink.yaml
Due: ansible

chore(olm): upgrade
  kubernetes/argocd/base/subscription.yaml
  kubernetes/kubevirt/base/subscription.yaml
  kubernetes/kubevirt/overlays/okd/vpa.yaml
  kubernetes/loki-operator/base/subscription.yaml
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/network-observability/base/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/nvidia-gpu-operator/base/subscription.yaml
  kubernetes/observability-operator/base/subscription.yaml
  kubernetes/openshift-servicemesh/base/subscription.yaml
  kubernetes/postgres/base/subscription.yaml
  kubernetes/quay/base/subscription.yaml
  kubernetes/vertical-pod-autoscaler/base/subscription.yaml
  okd/okd-configuration/base/operators/console.yaml
Due: overlay-test

chore(upgrade): olm operator upgrades (#559)
  kubernetes/argocd/base/subscription.yaml
  kubernetes/kubevirt/base/subscription.yaml
  kubernetes/kubevirt/overlays/okd/vpa.yaml
  kubernetes/loki-operator/base/subscription.yaml
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/network-observability/base/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/nvidia-gpu-operator/base/subscription.yaml
  kubernetes/observability-operator/base/subscription.yaml
  kubernetes/openshift-servicemesh/base/subscription.yaml
  kubernetes/postgres/base/subscription.yaml
  kubernetes/quay/base/subscription.yaml
  kubernetes/vertical-pod-autoscaler/base/subscription.yaml
  okd/okd-configuration/base/operators/console.yaml
Due: overlay-test

chore(okd): upgrade 4.22.0-okd-scos.6
  CHANGELOG.md
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

fix(microshift): 4.22 AlamaLinux 9 Fixes
  ansible/playbooks/servers/microshift/microshift.yaml
Due: ansible

fix(microshift): 4.22 AlamaLinux 9 Fixes (#560)
  ansible/playbooks/servers/microshift/microshift.yaml
Due: ansible

chore(okd): upgrade 4.22.0-okd-scos.6 (#561)
  CHANGELOG.md
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

fix(renovate): memory
  kubernetes/renovate/base/cronjob.yaml
Due: overlay-test

chore(okd): switch to stable channel
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: overlay-test

fix(microshift): playbook fix
  ansible/playbooks/servers/microshift/microshift.yaml
Due: ansible

chore(unifi): suspend cert rotation cronjob
  kubernetes/unifi-network-application/components/udm/cronjob.yaml
  kubernetes/unifi-network-application/components/unas/cronjob.yaml
Due: overlay-test

fix(nextcloud): egressfirewall
  kubernetes/nextcloud-fpm/overlays/okd/egress-firewall.yaml
Due: overlay-test

fix(eso-avp): convert objects that can be to eso
  kubernetes/argocd/applications/microshift/pihole.yaml
  kubernetes/argocd/applications/pihole.yaml
  kubernetes/argocd/base/microshift/creds.yaml
  kubernetes/cert-manager/components/cloudflare/api-token.yaml
  kubernetes/pihole/base/secret.yaml
  kubernetes/tekton/overlays/operator/github-app.yaml
  okd/okd-configuration/base/pull-secret.yaml
Due: overlay-test

fix(eso-avp): convert objects that can be to eso (#566)
  kubernetes/argocd/applications/microshift/pihole.yaml
  kubernetes/argocd/applications/pihole.yaml
  kubernetes/argocd/base/microshift/creds.yaml
  kubernetes/cert-manager/components/cloudflare/api-token.yaml
  kubernetes/pihole/base/secret.yaml
  kubernetes/tekton/overlays/operator/github-app.yaml
  okd/okd-configuration/base/pull-secret.yaml
Due: overlay-test

fix(microshift): argocd creds
  kubernetes/argocd/base/microshift/creds.yaml
  kubernetes/argocd/base/microshift/cronjob.yaml
  kubernetes/argocd/base/microshift/rbac.yaml
Due: overlay-test

fix(ntp): temp disable common time overrides
  kubernetes/ntp/overlays/okd/dns.yaml
Due: overlay-test

fix(argocd-vault-plugin): use forked repo
  containers/toolbox/containerfile
Due: toolbox-image

fix(argocd-vault-plugin): use forked repo (#567)
  containers/toolbox/containerfile
Due: toolbox-image

chore(vlogs): retention period
  okd/gateway/components/wiretap/victoria-metrics/vlogs.yaml
Due: overlay-test

chore(olm): updates
  kubernetes/container-security/base/subscription.yaml
  kubernetes/imagepuller/base/subscription.yaml
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/network-observability/base/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/vertical-pod-autoscaler/base/subscription.yaml
  kubernetes/victoria-metrics/base/subscription.yaml
Due: overlay-test

feat(openshift-monitoring): spread-constraints add
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/cluster-monitoring-config.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/crd.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

feat(openshift-monitoring): spread-constraints add (#570)
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/cluster-monitoring-config.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/crd.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

fix(renovate): github-actions
  kubernetes/renovate/base/config.json
Due: overlay-test

fix(renovate): github-actions (#571)
  kubernetes/renovate/base/config.json
Due: overlay-test

chore(netobserv): service-mode
  kubernetes/network-observability/base/flow-collector.yaml
  kubernetes/network-observability/base/hpa.yaml
  kubernetes/network-observability/base/kustomization.yaml
  kubernetes/network-observability/base/pdb.yaml
Due: overlay-test

chore(netobserv): service-mode (#572)
  kubernetes/network-observability/base/flow-collector.yaml
  kubernetes/network-observability/base/hpa.yaml
  kubernetes/network-observability/base/kustomization.yaml
  kubernetes/network-observability/base/pdb.yaml
Due: overlay-test

chore(pvc): size increase
  tekton/base/clair-action/pvc.yaml
  vms/base/fedora.yaml
Due: overlay-test

chore(pvc): size increase
  okd/gateway/components/wiretap/victoria-metrics/vlogs.yaml
Due: overlay-test

feat(okd): upgrade 4.22.0-okd-scos.7
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test

feat(okd): upgrade 4.22.0-okd-scos.7 (#577)
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  kubernetes/imagepuller/base/subscription.yaml
  kubernetes/metallb/components/olm/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/vertical-pod-autoscaler/base/subscription.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test

fix(routing): worker reachability to load balancer (metal/bgp)
  kubernetes/metallb/components/okd/bfd.yaml
  kubernetes/metallb/components/okd/bgp-peers.yaml
  kubernetes/metallb/components/okd/kustomization.yaml
  kubernetes/metallb/components/okd/okd.conf
Due: overlay-test

fix(routing): worker reachability to load balancer (metal/bgp) (#578)
  kubernetes/argocd/base/argocd.yaml
  kubernetes/imagepuller/base/imagepuller.yaml
  kubernetes/metallb/components/okd/bfd.yaml
  kubernetes/metallb/components/okd/bgp-peers.yaml
  kubernetes/metallb/components/okd/kustomization.yaml
  kubernetes/metallb/components/okd/okd.conf
Due: overlay-test

fix(stackrox): cert rotate
  kubernetes/stackrox-central/README.md
  kubernetes/stackrox-central/scripts.sh
Due: overlay-test

feat(semantic-releaser): incept
  containers/toolbox/containerfile
Due: toolbox-image

feat(semantic-releaser): incept (#579)
  containers/toolbox/containerfile
Due: toolbox-image

feat(git-clift): incept
  containers/toolbox/containerfile
Due: toolbox-image

feat(git-clift): incept (#580)
  containers/toolbox/containerfile
Due: toolbox-image

chore(serice-mesh): remove not required for gateway apis anymore
  kubernetes/argocd/applications/kustomization.yaml
Due: overlay-test

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile
