Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, toolbox-image

ansible:
  params:
  - name: playbooks
    value: servers,microshift
  - name: dry_run
    value: 'false'
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
  ...

apache-php-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/apache-php/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/apache-php:latest
  pipelineSpec:
    params:
    - name: git-url
  ...

overlay-test:
  params:
  - name: playbooks
    value: servers
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-pr-number
    value: '{{ pull_request_number }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
  ...

terraform-apply:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    workspaces:
    - name: data
    - name: git_auth_secret
  ...

toolbox-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/toolbox/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/toolbox:not_latest
  pipelineSpec:
    params:
    - name: git-url
  ...

feat(HomeAssistant): NAD Updates
  kubernetes/homeassistant/base/pvc.yaml
  kubernetes/homeassistant/base/statefulset.yaml
Due: overlay-test

fix(HomeAssistant): IP Conflict
  README.md
  kubernetes/argocd/admin-plugin/plugin-deploy.yaml
  kubernetes/homeassistant/base/statefulset.yaml
  kubernetes/homeassistant/overlays/okd/dns.yaml
  kubernetes/nextcloud/base/postgres/postgres.yaml
  kubernetes/velero/overlays/okd/configmap.yaml
  kubernetes/zitadel/base/postgres/postgres.yaml
  okd/okd-configuration/overlays/okd/dns.yaml
Due: overlay-test

chore(NextCloud): Temp
  kubernetes/ceph/base/selinux.yaml
  kubernetes/nextcloud/overlays/okd/kustomization.yaml
Due: overlay-test

chore(Tweaks): Tweaks
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/gitea/base/deployment.yaml
  kubernetes/gitea/base/meilisearch/statefulset.yaml
  kubernetes/ntp/components/rootless/deployment.yaml
  okd/openshift-monitoring/base/kustomization.yaml
  okd/openshift-monitoring/base/rbac-fix.yaml
Due: overlay-test

chore(Ceph): Preformance Data
  .vscode/settings.json
  README.md
Due: none

chore(Tweaks): Tweaks
  kubernetes/postgres/components/pg_admin/pg_admin.yaml
Due: overlay-test

chore(PiHole): Updates
  kubernetes/external-dns/overlays/okd/kustomization.yaml
  kubernetes/pihole/overlays/okd/ingress.yaml
Due: overlay-test

chore(EgressFirewall): Update
  kubernetes/blackbox-exporter/overlays/okd/egress-firewall.yaml
  kubernetes/container-security/overlays/okd/egress-firewall.yaml
  kubernetes/influxdb/components/openshift/kustomization.yaml
  kubernetes/quay/base/egress-firewall.yaml
  kubernetes/stackrox-central/overlays/okd/egress-firewall.yaml
  kubernetes/uptime-kuma/components/openshift/egress-firewall.yaml
  kubernetes/version-checker/overlays/okd/egress-firewall.yaml
Due: overlay-test

chore(Images): Update
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/cloudflare-ddns/base/deployment.yaml
  kubernetes/kube-eagle/base/deployment.yaml
  kubernetes/ntp/components/rootless/kustomization.yaml
  kubernetes/ntp/overlays/microshift/kustomization.yaml
  kubernetes/ntp/overlays/microshift/service.yaml
  kubernetes/pihole/overlays/okd/kustomization.yaml
  kubernetes/tekton/base/config.yaml
Due: overlay-test

chore(Photoprism): Updates
  kubernetes/cloudflare-ddns/base/deployment.yaml
  kubernetes/photoprism/base/cronjob.yaml
  kubernetes/photoprism/base/postgres/postgres.yaml
  kubernetes/photoprism/base/statefulset.yaml
Due: overlay-test

chore(Grafana): Updates
  kubernetes/grafana/base/postgres/network-policy.yaml
  kubernetes/grafana/base/resource-quota.yaml
Due: overlay-test

fix(knative): rbac
  kubernetes/knative/base/kustomization.yaml
  kubernetes/knative/base/rbac-fix.yaml
  okd/okd-configuration/components/image-mirror/image-mirror-set.yaml
Due: overlay-test

fix(LokiStack): StorageClassTweak
  kubernetes/external-secrets-operator/components/openshift/egress-firewall.yaml
  kubernetes/homeassistant/base/postgres/postgres.yaml
  kubernetes/loki/base/statefulset.yaml
  kubernetes/network-observability/base/loki/kyverno.yaml
  kubernetes/network-observability/base/loki/lokistack.yaml
  kubernetes/ntp/overlays/okd/kustomization.yaml
  kubernetes/openshift-logging/base/kyverno.yaml
  kubernetes/openshift-logging/base/lokistack.yaml
  kubernetes/prometheus/components/openshift/kustomization.yaml
  okd/okd-configuration/components/image-mirror/image-mirror-set.yaml
  okd/okd-configuration/overlays/okd/kustomization.yaml
Due: overlay-test

feat(K8S Deploy): Update
  tekton/tasks/k8s-deploy/0.2.0/README.md
  tekton/tasks/k8s-deploy/0.2.0/k8s-deploy.yaml
Due: overlay-test

feat(MicroShift): DNS Update
  kubernetes/nmstate/overlays/microshift/network/dns.yaml
Due: overlay-test

feat(KubeletConfig): Max Pod Update
  okd/okd-configuration/base/kubelet-config.yaml
Due: overlay-test

feat(Stackrox): Update DB Incept
  kubernetes/stackrox-central/base/kustomization.yaml
  kubernetes/stackrox-central/base/postgres/db-init.sql
  kubernetes/stackrox-central/base/postgres/kustomization.yaml
  kubernetes/stackrox-central/base/postgres/postgres.yaml
Due: overlay-test

chore(NextCloud): ReSync Temp
  kubernetes/nextcloud/base/rsync-cronjob.yaml
Due: overlay-test

chore(NextCloud): SeLinux Bypass Temp Disable
  kubernetes/nextcloud/base/cronjob.yaml
  kubernetes/nextcloud/base/deployment.yaml
  kubernetes/nextcloud/base/preview-cronjob.yaml
  kubernetes/nextcloud/base/rsync-cronjob.yaml
  kubernetes/nextcloud/overlays/okd/kustomization.yaml
  kubernetes/velero/base/kustomization.yaml
Due: overlay-test

fix(Node Exportor): More Resources
  kubernetes/prometheus/components/node-exporter/daemonset.yaml
Due: overlay-test

feat(ReadMe): Updates
  README.md
  kubernetes/kubernetes-dashboard/README.md
  kubernetes/network-observability/base/loki/lokistack.yaml
  kubernetes/nextcloud/base/resource-quota.yaml
  kubernetes/nextcloud/base/rsync-cronjob.yaml
  kubernetes/vault/README.md
  sandbox/README.md
Due: overlay-test

feat(NextCloud): Flip Back to Ceph
  kubernetes/nextcloud/base/cronjob.yaml
  kubernetes/nextcloud/base/deployment.yaml
  kubernetes/nextcloud/base/preview-cronjob.yaml
  kubernetes/nextcloud/base/pvc.yaml
  kubernetes/nextcloud/base/rsync-cronjob.yaml
  kubernetes/nextcloud/components/openshift/egress-firewall.yaml
  kubernetes/nextcloud/overlays/okd/kustomization.yaml
  kubernetes/photoprism/base/resource-quota.yaml
  kubernetes/velero/base/kustomization.yaml
Due: overlay-test

feat(NextCloud): Update && Fix Network Policy
  kubernetes/nextcloud/base/cronjob.yaml
  kubernetes/nextcloud/base/deployment.yaml
  kubernetes/nextcloud/base/network-policy.yaml
  kubernetes/nextcloud/base/preview-cronjob.yaml
  kubernetes/nextcloud/components/openshift/egress-firewall.yaml
Due: overlay-test

feat(NextCloud): EmptyDir /tmp
  kubernetes/nextcloud/base/cronjob.yaml
  kubernetes/nextcloud/base/deployment.yaml
  kubernetes/nextcloud/base/preview-cronjob.yaml
Due: overlay-test

feat(NextCloud): EmptyDir /tmp (#144)
  kubernetes/nextcloud/base/cronjob.yaml
  kubernetes/nextcloud/base/deployment.yaml
  kubernetes/nextcloud/base/preview-cronjob.yaml
Due: overlay-test

feat(TrueNas): Steam Pool
  terraform/homelab/truenas_backup.tf
Due: terraform-apply

feat(TrueNas): Steam Pool (#145)
  terraform/homelab/truenas_backup.tf
Due: terraform-apply

feat(TrueNas): ISO Pool
  terraform/homelab/truenas_backup.tf
Due: terraform-apply

feat(TrueNas): ISO Pool
  kubernetes/longhorn/overlays/okd-sandbox/kustomization.yaml
  kubernetes/pihole/base/02-my-wildcard-dns.conf
  kubernetes/zitadel/README.md
  main.bash
  okd/okd-configuration/overlays/okd/kustomization.yaml
  okd/okd-configuration/overlays/okd/sandbox-dns.yaml
  okd/okd-configuration/overlays/sandbox/kustomization.yaml
  sandbox/kubevirt/okd/configs/agent-config.yaml
  sandbox/kubevirt/okd/configs/install-config.yaml
  sandbox/kubevirt/okd/configs/ovn.yaml
  sandbox/kubevirt/okd/vm/okd1.yml
  sandbox/kubevirt/okd/vm/okd2.yml
  sandbox/kubevirt/okd/vm/okd3.yml
  terraform/homelab/zitadel_okd.tf
  vms/base/fedora.yaml
Due: overlay-test, terraform-apply

feat(KubeVirt): SandBox NNCP/NAD
  README.md
  kubernetes/nmstate/overlays/okd/kustomization.yaml
  kubernetes/nmstate/overlays/okd/network/sandbox/nad.yaml
  kubernetes/nmstate/overlays/okd/network/sandbox/nncp.yaml
Due: overlay-test

chore(Quay): Only Scale on Memory
  kubernetes/quay/base/hpa/quay.yaml
Due: overlay-test

chore(remote-vscode): Tuning
  .vscode/extensions.json
  vms/base/fedora.yaml
Due: none

chore(toolbox): dep update
  containers/toolbox/containerfile
Due: toolbox-image

chore(toolbox): dep update (#148)
  containers/toolbox/containerfile
Due: toolbox-image

chore(OLM): Updates
  kubernetes/github-runners/base/kustomization.yaml
  kubernetes/observability-operator/base/subscription.yaml
Due: overlay-test

feat(DVO): Incept Deployment Validation Operator
  kubernetes/argocd/applications/deployment-validation.yaml
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/deployment-validation/README.md
  kubernetes/deployment-validation/base/installplan-approver.yaml
  kubernetes/deployment-validation/base/kustomization.yaml
  kubernetes/deployment-validation/base/limit-range.yaml
  kubernetes/deployment-validation/base/namespace.yaml
  kubernetes/deployment-validation/base/operator-group.yaml
  kubernetes/deployment-validation/base/resource-quota.yaml
  kubernetes/deployment-validation/base/subscription.yaml
  kubernetes/deployment-validation/overlays/okd/egress-firewall.yaml
  kubernetes/deployment-validation/overlays/okd/kustomization.yaml
Due: overlay-test

feat(OPM): Incept OpenShift Power Monitoring Operator
  kubernetes/argocd/applications/openshift-power-monitoring.yaml
  kubernetes/openshift-power-monitoring/README.md
  kubernetes/openshift-power-monitoring/base/installplan-approver.yaml
  kubernetes/openshift-power-monitoring/base/kepler.yaml
  kubernetes/openshift-power-monitoring/base/kustomization.yaml
  kubernetes/openshift-power-monitoring/base/limit-range.yaml
  kubernetes/openshift-power-monitoring/base/namespace.yaml
  kubernetes/openshift-power-monitoring/base/operator-group.yaml
  kubernetes/openshift-power-monitoring/base/resource-quota.yaml
  kubernetes/openshift-power-monitoring/base/subscription.yaml
  kubernetes/openshift-power-monitoring/overlays/okd/egress-firewall.yaml
  kubernetes/openshift-power-monitoring/overlays/okd/kustomization.yaml
Due: overlay-test

fix(SnapShotClass): Missing from Kustomize
  kubernetes/bitwarden/base/velero.yaml
  kubernetes/ceph/base/kustomization.yaml
  kubernetes/gitea/base/velero.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/homelab.yaml
  kubernetes/heimdall/base/velero.yaml
  kubernetes/homeassistant/base/velero.yaml
  kubernetes/influxdb/base/velero.yaml
  kubernetes/mariadb-galera/base/velero.yaml
  kubernetes/netbox/base/velero.yaml
  kubernetes/nextcloud/base/velero.yaml
  kubernetes/photoprism/base/velero.yaml
  kubernetes/postgres/base/velero.yaml
  kubernetes/quay/base/velero.yaml
  kubernetes/stackrox-central/base/velero.yaml
  kubernetes/unifi-network-application/components/unifi-network-application/velero.yaml
  kubernetes/uptime-kuma/base/velero.yaml
  kubernetes/vault/base/velero.yaml
  kubernetes/zitadel/base/velero.yaml
  vms/base/velero.yaml
Due: overlay-test

feat(DVO): Incept Deployment Validation Operator (#149)
  kubernetes/argocd/applications/deployment-validation.yaml
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/deployment-validation/README.md
  kubernetes/deployment-validation/base/installplan-approver.yaml
  kubernetes/deployment-validation/base/kustomization.yaml
  kubernetes/deployment-validation/base/limit-range.yaml
  kubernetes/deployment-validation/base/namespace.yaml
  kubernetes/deployment-validation/base/operator-group.yaml
  kubernetes/deployment-validation/base/resource-quota.yaml
  kubernetes/deployment-validation/base/subscription.yaml
  kubernetes/deployment-validation/overlays/okd/egress-firewall.yaml
  kubernetes/deployment-validation/overlays/okd/kustomization.yaml
Due: overlay-test

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile
