Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile

feat(external-secrets): checkov updates
  kubernetes/external-secrets-operator/README.md
  kubernetes/external-secrets-operator/components/helm/crd.yaml
  kubernetes/external-secrets-operator/components/helm/deployment.yaml
  kubernetes/external-secrets-operator/components/helm/rbac.yaml
  kubernetes/external-secrets-operator/components/helm/service.yaml
  kubernetes/external-secrets-operator/components/helm/validatingWebhookConfiguration.yaml
  kubernetes/external-secrets-operator/overlays/okd/kustomization.yaml
  kubernetes/external-secrets-operator/values.yaml
Due: overlay-test

fix(bmc-shim): probe
  kubernetes/bmc-shim/base/deployment.yaml
Due: overlay-test

feat(cert-manager): checkov updates
  .checkov.yaml
  kubernetes/cert-manager/README.md
  kubernetes/cert-manager/components/yaml/configs.yaml
  kubernetes/cert-manager/components/yaml/crds.yaml
  kubernetes/cert-manager/components/yaml/deployment.yaml
  kubernetes/cert-manager/components/yaml/rbac.yaml
  kubernetes/cert-manager/components/yaml/service-account.yaml
  kubernetes/cert-manager/components/yaml/service.yaml
  kubernetes/cert-manager/overlays/okd/kustomization.yaml
  kubernetes/external-secrets-operator/components/helm/deployment.yaml
  kubernetes/external-secrets-operator/values.yaml
Due: overlay-test

chore(checkov): eso, cert-manager updates (#393)
  .checkov.yaml
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/cert-manager/README.md
  kubernetes/cert-manager/components/yaml/configs.yaml
  kubernetes/cert-manager/components/yaml/crds.yaml
  kubernetes/cert-manager/components/yaml/deployment.yaml
  kubernetes/cert-manager/components/yaml/rbac.yaml
  kubernetes/cert-manager/components/yaml/service-account.yaml
  kubernetes/cert-manager/components/yaml/service.yaml
  kubernetes/cert-manager/overlays/okd/kustomization.yaml
  kubernetes/external-secrets-operator/README.md
  kubernetes/external-secrets-operator/components/helm/crd.yaml
  kubernetes/external-secrets-operator/components/helm/deployment.yaml
  kubernetes/external-secrets-operator/components/helm/rbac.yaml
  kubernetes/external-secrets-operator/components/helm/service.yaml
  kubernetes/external-secrets-operator/components/helm/validatingWebhookConfiguration.yaml
  kubernetes/external-secrets-operator/overlays/okd/kustomization.yaml
  kubernetes/external-secrets-operator/values.yaml
Due: overlay-test

fix(ansible-lint): comments
  ansible/playbooks/desktop/conky.yaml
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/desktop/gnome-extensions.yaml
  ansible/playbooks/desktop/nextcloud.yaml
  ansible/playbooks/desktop/sandbox-okd.yaml
  ansible/playbooks/desktop/terminator.yaml
  ansible/playbooks/desktop/timeshift.yaml
  ansible/playbooks/desktop/zsh.yaml
  ansible/playbooks/laptop/laptopPackages.yaml
  ansible/playbooks/laptop/nextcloud.yaml
  ansible/playbooks/laptop/terminator.yaml
  ansible/playbooks/laptop/zsh.yaml
  ansible/playbooks/servers/k3s/cockpit.yaml
  ansible/playbooks/servers/k3s/serverPackages.yaml
  ansible/playbooks/servers/k3s/zsh.yaml
  ansible/playbooks/servers/k8s/k8sPackages.yaml
  ansible/playbooks/servers/kvm/kvmPackages.yaml
  ansible/playbooks/servers/microshift/cockpit.yaml
  ansible/playbooks/servers/microshift/microshift.yaml
  ansible/playbooks/servers/server/arm/serverPackages.yaml
  ansible/playbooks/servers/server/common/cockpit.yaml
  ansible/playbooks/servers/server/common/zsh.yaml
  ansible/playbooks/servers/server/x86/node_exporter.yaml
  ansible/playbooks/servers/server/x86/serverPackages.yaml
  ansible/playbooks/vscode-server/desktopPackages.yaml
  ansible/playbooks/vscode-server/zsh.yaml
Due: ansible

fix(bmc-shim): checkov updates
  .vscode/settings.json
  containers/toolbox/containerfile
Due: toolbox-image

fix(bmc-shim): checkov updates
  kubernetes/bmc-shim/base/configmap.yaml
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/bmc-shim/base/kustomization.yaml
  kubernetes/bmc-shim/base/secret.yaml
Due: overlay-test

fix(bmc-shim): checkov updates (#394)
  .vscode/settings.json
  containers/toolbox/containerfile
  kubernetes/bmc-shim/base/configmap.yaml
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/bmc-shim/base/kustomization.yaml
  kubernetes/bmc-shim/base/secret.yaml
Due: overlay-test, toolbox-image

feat(kuberc): add
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/servers/microshift/kubernetes.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
  machineConfigs/desktop/home/arthur/.kube/kuberc
Due: ansible

feat(kuberc): add (#395)
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/servers/microshift/kubernetes.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
  machineConfigs/desktop/home/arthur/.kube/kuberc
Due: ansible

fix(knative): operator memory
  kubernetes/knative/base/subscription.yaml
Due: overlay-test

chore(deps): update homelab binaries
  .pre-commit-config.yaml
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
Due: ansible, toolbox-image

chore(deps): update pre-commit hook bridgecrewio/checkov to v3.2.497
  .pre-commit-config.yaml
Due: none

chore(deps): update homelab binaries (#396)
  .pre-commit-config.yaml
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
Due: ansible, toolbox-image

chore(deps): update go modules
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply, terraform

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(deps): update terraform google to v7.16.0
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update terraform zitadel to v2.6.4
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update docker.io/homeassistant/home-assistant docker tag to v2026
  kubernetes/homeassistant/base/statefulset.yaml
Due: overlay-test

chore(deps): update pre-commit hook ansible/ansible-lint to v26
  .pre-commit-config.yaml
Due: none

chore(deps): update terraform google to v7.16.0 (#399)
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update terraform zitadel to v2.6.4 (#400)
  terraform/homelab/providers.tf
Due: terraform-apply, terraform

chore(deps): update docker.io/homeassistant/home-assistant docker tag to v2026 (#401)
  kubernetes/homeassistant/base/statefulset.yaml
Due: overlay-test

chore(deps): update pre-commit hook ansible/ansible-lint to v26 (#402)
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hooks (#403)
  .pre-commit-config.yaml
Due: none

chore(deps): update go modules (#398)
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply, terraform

feat(okd): upgrade 4.21.0-okd-scos.1
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  kubernetes/argocd/base/subscription.yaml
  kubernetes/container-security/base/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

feat(okd): upgrade 4.21.0-okd-scos.1 (#404)
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  kubernetes/argocd/base/subscription.yaml
  kubernetes/container-security/base/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: ansible, overlay-test, toolbox-image

fix(kube-vip): rollout job for falling asleep
  kubernetes/kube-vip/components/rollout/cronjob.yaml
  kubernetes/kube-vip/components/rollout/kustomization.yaml
  kubernetes/kube-vip/components/rollout/rbac.yaml
  kubernetes/kube-vip/overlays/microshift/kustomization.yaml
  kubernetes/kube-vip/overlays/okd/kustomization.yaml
Due: overlay-test

fix(kube-vip): rollout job for falling asleep (#405)
  kubernetes/kube-vip/base/daemonset.yaml
  kubernetes/kube-vip/components/rollout/cronjob.yaml
  kubernetes/kube-vip/components/rollout/kustomization.yaml
  kubernetes/kube-vip/components/rollout/rbac.yaml
  kubernetes/kube-vip/components/vlan11/vlan.yaml
  kubernetes/kube-vip/components/vlan111/vlan.yaml
  kubernetes/kube-vip/components/vlan3/vlan.yaml
  kubernetes/kube-vip/overlays/microshift/kustomization.yaml
  kubernetes/kube-vip/overlays/microshift/vlan11.yaml
  kubernetes/kube-vip/overlays/microshift/vlan3.yaml
  kubernetes/kube-vip/overlays/okd/kustomization.yaml
  kubernetes/kube-vip/overlays/old/kube-vip-vlan.yaml
  kubernetes/minio/overlays/microshift-unas/kustomization.yaml
  kubernetes/minio/overlays/microshift/kustomization.yaml
Due: overlay-test

fix(blackbox): security-context
  kubernetes/blackbox-exporter/base/deployment.yaml
Due: overlay-test

fix(blackbox): security-context (#406)
  kubernetes/blackbox-exporter/base/deployment.yaml
Due: overlay-test

fix(kube-vip): rollout job for falling asleep (#405)
  kubernetes/kube-vip/components/rollout/cronjob.yaml
Due: overlay-test

feat(wasm): incept
  .vscode/settings.json
  okd/okd-configuration/components/gateway/gateway.yaml
  okd/okd-configuration/components/gateway/kustomization.yaml
  okd/okd-configuration/components/gateway/wasm.yaml
Due: overlay-test

feat(wasm): incept
  okd/okd-configuration/components/gateway/hpa.yaml
  okd/okd-configuration/components/gateway/wasm.yaml
Due: overlay-test

feat(wasm): incept (#407)
  .vscode/settings.json
  okd/okd-configuration/components/gateway/gateway.yaml
  okd/okd-configuration/components/gateway/hpa.yaml
  okd/okd-configuration/components/gateway/kustomization.yaml
  okd/okd-configuration/components/gateway/wasm.yaml
Due: overlay-test

feat(external-gateway): external gateway /w wasm /w cloudflare ip whitelist
  okd/okd-configuration/components/gateway-external/authorization-policy.yaml
  okd/okd-configuration/components/gateway-external/certificate.yaml
  okd/okd-configuration/components/gateway-external/gateway.yaml
  okd/okd-configuration/components/gateway-external/hpa.yaml
  okd/okd-configuration/components/gateway-external/kustomization.yaml
  okd/okd-configuration/components/gateway-external/loadbalancer.yaml
  okd/okd-configuration/components/gateway-external/network-policy.yaml
  okd/okd-configuration/components/gateway-external/pdb.yaml
  okd/okd-configuration/components/gateway-external/wasm.yaml
  okd/okd-configuration/overlays/okd/kustomization.yaml
Due: overlay-test

feat(external-gateway): external gateway /w wasm /w cloudflare ip whitelist (#408)
  okd/okd-configuration/components/gateway-external/authorization-policy.yaml
  okd/okd-configuration/components/gateway-external/certificate.yaml
  okd/okd-configuration/components/gateway-external/gateway.yaml
  okd/okd-configuration/components/gateway-external/hpa.yaml
  okd/okd-configuration/components/gateway-external/kustomization.yaml
  okd/okd-configuration/components/gateway-external/loadbalancer.yaml
  okd/okd-configuration/components/gateway-external/network-policy.yaml
  okd/okd-configuration/components/gateway-external/pdb.yaml
  okd/okd-configuration/components/gateway-external/wasm.yaml
  okd/okd-configuration/overlays/okd/kustomization.yaml
Due: overlay-test

feat(argo): arthurvardevanyan-com appprojects
  kubernetes/argocd/apps/app-projects/arthurvardevanyan-com.yaml
  kubernetes/argocd/apps/kustomization.yaml
  kubernetes/external-secrets-operator/components/helm/deployment.yaml
  kubernetes/external-secrets-operator/components/helm/rbac-configmap.yaml
  kubernetes/external-secrets-operator/components/helm/rbac.yaml
  kubernetes/external-secrets-operator/values.yaml
  kubernetes/tekton/base/kyverno.yaml
Due: overlay-test

feat(argo): arthurvardevanyan-com appprojects (#409)
  kubernetes/argocd/apps/app-projects/arthurvardevanyan-com.yaml
  kubernetes/argocd/apps/kustomization.yaml
  kubernetes/argocd/apps/notifications-tenant/arthurvardevanyan-ci.yaml
  kubernetes/argocd/apps/notifications-tenant/arthurvardevanyan-com.yaml
  kubernetes/external-secrets-operator/components/helm/deployment.yaml
  kubernetes/external-secrets-operator/components/helm/kustomization.yaml
  kubernetes/external-secrets-operator/components/helm/rbac-configmap.yaml
  kubernetes/external-secrets-operator/components/helm/rbac.yaml
  kubernetes/external-secrets-operator/values.yaml
  kubernetes/tekton/base/kyverno.yaml
  tekton/tasks/k8s-deploy/0.3.0/k8s-deploy.yaml
Due: overlay-test
