Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, terraform, toolbox-image

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  terraform: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile

chore(deps): update container updates
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/kfca/base/deployment.yaml
  kubernetes/kube-eagle/base/deployment.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

chore(deps): update dependency grafana/loki to v2.9.17
  ansible/playbooks/servers/server/x86/promtail.yaml
Due: ansible

chore(deps): update dependency itaysk/kubectl-neat to v2.0.4
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
Due: ansible

chore(deps): update dependency ko-build/ko to v0.18.1
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
Due: ansible

chore(deps): update dependency argoproj-labs/argocd-vault-plugin to v1.18.1
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/vscode-server/desktopPackages.yaml
Due: ansible

chore(deps): update dependency kubecolor/kubecolor to v0.5.3
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/servers/microshift/kubernetes.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
Due: ansible

chore(deps): update container updates (#370)
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/kfca/base/deployment.yaml
  kubernetes/kube-eagle/base/deployment.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

chore(deps): update dependency mikefarah/yq to v4.50.1
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/servers/server/arm/serverPackages.yaml
  ansible/playbooks/servers/server/x86/serverPackages.yaml
  ansible/playbooks/vscode-server/desktopPackages.yaml
Due: ansible

chore(deps): update dependency yannh/kubeconform to v0.7.0
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
Due: ansible

chore(deps): update dependency grafana/loki to v3
  ansible/playbooks/servers/server/x86/promtail.yaml
Due: ansible

fix(renovate): test
  ansible/playbooks/servers/microshift/kubernetes.yaml
  kubernetes/renovate/base/config.json
  renovate.json
Due: ansible, overlay-test

fix(renovate): test
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/servers/microshift/kubernetes.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
  kubernetes/renovate/base/config.json
  renovate.json
  renovate_bak.json
Due: ansible, overlay-test

chore(deps): update dependency kubecolor/kubecolor to v0.5.3
  ansible/playbooks/vscode-server/kubernetes.yaml
Due: ansible

fix(renovate): ansible github releases
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/servers/k3s/promtail.yaml
  ansible/playbooks/servers/microshift/kubernetes.yaml
  ansible/playbooks/servers/server/arm/serverPackages.yaml
  ansible/playbooks/servers/server/x86/promtail.yaml
  ansible/playbooks/servers/server/x86/serverPackages.yaml
  ansible/playbooks/vscode-server/desktopPackages.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
  kubernetes/renovate/base/config.json
  renovate.json
Due: ansible, overlay-test, toolbox-image

chore(deps): update ansible binaries
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/servers/microshift/kubernetes.yaml
  ansible/playbooks/servers/server/arm/serverPackages.yaml
  ansible/playbooks/servers/server/x86/promtail.yaml
  ansible/playbooks/servers/server/x86/serverPackages.yaml
  ansible/playbooks/vscode-server/desktopPackages.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
Due: ansible

chore(deps): update dependency grafana/loki to v3 (#384)
  ansible/playbooks/servers/server/x86/promtail.yaml
Due: ansible

chore(deps): update ansible binaries
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/servers/microshift/kubernetes.yaml
  ansible/playbooks/servers/server/arm/serverPackages.yaml
  ansible/playbooks/servers/server/x86/serverPackages.yaml
  ansible/playbooks/vscode-server/desktopPackages.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
Due: ansible

chore(deps): update ansible binaries (#385)
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/servers/microshift/kubernetes.yaml
  ansible/playbooks/servers/server/arm/serverPackages.yaml
  ansible/playbooks/servers/server/x86/serverPackages.yaml
  ansible/playbooks/vscode-server/desktopPackages.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
Due: ansible

fix(ntp): image tag
  kubernetes/ntp/components/rootless/deployment.yaml
  kubernetes/ntp/overlays/microshift/kustomization.yaml
  renovate.json
Due: overlay-test

chore(deps): update registry.arthurvardevanyan.com/homelab/ntp docker tag to v2025.12.23.032052-rootless
  kubernetes/ntp/overlays/microshift/kustomization.yaml
Due: overlay-test

fix(ntp): image tag
  containers/toolbox/containerfile
  kubernetes/ntp/components/rootless/deployment.yaml
  kubernetes/ntp/overlays/microshift/kustomization.yaml
  renovate.json
Due: overlay-test, toolbox-image

chore(deps): update dependency okd-project/okd to v4.21.0-okd-scos.ec.15
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
Due: ansible

fix(ntp): image tag
  containers/toolbox/containerfile
  kubernetes/ntp/components/rootless/deployment.yaml
  kubernetes/ntp/overlays/microshift/kustomization.yaml
  kubernetes/renovate/base/config.json
  renovate.json
Due: overlay-test, toolbox-image

chore(deps): update dependency okd-project/okd to v4.21.0-okd-scos.ec.15
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
Due: ansible, toolbox-image

chore(deps): update dependency okd-project/okd to v4.21.0-okd-scos.ec.15 (#388)
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
Due: ansible, toolbox-image

fix(selinux): removal
  kubernetes/ceph/base/selinux.yaml
  kubernetes/gitea/base/deployment.yaml
  kubernetes/immich/base/deployment.yaml
  kubernetes/nextcloud-fpm/components/backup-s3/cronjob.yaml
  kubernetes/nextcloud-fpm/components/backup-unas/cronjob.yaml
  kubernetes/nextcloud-fpm/components/immich-sync/cronjob.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/cronjob-cron.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/cronjob-preview.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/deployment.yaml
  kubernetes/nextcloud-fpm/components/nginx/deployment.yaml
  kubernetes/velero/base/kyverno.yaml
Due: overlay-test

fix(selinux): removal (#389)
  kubernetes/ceph/base/selinux.yaml
  kubernetes/gitea/base/deployment.yaml
  kubernetes/immich/base/deployment.yaml
  kubernetes/nextcloud-fpm/components/backup-s3/cronjob.yaml
  kubernetes/nextcloud-fpm/components/backup-unas/cronjob.yaml
  kubernetes/nextcloud-fpm/components/immich-sync/cronjob.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/cronjob-cron.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/cronjob-preview.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/deployment.yaml
  kubernetes/nextcloud-fpm/components/nginx/deployment.yaml
  kubernetes/velero/base/kyverno.yaml
Due: overlay-test

fix(velero): lmit-range
  kubernetes/velero/base/kustomization.yaml
  kubernetes/velero/base/limit-range.yaml
Due: overlay-test

chore(deps): update container updates
  kubernetes/argocd/base/argocd.yaml
  kubernetes/ntp/components/rootless/deployment.yaml
  kubernetes/renovate/base/cronjob.yaml
Due: overlay-test

fix(ntp): renovate
  kubernetes/ntp/components/rootless/deployment.yaml
Due: overlay-test

chore(deps): update container updates (#390)
  kubernetes/argocd/base/argocd.yaml
  kubernetes/renovate/base/cronjob.yaml
Due: overlay-test

feat(ntp): multi-arch
  kubernetes/ntp/components/rootless/deployment.yaml
  kubernetes/ntp/overlays/microshift/kustomization.yaml
Due: overlay-test

feat(ntp): multi-arch (#391)
  kubernetes/ntp/components/rootless/deployment.yaml
  kubernetes/ntp/overlays/microshift/kustomization.yaml
Due: overlay-test

feat(renovate): add pip support, remove os package pinning
  ansible/playbooks/desktop/conky.yaml
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/desktop/gnome-extensions.yaml
  ansible/playbooks/desktop/nextcloud.yaml
  ansible/playbooks/desktop/sandbox-okd.yaml
  ansible/playbooks/desktop/terminator.yaml
  ansible/playbooks/desktop/timeshift.yaml
  ansible/playbooks/desktop/zsh.yaml
  ansible/playbooks/laptop/laptopPackages.yaml
  ansible/playbooks/laptop/nextcloud.yaml
  ansible/playbooks/laptop/terminator.yaml
  ansible/playbooks/laptop/zsh.yaml
  ansible/playbooks/servers/k3s/cockpit.yaml
  ansible/playbooks/servers/k3s/serverPackages.yaml
  ansible/playbooks/servers/k3s/zsh.yaml
  ansible/playbooks/servers/k8s/k8sPackages.yaml
  ansible/playbooks/servers/kvm/kvmPackages.yaml
  ansible/playbooks/servers/microshift/cockpit.yaml
  ansible/playbooks/servers/microshift/microshift.yaml
  ansible/playbooks/servers/server/arm/serverPackages.yaml
  ansible/playbooks/servers/server/common/cockpit.yaml
  ansible/playbooks/servers/server/common/zsh.yaml
  ansible/playbooks/servers/server/x86/node_exporter.yaml
  ansible/playbooks/servers/server/x86/serverPackages.yaml
  ansible/playbooks/vscode-server/desktopPackages.yaml
  ansible/playbooks/vscode-server/zsh.yaml
  renovate.json
Due: ansible

feat(okd): upgrade 4.21.0-okd-scos.ec.15
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  kubernetes/argocd/base/subscription.yaml
  kubernetes/container-security/base/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/observability-operator/base/subscription.yaml
  kubernetes/postgres/base/subscription.yaml
  kubernetes/quay/base/subscription.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
  renovate.json
Due: ansible, overlay-test

feat(okd): upgrade 4.21.0-okd-scos.ec.15 (#392)
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  kubernetes/argocd/base/subscription.yaml
  kubernetes/container-security/base/subscription.yaml
  kubernetes/nmstate/components/olm/subscription.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/observability-operator/base/subscription.yaml
  kubernetes/postgres/base/subscription.yaml
  kubernetes/quay/base/subscription.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
  renovate.json
Due: ansible, overlay-test

feat(eso): microshift sa ref
  kubernetes/external-secrets-operator/overlays/microshift/kustomization.yaml
Due: overlay-test

chore(kube-vip): update
  kubernetes/bmc-shim/base/deployment.yaml
  kubernetes/kube-vip/base/daemonset.yaml
  kubernetes/kube-vip/base/kustomization.yaml
  kubernetes/kube-vip/base/network-policy.yaml
  kubernetes/kube-vip/components/okd/static-pod.yaml
  kubernetes/kube-vip/components/openshift/kustomization.yaml
  kubernetes/kube-vip/components/vlan11/vlan.yaml
  kubernetes/kube-vip/components/vlan111/vlan.yaml
  kubernetes/kube-vip/components/vlan3/vlan.yaml
  kubernetes/kube-vip/overlays/microshift/vlan11.yaml
  kubernetes/kube-vip/overlays/microshift/vlan3.yaml
  kubernetes/kube-vip/overlays/old/kube-vip-vlan.yaml
  kubernetes/renovate/README.md
Due: overlay-test
