Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: (((any of: kubernetes/***) or (any of: okd/***)) or (any of: task/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***

feat(JC): Install
  ansible/inventory
  ansible/playbooks/desktop/desktopPackages.yaml
  ansible/playbooks/laptop/laptopPackages.yaml
  ansible/playbooks/servers/k3s/serverPackages.yaml
  ansible/playbooks/servers/server/arm/serverPackages.yaml
  ansible/playbooks/servers/server/x86/serverPackages.yaml
  ansible/playbooks/vscode-server/desktopPackages.yaml
  kubernetes/zitadel/base/cockroachdb.yaml
Due: ansible, overlay-test

feat(DNSEndpoint): Incept && Define
  .vscode/settings.json
  kubernetes/argocd/applications/external-dns.yaml
  kubernetes/external-dns/README.md
  kubernetes/external-dns/base/deployment.yaml
  kubernetes/external-dns/base/dns.yaml
  kubernetes/external-dns/base/kustomization.yaml
  kubernetes/external-dns/base/pdb.yaml
  kubernetes/external-dns/base/rbac.yaml
  kubernetes/homeassistant/overlays/okd/dns.yaml
  kubernetes/homeassistant/overlays/okd/kustomization.yaml
  kubernetes/pihole/base/statefulset.yaml
  kubernetes/unifi-network-application/base/dns.yaml
  kubernetes/unifi-network-application/base/kustomization.yaml
  okd/okd-configuration/overlays/okd/dns.yaml
  okd/okd-configuration/overlays/okd/kustomization.yaml
  okd/okd-configuration/overlays/okd/sandbox-dns.yaml
Due: overlay-test

fix(Monitoring): Personal Website
  kubernetes/blackbox-exporter/components/probes.yaml
Due: overlay-test

fix(MicroShift): Rebuild
  ansible/inventory
  ansible/playbooks/servers/microshift/configs.yaml
  kubernetes/argocd/applications/microshift/cert-manager.yaml
  kubernetes/argocd/applications/microshift/kube-eagle.yaml
  kubernetes/argocd/applications/microshift/metrics-server.yaml
  kubernetes/argocd/applications/microshift/node-exporter.yaml
  kubernetes/argocd/applications/microshift/okd-configuration.yaml
  kubernetes/argocd/applications/microshift/olm.yaml
  kubernetes/argocd/applications/microshift/pihole.yaml
  kubernetes/argocd/base/microshift-cluster.yaml
  kubernetes/argocd/base/network-policy.yaml
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/external-dns/base/deployment.yaml
  kubernetes/olm/base/csv.yaml
  kubernetes/olm/base/deployment.yaml
  kubernetes/pihole/base/kustomization.yaml
  kubernetes/pihole/overlays/microshift/certificate.yaml
  kubernetes/pihole/overlays/microshift/kustomization.yaml
  kubernetes/pihole/overlays/okd/dns.yaml
  kubernetes/pihole/overlays/okd/kustomization.yaml
  kubernetes/pihole/overlays/okd/service.yaml
  kubernetes/prometheus/overlays/okd/dns.yaml
  kubernetes/prometheus/overlays/okd/kustomization.yaml
Due: ansible, overlay-test

feat(ExternalSecrets): MicroShift Incept
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/microshift/external-secrets-operator.yaml
  kubernetes/external-secrets-operator/base/kustomization.yaml
  kubernetes/external-secrets-operator/base/operator-config.yaml
  kubernetes/external-secrets-operator/overlays/microshift/kustomization.yaml
  kubernetes/external-secrets-operator/overlays/microshift/kyverno.yaml
  kubernetes/kyverno/overlays/microshift/kustomization.yaml
  kubernetes/vault/base/network-policy.yaml
Due: overlay-test

feat(Stackrox): MicroShift Incept
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/microshift/stackrox-secure.yaml
  kubernetes/stackrox-secure/components/openshift/kustomization.yaml
  kubernetes/stackrox-secure/components/openshift/scc.yaml
  kubernetes/stackrox-secure/overlays/microshift/cluster-name.yaml
  kubernetes/stackrox-secure/overlays/microshift/kustomization.yaml
  kubernetes/stackrox-secure/overlays/okd/kustomization.yaml
  kubernetes/stackrox-secure/overlays/sandbox/kustomization.yaml
  kubernetes/stackrox-secure/overlays/sandbox/scc.yaml
Due: overlay-test

Stackrox microshift (#97)
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/microshift/external-secrets-operator.yaml
  kubernetes/argocd/applications/microshift/kyverno.yaml
  kubernetes/argocd/applications/microshift/stackrox-secure.yaml
  kubernetes/external-secrets-operator/base/kustomization.yaml
  kubernetes/external-secrets-operator/overlays/microshift/kustomization.yaml
  kubernetes/external-secrets-operator/overlays/microshift/kyverno.yaml
  kubernetes/kyverno/overlays/microshift/kustomization.yaml
  kubernetes/stackrox-secure/components/openshift/kustomization.yaml
  kubernetes/stackrox-secure/components/openshift/scc.yaml
  kubernetes/stackrox-secure/overlays/microshift/cluster-name.yaml
  kubernetes/stackrox-secure/overlays/microshift/kustomization.yaml
  kubernetes/stackrox-secure/overlays/okd/kustomization.yaml
  kubernetes/stackrox-secure/overlays/sandbox/kustomization.yaml
  kubernetes/stackrox-secure/overlays/sandbox/scc.yaml
  kubernetes/vault/base/network-policy.yaml
Due: overlay-test

chore(OpenShift): 4.17.0-okd-scos.ec.4
  kubernetes/github-runners/base/runner-scale-sets/runners/artifact-registry.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/container-registry.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/finance-tracker.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/homelab.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/kfca.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/kube-eagle.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/openshift-monitoring.yaml
  kubernetes/github-runners/base/runner-scale-sets/runners/spotify.yaml
  kubernetes/kube-vip/base/daemonset.yaml
  kubernetes/kube-vip/base/machine-config.yaml
  kubernetes/kube-vip/base/static-pod.yaml
  kubernetes/network-observability/base/subscription.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

chore(Upgrades)
  kubernetes/container-security/base/limit-range.yaml
  kubernetes/eclipse-che/base/subscription.yaml
  kubernetes/external-secrets-operator/base/operator-config.yaml
  kubernetes/external-secrets-operator/base/subscription.yaml
  kubernetes/kubevirt/base/subscription.yaml
  kubernetes/quay/base/subscription.yaml
Due: overlay-test

feat(ZSH): Config Update
  ansible/playbooks/desktop/zsh.yaml
  ansible/playbooks/laptop/zsh.yaml
  ansible/playbooks/servers/k3s/zsh.yaml
  ansible/playbooks/servers/server/common/zsh.yaml
  ansible/playbooks/vscode-server/zsh.yaml
  machineConfigs/desktop/home/arthur/.oh-my-zsh/themes/kubectl.zsh-theme
  machineConfigs/desktop/home/arthur/.zshrc
Due: ansible

chore(Upgrades)
  kubernetes/container-security/base/limit-range.yaml
  kubernetes/eclipse-che/base/subscription.yaml
  kubernetes/external-secrets-operator/base/operator-config.yaml
  kubernetes/external-secrets-operator/base/subscription.yaml
  kubernetes/external-secrets-operator/overlays/microshift/kyverno.yaml
  kubernetes/kubevirt/base/subscription.yaml
  kubernetes/quay/base/subscription.yaml
Due: overlay-test

feat(ZSH): Kubectl Prompt
  ansible/playbooks/desktop/zsh.yaml
  ansible/playbooks/laptop/laptopPackages.yaml
  ansible/playbooks/laptop/zsh.yaml
  ansible/playbooks/servers/k3s/zsh.yaml
  ansible/playbooks/servers/server/common/zsh.yaml
  ansible/playbooks/vscode-server/zsh.yaml
  machineConfigs/desktop/home/arthur/.oh-my-zsh/themes/kubectl.zsh-theme
  machineConfigs/desktop/home/arthur/.zshrc
Due: ansible

fix(DNS): Missing Endpoints
  README.md
  kubernetes/external-secrets-operator/base/operator-config.yaml
  kubernetes/external-secrets-operator/base/subscription.yaml
  kubernetes/external-secrets-operator/overlays/microshift/kyverno.yaml
  kubernetes/homeassistant/overlays/okd/dns.yaml
  kubernetes/pihole/base/statefulset.yaml
  kubernetes/pihole/overlays/okd/dns.yaml
Due: overlay-test

feat(KubeColor): Incept
  .vscode/settings.json
  ansible/playbooks/desktop/kubernetes.yaml
  ansible/playbooks/laptop/kubernetes.yaml
  ansible/playbooks/servers/microshift/kubernetes.yaml
  ansible/playbooks/vscode-server/kubernetes.yaml
  machineConfigs/desktop/home/arthur/.zshrc
Due: ansible

chore(Container Images): Update
  .vscode/settings.json
  containers/apache-php/containerfile
  containers/toolbox/containerfile
  containers/udi/containerfile
  kubernetes/pihole/base/statefulset.yaml
Due: apache-php-image, overlay-test

chore(Container Images): Update (#98)
  .vscode/settings.json
  containers/apache-php/containerfile
  containers/toolbox/containerfile
  containers/udi/containerfile
  kubernetes/pihole/base/statefulset.yaml
Due: apache-php-image, overlay-test

chore(Stackrox): Upgrade
  kubernetes/argocd/applications/stackrox-central.yaml
  kubernetes/argocd/applications/stackrox-secure.yaml
  kubernetes/stackrox-central/base/config-map.yaml
  kubernetes/stackrox-central/base/deployment.yaml
  kubernetes/stackrox-central/base/hpa.yaml
  kubernetes/stackrox-central/base/kustomization.yaml
  kubernetes/stackrox-central/base/network-policy.yaml
  kubernetes/stackrox-central/base/prometheusRule.yaml
  kubernetes/stackrox-central/base/rbac.yaml
  kubernetes/stackrox-central/base/secret.yaml
  kubernetes/stackrox-central/base/service-monitor.yaml
  kubernetes/stackrox-central/base/service.yaml
  kubernetes/stackrox-central/overlays/okd/kustomization.yaml
  kubernetes/stackrox-central/overlays/okd/route.yaml
  kubernetes/stackrox-central/overlays/okd/scc.yaml
  kubernetes/stackrox-secure/base/daemon-set.yaml
  kubernetes/stackrox-secure/base/deployment.yaml
  kubernetes/stackrox-secure/base/kustomization.yaml
  kubernetes/stackrox-secure/base/network-policy.yaml
  kubernetes/stackrox-secure/base/rbac.yaml
  kubernetes/stackrox-secure/base/service.yaml
  kubernetes/stackrox-secure/overlays/k3s/cluster-name.yaml
  kubernetes/stackrox-secure/overlays/k3s/kustomization.yaml
  kubernetes/stackrox-secure/overlays/microshift/cluster-name.yaml
  kubernetes/stackrox-secure/overlays/microshift/kustomization.yaml
  kubernetes/stackrox-secure/overlays/okd/cluster-name.yaml
  kubernetes/stackrox-secure/overlays/okd/kustomization.yaml
  kubernetes/stackrox-secure/overlays/okd/prometheusRule.yaml
  kubernetes/stackrox-secure/overlays/okd/serviceMonitor.yaml
Due: overlay-test

feat(Hardware): Tuning
  README.md
  kubernetes/knative/base/knative-serving.yaml
  kubernetes/loki-operator/base/kustomization.yaml
  kubernetes/loki-operator/base/rbac.yaml
  machineConfigs/desktop/home/arthur/.zshrc
  main.bash
Due: ansible, overlay-test

feat(Tekton): Upgrade
  kubernetes/tekton/components/gosmee/deployment.yaml
  kubernetes/tekton/overlays/operator/operator.yaml
Due: overlay-test

feat(Hardware): Tuning
  README.md
  kubernetes/eclipse-che/base/subscription.yaml
  kubernetes/homeassistant/overlays/okd/dns.yaml
  kubernetes/knative/base/knative-serving.yaml
  kubernetes/loki-operator/base/kustomization.yaml
  kubernetes/loki-operator/base/rbac.yaml
  kubernetes/postgres/base/subscription.yaml
  machineConfigs/desktop/home/arthur/.zshrc
  main.bash
Due: ansible, overlay-test

feat(BlackBox Exporter): Grafana Dashboard
  kubernetes/grafana/base/dashboards/black-box.json
  kubernetes/grafana/base/kustomization.yaml
Due: overlay-test

feat(OpenShift Version): 4.17.0-okd-scos.0
  containers/toolbox/containerfile
  containers/udi/containerfile
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: overlay-test

feat(OpenShift Version): 4.17.0-okd-scos.0 (#100)
  containers/toolbox/containerfile
  containers/udi/containerfile
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: overlay-test

chore(ESO): Update
  kubernetes/external-secrets-operator/base/operator-config.yaml
  kubernetes/external-secrets-operator/base/subscription.yaml
  kubernetes/external-secrets-operator/overlays/microshift/kyverno.yaml
Due: overlay-test

feat(4.18): Upgrade
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: overlay-test

feat(UDM): Shutdown Unifi For UDM
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/homeassistant/config/configuration.yaml
  kubernetes/mongodb-operator/base/deployment.yaml
  kubernetes/pihole/base/02-custom-settings.conf
  kubernetes/pihole/base/kustomization.yaml
  kubernetes/pihole/base/statefulset.yaml
  kubernetes/unifi-network-application/base/dns.yaml
  kubernetes/unifi-network-application/base/kustomization.yaml
  kubernetes/unifi-network-application/base/statefulset.yaml
  machineConfigs/microshift/config.d/10-subjectAltNames.yaml
  main.bash
Due: ansible, overlay-test

feat(Netbox): Incept
  .vscode/settings.json
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/netbox.yaml
  kubernetes/dragonfly-operator/base/network-policy.yaml
  kubernetes/netbox/README.md
  kubernetes/netbox/base/configmap.yaml
  kubernetes/netbox/base/cronjob.yaml
  kubernetes/netbox/base/deployment.yaml
  kubernetes/netbox/base/dragonfly/dragonfly.yaml
  kubernetes/netbox/base/dragonfly/network-policy.yaml
  kubernetes/netbox/base/dragonfly/pdb.yaml
  kubernetes/netbox/base/ingress.yaml
  kubernetes/netbox/base/kustomization.yaml
  kubernetes/netbox/base/limit-range.yaml
  kubernetes/netbox/base/namespace.yaml
  kubernetes/netbox/base/network-policy.yaml
  kubernetes/netbox/base/object-bucket-claim.yaml
  kubernetes/netbox/base/pdb.yaml
  kubernetes/netbox/base/postgres/network-policy.yaml
  kubernetes/netbox/base/postgres/postgres.yaml
  kubernetes/netbox/base/postgres/secret.yaml
  kubernetes/netbox/base/resource-quota.yaml
  kubernetes/netbox/base/secret.yaml
  kubernetes/netbox/base/service-account.yaml
  kubernetes/netbox/base/service.yaml
  kubernetes/netbox/base/velero.yaml
  kubernetes/netbox/overlays/okd/kustomization.yaml
  kubernetes/netbox/values.yaml
Due: overlay-test

feat(cloudflare-ddns): Incept
  kubernetes/argocd/applications/cloudflare-ddns.yaml
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/cloudflare-ddns/base/deployment.yaml
  kubernetes/cloudflare-ddns/base/kustomization.yaml
  kubernetes/cloudflare-ddns/base/limit-range.yaml
  kubernetes/cloudflare-ddns/base/namespace.yaml
  kubernetes/cloudflare-ddns/base/pdb.yaml
  kubernetes/cloudflare-ddns/base/resource-quota.yaml
  kubernetes/cloudflare-ddns/base/service-account.yaml
  kubernetes/cloudflare-ddns/overlays/okd/kustomization.yaml
Due: overlay-test

feat(cloudflare-ddns): Incept (#102)
  kubernetes/argocd/applications/cloudflare-ddns.yaml
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/cloudflare-ddns/base/deployment.yaml
  kubernetes/cloudflare-ddns/base/kustomization.yaml
  kubernetes/cloudflare-ddns/base/limit-range.yaml
  kubernetes/cloudflare-ddns/base/namespace.yaml
  kubernetes/cloudflare-ddns/base/pdb.yaml
  kubernetes/cloudflare-ddns/base/resource-quota.yaml
  kubernetes/cloudflare-ddns/base/service-account.yaml
  kubernetes/cloudflare-ddns/overlays/okd/kustomization.yaml
Due: overlay-test

feat(Agent): Enable BareMetal LBs
  kubernetes/homeassistant/base/statefulset.yaml
  okd/install-config.yaml
  okd/okd-configuration/overlays/okd/sandbox-dns.yaml
Due: overlay-test

feat(CertManager): adjust renewBefore
  kubernetes/bitwarden/base/certificate.yaml
  kubernetes/ceph/base/certificate.yaml
  kubernetes/cert-manager/components/trust-manager/certificate.yaml
  kubernetes/gitea/base/certificate.yaml
  kubernetes/homeassistant/base/certificate.yaml
  kubernetes/nextcloud/base/certificate.yaml
  kubernetes/pihole/overlays/microshift/certificate.yaml
  kubernetes/stackrox-central/base/certificate.yaml
  kubernetes/traefik/overlays/k3s/wildcard-certificate.yaml
  kubernetes/vault/components/ha/certificate.yaml
  kubernetes/vault/components/singleton/certificate.yaml
  kubernetes/zitadel/base/certificate.yaml
  okd/okd-configuration/base/certificates/api-certificate.yaml
  okd/okd-configuration/base/certificates/ingress-certificate.yaml
  tekton/base/certificate.yaml
Due: overlay-test

feat(Quay): Switch to UnManaged Route
  kubernetes/quay/base/certificate.yaml
  kubernetes/quay/base/ingress.yaml
  kubernetes/quay/base/kustomization.yaml
  kubernetes/quay/base/quay.yaml
  okd/okd-configuration/base/certificates/ingress-certificate.yaml
Due: overlay-test

feat(UDM): Certificate Management
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/unifi-network-application/base/certificate.yaml
  kubernetes/unifi-network-application/base/ingress.yaml
  kubernetes/unifi-network-application/components/udm/cronjob.yaml
  kubernetes/unifi-network-application/components/udm/kustomization.yaml
  kubernetes/unifi-network-application/components/udm/secret.yaml
  kubernetes/unifi-network-application/overlays/okd/kustomization.yaml
Due: overlay-test

feat(UDM): Certificate Management (#103)
  kubernetes/blackbox-exporter/components/probes.yaml
  kubernetes/unifi-network-application/base/certificate.yaml
  kubernetes/unifi-network-application/base/ingress.yaml
  kubernetes/unifi-network-application/components/udm/cronjob.yaml
  kubernetes/unifi-network-application/components/udm/kustomization.yaml
  kubernetes/unifi-network-application/components/udm/secret.yaml
  kubernetes/unifi-network-application/overlays/okd/kustomization.yaml
Due: overlay-test

chore(Nextcloud): Resource Increase
  kubernetes/nextcloud/base/deployment.yaml
  kubernetes/nextcloud/base/postgres/postgres.yaml
  main.bash
Due: overlay-test

feat(LocalDev VM): switch from LB to NAD
  README.md
  kubernetes/kubevirt/base/vm/service.yaml
  kubernetes/kubevirt/base/vm/vm.yaml
Due: overlay-test

feat(LocalDev VM): switch from LB to NAD
  README.md
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/kubevirt/base/vm/service.yaml
  kubernetes/kubevirt/base/vm/vm.yaml
  okd/okd-configuration/overlays/okd/ingress-controller.yaml
Due: overlay-test

feat(OLM): Enable RH Registry
  README.md
  okd/okd-configuration/base/operator-hub.yaml
  okd/vm-config.yaml
  okd/vms/scripts/infra-1.sh
  okd/vms/scripts/infra-2.sh
  okd/vms/scripts/infra-3.sh
  okd/vms/scripts/server-1.sh
  okd/vms/scripts/server-2.sh
  okd/vms/scripts/server-3.sh
  okd/vms/xml/infra-1.xml
  okd/vms/xml/infra-2.xml
  okd/vms/xml/infra-3.xml
  okd/vms/xml/server-1.xml
  okd/vms/xml/server-2.xml
  okd/vms/xml/server-3.xml
Due: overlay-test

feat(tcpdump): Install
  containers/toolbox/containerfile
  containers/udi/containerfile
Due: none

feat(tcpdump): Install (#104)
  containers/toolbox/containerfile
  containers/udi/containerfile
Due: none
