Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: ansible, apache-php-image, overlay-test, terraform-apply, toolbox-image

ansible:
  params:
  - name: playbooks
    value: servers,microshift
  - name: dry_run
    value: 'false'
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
  ...

apache-php-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/apache-php/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/apache-php:latest
  pipelineSpec:
    params:
    - name: git-url
  ...

overlay-test:
  params:
  - name: playbooks
    value: servers
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-pr-number
    value: '{{ pull_request_number }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
  ...

terraform-apply:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    workspaces:
    - name: data
    - name: git_auth_secret
  ...

toolbox-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/toolbox/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/toolbox:not_latest
  pipelineSpec:
    params:
    - name: git-url
  ...

chore(centos10): upgrade
  containers/apache-php/containerfile
  containers/toolbox/containerfile
  containers/toolbox/repos/MariaDB.repo
  containers/toolbox/repos/centos9.repo
  containers/toolbox/repos/epel.repo
  containers/toolbox/repos/google-cloud-sdk.repo
  kubernetes/imagepuller/base/imagepuller.yaml
  tekton/base/clair-action/clair-action-task.yaml
  tekton/base/clair-action/kustomization.yaml
  tekton/base/clair-action/pvc.yaml
  tekton/base/clair-action/quay.sh
  tekton/base/rbac.yaml
Due: apache-php-image, overlay-test, toolbox-image

chore(centos10): upgrade (#213)
  containers/apache-php/containerfile
  containers/toolbox/containerfile
  containers/toolbox/repos/MariaDB.repo
  containers/toolbox/repos/centos9.repo
  containers/toolbox/repos/epel.repo
  containers/toolbox/repos/google-cloud-sdk.repo
  kubernetes/imagepuller/base/imagepuller.yaml
  tekton/base/clair-action/clair-action-task.yaml
  tekton/base/clair-action/kustomization.yaml
  tekton/base/clair-action/pvc.yaml
  tekton/base/clair-action/quay.sh
  tekton/base/rbac.yaml
Due: apache-php-image, overlay-test, toolbox-image

fix(toolbox): missing gcloud
  containers/toolbox/containerfile
Due: toolbox-image

fix(toolbox): otimize
  containers/toolbox/containerfile
  tekton/base/rbac.yaml
Due: overlay-test, toolbox-image

fix(toolbox): otimize
  containers/toolbox/containerfile
Due: toolbox-image

fix(toolbox): optimize (#274)
  containers/toolbox/containerfile
  tekton/base/rbac.yaml
Due: overlay-test, toolbox-image

fix(toolbox): gcloud
  containers/toolbox/containerfile
Due: toolbox-image

fix(toolbox): gcloud (#275)
  containers/toolbox/containerfile
Due: toolbox-image

fix(restricted-v2-image): scc create
  okd/okd-configuration/components/image-scc/kustomization.yaml
  okd/okd-configuration/components/image-scc/rbac.yaml
  okd/okd-configuration/components/image-scc/scc.yaml
  okd/okd-configuration/overlays/okd/kustomization.yaml
  tekton/base/rbac.yaml
Due: overlay-test

fix(toolbox): vault
  containers/toolbox/containerfile
Due: toolbox-image

fix(toolbox): vault (#276)
  containers/toolbox/containerfile
Due: toolbox-image

fix(knatvive): update
  kubernetes/knative/base/subscription.yaml
Due: overlay-test

fix(cold-boot): commands
  kubernetes/kyverno/README.md
  kubernetes/quay/README.md
Due: overlay-test

fix(cold-boot): commands
  containers/toolbox/containerfile
Due: toolbox-image

fix(cold-boot): commands (#277)
  containers/toolbox/containerfile
  kubernetes/kyverno/README.md
  kubernetes/quay/README.md
Due: overlay-test, toolbox-image

feat(4.21): upgrade
  kubernetes/ceph/base/deployment.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: overlay-test

feat(4.21): upgrade
  okd/okd-configuration/components/image-scc/scc.yaml
Due: overlay-test

feat(4.21): upgrade (#278)
  kubernetes/ceph/base/deployment.yaml
  okd/okd-configuration/components/image-scc/scc.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: overlay-test

feat(external-auth): incept
  okd/okd-configuration/components/auth/rbac.yaml
  okd/okd-configuration/overlays/okd/wif.yaml
  terraform/homelab/zitadel_okd.tf
Due: overlay-test, terraform-apply

feat(external-auth): incept (#279)
  okd/okd-configuration/components/auth/rbac.yaml
  okd/okd-configuration/overlays/okd/wif.yaml
  terraform/homelab/zitadel_okd.tf
Due: overlay-test, terraform-apply

chore(toolbox): update
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
Due: ansible, toolbox-image

feat(external-auth): incept (#279)
  kubernetes/network-observability/base/flow-collector.yaml
  kubernetes/network-observability/base/kustomization.yaml
  kubernetes/network-observability/base/loki/kyverno.yaml
  okd/okd-configuration/components/auth/rbac.yaml
  okd/okd-configuration/overlays/okd/wif.yaml
  terraform/homelab/zitadel_okd.tf
Due: overlay-test, terraform-apply

chore(okd): client update
  ansible/playbooks/desktop/okd-client.yaml
  ansible/playbooks/laptop/okd-client.yaml
  ansible/playbooks/vscode-server/okd-client.yaml
  containers/toolbox/containerfile
Due: ansible, toolbox-image

chore(node-join): join gpu node
  kubernetes/ceph/overlays/okd/nncp.yaml
  kubernetes/kubevirt/overlays/okd/nad.yaml
  kubernetes/nmstate/overlays/okd/network/nncp.yaml
  kubernetes/nmstate/overlays/okd/network/sandbox/nncp.yaml
  okd/nodes-config.yaml
  okd/okd-configuration/overlays/okd/kustomization.yaml
  okd/okd-configuration/overlays/okd/kyverno.yaml
Due: overlay-test

chore(nfd): incept
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/openshift-nfd.yaml
  kubernetes/node-feature-discovery-operator/README.md
  kubernetes/node-feature-discovery-operator/base/installplan-approver.yaml
  kubernetes/node-feature-discovery-operator/base/kustomization.yaml
  kubernetes/node-feature-discovery-operator/base/limit-range.yaml
  kubernetes/node-feature-discovery-operator/base/namespace.yaml
  kubernetes/node-feature-discovery-operator/base/network-policy.yaml
  kubernetes/node-feature-discovery-operator/base/nfd.yaml
  kubernetes/node-feature-discovery-operator/base/operator-group.yaml
  kubernetes/node-feature-discovery-operator/base/subscription.yaml
  kubernetes/node-feature-discovery-operator/overlays/okd/egress-firewall.yaml
  kubernetes/node-feature-discovery-operator/overlays/okd/kustomization.yaml
Due: overlay-test

chore(gpu): incept
  .vscode/settings.json
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/nvidia-gpu-operator.yaml
  kubernetes/nextcloud-fpm/components/nextcloud/network-policy.yaml
  kubernetes/nvidia-gpu-operator/Containerfile
  kubernetes/nvidia-gpu-operator/README.md
  kubernetes/nvidia-gpu-operator/base/cluster-policy.yaml
  kubernetes/nvidia-gpu-operator/base/installplan-approver.yaml
  kubernetes/nvidia-gpu-operator/base/kustomization.yaml
  kubernetes/nvidia-gpu-operator/base/limit-range.yaml
  kubernetes/nvidia-gpu-operator/base/namespace.yaml
  kubernetes/nvidia-gpu-operator/base/network-policy.yaml
  kubernetes/nvidia-gpu-operator/base/operator-group.yaml
  kubernetes/nvidia-gpu-operator/base/subscription.yaml
  kubernetes/nvidia-gpu-operator/overlays/okd/egress-firewall.yaml
  kubernetes/nvidia-gpu-operator/overlays/okd/kustomization.yaml
  kubernetes/nvidia-gpu-operator/test.yaml
  okd/okd-configuration/base/operator-hub.yaml
  okd/okd-configuration/base/registries.yaml
  okd/okd-configuration/components/image-mirror/image-mirror-set.yaml
Due: overlay-test

chore(gpu): egress-firewall-update
  kubernetes/nvidia-gpu-operator/base/network-policy.yaml
  kubernetes/nvidia-gpu-operator/overlays/okd/egress-firewall.yaml
Due: overlay-test

fix(gpu): containerfile
  kubernetes/imagepuller/base/namespace.yaml
  kubernetes/network-observability/base/flow-collector.yaml
  kubernetes/nvidia-gpu-operator/Containerfile
  kubernetes/nvidia-gpu-operator/README.md
  kubernetes/nvidia-gpu-operator/base/cluster-policy.yaml
  kubernetes/nvidia-gpu-operator/base/kustomization.yaml
  kubernetes/nvidia-gpu-operator/base/kyverno.yaml
  kubernetes/nvidia-gpu-operator/base/limit-range.yaml
  kubernetes/nvidia-gpu-operator/base/namespace.yaml
  kubernetes/stackrox-secure/base/daemon-set.yaml
Due: overlay-test

fix(gpu): containerfile pipeline
  .tekton/gpu-driver
  kubernetes/nvidia-gpu-operator/Containerfile
  kubernetes/nvidia-gpu-operator/README.md
  kubernetes/nvidia-gpu-operator/overlays/okd/egress-firewall.yaml
Due: overlay-test

fix(gpu): containerfile pipeline
  .tekton/gpu-driver.yaml
  README.md
  kubernetes/nvidia-gpu-operator/base/cluster-policy.yaml
  kubernetes/nvidia-gpu-operator/base/kyverno.yaml
  kubernetes/nvidia-gpu-operator/containerfile
Due: overlay-test

feat(gpu-toolbox): ffmpeg
  .tekton/gpu-toolbox.yaml
  containers/gpu-toolbox/containerfile
Due: none

feat(gpu-toolbox): ffmpeg
  kubernetes/nvidia-gpu-operator/containerfile
Due: overlay-test

Path conditions:
  ansible: (any of: ansible/***) or (any of: machineConfigs/***)
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: ((any of: kubernetes/***) or (any of: okd/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
  toolbox-image: any of: containers/toolbox/containerfile
