Repository ArthurVardevanyan/HomeLab: changes, and which Tekton pipelines are due for each by the changed paths.
All: apache-php-image, overlay-test, terraform-apply

apache-php-image:
  params:
  - name: git-url
    value: '{{ repo_url }}'
  - name: git-commit
    value: '{{ revision }}'
  - name: DOCKERFILE
    value: ./containers/apache-php/containerfile
  - name: IMAGE
    value: registry.arthurvardevanyan.com/homelab/apache-php:latest
  pipelineSpec:
    params:
    - name: git-url
  ...

overlay-test:
  params:
  - name: playbooks
    value: servers
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: playbooks
      type: string
    - name: git-commit
      type: string
    - name: git-url
      type: string
  ...

terraform-apply:
  params:
  - name: git-commit
    value: '{{ revision }}'
  - name: git-url
    value: '{{ repo_url }}'
  pipelineSpec:
    params:
    - name: git-commit
      type: string
    - name: git-url
      type: string
      description: Repository URL to clone from.
    workspaces:
    - name: data
    - name: git_auth_secret
  ...

feat(Nextcloud): Update & Config Storage Increase
  kubernetes/nextcloud/base/cronjob.yaml
  kubernetes/nextcloud/base/deployment.yaml
  kubernetes/nextcloud/base/preview-cronjob.yaml
  kubernetes/nextcloud/base/pvc.yaml
Due: overlay-test

feat(TF): Move Folder
  tekton/base/terraform-task.yaml
  terraform/homelab/README.md
  terraform/homelab/keep-alive.tf
  terraform/homelab/keep-alive/.vscode/settings.json
  terraform/homelab/keep-alive/README.md
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
  terraform/homelab/keep-alive/main.go
  terraform/homelab/main.tf
  terraform/homelab/tf-provider-avgcp.tf
  terraform/homelab/truenas.tf
  terraform/homelab/vault.tf
  terraform/homelab/wif-k3s.tf
  terraform/homelab/wif-k3s/.well-known/openid-configuration
  terraform/homelab/wif-k3s/keys.json
  terraform/homelab/wif-k3s/notes.sh
  terraform/homelab/wif.tf
  terraform/homelab/wif/.well-known/openid-configuration
  terraform/homelab/wif/keys.json
Due: overlay-test, terraform-apply

feat(Zitadel): Import into Terraform
  kubernetes/ceph/base/ocs-rules.yaml
  kubernetes/ceph/base/rook-rules.yaml
  kubernetes/quay/base/subscription.yaml
  kubernetes/zitadel/base/certificate.yaml
  kubernetes/zitadel/base/configmap.yaml
  kubernetes/zitadel/base/deployment.yaml
  kubernetes/zitadel/base/init-job.yaml
  kubernetes/zitadel/base/kustomization.yaml
  kubernetes/zitadel/base/route.yaml
  kubernetes/zitadel/base/setup-job.yaml
  tekton/base/terraform-task.yaml
  terraform/homelab/main.tf
  terraform/homelab/providers.tf
  terraform/homelab/zitadel.tf
  terraform/homelab/zitadel_gitea.tf
  terraform/homelab/zitadel_okd.tf
  terraform/homelab/zitadel_quay.tf
Due: overlay-test, terraform-apply

Zitadel Terraform (#80)
  kubernetes/ceph/base/ocs-rules.yaml
  kubernetes/ceph/base/rook-rules.yaml
  kubernetes/quay/base/subscription.yaml
  kubernetes/zitadel/base/certificate.yaml
  kubernetes/zitadel/base/configmap.yaml
  kubernetes/zitadel/base/deployment.yaml
  kubernetes/zitadel/base/init-job.yaml
  kubernetes/zitadel/base/kustomization.yaml
  kubernetes/zitadel/base/route.yaml
  kubernetes/zitadel/base/setup-job.yaml
  tekton/base/terraform-task.yaml
  terraform/homelab/README.md
  terraform/homelab/keep-alive.tf
  terraform/homelab/keep-alive/.vscode/settings.json
  terraform/homelab/keep-alive/README.md
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
  terraform/homelab/keep-alive/main.go
  terraform/homelab/main.tf
  terraform/homelab/providers.tf
  terraform/homelab/tf-provider-avgcp.tf
  terraform/homelab/truenas.tf
  terraform/homelab/vault.tf
  terraform/homelab/wif-k3s.tf
  terraform/homelab/wif-k3s/.well-known/openid-configuration
  terraform/homelab/wif-k3s/keys.json
  terraform/homelab/wif-k3s/notes.sh
  terraform/homelab/wif.tf
  terraform/homelab/wif/.well-known/openid-configuration
  terraform/homelab/wif/keys.json
  terraform/homelab/zitadel.tf
  terraform/homelab/zitadel_gitea.tf
  terraform/homelab/zitadel_okd.tf
  terraform/homelab/zitadel_quay.tf
Due: overlay-test, terraform-apply

chore(Keep Alive): Update Dep
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply

chore(Keep Alive): Update Dep (#81)
  terraform/homelab/keep-alive/go.mod
  terraform/homelab/keep-alive/go.sum
Due: terraform-apply

feat(Ceph Dashboarod): SSL + SAML Login
  kubernetes/ceph/base/ceph-cluster.yaml
  kubernetes/ceph/base/certificate-job.yaml
  kubernetes/ceph/base/certificate.yaml
  kubernetes/ceph/base/ingress.yaml
  kubernetes/ceph/base/kustomization.yaml
  terraform/homelab/providers.tf
  terraform/homelab/zitadel_ceph.tf
Due: overlay-test, terraform-apply

feat(Ceph Dashboarod): SSL + SAML Login (#82)
  kubernetes/ceph/base/ceph-cluster.yaml
  kubernetes/ceph/base/certificate-job.yaml
  kubernetes/ceph/base/certificate.yaml
  kubernetes/ceph/base/ingress.yaml
  kubernetes/ceph/base/kustomization.yaml
  terraform/homelab/providers.tf
  terraform/homelab/zitadel_ceph.tf
Due: overlay-test, terraform-apply

feat(Quay): Better Pod Anti Affinity
  kubernetes/quay/base/quay.yaml
Due: overlay-test

chore(TrueNas): Reconcile Terraform
  terraform/homelab/main.tf
  terraform/homelab/providers.tf
  terraform/homelab/truenas_backup.tf
  terraform/homelab/truenas_gcs.tf
  terraform/homelab/truenas_storage.tf
  terraform/homelab/zitadel_ceph.tf
  terraform/truenas/README.md
  terraform/truenas/main.tf
  terraform/truenas/share_backup.tf
  terraform/truenas/share_storage.tf
Due: terraform-apply

chore(TrueNas): Reconcile Terraform (#83)
  terraform/homelab/main.tf
  terraform/homelab/providers.tf
  terraform/homelab/truenas_backup.tf
  terraform/homelab/truenas_gcs.tf
  terraform/homelab/truenas_storage.tf
  terraform/homelab/zitadel_ceph.tf
  terraform/truenas/README.md
  terraform/truenas/main.tf
  terraform/truenas/share_backup.tf
  terraform/truenas/share_storage.tf
Due: terraform-apply

fix(ceph): More Ram
  README.md
  kubernetes/argocd/base/subscription.yaml
  kubernetes/ceph/base/ceph-cluster.yaml
  kubernetes/ceph/base/file/ceph-filesystem.yaml
  kubernetes/mongodb-operator/base/deployment.yaml
  okd/vm-config.yaml
  okd/vms/scripts/infra-1.sh
  okd/vms/scripts/infra-2.sh
  okd/vms/scripts/infra-3.sh
  okd/vms/xml/infra-1.xml
  okd/vms/xml/infra-2.xml
  okd/vms/xml/infra-3.xml
  okd/vms/xml/server-1.xml
  okd/vms/xml/server-2.xml
  okd/vms/xml/server-3.xml
  okd/vms/xml/worker-1.xml
  okd/vms/xml/worker-2.xml
  okd/vms/xml/worker-3.xml
  okd/vms/xml/worker-4.xml
  okd/vms/xml/worker-5.xml
  okd/vms/xml/worker-6.xml
Due: overlay-test

fix(Velero): Cut TTL In Half
  kubernetes/bitwarden/base/velero.yaml
  kubernetes/gitea/base/velero.yaml
  kubernetes/heimdall/base/velero.yaml
  kubernetes/homeassistant/base/velero.yaml
  kubernetes/influxdb/base/velero.yaml
  kubernetes/mariadb-galera/base/velero.yaml
  kubernetes/nextcloud/base/velero.yaml
  kubernetes/photoprism/base/velero.yaml
  kubernetes/postgres/base/velero.yaml
  kubernetes/quay/base/velero.yaml
  kubernetes/stackrox-central/base/velero.yaml
  kubernetes/unifi-network-application/base/velero.yaml
  kubernetes/uptime-kuma/base/velero.yaml
  kubernetes/vault/base/velero.yaml
  kubernetes/velero/base/deployment.yaml
  kubernetes/zitadel/base/velero.yaml
Due: overlay-test

feat(OKD-VIRT): Automation Inception
  .vscode/settings.json
  kubernetes/nmstate/overlays/okd/network/networkAttachmentDefinition.yaml
  main.bash
  okd/install-config.yaml
  sandbox/kubevirt/okd/configs/containerfile
  sandbox/kubevirt/okd/configs/install-config.yaml
  sandbox/kubevirt/okd/vm/datavolume.yaml
  sandbox/kubevirt/okd/vm/okd1.yml
  sandbox/kubevirt/okd/vm/okd2.yml
  sandbox/kubevirt/okd/vm/okd3.yml
Due: overlay-test

feat(OKD-VIRT): Automation Inception (#84)
  .vscode/settings.json
  kubernetes/nmstate/overlays/okd/network/networkAttachmentDefinition.yaml
  main.bash
  okd/install-config.yaml
  sandbox/kubevirt/okd/configs/containerfile
  sandbox/kubevirt/okd/configs/install-config.yaml
  sandbox/kubevirt/okd/vm/datavolume.yaml
  sandbox/kubevirt/okd/vm/okd1.yml
  sandbox/kubevirt/okd/vm/okd2.yml
  sandbox/kubevirt/okd/vm/okd3.yml
Due: overlay-test

chore(Nextcloud): Resource Increase
  kubernetes/nextcloud/base/deployment.yaml
  kubernetes/nextcloud/base/pvc.yaml
  kubernetes/nextcloud/base/resource-quota.yaml
Due: overlay-test

feat(OKD-VIRT): Simplify Release Selection
  main.bash
Due: none

feat(OKD-VIRT): Simplify Release Selection (#85)
  main.bash
Due: none

chore(VMs): Consolidate Resources
  README.md
  kubernetes/ceph/README.md
  kubernetes/ceph/base/ceph-cluster.yaml
  kubernetes/ceph/base/certificate-job.yaml
  kubernetes/kubevirt/base/kyverno.yaml
  kubernetes/quay/base/quay.yaml
  okd/install-config.yaml
  okd/vm-config.yaml
  okd/vms/scripts/infra-1.sh
  okd/vms/scripts/infra-2.sh
  okd/vms/scripts/infra-3.sh
  okd/vms/scripts/server-1.sh
  okd/vms/scripts/server-2.sh
  okd/vms/scripts/server-3.sh
  okd/vms/scripts/worker-1.sh
  okd/vms/scripts/worker-2.sh
  okd/vms/scripts/worker-3.sh
  okd/vms/scripts/worker-4.sh
  okd/vms/scripts/worker-5.sh
  okd/vms/scripts/worker-6.sh
  okd/vms/xml/infra-1.xml
  okd/vms/xml/infra-2.xml
  okd/vms/xml/infra-3.xml
  okd/vms/xml/server-1.xml
  okd/vms/xml/server-2.xml
  okd/vms/xml/server-3.xml
  okd/vms/xml/worker-1.xml
  okd/vms/xml/worker-2.xml
  okd/vms/xml/worker-3.xml
  okd/vms/xml/worker-4.xml
  okd/vms/xml/worker-5.xml
  okd/vms/xml/worker-6.xml
Due: overlay-test

feat(Installer): Consolidation
  .vscode/settings.json
  main.bash
Due: none

feat(Installer): CI Builds
  main.bash
  okd/install-config.yaml
Due: overlay-test

feat(LibVirt): Agent Config
  .vscode/settings.json
  machineConfigs/sandbox/etc/haproxy/haproxy.cfg
  main.bash
  okd/install-config.yaml
  sandbox/kubevirt/okd/configs/agent-config.yaml
  sandbox/libvirt/configs/agent-config.yaml
  terraform/agent/commont.tf
  terraform/agent/control-plane.tf
  terraform/agent/main.tf
  terraform/agent/output.tf
  terraform/agent/variables.tf
Due: overlay-test, terraform-apply

feat(ArgoCD): https://github.com/argoproj/argo-cd/pull/19017 && https://github.com/argoproj/argo-cd/pull/19516
  kubernetes/argocd/apps/argocd-apps.yaml
Due: overlay-test

chore(OKD Upgrade): 4.16.0-0.okd-scos-2024-08-01-132038
  main.bash
  okd/okd-configuration/base/image-mirror-set.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: overlay-test

chore(OKD Upgrade): 4.16.0-0.okd-scos-2024-08-01-132038 (#86)
  main.bash
  okd/okd-configuration/base/image-mirror-set.yaml
  okd/okd-configuration/overlays/okd/cluster-version.yaml
Due: overlay-test

fix(Docker URL): Use Full Path
  kubernetes/bitwarden/base/statefulset.yaml
  kubernetes/ceph/base/certificate-job.yaml
  kubernetes/ceph/base/deployment.yaml
  kubernetes/cockroachdb/base/deployment.yaml
  kubernetes/gitea/base/deployment.yaml
  kubernetes/gitea/base/meilisearch/statefulset.yaml
  kubernetes/grafana/base/deployment.yaml
  kubernetes/heimdall/base/statefulset.yaml
  kubernetes/homeassistant/base/statefulset.yaml
  kubernetes/influxdb/base/statefulset.yaml
  kubernetes/kubernetes-dashboard/base/deployment.yaml
  kubernetes/loki/base/promtail/daemonset.yaml
  kubernetes/loki/base/statefulset.yaml
  kubernetes/longhorn/base/driver-deployment.yaml
  kubernetes/longhorn/base/manager-daemonset.yaml
  kubernetes/longhorn/base/ui-deployment.yaml
  kubernetes/nextcloud/base/cronjob.yaml
  kubernetes/nextcloud/base/deployment.yaml
  kubernetes/nextcloud/base/preview-cronjob.yaml
  kubernetes/photoprism/base/cronjob.yaml
  kubernetes/photoprism/base/statefulset.yaml
  kubernetes/phpmyadmin/base/deployment.yaml
  kubernetes/prometheus/base/node-exporter/daemonset.yaml
  kubernetes/prometheus/base/statefulset.yaml
  kubernetes/unifi-network-application/base/statefulset.yaml
  kubernetes/vault/base/statefulset.yaml
  kubernetes/velero/base/deployment.yaml
  kubernetes/velero/base/node-agent.yaml
  kubernetes/zitadel/base/cockroachdb.yaml
  kubernetes/zitadel/base/deployment.yaml
  kubernetes/zitadel/base/init-job.yaml
  kubernetes/zitadel/base/setup-job.yaml
  kubernetes/zitadel/db-setup.yml
  okd/openshift-monitoring/base/alert-manager-discord.yaml
Due: overlay-test

chore(Updates)
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

fix(Installer): Updates
  kubernetes/kubevirt/base/kyverno.yaml
  kubernetes/longhorn/components/okd/kustomization.yaml
  kubernetes/longhorn/components/okd/secret.yaml
  main.bash
  okd/okd-configuration/overlays/okd/cluster-version.yaml
  okd/okd-configuration/overlays/sandbox/ingress-controller.yaml
  okd/openshift-monitoring/overlays/sandbox/kustomization.yaml
Due: overlay-test

chore(Longhorn): 1.6.2 Upgrade
  kubernetes/longhorn/base/crd.yaml
  kubernetes/longhorn/base/driver-deployment.yaml
  kubernetes/longhorn/base/manager-daemonset.yaml
  kubernetes/longhorn/base/priority-class.yaml
  kubernetes/longhorn/base/rbac.yaml
  kubernetes/longhorn/base/service.yaml
  kubernetes/longhorn/base/ui-deployment.yaml
  kubernetes/quay/base/hpa/mirror.yaml
  main.bash
Due: overlay-test

chore(Upgrades): Operators
  .vscode/settings.json
  kubernetes/argocd/base/operator-group.yaml
  kubernetes/cert-manager/components/operator/operator-group.yaml
  kubernetes/cert-manager/components/operator/subscription.yaml
  kubernetes/container-security/base/operator-group.yaml
  kubernetes/eclipse-che/base/operator-group.yaml
  kubernetes/eclipse-che/base/subscription.yaml
  kubernetes/external-secrets-operator/base/kustomization.yaml
  kubernetes/external-secrets-operator/base/kyverno.yaml
  kubernetes/external-secrets-operator/base/operator-config.yaml
  kubernetes/external-secrets-operator/base/operator-group.yaml
  kubernetes/external-secrets-operator/base/subscription.yaml
  kubernetes/imagepuller/base/operator-group.yaml
  kubernetes/knative/base/operator-group.yaml
  kubernetes/knative/base/subscription.yaml
  kubernetes/kubevirt/base/operator-group.yaml
  kubernetes/kubevirt/base/subscription.yaml
  kubernetes/kubevirt/base/vm/vm.yaml
  kubernetes/loki-operator/base/operator-group.yaml
  kubernetes/minio-operator/base/operator-group.yaml
  kubernetes/network-observability/base/operator-group.yaml
  kubernetes/postgres/base/operator-group.yaml
  kubernetes/quay/base/operator-group.yaml
  kubernetes/quay/base/subscription.yaml
  okd/okd-configuration/base/image-mirror-set.yaml
Due: overlay-test

fix(Monitoring): NetObserv / Zitadel
  kubernetes/network-observability/base/namespace.yaml
  kubernetes/zitadel/base/service-monitor.yaml
Due: overlay-test

fix(Control Plane): Memory Increase
  README.md
  okd/vm-config.yaml
  okd/vms/scripts/server-1.sh
  okd/vms/scripts/server-2.sh
  okd/vms/scripts/server-3.sh
  okd/vms/xml/infra-1.xml
  okd/vms/xml/infra-2.xml
  okd/vms/xml/server-1.xml
  okd/vms/xml/server-2.xml
  okd/vms/xml/server-3.xml
  okd/vms/xml/worker-1.xml
Due: overlay-test

chore(OKD): Upgrade 4.16.0-0.okd-scos-2024-08-21-155613
  README.md
  kubernetes/longhorn/overlays/okd-sandbox/kustomization.yaml
  kubernetes/quay/base/subscription.yaml
  main.bash
  okd/okd-configuration/overlays/okd/cluster-version.yaml
  okd/vm-config.yaml
  okd/vms/scripts/server-1.sh
  okd/vms/scripts/server-2.sh
  okd/vms/scripts/server-3.sh
  okd/vms/xml/server-1.xml
  okd/vms/xml/server-2.xml
  okd/vms/xml/server-3.xml
Due: overlay-test

chore(Longhorn): 1.7.0 Upgrade
  kubernetes/longhorn/base/crd.yaml
  kubernetes/longhorn/base/driver-deployment.yaml
  kubernetes/longhorn/base/manager-daemonset.yaml
  kubernetes/longhorn/base/network-policy/recovery-backend-network-policy.yaml
  kubernetes/longhorn/base/network-policy/webhook-network-policy.yaml
  kubernetes/longhorn/base/priority-class.yaml
  kubernetes/longhorn/base/rbac.yaml
  kubernetes/longhorn/base/service.yaml
  kubernetes/longhorn/base/storage-class.yaml
  kubernetes/longhorn/base/ui-deployment.yaml
  main.bash
  okd/okd-configuration/overlays/sandbox/ingress-controller.yaml
Due: overlay-test

feat(ArgoCD Tenant): Notifications
  kubernetes/argocd/apps/app-projects/analytics-for-spotify.yaml
  kubernetes/argocd/apps/app-projects/finance-tracker.yaml
  kubernetes/argocd/apps/app-projects/smoke-tests.yaml
  kubernetes/argocd/apps/argocd-apps.yaml
  kubernetes/argocd/apps/kustomization.yaml
  kubernetes/argocd/apps/notifications/notificationsConfiguration.yaml
  kubernetes/argocd/apps/notifications/secret.yaml
  kubernetes/argocd/apps/rbac.yaml
  kubernetes/argocd/base/argocd.yaml
Due: overlay-test

fix(ArgoCD Operator): Notification Controller & RBAC
  .vscode/settings.json
  kubernetes/argocd/apps/rbac.yaml
  kubernetes/argocd/base/kyverno.yaml
Due: overlay-test

chore(OCP Monitoring): Update
  okd/openshift-monitoring/base/openshift-monitoring-cr-controller/deployment.yaml
Due: overlay-test

feat(KubeVIP): Load Balancer Class
  .vscode/settings.json
  kubernetes/kube-vip/base/daemonset.yaml
  kubernetes/kube-vip/base/deployment.yaml
  kubernetes/kubevirt/base/vm/service.yaml
  kubernetes/unifi-network-application/base/service.yaml
  okd/okd-configuration/overlays/okd/ingress-controller.yaml
  sandbox/kubevirt/k3s/service.yaml
Due: overlay-test

feat(MetalLB): Incept with BGP
  kubernetes/argocd/applications/kustomization.yaml
  kubernetes/argocd/applications/metallb.yaml
  kubernetes/kubevirt/base/vm/service.yaml
  kubernetes/metallb/base/crd.yaml
  kubernetes/metallb/base/deployment-manager.yaml
  kubernetes/metallb/base/deployment-webhook.yaml
  kubernetes/metallb/base/kustomization.yaml
  kubernetes/metallb/base/limit-range.yaml
  kubernetes/metallb/base/namespace.yaml
  kubernetes/metallb/base/rbac.yaml
  kubernetes/metallb/base/secret.yaml
  kubernetes/metallb/base/service.yaml
  kubernetes/metallb/base/webhook.yaml
  kubernetes/metallb/components/okd/bgp-adds.yaml
  kubernetes/metallb/components/okd/bgp-peers.yaml
  kubernetes/metallb/components/okd/ip.yaml
  kubernetes/metallb/components/okd/kustomization.yaml
  kubernetes/metallb/components/okd/metal.yaml
  kubernetes/metallb/overlays/okd/kustomization.yaml
  okd/okd-configuration/base/image-mirror-set.yaml
  okd/okd-configuration/overlays/okd/ingress-controller.yaml
Due: overlay-test

Path conditions:
  apache-php-image: any of: containers/apache-php/containerfile
  overlay-test: (((any of: kubernetes/***) or (any of: okd/***)) or (any of: task/***)) or (any of: tekton/***)
  terraform-apply: any of: terraform/***
